[2017-05-24 03:52] kapalex commented on #354
it seems to be failing when running it as part of the deployment job, but works when running it manually

I'll run it now, and look into why it's failing later

[2017-05-24 15:46] yaelAmitay commented on #370
@koralchapnik , @Kolikant , @ArthurSap , @KaplanAlexander
pls do:
`git reset --hard 89645e9dd6163e43961b888f1b521ae38127f7d5`
then do pul, **you must do the pulll**:
`git pull`

[2017-05-24 19:00] yaelAmitay commented on #207
@KaplanAlexander
can I add code to LocationManager?
can I add column to Location Table in the DB?

[2017-05-24 21:55] yaelAmitay commented on #355
Since we are moving to android this is no longer relevant. so I'm closing this. Is it okey?

[2017-05-24 21:55] #307 closed, assigned to yaelAmitay

[2017-05-24 21:56] yaelAmitay commented on #220
done.

[2017-05-24 21:56] #220 closed, assigned to yaelAmitay

[2017-05-24 21:59] yaelAmitay opened #373 "Move maps to android"
Right now all our maps related work on the browser but not on the android.
we are going to make them work on the android.
but then it won't work on the browser anymore.
so I'm moving the map to android on another branch and after a while we will merge the branches.

so we can all still use the browser. (and I'll use android in the other branch)

The name of the new branch is: android_version

[2017-05-24 22:11] yaelAmitay commented on #221
also add distance of route.

[2017-05-24 22:14] yaelAmitay opened #374 "Remove old route and old markers"
Remove old route and old markers when new ones marked.
for example:
someone get a route on the map. the route will be removed when he ask for a new route. and the new route will be displayed.

same for markers.

[2017-05-25 04:13] #221 closed, assigned to yaelAmitay

[2017-05-25 04:16] kapalex commented on #207
Yes you can, but I think it would be a lot easier to tell me what it is you want to add and let me do it, as I think you delving into the `LocationManager` code would be mostly time wated

[2017-05-25 04:18] kapalex commented on #207
According to what I see, I think a seperate table for map segments might make more sense, but I'd love to discuss it with you

[2017-05-25 04:21] JuanJenkinsBot opened #375 "SmartCity-Accessibility Server Side Unit Tests #680 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Ariel Kolikant] 8be3c9ed9a5ce936725787f3ac6c648a5a033c4b - ionic not working for me now (after all we tried) so started doing some

- [Ariel Kolikant] 12580ef8e8727af23cac1d934792203cfac60050 - nearby now shows all location types that we have under location s

[2017-05-25 04:51] yaelAmitay commented on #375
don't understand the error.
It looks like it started before me.

[2017-05-25 05:19] yaelAmitay commented on #207
I agree that it makes sense do it in seperate table.
I also think that we need to talk about the reviews because they will need to look for the MapSegments table to show all the reviews of some specific mapSegment.
I'll think more about it...

[2017-05-25 07:21] yaelAmitay opened #376 "nav to admin page"
navigate to admin page and not to user profile if the user the logged in is admin.

[2017-05-25 07:57] yaelAmitay commented on #373
testing on the android; (while the device is connected to your computer via USB)
`cordova platform add android`
`ionic build android`
`ionic run android`

[2017-05-25 15:08] kapalex commented on #207
We can discuss it together if you want to, or if you do decide on exactly what you want, create an issue for me to add it to the db

[2017-05-25 15:16] kapalex commented on #375
Running both server and client seems to be weighing down on the server, and the jenkins crashes often
causing it to run less frequently, and a few commits are merged together
Anyway either @yaelAmitay  or @Kolikant  or both seemed to put something wrong here
I'll try to figure out why, buy even if you don't understand the output you can simply run the tests yourself, on your machine

[2017-05-25 16:58] yaelAmitay commented on #375
It doesn't look like it's something I did.
I run the tests and non of my tests are failing and I didn't change others parts.
So I don't think it's related to me.

[2017-05-25 17:26] yaelAmitay commented on #375
Okey I digged more into it,
the jenkins failed with Spring Unit test.
On my computer my tests run just fine(thougth some others test fail but it's not related to my opinion)
I'll try to understand why jenkind can't run the unit test of spring.

[2017-05-25 17:53] kapalex commented on #375
@yaelAmitay  I think it's ok, seems like some log file was causing  the prolbme (wield lock issue?)
ignore above cause it's crashing with no memory

[2017-05-25 17:56] kapalex commented on #375
Alright, whats left is on @Kolikant

[2017-05-25 17:56] yaelAmitay commented on #375
So what was the problem? lock on a log file?

[2017-05-25 18:00] kapalex commented on #375
Yeah, the error was something with failing to write to logFile.log
I deleted it and it seemed to work out

[2017-05-25 21:28] #375 closed, assigned to nobody

[2017-05-26 09:24] kapalex commented on #355
I've tested now on my android device and it still doesn't show the map
I think it might be because android 6.0+ requires the app to ask for permission when accessing the device location, and our app doesn't
I'll look into how it should be done

[2017-05-26 09:28] yaelAmitay commented on #207
Okey,

The implementation right now is:
user upload a review to a street. the review already contain the location he clicked on.
user ask to view the reviews of some street. he get only the reviews in his specific current latLan.

What we want is:
user ask to view the reviews of some street. he get all the reviews of that street.

I think that given our implementation a simple solution could be:
-

[2017-05-26 09:29] Kolikant opened #377 "add location"
allow the adding of locations and the displaying of them in the location list

[2017-05-26 09:37] yaelAmitay commented on #355
I tried it on android 4.4 and It works.

It might take some time so maybe you didn't wait?
anyway did you use `ionic build android` and `ionic run android` or did you so it in a different way?

However, there can be many reasons why it's not working on your android. But I need to see it myself in order to find the problem.

[2017-05-26 09:40] yaelAmitay commented on #373
Looks like we won't have to change anything it work for android(I tried version 4.4)

[2017-05-26 09:43] kapalex commented on #355
I did exactly that, and yes, like I said my point is relevant to android 6.0+
I'll find a way to fix it

[2017-05-26 09:45] JuanJenkinsBot opened #378 "SmartCity-Accessibility Server Side Unit Tests #689 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Ariel Kolikant] 6010071be2b879a2fb8fb36777ce8125cc228792 - all the pages needed for adding locations except for the Service

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/689/)

[2017-05-26 09:49] kapalex commented on #207
I think it makes more sense to put the segmentId in location

The changes i propose (possibly more similar to your original idea) :
- Location gets a field segmentId which is null unless the type is Street
- Location db implementation has a field segmentId
- When Location  Manager restores Location from db, if location is of type Street, gets the reviews of all locations that have the same segment

[2017-05-26 09:50] kapalex commented on #378
@yaelAmitay are you accessing the log file in any different way in these tests?
It seems to be a recurring issue where the log file gets locked for some reason, not sure why

[2017-05-26 09:53] yaelAmitay commented on #378
this is how I access the log
`	private static Logger logger = LoggerFactory.getLogger(LogInService.class);
`
and then(for example):
`logger.info("signup failed", e);`

it's not the right way?

[2017-05-26 09:54] kapalex commented on #355
fixed it with
`cordova plugin add cordova-plugin-geolocation`

[2017-05-26 09:54] #355 closed, assigned to kapalex, yaelAmitay

[2017-05-26 09:54] kapalex commented on #378
Seems to be quite right, I wonder why it keeps locking

[2017-05-26 09:57] yaelAmitay commented on #355
did you follow the commands on my ionic guides?

[2017-05-26 09:59] yaelAmitay commented on #378
Also why is it keep printing the lat lng list? I removed this printing i the tests

or maybe it's not my printing?

[2017-05-26 10:01] kapalex commented on #378
printing is done in `NearbyPlacesTest` by @koralchapnik , if you would be so kind as to remove it

[2017-05-26 10:01] #378 closed, assigned to nobody

[2017-05-26 10:01] kapalex commented on #355
yes..?

[2017-05-26 10:05] JuanJenkinsBot opened #379 "SmartCity-Accessibility Server Side Network Tests #71 failed"
Build 'SmartCity-Accessibility Server Side Network Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Ariel Kolikant] 6010071be2b879a2fb8fb36777ce8125cc228792 - all the pages needed for adding locations except for the Service

- [Ariel Kolikant] f735661b6708a557bce9941f0cf8f784adc6396c - bad html last commit

[View full output](http://kapalex.ddns.net:8080

[2017-05-26 10:05] yaelAmitay commented on #355
these 2 commands were in the map guides, I think they are equivalent to what you added
[code]

but nevermind, the important thing is that it works  :)

[2017-05-26 10:09] yaelAmitay commented on #207
If you think it's good then fine.
Just know that in order to get the segmentId you need to use my function from Navigation:
`getMapSegmentOfLatLng`
and note that this method send a request to a server so it takes time and it might fail duo to networks issues.

[2017-05-26 10:09] kapalex commented on #355
The thing is that plugin addition should once be done once, and then they should be covered under `npm install`
Our package.json showed we didn't have `cordova-plugin-geolocation`, and now it does, meaning no one else needs to call `ionic plugin add cordova-plugin-geolocation`
I'll work out the details of how it works soon for the installation guide
And yeah, it works so we are all good 😄

[2017-05-26 10:16] kapalex commented on #207
The assumption in Location Manager is (and should always be) that it is getting a valid `Location`
Meaning the `Location` should already hold the segmentId by the time it gets to Location Manager

The LocationBuilder is where we are supposed to make sure the location being built makes sense, so I will add a function of `addSegmentId`, and it is the responsibility of the user of said builder to cal

[2017-05-26 10:25] #379 closed, assigned to nobody

[2017-05-26 10:44] kapalex opened #380 "Add segmentId to Location Manager"
According to #207

[2017-05-26 10:50] kapalex commented on #380
@yaelAmitay I'll let you know when it's done

[2017-05-26 11:01] yaelAmitay commented on #207
So you should tell everybody about it, or at least tell the one that should create the location to use this function.

[2017-05-26 11:05] kapalex commented on #207
The locaitonbuilder was in one of the of my explanation issues, but ill tag everyone when i finish and clarify

[2017-05-26 12:12] #374 closed, assigned to yaelAmitay

[2017-05-26 14:46] koralchapnik commented on #209
My two vacations are :

- a week from the next week's meeting (cause I can't be physically  at the technion for the meeting so I'll consider that week as a vacation), dates will be updated when the meeting will held.

- I won't take vacation in the last year of the semester, don't know the other week as well

[2017-05-26 15:30] JuanJenkinsBot opened #381 "SmartCity-Accessibility Server Side Unit Tests #712 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Alexander Kaplan] be8e757d10387b902974a299d930fabcb3512f7d - fix bug with database rxjava and null

- [Alexander Kaplan] 19dcad82d3fe28d35e9b9c810318078756ad6c49 - return logging level to info

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Acc

[2017-05-26 15:59] kapalex commented on #346
Done
everyone welcome to read and suggest changes @Kolikant @yaelAmitay @koralchapnik @ArthurSap

[2017-05-26 15:59] #346 closed, assigned to kapalex

[2017-05-26 15:59] #381 closed, assigned to nobody

[2017-05-26 16:01] koralchapnik opened #382 "Admin see the most rated locations"
As part of issue #332 I want to enable the admin to see the most rated locations in the system.
the admin should:
- pick a start location
- pick a radius
- pick a number of locations he wants to see

[2017-05-26 21:35] JuanJenkinsBot opened #383 "SmartCity-Accessibility Server Side Unit Tests #717 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [KoralChapnik] f051fea37a65277bcf3b6fdb40ec1a3f92725f43 - implemented server side #382

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/717/)

[2017-05-26 21:41] #383 closed, assigned to nobody

[2017-05-27 09:55] #380 closed, assigned to kapalex

[2017-05-27 09:57] kapalex commented on #380
Done @yaelAmitay
Now when getting location from street type from DB, they will show all the reviews of all locations with the same segment id

[2017-05-27 10:09] kapalex opened #384 "A few clarifications on the DB, reviews and locations"
I want to clarify a few points to make sure everyone understands the order of things.

1. When uploading a review / location / anything with a SomethingManager, the manager assumes the object is correct.  Meaning it is not missing any fields that should be there.
The best way to make sure of that is to use builders for things like user and location that regulate the fields when creating a new inst

[2017-05-27 10:10] kapalex commented on #342
@Kolikant @ArthurSap @koralchapnik , needs to be done before the end of the sprint.

[2017-05-27 14:37] JuanJenkinsBot opened #385 "SmartCity-Accessibility Server Side Unit Tests #723 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [KoralChapnik] 90e1c09a6b792c5a791dfff96d16d3f1946c9e69 - some changes together #382

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/723/)

[2017-05-27 14:54] koralchapnik commented on #385
@KaplanAlexander I don't really understand it.. when I run the tests all of them pass

[2017-05-27 15:01] #385 closed, assigned to nobody

[2017-05-27 16:05] kapalex commented on #333
I'm trying to unify the pages under some design scheme, look at the main page and the map, what do you think ? @Kolikant @koralchapnik @ArthurSap @yaelAmitay  (advised to install on an android device)

[2017-05-27 16:12] koralchapnik commented on #333
looks good. so just to make sure, the colors of our app are blue and orange ?

[2017-05-27 16:15] kapalex commented on #333
Unless anyone objects to it, then yeah

[2017-05-27 16:16] koralchapnik commented on #333
ok, so i'll change the colors in the admin page accordingly cause I've added it some css style

[2017-05-27 16:22] kapalex commented on #333
If you can (and this relates to everyone) copy the navbar from the main page to your pages as well, so we have a consistent one (with the name of the page different of course)

[2017-05-27 18:16] koralchapnik opened #386 "Default values in complex search"
not forget to put default values in the fields and to enable the "use my current location" option

[2017-05-27 20:00] #376 closed, assigned to yaelAmitay

[2017-05-27 20:03] yaelAmitay opened #387 "add option to logout"
add option to logout for the app.

[2017-05-27 20:05] yaelAmitay commented on #373
it works for Alex too. no need to change code so far.

[2017-05-27 20:05] #373 closed, assigned to yaelAmitay

[2017-05-28 05:56] #207 closed, assigned to yaelAmitay

[2017-05-28 06:34] yaelAmitay opened #388 "Tracking user location"
Tracking the location of the user in real time.

thanks to @koralchapnik  for the idea :)

[2017-05-28 14:41] #310 closed, assigned to Kolikant

[2017-05-28 14:42] #309 closed, assigned to Kolikant

[2017-05-28 14:42] #213 closed, assigned to Kolikant

[2017-05-28 14:43] #384 closed, assigned to nobody

[2017-05-28 14:44] #210 closed, assigned to Kolikant

[2017-05-28 14:48] Kolikant commented on #241
this issue exists since users now have helpfullnes which can be altered by the work of other users (meaning that if a user is upvoted or downvoted by others, we need to make sure all would be well. but since the calculation appears to be not instantanious to the change and that all users are copied from database in case of need, having the calculation being calculated by the reviews they left with

[2017-05-28 14:48] #241 closed, assigned to Kolikant

[2017-05-28 14:53] Kolikant commented on #362
do you happen to know a way to tell which unused warning belongs to which file? because when I set on removing my unused import I believe I only touched the tip of the iceberg, yet the work of finding them was extremely inefficient.

[2017-05-28 16:32] kapalex commented on #362
I think when you build the app (`ionic serve` or `ionic build android`) you you will get a full list of warnings, including the unused imports

[2017-05-28 16:42] Kolikant commented on #362
yes, but it doesn't say to which files. it prints the lines that have unused imports without saying in which file.

[2017-05-28 16:44] yaelAmitay commented on #362
it's enough to do `ionic serve`. you should _roll up a little_ and see a list of files that has unused imports.
if after some builds it's stop showing you the file with unused imports do `ionic serve` again.

![image](https://cloud.githubusercontent.com/assets/23058068/26530480/13660986-43de-11e7-982e-89359bcf98a7.png)

[2017-05-28 16:48] Kolikant commented on #362
I'm not getting these yellow lines. could you just print screen all of it? I can get rid of all the unused import right now if you do. I can finally see where they are

[2017-05-28 16:50] yaelAmitay commented on #362
that's all of them. did you rolled up a little?

[2017-05-28 16:59] Kolikant commented on #362
I'm tagging @koralchapnik since it seems she missed a few of the imports. it was really hard to remove all of them without this print here. but with it we would both be done in seconds

[2017-05-28 17:17] Kolikant commented on #342
finished step 4. not sure about what step 5 means. there is no "select a SonarQube server" or sonarQubeProject  I just have this
![image](https://cloud.githubusercontent.com/assets/23051198/26530701/a4e640b6-43e2-11e7-9822-33f4b18d1cef.png)

[2017-05-28 17:32] kapalex commented on #342
After you do step 4 (Right click on the project in the left hand window, select  SonarLint -> Bind to SonarQube Project) , a window will open, the one you are showing is not it
It will be a window similar to the settings window

[2017-05-28 17:35] Kolikant commented on #342
cheers mate!

[2017-05-28 17:36] #342 closed, assigned to kapalex

[2017-05-28 17:38] Kolikant commented on #342
almost took your credit....

[2017-05-28 17:38] Kolikant commented on #342
better

[2017-05-28 17:58] Kolikant commented on #377
last commit ended all the major parts for presentation, now it just needs to be able to add the types

[2017-05-28 18:02] Kolikant opened #389 "type search service to use the database for additional locations"
now that locations can be added and their types carry deeper meaning, type search needs to be able to show not only google map's locations but also the ones that we had stored in the database. these pages are under @koralchapnik.

what you need to do (I'm just saying the bare necesities, you can take it to any length you want) is in the type search service, add a database request, choosing the fie

[2017-05-28 18:10] Kolikant opened #390 "new Location page or all in the show review page?"
we have the show review page which is the majority that a location has as information. but we also have the button of adding review.

option 1) we have another page open which contains 2 buttons, one to show the reviews and one to add a review. and on that page we might add maybe some information on the location
option 2) we have the add review button INSIDE of the show review page, thus de facto

[2017-05-28 18:15] Kolikant commented on #390
we had the discussion in whatsapp. koral and yael agree with me. so I'm closing this issue and opening another one for @ArthurSap who is now in charge of the showReview page being the Location Page

[2017-05-28 18:15] #390 closed, assigned to ArthurSap, Kolikant

[2017-05-28 18:16] Kolikant opened #391 "make showReview the Location page"
as discussed in #390, showReview will become the Location page. this includes as well as the location review, to have the add review button on it. this page and all services under it are under @ArthurSap

[2017-05-28 18:29] yaelAmitay commented on #388
Almost done, just need to test on decive in a big space with wifi.

[2017-05-28 19:39] #377 closed, assigned to Kolikant

[2017-05-28 22:54] Kolikant commented on #338
delayed to next sprint for the importance of beinging locations into working conditions

[2017-05-28 22:55] Kolikant commented on #335
this is not important for the presentation as we would still only have a single user each and every time

[2017-05-28 22:56] Kolikant commented on #308
delayed due to importance of displaying locations, would attempt to finish before presentation regardless

[2017-05-28 22:56] Kolikant commented on #305
delayed due to importance of locations, will try to finish before presentation regardless

[2017-05-28 22:58] Kolikant commented on #245
this has basically become now, allow naming search queries. since it is the only feature i implemented server side on queries that deosn't yet have an issue. it will be attempted to be completed with the others

[2017-05-29 11:31] koralchapnik commented on #318
keep checking it

[2017-05-29 16:11] kapalex opened #392 "Test ReviewComment DB storage"

[2017-05-30 00:58] #388 closed, assigned to yaelAmitay

[2017-05-30 02:03] #387 closed, assigned to yaelAmitay

[2017-05-30 02:07] yaelAmitay opened #393 "Network Connection"
Tell the user if he doesn't have a network connection.
order him to first connect to the internet.

[2017-05-30 12:04] JuanJenkinsBot opened #394 "SmartCity-Accessibility Server Side Unit Tests #760 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Ariel Kolikant] eca64864dc08d2b84db30a1f70db8f544175cb62 - #355 adress search now uses logged in user's mapView

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/760/)

[2017-05-30 12:13] Kolikant commented on #335
apperantly according to the decision we made last meeting, this issue is absaloutly hisgh priorit, without it everything crushes and everyone dies, also the earth would probably explode if this isn't done, I tagged #355 rather than #335 while working on this so far

[2017-05-30 12:42] #335 closed, assigned to Kolikant

[2017-05-30 15:30] Kolikant commented on #394
Will look into it
Ran all tests before commiting ao this is extremely weird

[2017-05-30 15:33] Kolikant commented on #394
Ah i think i know what this is, the test is no longer relevant due to changes, i marked it to be skipped in my computer, must have not commited that..
If anyone wants to change ot before i get home, all thT is needed is to mark this test to be skipped, it is irrelevant now that tokens are used for searchess

[2017-05-30 18:08] #394 closed, assigned to nobody

[2017-05-31 09:27] kapalex opened #395 "Server watchdog"
Implement some mechanism that prevents exceptions from crashing the server.
If the server does crash, the "watchdog" should restart it automatically.

[2017-05-31 09:34] kapalex opened #396 "Bug list"
This issue will compile different bugs found during the usage of the project
It will provide a check list of "known bugs" on the way for us to fix them.
**Separate issue should (unless are minor) be created to fix a certain bug and and assigned to the fixer.**

- [x] Login page, on failing to login will get stuck in a spinner - _fixed by Yael_
- [x] When logging into an Admin account, and then ref

[2017-05-31 18:01] yaelAmitay commented on #396
I'll fix some of them right now

[2017-05-31 18:04] yaelAmitay commented on #396
I'm updating this issue as I'm go

[2017-05-31 18:19] yaelAmitay commented on #396
about these 2:
- [ ] On android it doesnt show "admin" button at all, just User Profile
- [ ] On android logout doesn't seem to work

what's the problem? It works fine on the android.

[2017-05-31 18:23] kapalex commented on #396
On my device when loggin into an admin account I see "User Profile" button and no admin button
in addition when I click logout nothing happens

Maybe something changed since this morning, but thats what happens in that version

[2017-05-31 18:26] yaelAmitay commented on #396
maybe you didn't work on the recent version.
Either way if you'll still have problem tell me...

[2017-05-31 18:35] kapalex commented on #396
Just installed latest version, still the same
I'm connecting to the server at `kapalex.ddns.net:8090` if that at all matters

[2017-05-31 18:40] yaelAmitay commented on #396
maybe the server is not using the recent version?
I'm up-to-date with the git, I'm using my computer as the server but it should not matter cause I'm up-to-date with git.

[2017-05-31 18:48] kapalex commented on #396
The servers version was just deployed today

[2017-05-31 18:50] kapalex commented on #396
Actually might be related to the server, checking it out

[2017-05-31 18:52] kapalex commented on #396
Ok, tried redeploying it just in care - same result

[2017-05-31 19:10] yaelAmitay commented on #396
I think it's something with the server. it look like it's not up-to-date.
I'll try to deploy it myself.

[2017-05-31 19:10] kapalex commented on #396
ok I'm closing the instance I opened then

[2017-05-31 19:11] kapalex commented on #396
dont run the client tho, cause our server cant really handle both of them

[2017-05-31 19:47] yaelAmitay commented on #396
okey we moved this discussion to whatsapp. we will update here when we'll know more.

Update: there was a problem with the server, problem was solved

[2017-06-02 08:42] kapalex opened #397 "Runtime error when trying to upvote new review"
When adding a new review to a location, then trying to upvote it the following error is thrown
[code]

[2017-06-02 09:17] kapalex commented on #397
@ArthurSap  if this isn't your assign whoever is in charge

[2017-06-02 10:07] ArthurSap commented on #397
@Kolikant I need you on this one,
when you click to view a location's reviews currently you're passing just the LatLng, I need you to pass the location's type, sub-type and name as well.

[2017-06-02 11:13] Kolikant commented on #397
Im currently passing them since that is all tour function took, will add the new paramaters soon, just make sure to write them all in the method signature

[2017-06-02 11:17] ArthurSap commented on #397
Using it as "type", "subtype" and "name" in the constructor

[2017-06-02 18:48] ArthurSap commented on #397
Doesn't crash anymore but for some reason the spinner isn't showing, the liking/disliking doesn't affect the review on the server side (update isn't saved) and the review's location attribute is null

[2017-06-03 08:24] kapalex commented on #397
You need to update the review through the ReviewManager and not the LocationManager
Also you need to check if the current user is already in the comment list for said review, and if he is he cannot comment again

[2017-06-03 08:27] kapalex commented on #397
Actually correction, the comment system in the reviews already covers double reviews
but after you upvote\downvote you should simple use `getUpvotes` and `getDownvotes` to update the gui, because if the user upvotes twice the number won't change

[2017-06-03 08:27] #333 closed, assigned to kapalex, koralchapnik

[2017-06-03 11:08] kapalex opened #398 "Locations are returned with reviews whos location is null"
This bug is easily fixed, but apparently if you do fix it the recursion of location -> review-> location -> ...
causes a problem with serialization which makes returning locations and reviews from the server to the client crash both of them.

Need to look into how this should be approached

[2017-06-03 17:49] yaelAmitay commented on #396
@KaplanAlexander
about this:
New actions dont clear old actions from screen (search doesnt clear navigation for example)

why should search clear navigation?
I don't think it should.

only new search clear old search and new navigation clear old navigation.

[2017-06-03 19:29] kapalex commented on #396
In my opinion it looks very cluttered if both of them stay
If new search removes old search (and the same with navigation) then it's ok, altough I still think it's better removed

[2017-06-03 19:34] yaelAmitay commented on #396
We can vote on this as a group.

[2017-06-03 22:23] ArthurSap commented on #396
@KaplanAlexander
Every time I try to update a review with a new up/downvote I get the error "[RxCachedThreadScheduler-5] ERROR s.a.database.ReviewManager - Multiple reviews found, not updating"

Also, add review now goes to a floating window instead of a new page

[2017-06-04 06:19] kapalex commented on #396
You should clear the reviews from the db
I'm guessing our testing caused multiple reviews by the same person on the
same location, which is what the error means

On 4 Jun 2017 1:23 AM, "Arthur Sap" <notifications@github.com> wrote:

[2017-06-04 16:10] Kolikant opened #399 "prefering user given locations over existing ones"
right now both are displayed, but if a user comments on a google maps one and it is added to the database, we need from that poin to show only the one from the database

[2017-06-04 16:11] Kolikant opened #400 "showing adress rather than latlng"
right now we show users the latlng of chosen locations, needs to be changed into adresess

[2017-06-04 16:12] Kolikant opened #401 "not being able to add Cafe locations"
an interesting bug discovered to day, being intresting due to the face that I was able to add multiple cafe's when I added the feature, yet it seems that I was the only one who can claim such

[2017-06-04 16:14] Kolikant opened #402 "address search Search button rather than pressing enter"
apparently, users would prefer it were there to be a button that says search rather than pressing enter, this makes sense in smartphones and apparently the ENTER listener I made doesn't work for linux users anyways and should be avoided

[2017-06-04 16:18] Kolikant opened #403 "add location auto exit"
right now add location is confusing for user experience, since pressing add doesn't give any indication whatsoever as to what has occurred, need to tell the users that his add was sent AND not make him leave the page, since he probably would want to comment on the location he has just added SO refresh the locations after it has arrived in the database.

so:
1) say: "thank you! the location would b

[2017-06-04 16:52] #402 closed, assigned to Kolikant

[2017-06-04 16:53] Kolikant opened #404 "default map View for unsigned users"
have a defualt mapView, which would be used by users who are not logged in

[2017-06-04 16:55] Kolikant opened #405 "synchronize mapView usage"
soon, a default mapview would be added, also, as it stands multiple logins to the same users are allowed.

it is required that every usage of mapView would hence be synchronized, so need to make sure that every search and call and use of a mapView would be locked, otherwise the server would likely crush or be inconsistent, especially for users whom are not logged in

[2017-06-04 17:32] Kolikant commented on #404
finished in last commit

[2017-06-04 17:32] #404 closed, assigned to Kolikant

[2017-06-04 18:57] #401 closed, assigned to Kolikant

[2017-06-04 19:08] JuanJenkinsBot opened #406 "SmartCity-Accessibility Server Side Unit Tests #797 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Ariel Kolikant] 06a173f064d6f90830837a0711710a5d3edb4054 - well that was easy... close #401

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/797/)

[2017-06-04 19:34] Kolikant commented on #406
it would appear that the change of giving each individual user his own mapView is a bit too much. up until now, although we thought that they were given one, I found out they were just given a copy of the static one and changed it. it seems now that it is too heavy, raising the question of what to do now

[2017-06-04 19:37] Kolikant commented on #406
jenkins...... the build was not fixed as no changes to the server side were made. I think this is a resource problem

[2017-06-04 19:39] Kolikant commented on #406
![image](https://cloud.githubusercontent.com/assets/23051198/26764790/6a7b0e86-4976-11e7-99aa-0d578bb3d4a4.png)
it was never a problem with the tests, the change made was that now users all each have their own mapView and that just might be too heavy, as mapViews were fundemantily built for a single one for an entire application.

I added the method of disposing of mapViews, this should be called

[2017-06-04 19:40] Kolikant commented on #406
keeping this open in case a similar problem ever pops up, as this is unresolved so far

[2017-06-04 20:13] #406 closed, assigned to nobody

[2017-06-04 20:28] Kolikant commented on #406
dammnit jenkins! you are unaasigned

[2017-06-04 20:29] Kolikant commented on #406
fine! I'll open my own issue! and it's gonna be waaaaaaaaaaaaaaaaay better than your issue ever was jenkins! you will rue this day! ruuuuuuuuuue this day!

[2017-06-04 20:29] Kolikant opened #407 "There is insufficient memory for the Java Runtime Environment to continue."
it's all here #406

[2017-06-04 21:44] #403 closed, assigned to Kolikant

[2017-06-04 21:55] JuanJenkinsBot opened #408 "SmartCity-Accessibility Server Side Unit Tests #801 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Ariel Kolikant] bffaa1df07816434c05486b5bf23372b8d81915d - this should make for a much more intuitive user experience close #403

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/801/)

[2017-06-05 10:51] kapalex commented on #407
A possible solution, which at this point would probably be easier, is completely removing JxMaps and replacing it with the [google maps java sdk](https://github.com/googlemaps/google-maps-services-java)
At this point we don't need to jxmaps gui and just the seach seems to be using it
So I think it might be better to remove completely

@koralchapnik @yaelAmitay @ArthurSap
Thoughts?

[2017-06-05 10:56] Kolikant commented on #407
After broken heartedly removing all of the jxmaps uses last sprint, this would onlt need to change a few dependencies, i concur

[2017-06-05 11:36] yaelAmitay commented on #407
I agree

Yael

‫ב-5 ביוני 2017, בשעה 13:56, ‏‏Ariel Kolikant ‏<notifications@github.com> כתב/ה:‬

[2017-06-05 11:38] koralchapnik commented on #407
Ariel, did you remove the jxmaps dependencies?

[2017-06-05 11:55] ArthurSap commented on #407
If it doesn't require to much work/re-work I'm fine with that.
Should happen on a separate branch though in case of bugs imo.

[2017-06-05 12:42] Kolikant commented on #407
it would demand much work, just won't completely creeple the project as it would have before the changes I made to jxMapsFunctionality

[2017-06-05 12:47] kapalex commented on #407
Separate branch is the way to go though

[2017-06-05 12:58] #405 closed, assigned to Kolikant, koralchapnik

[2017-06-05 13:25] kapalex commented on #407
Whos going to be in charge of this?

[2017-06-05 13:44] Kolikant commented on #407
Not it, got my work cut out for me

[2017-06-05 13:53] kapalex commented on #407
I can, but that means I'm dropping every other task for this sprint, and will almost entirely editing code that is not mine

[2017-06-05 13:56] #408 closed, assigned to nobody

[2017-06-05 14:05] Kolikant commented on #407
That's the problem, you just described what anyone given this task would say

[2017-06-05 14:06] kapalex commented on #407
Well, I'll take it then.

[2017-06-05 14:07] kapalex opened #409 "Replace JxMaps with Google map java API"
According to #407

[2017-06-05 14:07] #407 closed, assigned to nobody

[2017-06-05 14:08] kapalex commented on #395
Closed due to lack of time, and other more important issues

[2017-06-05 14:08] #395 closed, assigned to kapalex

[2017-06-05 14:08] kapalex commented on #364
Closed due to lack of time, and other more important issues

[2017-06-05 14:08] #364 closed, assigned to kapalex

[2017-06-05 14:45] Kolikant commented on #400
not possible in jxMaps, I ='ve been searching for it, it is not an implemented functionality, furthemore, the "adress" attribute is the name of the location and it has been used as so so far, meaning that the adress field has no intention of having an adress.

furthermore, in googlemaps API the action of taking a coordinate and turning it into an adress is called reverse geocoding which does not e

[2017-06-05 15:33] kapalex commented on #400
Keep it open as it will be relevant soon

[2017-06-05 15:39] Kolikant opened #410 "error handling in add locations"
right now not being able to add a location just crushes the server which is..... well that's just bad ain't it?

having dificulties since it seems hard to recreate errors in adding the locations, so my efforts to do this would be here #396

[2017-06-05 15:43] kapalex commented on #409
Things to change :
- [x] findNearbyPlaces
- [x] searchQuery
- [x] services

[2017-06-05 17:31] #410 closed, assigned to Kolikant

[2017-06-05 17:34] Kolikant opened #411 "please wait being considered as a location, needs to not be that"
please wait appears when nothing exists to show, making it a button to be used and making meaningless locations appear. need to prevent this, change the please wait into a loaderCtrl

[2017-06-05 18:00] kapalex commented on #409
For later this week :
- [x] Fix API key issue

and continue testing

[2017-06-05 18:07] Kolikant commented on #411
making it stop was the easy part, but now I remembered why I put it there in the first place, that being the fact that the loder doesn't work well from the constructor and the constructor is the only place where loading the locations make sense, since it is the location-list page

now need to figure out what to do with the loader...

[2017-06-05 18:39] #411 closed, assigned to Kolikant

[2017-06-05 19:56] #399 closed, assigned to Kolikant

[2017-06-05 19:56] Kolikant commented on #338
right, done

[2017-06-05 19:56] #338 closed, assigned to Kolikant

[2017-06-06 08:04] kapalex commented on #409
- [x] Fix subtypes to fit PlaceType in google maps

[2017-06-06 09:51] JuanJenkinsBot opened #412 "SmartCity-Accessibility Server Side Unit Tests #811 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Alexander Kaplan] e3620767a963c48ba3948b749dd0e6cbe47467c3 - jumping into deep water (removing jxmaps immediately) #409

- [Alexander Kaplan] 8f571a5cf6781c8499ffb1830d76125039f01f19 - replacing LatLng #409

- [Alexander Kaplan] 7033bcf512a7573e7c71b25668b1a8

[2017-06-06 10:00] #412 closed, assigned to nobody

[2017-06-06 10:08] kapalex commented on #409
We are officially DONE with Jxmaps :raised_hands:
everything has been commited to the master branch, and as far as I could test works wonderfully
Extremely faster than jxmaps, unsurprisingly

If you do run into problems let me know
@Kolikant @koralchapnik @yaelAmitay @ArthurSap

[2017-06-06 10:10] kapalex opened #413 "Deploy to heroku \ google app engine instead of our server"
It should work a lot better that way, and be more convenient both to deploy and to use.

Will do some research into which one is better to use

[2017-06-06 10:23] ArthurSap commented on #409
Damn that was fast, gj.

[2017-06-06 12:05] JuanJenkinsBot opened #414 "SmartCity-Accessibility Server Side Unit Tests #814 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Alexander Kaplan] df1b10ddea3b9cb6a1e1840e58c33f2f6b2ae044 - maven dependencies plugin #413

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/814/)

[2017-06-06 12:35] Kolikant commented on #409
Thank god

[2017-06-06 13:00] #414 closed, assigned to nobody

[2017-06-06 13:02] JuanJenkinsBot opened #415 "SmartCity-Accessibility Server Side Network Tests #172 failed"
Build 'SmartCity-Accessibility Server Side Network Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Alexander Kaplan] df1b10ddea3b9cb6a1e1840e58c33f2f6b2ae044 - maven dependencies plugin #413

- [Alexander Kaplan] df2d8e8c35c0ae0f7991806dda4ff206e9ec35fc - procfile for heroku #413

- [Alexander Kaplan] 12bb806574e886ab57feb2dd084313977f4a012c - slashes a

[2017-06-06 14:58] #382 closed, assigned to koralchapnik

[2017-06-06 14:59] #368 closed, assigned to koralchapnik

[2017-06-06 14:59] #341 closed, assigned to koralchapnik

[2017-06-06 15:00] koralchapnik opened #416 "Add spinner"
add spinner to the complex search (#322) and to the admin page (#332)

[2017-06-06 15:05] koralchapnik opened #417 "Error handling and bugs in Complex Search"
to handle the following cases :

- [x] change the 'caffe' to 'cafe' to be consistent with our types.

- [x] to check if the radius is not negative and the units of it

- [x] to check if the user inserted an unknown address of initial location

- [x] to enable the option of 'use my current location'

- [x] returning locations from our database

[2017-06-06 15:10] koralchapnik opened #418 "Error handling and bugs in Admin Page"
cases needs to be handled and checked :

- [x] in the helpful users, to change the enter and add button instead

- [x] in the helpful users, check the admin inserted a positive number

- [x] in the most rated locations to check the parameters the admin inserted

[2017-06-06 15:13] #322 closed, assigned to koralchapnik

[2017-06-06 15:13] #229 closed, assigned to koralchapnik

[2017-06-06 15:24] koralchapnik opened #419 "Error in adding location"
when trying to add location, i'm getting the following error:
![image](https://user-images.githubusercontent.com/23156121/26837122-4883b786-4ae5-11e7-872f-8c0e1e245807.png)

[2017-06-06 15:44] #415 closed, assigned to nobody

[2017-06-06 16:04] JuanJenkinsBot opened #420 "SmartCity-Accessibility Server Side Unit Tests #820 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Alexander Kaplan] 35182ede154a9975d60bcf7c7096f4181eb4ac2c - FINALLY managed correct packaging for spring #413

- [Alexander Kaplan] 61dda67cda931a686af63787ae0327c58ba9d148 - edit procfile #413

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-A

[2017-06-06 16:45] #416 closed, assigned to koralchapnik

[2017-06-06 16:54] koralchapnik commented on #419
and there are no locations now in the DB

[2017-06-06 17:00] #420 closed, assigned to nobody

[2017-06-06 18:01] kapalex commented on #413
We are now live on heroku
This is a much more stable storage for our server, and the ip should be available from anywhere (I'm looking at you, TechPublic)
Available at https://smartcity-accessibility.herokuapp.com/

@koralchapnik @Kolikant @ArthurSap @yaelAmitay

Can be deployed from the jenkins project of Deploy, as before

[2017-06-06 18:01] #413 closed, assigned to kapalex

[2017-06-06 19:05] Kolikant commented on #419
someone changed the enums.... @KaplanAlexander any reason for that? or can I change them back?

[2017-06-06 19:07] Kolikant commented on #419
you know what, all uppercase is just as arbitrary as capitilized, i'll just change it to match all caps then no need to change the enums back to what they were

[2017-06-06 19:09] kapalex commented on #419
Yeah it actually is necessary for it to work with google maps place types
So all caps, and if you want to add more locations sub types (we probably
wont though) we need to add from the PlaceType of google maps service

On 6 Jun 2017 10:07 PM, "Ariel Kolikant" <notifications@github.com> wrote:

[2017-06-06 19:11] Kolikant commented on #409
mmmmm seems that none of the map features work now for me.

adress search just shows the loadr and ends, location list never finishes and the same with type search

am i missing something?

[2017-06-06 19:17] Kolikant commented on #409
reopening because ran into a problem

[2017-06-06 19:19] kapalex commented on #409
Open separate issue if still doesn't work after the current phone call we are having

[2017-06-06 19:19] #409 closed, assigned to kapalex

[2017-06-06 19:26] JuanJenkinsBot opened #421 "SmartCity-Accessibility Server Side Unit Tests #832 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Alexander Kaplan] ff0e1ba0d3499d9ffaca7916a6fb3eb410857314 - change localhost to 8080 in both server and client after changes in #413

- [Alexander Kaplan] aedf74f0915b8845a77933bec97918400785344a - change localhost to 8080 in both server and client after cha

[2017-06-06 19:27] #419 closed, assigned to Kolikant

[2017-06-06 19:30] kapalex commented on #421
Maven keeps failing for no apparent reason.. will look into tomrrow

[2017-06-06 21:44] #400 closed, assigned to Kolikant

[2017-06-06 21:46] Kolikant opened #422 "show adress to user rather than lat lng"
reversegeocoding is now available to us, I've finished the service that returns a string in human addresses for a latlng.

the issue was #400 the service is inside searchService and an example for usage is within location-list

I just assigned people who's pages had lat lng displayed for the user, if you don't think you need to change it to an adress, just unasiggn/ close. but one of the complaint

[2017-06-06 21:47] Kolikant commented on #421
jenkins, don't be scared, we'll see what the bad, bad maven wants from you soon

[2017-06-07 07:42] #421 closed, assigned to nobody

[2017-06-07 15:21] kapalex opened #423 "Set both enums in location to upper case and fix bugs related"
Similar to the change in subtype to make it consistent with java conventions
In addition fixed bugs caused by this change and inconsistency in client

[2017-06-07 18:15] koralchapnik commented on #417
need to check the current location when I'll be in Haifa

[2017-06-08 14:24] yaelAmitay opened #424 "User profile images"
adding user profile images.

- [x] adding images to our parse server

- [x] create service that accept image from the user and insert the image to the db

- [x] create service that send the image to the user

- [x] client side request the image in the profile page

- [x] enable ionic to access camera/gallery in order to send image to our server

@koralchapnik  and I(Yael) will share the work on th

[2017-06-08 15:54] JuanJenkinsBot opened #425 "SmartCity-Accessibility Server Side Unit Tests #844 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [yaelAmitay] 579018450455d1e7c1107fe0b6dc18c412ebb8e0 - add image to parse #424

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/844/)

[2017-06-08 16:25] #425 closed, assigned to nobody

[2017-06-08 21:06] #418 closed, assigned to koralchapnik

[2017-06-09 10:33] JuanJenkinsBot opened #426 "SmartCity-Accessibility Server Side Unit Tests #851 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [yaelAmitay] f7d8ddfdd79e727a6497da330ce2e79ea7fddc8e - add loading spinner to sign up

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/851/)

[2017-06-09 10:56] #426 closed, assigned to nobody

[2017-06-10 07:27] #423 closed, assigned to kapalex

[2017-06-10 20:48] JuanJenkinsBot opened #427 "SmartCity-Accessibility Server Side Unit Tests #871 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [yaelAmitay] 9534c7600b1cdfe5fc55a0836716f19805e9c07c - change to png and resize profile image #424

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/871/)

[2017-06-10 21:07] #427 closed, assigned to nobody

[2017-06-11 15:47] kapalex opened #428 "LocationManager getId returns empty optional"

[2017-06-11 15:57] #428 closed, assigned to kapalex

[2017-06-11 15:58] yaelAmitay opened #429 "Location image"
display image of the location.

at first display some image from google map of the lat lng.
if time allows enable user to add photos of the locations

[2017-06-11 18:32] #362 closed, assigned to ArthurSap, yaelAmitay

[2017-06-12 11:59] koralchapnik commented on #424
need to in client side from 'localhost' to the server address. not working for now

[2017-06-12 17:46] koralchapnik commented on #424
after all installations and bugs the project now run on my phone and I can start working on uploading photos in client side

[2017-06-12 18:38] koralchapnik commented on #424
the installation didn't work.
trying it again

[2017-06-12 20:39] koralchapnik commented on #424
after a lot of hours, the installations works! :)

[2017-06-12 22:00] koralchapnik opened #430 "installations for camera and file use"
as part of enabling pictures upload in our app, some installations are required.
it might happen that if you pull the project now, the ionic will crash so please do the following:

- go into client side folder and open the cmd from it

- if you don't have Android Studio, install it.

- add a environment variable called ANDROID_HOME and set it to be the android sdk installation.

- add to the PATH

[2017-06-13 17:30] JuanJenkinsBot opened #431 "SmartCity-Accessibility Server Side Unit Tests #893 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [yaelAmitay] b5c16d80506ae18b948fb62d00dfa239eb94a683 - move token to header in profileImgService

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/893/)

[2017-06-13 17:31] JuanJenkinsBot opened #432 "SmartCity-Accessibility Server Side Network Tests #224 failed"
Build 'SmartCity-Accessibility Server Side Network Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [KoralChapnik] dc79fc54b357414bd1621eaa19bee59a6e9f9622 - change in service #424

- [yaelAmitay] b5c16d80506ae18b948fb62d00dfa239eb94a683 - move token to header in profileImgService

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibilit

[2017-06-13 17:54] #431 closed, assigned to nobody

[2017-06-13 17:56] #432 closed, assigned to nobody

[2017-06-13 17:56] #254 closed, assigned to ArthurSap

[2017-06-13 17:56] #255 closed, assigned to ArthurSap

[2017-06-13 17:57] #256 closed, assigned to ArthurSap

[2017-06-13 18:01] yaelAmitay commented on #429
this is a duplicate of #318 so I'm closing it

[2017-06-13 18:01] #429 closed, assigned to yaelAmitay, koralchapnik

[2017-06-13 18:02] yaelAmitay commented on #331
I'm closing this but I'll keep doing it

[2017-06-13 18:02] #331 closed, assigned to yaelAmitay

[2017-06-13 18:05] yaelAmitay commented on #354
will be solved with gulp as I mentioned above so I'm closing this #370

[2017-06-13 18:05] #354 closed, assigned to yaelAmitay

[2017-06-13 18:06] ArthurSap commented on #254
But it's still not perfect :(

[2017-06-13 18:09] yaelAmitay commented on #254
oh sorry, you can reopen this or create issue with the specific things that missing
sorry again :|

[2017-06-13 18:13] yaelAmitay commented on #424
maybe try creating the url in the '.ts' and using it in the '.html'
for example:
in the '.ts':
`url = Constatns.ServerAddress+'profileImg?userName'+userName;
`
in the 'html':
`<img src={{url}} />` or `<img src='{{url}}' />`

[2017-06-13 18:28] yaelAmitay commented on #393
probably won't have time for this. so I'm closing it for now

[2017-06-13 18:28] #393 closed, assigned to yaelAmitay

[2017-06-13 18:48] yaelAmitay commented on #422
done for my part,
let my know if I missed a place

[2017-06-13 18:52] yaelAmitay opened #433 "add option to leave a review on street"
add option to leave a review on street.

[2017-06-13 19:11] yaelAmitay commented on #433
@ArthurSap  you will add the option to review on a street in the client side.
I'll take care of the server side

[2017-06-13 19:15] ArthurSap commented on #433
No need, if the only change is that 'subtype=street', I think changing the client side will be enough. Unless there are other additions in the server side.

[2017-06-13 19:23] Kolikant commented on #430
having dificulties
![image](https://user-images.githubusercontent.com/23051198/27100486-fb204962-5086-11e7-81f2-47c056fce476.png)

[2017-06-13 19:25] koralchapnik commented on #430
It's OK you can keep on

[2017-06-13 19:28] yaelAmitay commented on #433
there are more changes that needed in the server side but they include calling my function so I think I would do it.

[2017-06-13 19:30] Kolikant commented on #430
![image](https://user-images.githubusercontent.com/23051198/27100701-9e0148f2-5087-11e7-9cd1-ce6e96b4f5e8.png)

 I probably  missed something.
can you go into more detail in the second and third steps ?

add a environment variable called ANDROID_HOME and set it to be the android sdk installation.
(I have android studio, but there is no sdk installation in it)
![image](https://user-images.githubuse

[2017-06-13 19:43] koralchapnik commented on #430
When you installed the android studio you have also installed android sdk

[2017-06-13 19:54] Kolikant commented on #430
took a long time to find. so putting here for future users:
C:\Users\[your name]\AppData\Local\Android\sdk1

[2017-06-13 20:07] Kolikant commented on #430
I did everything and have the same problem.
added here:
![image](https://user-images.githubusercontent.com/23051198/27102128-d50b52fc-508c-11e7-9a5e-bbaaa82ca86f.png)

and here:
![image](https://user-images.githubusercontent.com/23051198/27102140-e1155660-508c-11e7-9bda-1a9990c9a9f9.png)

[2017-06-13 20:25] Kolikant commented on #430
here is the solution. someone (a saint by my opinion) made library for this. run

* npm install -g npm-install-missing
* npm-install-missing

[2017-06-14 06:47] ArthurSap commented on #422
Done my part too.

[2017-06-14 06:47] #422 closed, assigned to ArthurSap, yaelAmitay

[2017-06-14 19:53] JuanJenkinsBot opened #434 "SmartCity-Accessibility Server Side Unit Tests #902 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [yaelAmitay] 82a674eefc74b6bcbe8b9dc435befc89daa7abee - add segment id to reviews on street #433

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/902/)

[2017-06-14 19:56] #434 closed, assigned to nobody

[2017-06-14 19:56] yaelAmitay commented on #433
I've done my part, let my know when you done. I want to check that my changes were fine.

[2017-06-14 20:26] ArthurSap commented on #433
Done

[2017-06-14 20:27] ArthurSap commented on #397
Eh, can we close it?

[2017-06-14 20:28] ArthurSap commented on #391
Can we close this now?

[2017-06-14 20:30] ArthurSap opened #435 "Once a new review is added initiate an even."
If a user create a new review to a location, a new even should be initiated and the user will then return to the "show review" page of the location with the new review presented.

[2017-06-14 20:31] ArthurSap opened #436 "Show a spinner of some kind while review is being added."
While the server adds the review user should see a spinner.

[2017-06-14 20:32] ArthurSap opened #437 "Make the "show review" page's spinner visible."
Hopefully make the spinner on the review page visible for more than few milliseconds while the reviews are being fetched.

[2017-06-15 12:02] Kolikant commented on #391
If you finished it then sure

[2017-06-15 19:03] ArthurSap commented on #391
I'm simply unsure what this issue is about.. If it's to make "show reviews" the first thing you see as a floating window when clicking a location then yes, I finished.

[2017-06-16 14:17] ArthurSap commented on #435
Done.

[2017-06-16 14:17] #435 closed, assigned to ArthurSap

[2017-06-16 14:45] ArthurSap commented on #436
Solved in #435

[2017-06-16 14:45] #436 closed, assigned to ArthurSap

[2017-06-16 14:49] koralchapnik opened #438 "Trying to upload an image"
As part of uploading pictures (#424) I have the following bug:

after capturing image from the phone's camera, and trying to get the service, the following exception raises:
![image](https://user-images.githubusercontent.com/23156121/27231532-8f7d65c8-52bb-11e7-9fed-9de8a0784240.png)

i.e it cannot find the request part 'file'.

in the client side, I send the post request like this :
![image](http

[2017-06-16 14:52] #437 closed, assigned to ArthurSap

[2017-06-16 14:52] ArthurSap commented on #433
Seems like the HTML doesn't show the text, working on it so don't close the issue yet

[2017-06-16 16:11] Kolikant commented on #391
Okay, then you are finished

[2017-06-16 22:07] #438 closed, assigned to koralchapnik

[2017-06-16 23:35] #397 closed, assigned to ArthurSap

[2017-06-16 23:35] #391 closed, assigned to ArthurSap

[2017-06-16 23:35] #279 closed, assigned to ArthurSap

[2017-06-16 23:35] #278 closed, assigned to ArthurSap

[2017-06-16 23:37] ArthurSap opened #439 "Upvote/Downvote change"
If a user that has upvoted (downvoted) a review decided to downvote (upvote) the same review the option should be available.

[2017-06-16 23:39] ArthurSap opened #440 "Review has comments."
Each review will have the possibility to comment on it and will show the comments that are already made.
* Up/down vote is stored as a comment in the review but isn't really a comment, need to filter those out somehow.

[2017-06-18 10:33] #433 closed, assigned to ArthurSap, yaelAmitay

[2017-06-18 10:55] ArthurSap opened #441 "No error messages in Nearby locations."
If an error occurred during nearby locations fetch the user is notified about it. The "please wait" doesn't disappear and no alert is shown.

[2017-06-18 12:32] ArthurSap opened #442 "Re-modeling Review class"
A need to re-model the review class has arisen.
Right now up/down-votes are saved as regular comments which imposes all sorts of difficulties on #440 regarding the client side part.
My proposition was to add a new field (data structure of some sort) to the Review class which will contain ONLY the "real" comments (so very little modifications are needed). Alex agreed to my suggestion so I will do t

[2017-06-18 12:55] JuanJenkinsBot opened #443 "SmartCity-Accessibility Server Side Unit Tests #923 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Arthur Sapozhnikov] 6ce8f3f707e5fb28631618ebe27e7f50ec2c5fad - #442 it seems that ReviewComment class didn't even have the option to

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/923/)

[2017-06-18 13:17] #386 closed, assigned to koralchapnik

[2017-06-18 13:33] #443 closed, assigned to nobody

[2017-06-18 13:40] ArthurSap commented on #442
@KaplanAlexander I think I finished with my part. Please look over the modifications on ReviewComment class as well to see that I didn't fuck up anything (or forgot anything).
I suppose i missed all(/most) changes that have to do with the DB (serializations and stuff I think).

[2017-06-18 13:41] #389 closed, assigned to koralchapnik

[2017-06-18 13:41] #320 closed, assigned to koralchapnik

[2017-06-18 13:41] #318 closed, assigned to koralchapnik

[2017-06-18 13:42] #281 closed, assigned to koralchapnik

[2017-06-18 13:42] #280 closed, assigned to koralchapnik

[2017-06-18 13:47] koralchapnik opened #444 "Connecting Admin's page with regular user page"
since admin is also a regular user, his page should have a link to the regular user page

[2017-06-18 14:54] koralchapnik opened #445 "Add spinner to camera when uploading photos"
add spinner to client side when uploading an image to the server

[2017-06-18 15:36] Kolikant commented on #441
tell me how to recreate what you've seen

[2017-06-18 15:55] #245 closed, assigned to Kolikant

[2017-06-18 15:55] #441 closed, assigned to Kolikant

[2017-06-18 18:30] Kolikant commented on #308
this was a 'nice to have feature' suggested at the start of the semester, which I would not be able to finish before my obligatory pagra

[2017-06-18 18:30] #308 closed, assigned to Kolikant

[2017-06-18 18:31] Kolikant commented on #305
this is done

[2017-06-18 18:31] #305 closed, assigned to Kolikant

[2017-06-18 18:31] Kolikant commented on #286
the user profile is done

[2017-06-18 18:31] #286 closed, assigned to Kolikant

[2017-06-19 08:24] #430 closed, assigned to kapalex

[2017-06-19 10:08] #444 closed, assigned to koralchapnik

[2017-06-19 10:12] koralchapnik opened #446 "About adding queries"
Hi, in the user page there is option to add queries and implement them.
but when pressing the button of the query i've added or the edit, there is popup massage says that it still not implemented.
Is it going to be implemented? cause this is the only thing in the user page right now and you are on vacation till the end of the semester.
If it is not going to be implemented, the user photos will be

[2017-06-19 10:15] koralchapnik commented on #446
Moreover, when adding search query, you should search it to check if it is a valid address so the user could navigate to it.

[2017-06-19 10:18] koralchapnik opened #447 "connect the image upload with user and admin page"
in client side, add the logic of uploading images to admin and user pages.

[2017-06-19 11:03] koralchapnik opened #448 "Nearby location bug"
While trying to load locations on Bat Hen street in Haifa I have encountered this bug.
Please catch errors from the server and take care of this bug

![image](https://user-images.githubusercontent.com/23156121/27282229-b5c4ee0c-54f7-11e7-8234-782f0b73da74.png)

[2017-06-19 14:04] kapalex opened #449 "Create Poster for presentation"

[2017-06-19 14:27] #449 closed, assigned to kapalex

[2017-06-19 14:52] #442 closed, assigned to kapalex, ArthurSap

[2017-06-19 14:53] JuanJenkinsBot opened #450 "SmartCity-Accessibility Server Side Unit Tests #947 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Alexander Kaplan] 7fbf9f2caa19d1ac30d33ac2c39e4861d7ad239e - fix review comment sereliazation #442

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/947/)

[2017-06-19 14:53] kapalex commented on #398
This is currently as a "won't fix" because of being a low priority bug

[2017-06-19 14:53] #398 closed, assigned to kapalex

[2017-06-19 14:57] #450 closed, assigned to nobody

[2017-06-19 14:59] #392 closed, assigned to nobody

[2017-06-19 14:59] #330 closed, assigned to nobody

[2017-06-19 15:02] kapalex opened #451 "Fix remaining Bugs & Vulnerabilities in SonarQube"
http://kapalex.ddns.net:9000/dashboard/index?id=SmartCity-Accessibility%3ASmartCity-Accessibility

[2017-06-20 09:13] #451 closed, assigned to kapalex

[2017-06-20 09:30] kapalex opened #452 "Finish User Profile Page"
Things left to do :
- [x] Click on seach query should open the map view and search for the query
- [x] Edit search query (remove it, it's not actually a feature)
- [x] GUI : Seperate cards for every query

[2017-06-20 09:37] kapalex opened #453 "Add review page font is huge"
No idea why, but when entering it (at least on android) the font gets way bigger for no reason

[2017-06-20 09:38] kapalex opened #454 "After adding review the spinner doesn't disappear"
It shows the newly added review, but the spinner stays

[2017-06-20 09:40] ArthurSap commented on #454
Can you tell me what you did so I can recreate the bug? When I added a review the spinner disappeared.

[2017-06-20 09:42] kapalex commented on #454
What I did excatly :
1. go to "Kiryon Qiryat Bialik"
2. Click on "Ofer haKiryon"
3. Click on Nearby Places
4. Choose "WeShoes"
5. Click add review
6. Put content and 5 start rating
7. click add

At this point it goes to the previous menu and stays spinning

I did it through the "test" user

[2017-06-20 09:49] kapalex commented on #454
Also on android, if it matters

[2017-06-20 12:04] #452 closed, assigned to kapalex

[2017-06-20 18:05] koralchapnik commented on #453
Maybe check the css

[2017-06-21 09:06] ArthurSap commented on #454
Ok so this is a bit long..
It seems to happen while I'm trying to access the user's information (to get the username to be specific) in `reviews.ts` by using `userInformationService.getUserProfile()` (line 80). Next, it goes into `LoginService.java` to the `static UserInfo getUserInfo(String token)` method and here's the problem:
While executing `userInfo = Application.tokenToSession.get(token);`

[2017-06-21 09:41] yaelAmitay commented on #454
This is strange, user login relate to me so I'll look into it. Although it did work....

Yael

‫ב-21 ביוני 2017, בשעה 12:06, ‏‏Arthur Sap ‏<notifications@github.com> כתב/ה:‬

[2017-06-21 13:16] #361 closed, assigned to koralchapnik

[2017-06-21 13:17] #332 closed, assigned to koralchapnik

[2017-06-21 13:17] #321 closed, assigned to koralchapnik

[2017-06-21 13:17] #312 closed, assigned to koralchapnik

[2017-06-21 13:17] #311 closed, assigned to koralchapnik

[2017-06-21 14:02] koralchapnik opened #455 "need minor change in two DB methods"
in the DB methods:

-  mostHelpful(int n, ICallback<List<UserProfile>> callback)

- getTopRated(LatLng l, double radius, int n, ICallback<List<Location>> callback)

if n is bigger than the number of locations or users, just return the existing users/locations without throwing an exception

[2017-06-21 14:06] #445 closed, assigned to koralchapnik

[2017-06-21 15:07] kapalex commented on #455
Note that this is already the behaviour for mostHelful users, just the getTopRated need to be fixed

[2017-06-21 15:11] kapalex commented on #455
I just tested it out in the app for both locations and users and both work perfectly, returning the the amount of users\locs when n is bigger.
(Only problem I ran into is a spinner not disappearing on top rated location)
Note that I tested it on my phone with a version I put on it yesterday.
Either way the bug doesn't seem to be with me.

[2017-06-22 05:49] Kolikant commented on #448
It is catching the exception
Had it not caught and displayed it, you wouldn't see anuthing as the aerver would have crushed

Feel free to change the error message displayed to user to one of your liking

[2017-06-22 05:49] #448 closed, assigned to Kolikant

[2017-06-22 05:54] Kolikant commented on #446
As i've explained i believed it having the buttons to show how the oage should look would be the top priority if i wasn't able to finish the functionality .

Being atuck on just opening the search in mapview made it so i wasn't able to finish functionality as one part was missing

So rather than have buttons that don't look like they do anything though they do everything but the final step, i prin

[2017-06-22 05:54] #446 closed, assigned to Kolikant

[2017-06-22 05:55] Kolikant commented on #446
Then she / he would have just one thing to finish for the queries ro work

And would probably need to deletethe edit button aince thwy existed back when i thought it was better to haveunimplemented buttons than no buttona at all

[2017-06-22 14:30] kapalex commented on #446
Note that this was actually done by me in #452, and seems to work quite well

[2017-06-22 17:49] Kolikant commented on #446
Oh cheers mate! Good job

[2017-06-22 17:53] #455 closed, assigned to kapalex

[2017-06-22 17:58] yaelAmitay commented on #454
Well, I checked and the user is not null...
also if the user was null it would have trown exception.

So are you sure that the user was null? I just check and it wasn't

[2017-06-22 18:05] Kolikant commented on #446
You are the Zismaier to my Mozart

[2017-06-22 19:47] yaelAmitay commented on #226
i'm closing this issue and #227 because they are not important and not so usefull and we have more important tasks.

if time allows I'll reopen them...

[2017-06-22 19:47] #226 closed, assigned to yaelAmitay

[2017-06-22 19:47] yaelAmitay commented on #227
I'm closing this, see reason in #226

[2017-06-22 19:47] #227 closed, assigned to ArthurSap

[2017-06-22 22:17] JuanJenkinsBot opened #456 "SmartCity-Accessibility Server Side Unit Tests #975 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [yaelAmitay] 430a08843b4cb550f74636f06f147a985e1ee329 - change format to jpg #424

- [yaelAmitay] 8747f821c97818cd98dbef0da03ba343279622d6 - display image little change #424

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%

[2017-06-22 22:30] #456 closed, assigned to nobody

[2017-06-22 22:49] yaelAmitay opened #457 "display image of location"
display image of location in the location window.
the image will be taken from google it'll be the image of the specific lat lng.

[2017-06-23 14:12] #454 closed, assigned to ArthurSap

[2017-06-23 14:22] kapalex commented on #214
As we said when planning this, it isn't going to be a feature, but a possibility open for the future.

The way this could be enabled in the database is setting the String `DATABASE_CLASS` in Review Manager.  This could be set after the user logs in for the first time and chooses what type of disability he is interested in.  Every disability will be its own class, and this way we keep separate revi

[2017-06-23 14:22] #214 closed, assigned to kapalex

[2017-06-23 14:31] yaelAmitay commented on #447
also you can(if you want) move the client to it's userpage or to the map page after(and if) the upload was succesfull.

[2017-06-24 18:27] JuanJenkinsBot opened #458 "SmartCity-Accessibility Server Side Unit Tests #989 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [yaelAmitay] c774dfcea094b9408fac4050bc3fcf8bcbceead9 - fix profile users is not created

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/989/)

[2017-06-24 18:45] #458 closed, assigned to nobody

[2017-06-24 19:27] yaelAmitay opened #459 "Todo list/Bug list #2"
the previoud issue was getting too long so I'm adding the new bugs to a new issue.
this bug list is the bug list from whatsapp(the original list is by Alex).

also there are still 4 bugs in the old list (#396)

- [x]  CASE SENSITIVE in user anmde in login and signup. abd and Abd is not the same. - _it's okey that the user name is case sensitive. no bug here_

- [x] Complex search - the gui says it

[2017-06-24 19:30] yaelAmitay opened #460 "bug on uploading image"
when uploading an image, the user can see the new image in it's user page, but if he logged out and then login again the image is going back to the default image

[2017-06-24 19:31] yaelAmitay commented on #370
well unfortunately the group decided to give this up. so I'm closing it.

[2017-06-24 19:31] #370 closed, assigned to yaelAmitay

[2017-06-24 19:32] yaelAmitay commented on #424
there are a few bugs but I opened a new issue about them so I'm closing this one.

[2017-06-24 19:32] #424 closed, assigned to yaelAmitay, koralchapnik

[2017-06-24 19:35] yaelAmitay opened #461 "uploading image allows only jpg"
uploading image allows only jpg, right now we only allows uploading a jpg image.
so we should tell the user if he's trying to upload an image that is not jpg.

- [x] I(Yael) will throw exception from the server side telling the user that the format is wrong

- [x] @koralchapnik   will alert the user in the client side.

- [x] check that it's working on android

[2017-06-24 19:51] Kolikant commented on #459
It seems that nothing mentioned here is under classess or pages under my jurosdiction

[2017-06-24 20:00] kapalex commented on #459
Edited a bit to remove things I already took care of since we made this list and were marked in #396

[2017-06-25 00:34] #460 closed, assigned to yaelAmitay

[2017-06-25 17:40] #417 closed, assigned to koralchapnik

[2017-06-25 17:40] #447 closed, assigned to koralchapnik

[2017-06-26 13:36] yaelAmitay commented on #457
done

[2017-06-26 13:36] #457 closed, assigned to yaelAmitay

[2017-06-26 13:37] yaelAmitay commented on #318
done in #457 , the image are taken from google

[2017-06-26 15:52] ArthurSap commented on #459
Please verify for me that leaving a comment on a review doesn't keep the spinner stuck anymore.

[2017-06-27 11:39] #461 closed, assigned to yaelAmitay, koralchapnik

[2017-06-27 11:39] yaelAmitay commented on #459
@ArthurSap the spinner on comments doesn't stuck anymore :)

[2017-06-27 15:59] koralchapnik opened #462 "Add authors to client side"
add authors to files you have written in the client side.
most of the files in server side are documented but if you forgot to add author then add it too.

mark and unassign yourself when you're done:

- [x] yael

- [x] ariel

- [x] arthur

- [x] alex

- [x] koral

[2017-06-27 17:51] kapalex commented on #462
My job on the client side was mostly changing other peoples pages (mostly design, some others) so I didn't author any

[2017-06-28 16:40] JuanJenkinsBot opened #463 "SmartCity-Accessibility Server Side Network Tests #347 failed"
Build 'SmartCity-Accessibility Server Side Network Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [yaelAmitay] d32cf35b0d4849f2f27cacc9d01e8ddcbfb1fd19 - set default value to rating #459

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Network%20Tests/347/)

[2017-06-28 17:02] #463 closed, assigned to nobody

[2017-06-28 17:09] yaelAmitay commented on #462
to the *.ts only or to the html as well?

[2017-06-28 17:10] koralchapnik commented on #462
HTML as well

On Jun 28, 2017 20:09, "yaelAmitay" <notifications@github.com> wrote:

[2017-06-28 17:37] koralchapnik opened #464 "Raise coverage"
add test to the Admin Service

[2017-06-28 18:23] #464 closed, assigned to koralchapnik

[2017-06-28 21:12] #462 closed, assigned to nobody

[2017-06-28 21:44] #439 closed, assigned to ArthurSap

[2017-06-28 21:44] #440 closed, assigned to ArthurSap

[2017-06-30 10:39] yaelAmitay commented on #396
Done :)

[2017-06-30 10:39] #396 closed, assigned to kapalex, yaelAmitay, koralchapnik

[2017-06-30 13:11] JuanJenkinsBot opened #465 "SmartCity-Accessibility Server Side Unit Tests #1048 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [yaelAmitay] a9eb53824bdc366dfa78c614d2abe6c5ee50b9fc - fix bug in get non acceissable location in DB

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/1048/)

[2017-06-30 13:20] #465 closed, assigned to nobody

[2017-06-30 13:34] JuanJenkinsBot opened #466 "SmartCity-Accessibility Server Side Unit Tests #1051 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Ariel Kolikant] d8f858839bb9797a261749de5a9f52a8846dbb16 - finished pagra and came to make sure that changes to search queries

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/1051/)

[2017-06-30 13:41] #466 closed, assigned to nobody

[2017-06-30 13:44] yaelAmitay commented on #453
fixed

[2017-06-30 13:44] #453 closed, assigned to ArthurSap

[2017-06-30 13:48] #209 closed, assigned to yaelAmitay

[2017-07-01 11:22] koralchapnik commented on #459
when I've logged in as admin, and did like and then dislike to some review, the spinner didn't disappear.
@ArthurSap please pay attention

[2017-07-02 07:48] #262 closed, assigned to ArthurSap

[2017-07-02 08:18] yaelAmitay opened #467 "Known Bugs"
this is a list of known bugs or issues in our application:

1. Our application is slow. some of the features might take a while.(navigation, some of admin features, login and so on) the reason is that we are using a free DB(parse) so the responding time is long.
therefor you might need to wait a few minutes for some opertaion. for example navigation might take a few minute(we have to look at all t

[2017-07-02 08:22] kapalex commented on #467
about 1 : A free DB hosted on a FREE hosting service, which provides about one core of cpu and 500 mb of ram, it works but slowly

[2017-07-02 08:26] #459 closed, assigned to kapalex, ArthurSap, yaelAmitay, koralchapnik

[2017-07-02 09:43] yonzarecki opened #468 "How can I install the project as a user ?"
How can I use the project as a client ?
Do I have to install everything as a developer just then use it ?

[2017-07-02 09:44] koralchapnik commented on #468
no, the apk is in the playstore

[2017-07-02 09:45] yonzarecki commented on #468
Great! I didn't see that written there.

[2017-07-02 09:45] #468 closed, assigned to nobody

[2017-07-02 09:48] yonzarecki commented on #468
Maybe its a good idea to add that there, I had no idea what app it was until I saw the screenshots.

[2017-07-02 09:50] NivShalmon opened #469 "please give me write access to write a report wiki"

[2017-07-02 09:52] SharonKL commented on #469
+1

[2017-07-02 09:54] kapalex commented on #469
Done

[2017-07-02 09:54] #469 closed, assigned to nobody

[2017-07-02 09:54] kapalex commented on #468
There is a link in the readme, and also at the end of the developer instructions

[2017-07-02 09:57] NivShalmon commented on #469
I still don't have write access

[2017-07-02 10:08] IdanAtias opened #470 "Main screen showing "Loading Map" endlessly..."
![image](https://user-images.githubusercontent.com/12379320/27768899-6c3801ae-5f27-11e7-9684-306938cab466.png)

[2017-07-02 10:10] koralchapnik commented on #470
turn the location on

[2017-07-02 10:10] Kolikant commented on #470
turn on gps and check wifi

[2017-07-02 10:10] ArthurSap commented on #470
turn on your GPS

[2017-07-02 10:11] KaplanAlexander commented on #470
turn on your GPS

[2017-07-02 10:11] SharonKL commented on #470
Turn on GPS

[2017-07-02 10:12] IdanAtias commented on #470
GPS is on and also Wifi.
What am i missing?

[2017-07-02 10:13] yaelAmitay commented on #470
close and reopen the app

[2017-07-02 10:14] IdanAtias commented on #470
Same...
Maybe I'll try with the 4G instead of WiFi?

[2017-07-02 10:15] yaelAmitay commented on #470
it might be problem with slow wifi

[2017-07-02 10:15] IdanAtias commented on #470
or maybe i need to be outdoors for the gps to "work"?

[2017-07-02 10:16] yaelAmitay commented on #470
it works indoors, try to switch to another wifi network

[2017-07-02 10:22] IdanAtias commented on #470
tried both with TechPublic & StudentsWiFi. Remains the same...

[2017-07-02 10:22] SharonKL opened #471 "[minor] Typo in Start Navigation button"
Very minor - says "STARTNAVIGATION" instead of "START NAVIGATION"

[2017-07-02 10:24] yaelAmitay commented on #470
you can install ionic and run the project on your computer and use the **_cable internet_**

[2017-07-02 10:25] yaelAmitay commented on #470
you can find installation instructions [here](https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Developer-installation-instructions)

[2017-07-02 10:28] IdanAtias commented on #470
Ok i'll try it

[2017-07-02 10:33] inbalzukerman commented on #470
It still doesn't work for me...

[2017-07-02 10:35] inbalzukerman opened #472 "Non informative error alerts"
errors pop ups are not informative enough -
"error: undefined"
" Illegal address" (I live there, I hope it is legal 😅  )

[2017-07-02 10:38] yaelAmitay commented on #471
I fixed it but you won't see the fix cause it's on the git and you use the apk before the fix

[2017-07-02 10:39] yaelAmitay commented on #472
@Kolikant , @koralchapnik

[2017-07-02 10:39] koralchapnik commented on #472
what address did you entered ?
and where ?

[2017-07-02 10:39] Kolikant commented on #472
are you sure! that your house exists?

[2017-07-02 10:40] yaelAmitay commented on #470
what kind of andorid do you have? whats your operation system? @inbalzukerman

[2017-07-02 10:41] yonzarecki opened #473 "bug: can't find navigation from current location to leumi bank"
I'm getting a "Bad request" when trying to use navigation to this location.
Its weird because it works fine on other locations, this is the only one I've tried that doesn't work.

Great app otherwise !

![image](https://user-images.githubusercontent.com/23148393/27769135-e6cdf37a-5f2b-11e7-91b1-c30501dac13a.png)

[2017-07-02 10:41] inbalzukerman commented on #472
Pretty sure 👍
It worked though on the 3rd try.. I had to enter a different address before

[2017-07-02 10:42] koralchapnik commented on #472
what is the address?

[2017-07-02 10:46] inbalzukerman commented on #472
The problem is not the address, it is the error pop ups..

[2017-07-02 10:47] yaelAmitay commented on #473
could be that a few things:
1. internet connection is bad -> try again
2. we already have some location in our db so might it's could not find an accessible route.

[2017-07-02 10:48] koralchapnik commented on #472
tell us what is the exact use case so we can see it in our phones

[2017-07-02 10:50] yonzarecki commented on #473
OK
I don't think this is an internet problem as other location work.
Maybe it really doesn't find a route.. idk
A more informative error message would be appreciated.

[2017-07-02 10:51] inbalzukerman commented on #472
1. Wait to the map to load
2. register
3. enter "Jerusalem, Moshe kol 64"

[2017-07-02 10:52] yaelAmitay commented on #473
noted! thank you for your contribution :)

[2017-07-02 10:53] NivShalmon commented on #472
The [error message](http://i65.tinypic.com/zlxamp.png) when trying to register an already existing user name suffers from the same issue

[2017-07-02 10:53] Kolikant commented on #472
wasn't able to recreate the problem.
probably some issue with the server, will need to change error to user to be more specific of this
thank you!

[2017-07-02 10:56] yaelAmitay commented on #472
@NivShalmon,  whats the problem with the massage in sign up? it tells you exactly  what the problem is.

[2017-07-02 10:59] NivShalmon opened #474 "navigation fails with odd message"
I picked a location inside the technion and asked for navigation to it, and got the following message:
![default](https://user-images.githubusercontent.com/18422810/27769239-6e04fe36-5f2e-11e7-89d4-0539065c7bed.jpg)

the location is around the student's union buidling according to the image shown. Tried with both 5 star requirement and 1 star requirement and got the same result. Currently in taub

[2017-07-02 11:00] NivShalmon commented on #472
@yaelAmitay in a sea of unrealted info. The message should be "username already taken" or something similar, not three lines in which the actual error is hidden

[2017-07-02 11:03] #473 closed, assigned to nobody

[2017-07-02 11:05] ArthurSap commented on #472
@NivShalmon This error could arise from several **different** problems hence the three lines, this is not a "sea of unrelated info" m8, but a sea of possibilities

[2017-07-02 11:06] yaelAmitay commented on #474
I agree it's odd explantion. It just couldn't find a route or you don't have interent connection.

try to navigate to place outside the technion.

[2017-07-02 11:07] NivShalmon commented on #472
@ArthurSap that makes this even worse. As a user, there is a huge difference between "use name already taken" to "connection failed". In the former I need to change my user name, while in the latter I simply need to try again with the same use name and password.

[2017-07-02 11:09] SharonKL opened #475 "Suggestion - have a button to center the map around your current location"
Similarly to waze and google maps, have a button that returns the focus of the map to your current location (just a QOL suggestion).

[2017-07-02 11:10] yaelAmitay commented on #472
@NivShalmon  okey we will take your note into consideration.

[2017-07-02 11:11] koralchapnik commented on #475
thanks for the offer :)
We have a tracking feature and we'll add this one too.

[2017-07-02 11:13] NivShalmon commented on #474
works when navigating outside of the technion

[2017-07-02 11:13] #474 closed, assigned to nobody

[2017-07-02 11:17] yaelAmitay commented on #474
okey the navaigation service that we use does not suppot routing inside the technion.
thank you for your contribution.

[2017-07-02 11:19] #471 closed, assigned to nobody

[2017-07-02 11:20] NivShalmon opened #476 "can we choose initial location to be current location in advanced search?"
didn't find any way to do that. also didn't find a way to choose a location from the map for the initial location.

[2017-07-02 11:23] yaelAmitay commented on #476
No we are not supporting this right now, but it's possible.
thank for your suggestion :)
@koralchapnik

[2017-07-03 09:49] SharonKL opened #477 "Custom location not showing when advance searching, but do show when I click on the map"
I tried adding a new location (a hotel in Taub) and by clicking on Taub, selecting "Nearby Locations" and then "Add New Location". When I try clicking on the map and search for Nearby Locations the taub hotel shows as expected, but when I try to do an Advanced Search and search for hotels around taub, the hotel doesn't show.

Any particular reason or is it a minor bug?

[2017-07-03 09:50] yaelAmitay commented on #477
@koralchapnik

[2017-07-03 09:50] ArthurSap commented on #477
It's because we can't have good things in taub

[2017-07-03 09:52] koralchapnik commented on #477
It was in the code and then the search took a **lot** of time because of the DataBase is very slow so we decided to remove it

[2017-07-03 09:53] koralchapnik commented on #477
I will add it again now

[2017-07-03 09:53] IdanAtias opened #478 "No signup button at main screen"
![image](https://user-images.githubusercontent.com/12379320/27787756-9edbb958-5fee-11e7-95ec-5676d260b700.png)

[2017-07-03 09:57] IdanAtias opened #479 "Error while trying to signup"
While running your app localy on my computer, I tried to signup with username "idan" and pass "1234" ad got this error:

![image](https://user-images.githubusercontent.com/12379320/27787866-04c4419a-5fef-11e7-8f2c-7dfc724ffec9.png)

[2017-07-03 09:57] yaelAmitay commented on #473
well apparently we had bug in getting the real error message  so it showed you the default message. I fixed it now.
you can only see the fix in git and not in the old apk.(ofcourse)

[2017-07-03 09:58] yaelAmitay commented on #474
well apparently we had bug in getting the real error message  so it showed you the default message. I fixed it now.
you can only see the fix in git and not in the old apk.(ofcourse)

[2017-07-03 09:59] yaelAmitay commented on #479
are you connected to the interent?

[2017-07-03 09:59] yonzarecki opened #480 "Application hangs when navigation to a far off location"
It tried navigating from the Technion to a street in tel aviv, and the application just hangs.
If this is too much calculations, you can disable navigations to such far off locations. No one will walk that far anyways.
![image](https://user-images.githubusercontent.com/23148393/27787998-8847f188-5fef-11e7-94ea-b86a887a55de.png)

[2017-07-03 10:00] yaelAmitay commented on #478
when pushing login you can see the signup button. this is the layout of our application.
but we see your point and we will take it into consideration. thank you.

[2017-07-03 10:02] yonzarecki commented on #473
Great !

[2017-07-03 10:02] yaelAmitay commented on #480
Our application is slow because we are using free DB.
and of course for long routes the calculation takes time.
we can block long route. we need to think about it as a group.
thank you for your suggestion :)

[2017-07-03 10:02] IdanAtias commented on #479
![image](https://user-images.githubusercontent.com/12379320/27788101-ea6043e8-5fef-11e7-9a3a-d185b5f61b83.png)

[2017-07-03 10:04] yaelAmitay commented on #479
can you try again? Looks like this message appear if the application can't access the server.
maybe you have slow connection and the application had timeout

[2017-07-03 10:05] yaelAmitay commented on #470
can we close it? everybody managed to see the map?

[2017-07-03 10:05] yonzarecki commented on #480
OK, understandable.
Closing.

[2017-07-03 10:06] IdanAtias commented on #479
if that is the case then maybe the "error" popup should be more informative, and contain the error reason.
Anyway, i'll check it again - tnx.

[2017-07-03 10:06] inbalzukerman commented on #470
Yep, sorry for not answering before, didn't get the notification on a new comment 😕

[2017-07-03 10:06] #480 closed, assigned to nobody

[2017-07-03 10:08] yaelAmitay commented on #479
you are right, right now we are not telling our costumer if there are problems in the network connection .
We cannot fix it right away, we think we can fix it but not in a short amount of time.
thank you for your contributaion. please let us know if you this message keeps showing up.

[2017-07-03 10:09] #470 closed, assigned to nobody

[2017-07-03 10:10] #478 closed, assigned to nobody

[2017-07-03 10:11] JuanJenkinsBot opened #481 "SmartCity-Accessibility Server Side Unit Tests #1078 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [KoralChapnik] d9466fda9e135b2b184ec9270f3a869272ee03cb - done #447

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/1078/)

[2017-07-03 10:19] #475 closed, assigned to nobody

[2017-07-03 10:20] #481 closed, assigned to nobody

[2017-07-03 10:23] yaelAmitay commented on #472
we changed the error msg of failed signup a little. thank you for your contribution.

[2017-07-03 10:23] #472 closed, assigned to nobody

[2017-07-03 10:47] yonzarecki opened #482 "Login and Sign-up stopped working"
I've tried logging in using both faculty internet and cellular internet and it doesn't work.
Still it's probably an issue with the server or internet connection.
![image](https://user-images.githubusercontent.com/23148393/27789684-2921821c-5ff6-11e7-94e7-32f6943f9ea7.png)

[2017-07-03 10:49] Kolikant commented on #482
yes, the problem is the internet :\
I have fast response from my 4G internet, but the other group members using wifi in the group also have difficulties now

[2017-07-03 10:55] Kolikant commented on #477
was fixed, thank you

[2017-07-03 10:55] #477 closed, assigned to nobody

[2017-07-03 10:56] #476 closed, assigned to nobody

[2017-07-03 11:14] yonzarecki commented on #482
Too bad.. I can't continue checking the project :(

[2017-07-03 11:18] IdanAtias opened #483 ""Go back to map" should me in a more reachable place"
Took me some time to find out that it's location is shown only after clicking the "hamburger".
![image](https://user-images.githubusercontent.com/12379320/27790755-91252680-5ffa-11e7-90f8-d8f3af6c9114.png)

![image](https://user-images.githubusercontent.com/12379320/27790773-ac2d32f6-5ffa-11e7-9cf1-bcc77093189a.png)

[2017-07-03 11:19] yaelAmitay commented on #482
We know but we don't have control over the quality of the internet in the faculty

[2017-07-03 11:21] IdanAtias opened #484 "Error msg while trying to "Strat Navigation""
After choosing location in the map i got the following screen:
![image](https://user-images.githubusercontent.com/12379320/27790815-d7ee7062-5ffa-11e7-9843-207799dbf163.png)

and after clicking start navigation i got this:
![image](https://user-images.githubusercontent.com/12379320/27790828-ea0ab792-5ffa-11e7-9b7e-d67e4f66c027.png)

[2017-07-03 11:21] yaelAmitay commented on #483
Right now it's in the menu (the button map).
this was our desgin choice.
but we will take your note under consideration. thank you :)

[2017-07-03 11:21] #483 closed, assigned to nobody

[2017-07-03 11:24] yaelAmitay commented on #484
this is a wifi problem. as I explained #479

[2017-07-03 11:24] #484 closed, assigned to nobody

[2017-07-03 11:24] #479 closed, assigned to nobody

[2017-07-03 12:22] #482 closed, assigned to nobody

[2017-07-11 09:35] Kolikant commented on #10
13: (after I have finished the pagra there were two mor days until the ned of the semester!) change the look of my pages to fit the one decided when I was on pagra, commenting out the queries as loading the map (for activating them calls the map page) took too long (other than the first load, the map took several minutes to load, making it preferable to just go to the original map manually and sea

[2017-07-15 09:37] yossigil commented on #10
:+1: