[2016-11-18 05:31] zvili opened #1 "Telegram group"
_From @zvili on November 16, 2016 17:56_

_Copied from original issue: TechnionYP5777/SmartCity-ParkingManagement-A#1_

[2016-11-18 05:31] zvili commented on #1
- Please define a Telegram group
- Send us your chosen users in Telegram
- Choose a group leader and share with us her/his user name.

[2016-11-18 05:31] zvili commented on #1
This issue was moved to TechnionYP5777/SmartCity-ParkingManagement-B#2

[2016-11-18 05:31] zvili commented on #1
This issue was moved to TechnionYP5777/SmartCity-Accessibility-A#1

[2016-11-18 09:59] zvili opened #2 "Tutorial/Social: Karma, accountability, and personal responsibility"
_From @yossigil on October 6, 2016 16:50_

# Buzzwords
- **Karma**: This is how well you cooperate with others and with team work. (May be tied with your grade, if you are a student)
-  **Accountability**: There is an individual in charge of every piece of code
- **Personal responsibility**: You identify your work as yours
# Rules
1. You do not write code unless you deal with an open issue (open o

[2016-11-18 09:59] zvili commented on #2
This issue was moved to TechnionYP5777/Info-Evaluation#2

[2016-11-22 14:02] Kolikant opened #3 "Add Kolikant to the project"
need to add me to the project :)

[2016-11-22 14:06] kapalex commented on #1
https://telegram.me/KaplanAlexander

[2016-11-22 14:06] Kolikant commented on #1
https://telegram.me/Kolikant

[2016-11-22 14:06] yaelAmitay commented on #1
https://telegram.me/yaelAmitay

[2016-11-22 14:08] assaflu commented on #1
https://telegram.me/AssafLustig

[2016-11-22 14:11] kapalex commented on #1
< Group leader

[2016-11-22 14:16] ArthurSap commented on #1
https://telegram.me/ArthurSap

[2016-11-22 14:21] koralchapnik commented on #1
https://telegram.me/skoralch

[2016-11-22 15:00] kapalex opened #4 "Write a short comparison between both available Geo APIs for next meeting"
Google maps API for the map
(available for java via [this](https://github.com/googlemaps/google-maps-services-java))

-Or-

[Geotools](http://www.geotools.org/)

[2016-11-22 15:31] yaelAmitay opened #5 "Meeting Number 1"
**Meeting Number 1**
Attendants: everyone (Ariel, Alex, Yael, Koral, Arthur, Assaf)

-Opened a telegram group and added the mentors.

-Chose Alex as group leader

-Started adding features that we want to have in the project into project columns.

-Suggested GeoTools as an API for using maps. Or this https://github.com/googlemaps/google-maps-services-java

-Start working on the draft of the first r

[2016-11-22 15:59] #3 closed, assigned to nobody

[2016-11-22 16:02] #5 closed, assigned to nobody

[2016-11-23 08:00] zvili opened #6 "Karma and Todos for Koral Chapnik"
_From @koralchapnik on October 31, 2016 13:34_

- [x]  Use a picture, photo or distinct, familiar, personal
avatar. Don't use an automatic icon (we need this to be able to identify you in the tens of students we have):
- [x] Present yourself by a not too rude **nick**
- [x]  Describe yourself in the bio page; FYI, here is my description:
- [x]  State that you are (not) in search for a job, i.e., m

[2016-11-23 08:00] zvili commented on #6
_From @koralchapnik on October 31, 2016 13:38_

@orimarco : Done

[2016-11-23 08:00] zvili commented on #6
_From @RoeyMaor on October 31, 2016 15:42_

wonderful.
#670

[2016-11-23 08:00] zvili commented on #6
_From @mdoron on October 31, 2016 20:27_

One of a kind.
Check mine (#709) out, but it would never be as good as yours.

[2016-11-23 09:45] yossigil commented on #4
@zvili, @idabran this issue has no milestone, nor assiggnee. I presume @KaplanAlexander is the assignee.

[2016-11-23 15:24] kapalex commented on #4
We have not yet set the planned milestone for the project, when we do we shall update this issue accordingly.
I've assigned this to me now

[2016-11-24 08:01] zvili opened #7 "Karma and Todos for Yael Amitay"
_From @yaelAmitay on October 30, 2016 20:22_

- [x]  Use a picture, photo or distinct avatar. Don''t use an automatic icon:
- [x]  Make sure you present yourself by a readable **nick**
- [x]  Describe yourself in the bio page; FYI, here is my description:
- [x]  State that you are (not) in search for a job, i.e., mark, or unmark this box:
- [x]  State that you are (not) in search for a job, i.e.,

[2016-11-24 08:01] zvili commented on #7
_From @yaelAmitay on October 30, 2016 20:28_

@YossiGil: Done.

[2016-11-24 08:01] zvili commented on #7
_From @tomerdragucki on October 30, 2016 21:0_

Nice Karma page! I hope Economics exam was good 💯

[2016-11-24 08:01] zvili commented on #7
_From @yossigil on October 31, 2016 0:25_

Good job. Keep the page open

[2016-11-24 08:01] zvili commented on #7
_From @Shahar-Y on October 31, 2016 8:38_

Great karma page!
BTW, I have failed to find schizophrens who contributed to the mankind.
You win :(
#665 and stuff..

[2016-11-24 08:01] zvili commented on #7
_From @yaelAmitay on October 31, 2016 10:34_

@Shahar-Y  thanks but i didn't said that...

[2016-11-24 08:01] zvili commented on #7
_From @inbalzukerman on October 31, 2016 13:24_

Nice Karma page 😄 😘
Check mine: #684

[2016-11-24 08:01] zvili commented on #7
_From @yossigil on November 10, 2016 12:47_

Add quality assurance label

[2016-11-24 08:07] zvili opened #8 "Karma and Todos for Arthur Sapozhnikov"
_From @ArthurSap on October 30, 2016 19:38_

- [x]  Use a picture, photo or distinct avatar. Don''t use an automatic icon:
- [x]  Make sure you present yourself by a readable **nick**
- [x]  Describe yourself in the bio page; FYI, here is my description:
- [x]  State that you are (not) in search for a job, i.e., mark, or unmark this box:

_Copied from original issue: SpartanRefactoring/Spartanizer

[2016-11-24 08:07] zvili commented on #8
_From @ArthurSap on October 30, 2016 19:42_

@YossiGil: Done.

[2016-11-24 08:07] zvili commented on #8
_From @yaelAmitay on October 30, 2016 20:31_

Arthur, I like your page! :]
here's my karma page: #652

[2016-11-24 08:07] zvili commented on #8
_From @RoeiRaz on October 31, 2016 6:43_

Arthur, this karma page is the best achievement in your life so far. Good job!

[2016-11-24 08:07] zvili commented on #8
_From @yossigil on October 31, 2016 6:56_

I hope not 😃

[2016-11-24 08:07] zvili commented on #8
_From @Shahar-Y on October 31, 2016 8:35_

Arthur, great karma page! visit mine at #665

[2016-11-24 08:09] zvili opened #9 "Karma and Todos for Assaf Lustig"
_From @assaflu on October 30, 2016 18:17_

- [x]  Use a picture, photo or distinct avatar. Don''t use an automatic icon:
- [x]  Make sure you present yourself by a readable **nick**
- [x]  Describe yourself in the bio page; FYI, here is my description:
- [x]  State that you are (not) in search for a job, i.e., mark, or unmark this box:

_Copied from original issue: SpartanRefactoring/Spartanizer#6

[2016-11-24 08:09] zvili commented on #9
_From @assaflu on October 30, 2016 18:23_

@yossigil : Done. I can't assign myself

[2016-11-24 08:10] zvili commented on #9
_From @DavidCohen55 on October 30, 2016 18:36_

![bitmoji](https://render.bitstrips.com/v2/cpanel/8139922-202779545_1-s4-v1.png?transparent=1&width=246)
nice page

I would appreciate feedback on my page #639

[2016-11-24 08:10] zvili commented on #9
_From @rodedzats on October 30, 2016 21:0_

Very nice page assaf. come to my page #656

[2016-11-24 08:10] zvili commented on #9
_From @tomerdragucki on October 30, 2016 21:4_

Hi Assaf! What a nice Karma page you got.
Come visit mine at #655
🍾

[2016-11-24 08:10] zvili commented on #9
_From @yossigil on November 6, 2016 16:23_

Bad:

You did not assign yourself,
No labels
No milestone
You did not edit the issue

Poor job.

Correct completely. Don't mention me until you have corrected all this.

[2016-11-24 08:10] zvili commented on #9
_From @assaflu on November 7, 2016 13:42_

@yossigil Done.

[2016-11-24 08:38] zvili opened #10 "Karma and Todos for Ariel Kolikant"
_From @Kolikant on October 27, 2016 10:28_

- [x]  Use a picture, photo or distinct avatar. Don''t use an automatic icon:
 - [x]  Make sure you present yourself by a readable **nick**
- [x]  Describe yourself in the bio page; FYI, here is my description:
- [x]  State that you are (not) in search for a job, i.e., mark, or unmark this box:

[2016-11-24 08:38] zvili commented on #10
_From @Kolikant on October 27, 2016 10:30_

@YossiGil: Done.

[2016-11-24 08:38] zvili commented on #10
_From @KaplanAlexander on October 27, 2016 10:35_

Love what you've done with the place
Is that a new plant?
Can I get some of that karma now?

[2016-11-24 08:38] zvili commented on #10
_From @zahimizrahi on October 28, 2016 6:46_

Good job! You are gonna be the master of github!

I would like to get some karma too.

[2016-11-24 08:38] zvili commented on #10
_From @yossigil on October 28, 2016 7:16_

1. Keep this open
2. Edit the content of the main issue, to remove the junk. Just leave the checked todos in it.
3. Assign yourself if you haven't done so yet.
:+1:

[2016-11-24 08:38] zvili opened #11 "Karma and Todos for Alexander Kaplan"
_From @KaplanAlexander on October 27, 2016 10:27_

- [x]  Use a picture, photo or distinct avatar. Don''t use an automatic icon:
- [x]  Make sure you present yourself by a readable **nick**
- [x]  Describe yourself in the bio page; FYI, here is my description:
- [x]  State that you are (not) in search for a job, i.e., mark, or unmark this box:
- [x]  State that you are (not) in search for a job, i

[2016-11-24 08:38] zvili commented on #11
_From @KaplanAlexander on October 27, 2016 10:28_

@yossigil : Done.

[2016-11-24 08:38] zvili commented on #11
_From @Kolikant on October 27, 2016 10:35_

OMG!
this is the best karma page I've ever seen!
hope for a great semester for us both, would love if you visit my karma page too

[2016-11-24 17:18] zvili opened #12 "User stories review"
Please schedule a meeting, next week, with Itay and myself to review and prioritize your user stories.
@idabran - fyi

[2016-11-24 17:52] kapalex commented on #12
We are all avilable on tuesday at 16:30 (The scheduled lecture time)
Is that ok by you? @zvili @idabran

[2016-11-24 17:56] zvili commented on #12
@zvili - ok with me. Lets meet in Taub 5
@idabran - ?

[2016-11-26 21:55] yaelAmitay opened #13 "Draft of the "readme" file"
This issue is a draft of the readme file. i.e. this is a draft of the project  report.

**Introduction**
This project is designed to help navigate the city taking to consideration acceptability. The main features would include:
1.	A social network for ranking and reviewing of different street sections and buildings. User rating will effect if a street section and/or building would be considered ac

[2016-11-27 04:24] yossigil commented on #13
Move the contents into a wiki page or README.md

[2016-11-27 08:17] idabran commented on #1
How come this issue is still open #6 karma--

[2016-11-27 08:18] idabran commented on #1
@KaplanAlexander as group leader you should have assigned yourself or some of us 👎

[2016-11-27 08:21] idabran commented on #13
issue should be formulated as a task to do, not as an amorphic idea.
Issue should sthouil start and end, and not just lurk in the air for someone to look at it.

Please rephrase as a task/something to do, and close when it is done.

[2016-11-27 08:22] #1 closed, assigned to kapalex

[2016-11-27 08:24] kapalex commented on #13
moved to readme.md

[2016-11-27 08:24] #13 closed, assigned to kapalex, ArthurSap, assaflu, Kolikant, yaelAmitay, koralchapnik

[2016-11-27 08:26] idabran commented on #4
so, please set a milestone, and labels, you know the drill, and you should not wait for us

[2016-11-27 10:37] yossigil commented on #4
How do we know that this issue is done?

The issue should be "Write a short report on adequability of x for y'

[2016-11-27 10:45] yossigil commented on #1
:+1:

[2016-11-29 09:41] kapalex commented on #4
Another possible solution [JxMaps](https://www.teamdev.com/jxmaps)

[2016-11-29 14:06] kapalex commented on #4
Decided on JxMaps -
- Provides a full solution to our problem
- Very simple java integration
- Free academic version available

[2016-11-29 14:06] #4 closed, assigned to kapalex

[2016-11-29 15:13] koralchapnik opened #14 "The client activates the application, a map is shown."
The basic idea is imitating google maps
the initial map will not show any reports, just the map it self
you can move to map by dragging
* possibly zoom in out

[2016-11-29 15:17] koralchapnik opened #15 "Users can comment if a certain place is accessible, inaccessible, or somewhere in between"
a comment will be a trinary indicator (bad, good, medium)
comment will be marked on the map with some color scheme (red, green, yellow?)

[2016-11-29 15:17] koralchapnik opened #16 "Users can upvote or downvote a certain review"
for reviews for a certain location ( #21 ) , a user can upvote or downvote to mark his agreement or disagreement with this review
sum of upvote and downvote will be shown on the review
includes not letting a client(non signed-up user) do this

[2016-11-29 15:17] koralchapnik opened #17 "Users can search for a certain facility (Cafe, hotel, etc.) of a certain accessibility rating"
This will be an extension to the search bar functionality ( #28 )
when searching user will be given an option to filter by accessibility rating

[2016-11-29 15:18] koralchapnik opened #18 "Client can sign up to become a user (User leave reviews, like, etc.)"
A client can sign up (using some interface) to become a user
user (unlike regular clients) can leave reviews and like other reviews

[2016-11-29 15:18] koralchapnik opened #19 "Users can navigate to facilities"
Navigation is based on the most accessible route available
the second criteria for navigation will be quickest route by google maps API

[2016-11-29 15:21] koralchapnik opened #20 "Admin Account exists"
- An admin user exists to control and modify information displayed to users (delete misleading info etc.)

[2016-11-29 15:23] koralchapnik opened #21 "User can leave rating of routes and buildings"

[2016-11-29 15:27] koralchapnik opened #22 "Users can leave reviews of road's and building's accecibility"
There are two kinds of objects that can be reviewd : roads and buidings.
The users can leave reviews and rating about the object's accessibility.
Moreover, the user can only rate the object's accessibility by leaving an empty review,
i.e an empty review means only rating comment

[2016-11-29 15:30] koralchapnik opened #23 "Create skeleton"
Create stubs, classes and interfaces.
Shared with all the group members.

[2016-11-29 15:32] koralchapnik opened #24 "Show client the reviews"
given a point in the map the user can view the all the reviews for the point reviews

[2016-11-29 15:34] koralchapnik opened #25 "Choose and Calculate best n reviews for rating"
Given a point in the map the user can get the best n reviews and see the total rating of the point.
(Decide n's value by the issue's assignee)

[2016-11-29 15:38] koralchapnik opened #26 "Users can report unexpected incidents"
Given a point in the map the user can report unexpected incidents in the map.
Unexpected incidents is a temporary incidents  in the routes. Like a building site in the middle of the road. etc.
Also user can unreport an unexpected incident.

[2016-11-29 15:49] #12 closed, assigned to kapalex, ArthurSap, assaflu, Kolikant, yaelAmitay, koralchapnik

[2016-11-29 16:02] kapalex commented on #23
Planned for next meeting Monday 5.12 14:30

[2016-12-03 13:47] Kolikant opened #27 "Meeting with the mentors"
Meeting summary of yearly project:
Recorder of meeting: Koral Chapnik
Translater to English: Ariel Kolikant
Purpose of the meeting: go over the user stories that relate to the entire project (both semesters)
The first sprint ends in a week, meening that in a week the mentors wish to see UC ,to be implemented this semester, as issuese, assigned to a person.
At 23.1 sprint 2 is over.
The division to

[2016-12-03 13:47] #27 closed, assigned to nobody

[2016-12-05 13:49] yossigil commented on #21
No progress for six days @assaflu !!!
no description @koralchapnik !
no  milestone @koralchapnik
wrong label @koralchapnik do not mistake a label for a milestone.

FYI: @zvili @idabran @AdiOmari @orimarco @yh-github

[2016-12-05 13:50] yossigil commented on #14
@KaplanAlexander  a title is not enough. We expect a good description.

@idabran @zvili

[2016-12-05 14:49] kapalex opened #28 "Create search bar for the map"
in the search bar you can search for location, the location will be looked up with the google maps API

[2016-12-05 14:54] kapalex opened #29 "Make the map clickable"
on click some interface will be shown to the user with his available options

[2016-12-05 14:58] kapalex opened #30 "The map shows points of interest nearby in the map"
for example if im looking at my location on map I will see coffee shops, hotels, etc. nearby
the points will be clickable and open an interface for possible actions (similar to #29 )

[2016-12-05 15:07] assaflu commented on #21
Closed issues, because issues #22 includes it in him.

[2016-12-05 15:07] #21 closed, assigned to nobody

[2016-12-05 15:09] assaflu commented on #15
Closing the issues. This issues is included in issues #22

[2016-12-05 15:09] #15 closed, assigned to nobody

[2016-12-05 15:11] yaelAmitay opened #31 "Admin define an unexpected event as a constant."
The admin user can set a reported incident to become a constant review of a location.
This means the incident is no longer temporary (wont be removed after an expiration time, cannot be reported as irrelevant by users)
The admin should have an interface to do this action.
Relates to #26

_moved out of sprint 2 and is closed until relevant again_

[2016-12-05 15:14] yaelAmitay opened #32 "Admin can delete misleading information"
Admin has the option to delete reviews that are misleading.
Need to build an interface that allows the logged in admin user to delete resources (Reviews for example) as he sees fit.
This option should not be accessible to regular users.
#20

[2016-12-05 15:22] Kolikant opened #33 "Set up database"
we need to set up a database to contain information for all users
this includes setting up an interface to communicate with an online database
Includes setting up a Parse server and a class to control that database from within out project.

[2016-12-05 15:25] Kolikant opened #34 "Create login menu"
users and admin login to their profiles to receive access to their profile
paaswords
no two users can have the same username

[2016-12-05 15:27] yaelAmitay opened #35 "Save reviews in the database"
Create and save user's reviews in specific database

[2016-12-05 15:27] kapalex opened #36 "Save user info in the database"
once signed up users info will be stored in the database
when logging in the users will be restored from the database
#18

[2016-12-05 15:36] kapalex commented on #26
moved to next sprint

[2016-12-05 15:36] #26 closed, assigned to nobody

[2016-12-05 18:25] yossigil commented on #33
Make sure you define a clear deliverable.

[2016-12-05 18:27] yossigil commented on #32
I am not sure I understand what the deliverable here is...

[2016-12-05 18:28] yossigil commented on #31
I am not sure I understand what the deliverable here is...

[2016-12-05 18:59] kapalex commented on #32
Clarified a little bit in the comment body

[2016-12-05 18:59] kapalex commented on #31
This issue was part of a bigger feature that was moved out of spring 2 and this issue was support to be closed for now

[2016-12-05 19:01] yossigil commented on #31
I still do not understand this issue.

[2016-12-05 19:09] kapalex commented on #31
Added additional info, the issue was overlooked as we were focusing on the current sprint

[2016-12-05 19:09] #31 closed, assigned to assaflu

[2016-12-05 19:10] kapalex commented on #23
Delayed to 6.12 16:30

[2016-12-05 19:16] yossigil commented on #23
You cannot have six assignees to one vague issue. I am closing this. This is too vague.
You can assign a specific issue to one/two people.

You cannot postpone planning to sprint 2. #11

@idabran @zvili @yh-github @orimarco @AdiOmari

[2016-12-05 19:16] #23 closed, assigned to kapalex, ArthurSap, assaflu, Kolikant, yaelAmitay, koralchapnik

[2016-12-08 14:44] yaelAmitay opened #37 "Question about using local map"
Is it okay by all of you, if the map will be local?
I mean the search and the navigation options will be available only for one city or couple of neighborhoods.
this issue is relate to #19 .

[2016-12-08 15:03] Kolikant commented on #37
Absolutely,  as long as you make sure that it is scalable.
We will be needing it for demonstrations at first anyways :)

[2016-12-08 15:08] koralchapnik commented on #37
Sure.
There is no need at that point to have more than once city in the map.
It will be better for us to start in one city and later on enhance it.
Thanks for consulting us :)

[2016-12-08 15:17] yaelAmitay commented on #37
closed for now. First we need to discuss another issue.

[2016-12-08 15:17] #37 closed, assigned to yaelAmitay

[2016-12-08 15:29] yaelAmitay opened #38 "Question about using mapquest"
As I suggest in the wiki page in solution number 3(https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Team-Navigation-Meeting) we can use the service mapquest.
https://developer.mapquest.com/products
this service provide simple REST API for routing and using maps.

pros of using this service:
- the service does exactly what we need. It allows us to get routes from location A to locatio

[2016-12-08 15:45] kapalex commented on #38
I think the best solution is to use 3 as the solution for navigation, while still using JxMaps  as the general map service api.

JxMaps offers the entire gui solution we require in addition to support for google maps api search queries.
Since it does not offer a solution to navigation issue while avoiding routes, for this specific issue of navigation we can call an external api (MapQuest)

MapQues

[2016-12-08 16:45] yaelAmitay commented on #38
But, it means that all we are going to do is use REST requests. The navigation was supposed to be our main logic in the project.
In addition we are limiting our possibilities to add features to the navigation in the future, because we can't provide to our client something that MapQuest isn't providing.
Therefore i think we should use solution number 2.

[2016-12-08 17:02] kapalex commented on #38
I'm not sure I fully understand solution number 2.
Would it require (in the long run) to transform the entire map to our own?
Doesn't that seem redundant for the project we are attempting to achieve to have its own map ?(even if we will only develop a POC map)
Personally I think this solution will require even more work that isn't directly related to out project than solution 3, and that doesn't s

[2016-12-08 17:04] yossigil commented on #38
Good discussion

[2016-12-08 17:11] yaelAmitay commented on #38
Yes, it means we are going to save our own version of the map, we can still use JXMap for the GUI and getting locations from the user.
I don't think it's unusual for the Smart City to own it's own copy of the map.
And  as I said I really don't think we should limit ourself this way.
Maybe we should consult with the advisors.

[2016-12-08 17:21] kapalex commented on #38
About limiting our future options : the main feature of the project isn't navigation, but providing an environment where people can share information (the social network part of the project).
Navigation is just another feature we want to add to our project, and it seems that requiring its own map is a hefty price to pay for one feature (thinking beyond the POC stage, an entire global map is a proj

[2016-12-08 17:26] yaelAmitay commented on #38
We don't need the map of eveything, we just need the map of the city. We are developing a program for the SmartCity. We only need the map of the city. It should not be that massive.
BTW it seems like we disagree about the main idea of our project lol.

[2016-12-08 17:30] kapalex commented on #38
Yes - a map of the city. For EVERY city (again, after the POC stage).  That is massive.
And it seems we (as a team) chose navigation to be one of least important features in the use cases we defined in the project [here](https://github.com/TechnionYP5777/SmartCity-Accessibility/projects/1)

[2016-12-08 17:33] yaelAmitay commented on #38
Well fine then. We will use option 3 as the solution.

[2016-12-08 17:38] yossigil commented on #38
:+1:

[2016-12-08 17:45] koralchapnik commented on #38
I agree with you.
Option 3 seems to be the best one.

[2016-12-08 19:00] #38 closed, assigned to yaelAmitay

[2016-12-08 19:01] yossigil commented on #36
How would we know that this is complete? Is there a code change planned?

[2016-12-08 19:02] yossigil commented on #34
I said to @inbalzukerman  that the GUI stuff is less important at this stage.

[2016-12-08 19:31] Kolikant commented on #34
Hi
Wrong project :) inbal is in another smartcity project

[2016-12-08 19:34] inbalzukerman commented on #34
@yossigil - This is not a project i'm part of 😕

[2016-12-08 19:35] yossigil commented on #34
OOPS.... Apologies. I have around 470 open issues I am involved in...

But the same applies. GUI and stuff is traditionally done by automatic tools, and is quite boring, time consuming and not so productive. It must be done, but the essence is really elsewhere. I would invistigate openId and the such for user management.

[2016-12-08 19:43] Kolikant opened #39 "user management"
Everything needed to identify users and give them the different settings that they might want (saving search queries for instance)

[2016-12-08 19:45] Kolikant commented on #34
Very well,
I opened a bigger issue that contains this one and will reference this ine to it.
We will ofcourse take your advice and notmind the gui for now #39

[2016-12-08 19:57] yossigil commented on #34
Please check OPENID and adopt if necessary.

[2016-12-08 19:59] Kolikant commented on #34
https://en.wikipedia.org/wiki/OpenID

http://openid.net/get-an-openid/what-is-openid/

@KaplanAlexander  @koralchapnik  @assaflu  @ArthurSap  @yaelAmitay

what do you guys think?

[2016-12-08 20:12] #2 closed, assigned to idabran

[2016-12-08 20:13] yossigil commented on #11
Please compile a list of issues that you completed and worked during the first sprint.
@zvili @idabran

[2016-12-08 20:13] yossigil commented on #10
Please compile a list of issues that you completed and worked during the first sprint.
@zvili @idabran

Edit the content of the main issue, to remove the junk. Just leave the checked todos in it.

[2016-12-08 20:14] yossigil commented on #9
List of issues you worked on sprint 1?

[2016-12-08 20:14] yossigil commented on #8
List of issues you worked on sprint 1?

[2016-12-08 20:14] yossigil commented on #7
List of issues you worked on sprint 1?

[2016-12-08 20:14] yossigil commented on #6
List of issues you worked on sprint 1?

[2016-12-08 20:22] koralchapnik commented on #6
In sprint 1 we discussed the design of the project,  the issues we should complete, and the partition of the issues.
Those things we have done as a group.
As far as I understand the code should be written in sprint 2 and now after we decided on skeleton and map api , I am working on the issues assigned to me

[2016-12-08 20:50] kapalex commented on #34
definitely seems like a good idea to fall back on an existing system rather than create our own

[2016-12-08 20:56] kapalex commented on #11
Worked on issue #4 - compiled information for our group and talked by email with the company to get a license.
In addition worked issues #12, #13, #5, #21, #23.

[2016-12-08 21:05] Kolikant commented on #10
other than convincing people to move the discussions to git, all the work and decisions we made were made as a team.
no code has been written for we were instructed to use sprint 1 as a planning  time, to figure out what we actually want.
opened a pretty useless interface just to get things started (user) but mostly to check if my IDE worked well with everything needed.

[2016-12-08 21:44] koralchapnik commented on #25
what do you say about unique class that responsible for calculating the best x reviews that exports diverse methods for choosing the best x reviews rather than one method responsible for that ?
@yaelAmitay @assaflu @ArthurSap @KaplanAlexander @Kolikant

[2016-12-08 21:46] Kolikant commented on #25
no need.
as the planning stands the social network supports nothing other than free text and like/dislikes.
there is no purpose in anything elaborate to it. seems like a method

[2016-12-08 22:15] yossigil commented on #10
Did you do any issues at all?

[2016-12-08 22:16] yossigil commented on #11
Please edit to reflect what you did yourself.

[2016-12-08 22:20] Kolikant commented on #10
we were instructed to only plan so far. no code has been written and therefor the only issues that have been complete in this project are ones regarding planning, none of which were done by a single person. if you wish, I can reference all of them.

[2016-12-08 22:40] yaelAmitay commented on #7
In sprint 1 we planned the project details as a team. We didn't start to work on the implementation yet.
Non of us started to work on specific issues but we are about to.
i did some planning for issue #19. but I didn't implement yet.

[2016-12-08 22:56] yossigil commented on #7
Issues only please. Remove the rest.

[2016-12-08 22:56] yossigil commented on #10
No issues at all?

[2016-12-08 22:58] yaelAmitay commented on #7
i edited my comment

[2016-12-08 22:58] yossigil commented on #10
PS.

`From @yossigil on October 28, 2016 7:16

Keep this open
Edit the content of the main issue, to remove the junk. Just leave the checked todos in it.
Assign yourself if you haven't done so yet.
:+1:`

[2016-12-08 22:59] yossigil commented on #7
I edited it a bit some more...

[2016-12-08 23:23] Kolikant commented on #10
we have not started coding yet. as far we only added issues for sprint 2 as we were instructed.
for you peace of mind, here are all the planning issues that were done:  #23 #13 #12 #5

because there was absolutely no need at all to have six open computers when we were discussing idea and writing them for the mentors to see, not all of the members might be shown (if you are checking automatically t

[2016-12-09 05:54] yossigil commented on #10
yes. This is clear. Thanks.

@zvili @idabran

[2016-12-09 05:56] yossigil commented on #33
Please consider openId

[2016-12-09 06:26] kapalex commented on #33
To my understanding openId is used to store user info.  The database we are planning on creating is meant to store both user info (which we are now considering moving to openId) and review information which as far as I can tell cannot be stored in openId.
Further more the parse server we plan on creating support geo queries to get reviews based on their location, a feature that suits our needs ver

[2016-12-09 06:36] kapalex commented on #11
edited.  Is it ok?

[2016-12-09 07:07] yossigil commented on #11
Now it is.  I edited it to remove text not included in issues.
Take note that Readme.MD requires editing and proof reading.

[2016-12-09 07:10] yossigil commented on #33
I think the case you describe is similar to use cases of many open id clients

[2016-12-09 07:28] yossigil opened #40 "Maven failure"
I get these two maven errors in eclipse:

- Description	Resource	Path	Location	Type
Missing artifact com.teamdev.jxmaps:jxmaps-license:jar:1.2	pom.xml	/SmartCity-Accessibility	line 62	Maven Dependency Problem

- Description	Resource	Path	Location	Type
Missing artifact com.teamdev.jxmaps:jxmaps:jar:1.2	pom.xml	/SmartCity-Accessibility	line 55	Maven Dependency Problem

running 'mvn build` on the com

[2016-12-09 07:34] kapalex commented on #40
Please note [this wiki](https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/JxMaps-dependency).
As we are heavily dependent on the JxMaps library we've added it as a maven dependency.  It isn't available to be automatically downloaded since it's generally a paid software, so the files need to be added manually.
I can add your preferred gmail to the  shared folder on google drive so you

[2016-12-09 07:53] kapalex commented on #33
I might be missing something but I still don't see how this solves our problem.
Generally clients of our system don't have to sign in.  When a non-signed in user looks at the main screen he will see a map with reviews near by him, in addition to being able to search for reviews in in the search bar.
This means we need to be able to store reviews left by signed in users on some server, and be able

[2016-12-09 08:20] kapalex opened #41 "Update and proofread Readme.md"
Need to update it to include latest development in our choices regarding project design, and  proofread to remove errors.

- [x] add documentation about jxmaps dependency
- [x] proofread

[2016-12-09 08:22] kapalex opened #42 "Create new wiki page with class diagram"
In our meeting last week we have drafted a class diagram,  this class diagram should be finalized with recent changes and uploaded to the wiki .

[2016-12-09 09:04] yossigil commented on #42
Splendid

[2016-12-09 09:05] yossigil commented on #41
Nice!

[2016-12-09 09:08] Kolikant commented on #42
did you take a picture of it in the meeting? I see that I haven't

[2016-12-09 09:09] kapalex commented on #42
Yes, both me and @assaflu did

[2016-12-09 09:10] yossigil commented on #33
Yes. You need a DB you are very right.
But, don't waste time at this stage on sign in/ login/ delete account or any user authentication password etc..

[2016-12-09 09:47] kapalex commented on #40
Closing it for now as it is not a bug, reopen if necessary

[2016-12-09 09:47] #40 closed, assigned to nobody

[2016-12-09 09:49] Kolikant commented on #34
It does seem to be precislywhat we need
Thank you for the recommendation yossi

[2016-12-09 09:50] kapalex commented on #36
@assaflu see discussion in #34 , we are moving to  openId so this issue is affected

[2016-12-09 09:51] Kolikant opened #43 "Integrate with openid"
Decided to use opeid for authentication, need to integrate with it #34

[2016-12-09 09:58] kapalex commented on #33
**progress** :
server is up and running [here](https://smartcityaccessibility.herokuapp.com/)
dashboard is [here](https://easypark-parse-dashboard.herokuapp.com/)
username and password will be added to a wiki soon (privately)

the interface for parse server we planned on using is `thiagolocatelli/parse4j` , but it seems the latest release in maven does not support servers not hosted in parse.com (

[2016-12-09 10:46] yossigil commented on #40
Good point...
Perhaps it would have been cleared if this page was made part of README.MD? What do you reckon?

[2016-12-09 10:47] yossigil commented on #34
Not sure. Why not use openid for login and that's it?

[2016-12-09 10:51] Kolikant commented on #34
That is the intention

[2016-12-09 10:55] ArthurSap commented on #35
In regards to issues #32 , if the admin wants to delete a review, should we completely remove the review from the DB, or store it somewhere else in case we might need to restore it?

[2016-12-09 10:56] Kolikant commented on #35
Completely remove it

[2016-12-09 10:57] kapalex commented on #40
Definitely true, adding as a bullet point to issue #41

[2016-12-09 11:00] kapalex commented on #35
possible idea for the future to let the admin "hide" reviews from regular users, but still be able to see it himself, and restore later

[2016-12-09 11:54] Kolikant commented on #35
The reviews represent ones in thousands of reviews by users.
Removing reviews meens getting rid of garbage or spam.
Saving it to the side seems irrelevant

We assume that the admin knows what he is doing, removing only what is garbage.

[2016-12-09 12:05] kapalex commented on #35
Assuming a review said something controversial, for example if a review stated some place doesn't offer a service that other reviews claim it does, an admin could hide the review until he will authenticate the information

[2016-12-09 12:07] Kolikant commented on #35
Rather than hide it
Add an "awaiting authentication" apliable by the admin

[2016-12-09 12:50] kapalex opened #44 "Working with Continuous Integration"
As a possible tool for testing the project we could work with a Jenkins server.
What that would mean is having an external server setup that once a day (or possibly every time something is pushed to github) pulls the code from the repository, builds it and runs all our tests on it.  The server will then notify the responsible parties if something is now broken.

This would be a good way of making

[2016-12-09 12:52] Kolikant commented on #44
Seems highly unnecessary, but if you think that you can do it, it obviously cat hurt

[2016-12-09 13:58] Kolikant commented on #33
I went over the wiki and was unable to figure how to use the server.
could you simplify it to a simple: do this if you want the code to compile?

[2016-12-09 14:31] koralchapnik commented on #25
Well, I decided to dedicate a class for that

[2016-12-09 15:36] Kolikant commented on #42
Alex and I made the [wiki page](https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Class-Diagram)

[2016-12-09 15:36] #42 closed, assigned to kapalex, Kolikant

[2016-12-09 16:06] Kolikant commented on #43
http://openid.net/specs/openid-connect-session-1_0.html

[2016-12-09 16:11] Kolikant commented on #43
https://bitbucket.org/connect2id/oauth-2.0-sdk-with-openid-connect-extensions

[2016-12-09 16:20] #41 closed, assigned to kapalex

[2016-12-09 16:58] yossigil commented on #41
:100:

[2016-12-09 16:59] yossigil commented on #42
Splendid

[2016-12-09 17:00] yossigil commented on #25
I would change to 'n' reviews. 'x' may sound promiscuous...

[2016-12-09 17:01] yossigil commented on #33
For 2^10 Karma, you may want to check how to keep private information on public github, and if you find a solution you might want to share with others in facebook.

[2016-12-09 17:04] yossigil commented on #44
We use travis. It works great. And I think it is quite important to do now, before the flood of commits start! Choose whatever server you fill is good for you.

[2016-12-09 17:06] yossigil commented on #35
Good job @yaelAmitay  (well defined issue)

[2016-12-09 17:09] ArthurSap commented on #35
@Kolikant , @KaplanAlexander If there's a spam review (say an ad or a "sdfsdkngsd" kind of reviews) the admin will completely remove this review from the DB, otherwise the admin can either hide it, or move it to another DB (said reviews can be automatically removed from the system after a while).
What do you think?

[2016-12-09 17:13] kapalex commented on #35
For a start probably just deleting, later on moving it to another DB (specificaly for parse server, if reviews are stored in "Review" class then we can move them to "ReviewHidden" class easily) as an option of hiding seems like a good solution

[2016-12-09 17:15] kapalex opened #45 "Set up jenkins CI"
Set up a jenkins server to make daily builds and run junit tests

[2016-12-09 17:15] kapalex commented on #44
Will do.
opened relavant issue #45

[2016-12-09 17:15] #44 closed, assigned to kapalex

[2016-12-09 17:23] ArthurSap commented on #35
Should a review's initial status be hidden? When a user posts a review should it:
a. stay hidden until its approved by an admin
or
b. be posted normally and then hidden by admin in case of need
problems I see:
a. not scalable - I don't see how admins can confirm reviews that are posted by the thousands.
b. spam all over - same problem as ^, doubts admins could handle it

Maybe start with solution

[2016-12-09 17:28] kapalex commented on #35
At this point i think option B fits best
as a solution for the spam problem we can implement features of banning users and such in the next sprint,  and hopefully that will be suffiecient

[2016-12-09 17:43] kapalex commented on #45
@yossigil two issues I need help with

1. according to the travis user guide I need admin access to the project, and as far as I know I don't currently have it (could be wrong)
2. I need someone to approve my request to access repos from `TechnionYP5777`

Can you help?

[2016-12-09 18:01] Kolikant commented on #35
The assumptionis that the social network is self correctong for the most part.
Bad reviews would be disliked and not seen in the calculation of the best reviews.
Admins needhave extra power for the rare occations that interveening is needed.

All actions must be independent of the admins, the admins can do anything. Those arethe guidelines

So, b is the best option since admin would delete just sp

[2016-12-09 19:06] Kolikant commented on #25
in Review, you have said that the review is on routes, note that Reviews should be on Locations,
also the constructor of a review should set it's rating to zero

[2016-12-09 19:07] Kolikant opened #46 "make Reviews accept Locations rather than Routes"
note the class diagram, JxMaps allows us to diffrentiate between routes, facilities and simple coordinates. we will use the Location interface as the "atomic" review-able part to be considered

[2016-12-09 19:09] Kolikant opened #47 "change the review constructor"
when a review is just made, it has no like nor dislikes and is therefor at a rating of 0.
edit- it therefor has a like/dislike of 0

[2016-12-09 19:13] Kolikant opened #48 "create Special Ratings for Admins usage"
admin should be able to effect what the best reviews are.
to be considered:
1) be allowed to set ratings of reviews to max, ensuring they will be considered
2) having a special "admin approved" token marking it to be queried by the user or disregared
3) making it the only legal review of a location, meaning that we could have some locations only under admin juresdiction should they deem it to be s

[2016-12-09 19:19] koralchapnik commented on #25
It's on routes and also locations.  I am waiting to the class location to be built and then I'll change it

[2016-12-09 19:22] Kolikant commented on #43
https://www.youtube.com/watch?v=i1datiYVDVc

[2016-12-09 19:22] Kolikant commented on #43
https://www.youtube.com/watch?v=YLHyeSuBspI

[2016-12-09 19:25] Kolikant commented on #43
it might just be me, but it seems I am having difficulty integrating with openId. Should I press on or would it be best to have minor authentication for the presentation in two weeks? @yossigil

[2016-12-09 19:27] Kolikant commented on #43
https://www.youtube.com/watch?v=Kb56GzQ2pSk

[2016-12-09 19:45] kapalex commented on #45
I've actually decided for better familiarity with it to set up a Jenkins server
the server is up and running and I will update the info here tomrrow

[2016-12-09 19:51] koralchapnik commented on #47
When review is just made someone just have rated the route/location.  Therefore it actually does have rating.

[2016-12-09 19:55] yossigil commented on #45
I reassign to @zvili

[2016-12-09 19:56] koralchapnik commented on #25
after i'll add the class Location i'll change it.

[2016-12-09 19:56] Kolikant commented on #47
you are right, I got confused.
therefor likes/dislike counter should be added and set to 0 (is what i intended)

[2016-12-09 19:57] Kolikant commented on #25
class Location has already been added by me (I needed the stub) but you should assign it to yourself

[2016-12-09 20:14] zvili commented on #45
Travis CI request accepted.

[2016-12-09 20:21] Kolikant commented on #43
https://www.youtube.com/watch?v=BdKmZ7mPNns

[2016-12-09 20:23] Kolikant commented on #43
https://www.youtube.com/watch?v=io_r-0e3Qcw

[2016-12-09 23:27] Kolikant opened #49 "Decide how Admin Reviews should be treated"
so far admin reviews were discussed to be simply more important, the question remaining is in what way.

the obvious choice would be that admin's reviews would always be considered to be in the "best reviews", but the meaning of their reviews should be discussed

[2016-12-09 23:33] Kolikant commented on #47
I resolved what I thought but added signitures on what I've changed.
please review and if you agree with changes, close the issue.

[2016-12-10 06:56] yossigil commented on #43
The basic rule is simple: Max output in minimal work. I am not sure how to translate it to your case.
If I were you, I would steal as much code as possible, to make openId, but I did not research this venue.
Make a decision, try to make the best decision, and be ready to explain your decision.

You do not have to be ready to explain your decision just because we will ask. Yes, we might ask. But th

[2016-12-10 08:00] kapalex commented on #43
As an alternative, I'd like to add that Parse Server does offer authentication built in.
Meaning our existing server already offers a tool for authenticating users, and if we want to to "Max output in minimal work"  using an existing environment (with lots of code examples on how to use it) might be the best solution.

[2016-12-10 08:41] #43 closed, assigned to assaflu, Kolikant

[2016-12-10 08:50] kapalex commented on #45
To enable the jenkins server I need to set a webhook in for the project
@zvili can you add the following webhook?
http://163.172.171.65:8080/github-webhook/

[2016-12-10 08:56] kapalex commented on #36
decided to move back to authentication with Parse
some resources -

- https://github.com/thiagolocatelli/parse4j (our java client)
- https://parseplatform.github.io/#sdks
      (here is the rest api and android one.  java client is just a mapping for the rest api, and android client might be similar, so might help explain the usage)

[2016-12-10 09:13] zvili commented on #45
Webhook added.

[2016-12-10 09:16] assaflu commented on #36
Decided to save the username, password, and list of faivorit search queries.

[2016-12-10 09:21] yossigil commented on #36
favorite or recent?

[2016-12-10 09:27] Kolikant commented on #36
recent would be in the favourites by default, but the user can initiate adding searches to his favorite selection.

[2016-12-10 09:28] yossigil commented on #36
Add this to spec that the user can modify this list. (If you think this is an important feature)

[2016-12-10 09:30] Kolikant opened #50 "favourite Queries"
users recent search queries are to be added to his favourite list,
user can also modify his favorite list by hand, adding or removing queries.

[2016-12-10 09:44] kapalex commented on #45
The server is not getting the POST when code is pushed to github, I've tested the same thing on my private repo and it worked well
I'm having some difficulty debugging the situation without being able to see the setting in the server
Is it possible for me to get admin rights to the repo for a day, just to set up the CI?

[2016-12-10 11:13] yossigil commented on #45
Does travis require admin?

[2016-12-10 11:25] kapalex commented on #45
It does

[2016-12-10 16:14] zvili commented on #45
Granting you admin rights is not the right solution.
I've made some changes in the GitHub-we hook.
Please try now.
If this still does not help, let's meet tomorrow in my office (#209). Let me know ahead when are you comming.

[2016-12-10 16:21] kapalex commented on #45
Still nothing
I'm not going to be at the technion tomorrow, can you meet on monday?

[2016-12-10 16:23] zvili commented on #45
Yes. We can meet on Monday.
Most of the day I'm free.

[2016-12-10 16:57] yossigil commented on #45
I guess it is too late, but you may want to take a look at [this](https://github.com/TechnionYP5777/SmartCity-ParkingManagement/issues/58#issuecomment-266219962).

[2016-12-10 17:45] kapalex commented on #45
@yossigil I'm not sure what I am supposed to see in that issue

[2016-12-10 18:13] kapalex commented on #45
@zvili in an effort to solve the problem sooner I've tried testing some more, and I see in the webhooks page for the repo there is (under the Manage webhook section) a section called "recent deliveries"
Can I by chance ask you to send it to me? a printscreen or a text copy would help tremendously

[2016-12-10 19:05] yaelAmitay opened #51 "Identify MapSegement"
Given a Location in the map identify the map segment that contains this location.
map segement is the smallest unit in the map that can be declared as non-accessible.

this issue needed for integration between the review about a location to the navigation.
this isue is relevent to issue #19.

[2016-12-10 19:11] yaelAmitay opened #52 "Navigation API allows to declared location as non-accessible"
The navigation API will allow it's clients to add a location to the list of non-accessible locations.
This means that when asked for a route the navegation algorithm won't allow the route to pass throught non-accessible locations.
pay attention that if a location is non-accessible that means that the map segement that contains this location is not accessible.
(map segement is the smallest segement

[2016-12-10 19:16] yaelAmitay opened #53 "Create class MapSegment"
MapSegment is a class that represent the smallest segement of the map.
When a location is declared non-accessible the whole segement that contains him is declared non-accessible too.
Beware that we are using MapQuest service. In MapQuest the map segment is represented by LinkId. therefore this class will probably wrap LinkId.

relevent to issues: #19, #51 , #52

[2016-12-10 19:23] yaelAmitay opened #54 "Create classes to support route request/response from MapQuest"
MapQuest API is a web service that helps us navegate in the city.
We are using this service in order to find a route that does not goes through non-accessible locations.
This is a REST service, therefore we need to create classes to supprot the request/response to/from the server. Each request/response pass/receives Objects to/from the server by using json. that's why we need to add classes that c

[2016-12-10 20:03] zvili commented on #45
No problem. I'll email it tomorrow morning.

Sent from my iPad

On 10 Dec 2016, at 20:13, Alexander Kaplan <notifications@github.com<mailto:notifications@github.com>> wrote:

@zvili<https://github.com/zvili> in an effort to solve the problem sooner I've tried testing some more, and I see in the webhooks page for the repo there is (under the Manage webhook section) a section called "recent deliveri

[2016-12-10 21:32] kapalex commented on #45
Set a build once every two hours as a temporary solution until we figure out the problem

[2016-12-10 22:19] yossigil commented on #45
Excellent work @KaplanAlexander #11 !

[2016-12-10 23:02] yossigil commented on #54
:+1:

[2016-12-11 07:26] kapalex commented on #45
added automatic issue creation upon build failure
_to be tested upon next build scheduled at 10:00_

[2016-12-11 07:32] kapalex commented on #45
@zvili possible solution to the problem : add a trailing '/' to the url of the web hook
(i.e.  http://163.172.171.65:8080/github-webhook  -> http://163.172.171.65:8080/github-webhook/ )

[2016-12-11 07:38] zvili commented on #45
Trailing "/" added to the URL of the Webhook.

[2016-12-11 07:40] kapalex opened #55 "SmartCity-Accessibility #20 failed"
** This is an automatic issue created by Jenkins CI **

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Yossi Gil] d1f7e3a23cd1fcc18939e357542c0bdef32d6e11 - Remove redundant final

- [Yossi Gil] 005859f48d954e8d315c98bf3ae54818f5e4615e - Convert from DOS format. #8

- [GitHub] 6970719513e495dd1d903b7f949ac760e5ca18e7 -

[2016-12-11 07:41] kapalex commented on #45
Jenkins CI officially up and running and building every push!

[2016-12-11 07:47] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Yossi Gil] d1f7e3a23cd1fcc18939e357542c0bdef32d6e11 - Remove redundant final

- [Yossi Gil] 005859f48d954e8d315c98bf3ae54818f5e4615e - Convert from DOS format. #8

- [GitHub] 6970719513e495dd1d903b7f949ac760e5ca18e7 - mi

[2016-12-11 07:52] kapalex commented on #55
**a note about jenkins**
The current log about commits since last success is not accurate as we haven't been using continuous integration so far.
Future failures will be more accurate

[2016-12-11 08:02] yossigil commented on #55
:+1:  Good job Alex.

[2016-12-11 15:48] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Yossi Gil] d1f7e3a23cd1fcc18939e357542c0bdef32d6e11 - Remove redundant final

- [Yossi Gil] 005859f48d954e8d315c98bf3ae54818f5e4615e - Convert from DOS format. #8

- [GitHub] 6970719513e495dd1d903b7f949ac760e5ca18e7 - mi

[2016-12-11 17:14] kapalex commented on #55
Build was fixed!

[2016-12-11 17:18] kapalex commented on #45
@zvili could you take our project out of travis ci?  now that we have jenkins working we don't need it

[2016-12-11 20:34] yaelAmitay commented on #54
progress: added some classes, more classes will be added soon.

[2016-12-11 21:24] koralchapnik commented on #47
accepted

[2016-12-11 21:24] #47 closed, assigned to koralchapnik

[2016-12-11 21:56] Kolikant commented on #52
user does not at all define locations as unaccessible.
that is determined by the social network and the best reviews  #25

[2016-12-11 21:57] Kolikant commented on #53
add map segments to the wiki. we have no idea what that is.

[2016-12-11 22:14] yaelAmitay commented on #52
Yes, I meant client of my API.
"The navegation **API** will allow **it's clients** to add a location"

[2016-12-11 22:14] yaelAmitay commented on #53
Will be added soon

[2016-12-11 22:16] kapalex commented on #45
found a way to disable it myself, closed.

[2016-12-11 22:16] #45 closed, assigned to kapalex, zvili

[2016-12-11 22:39] yaelAmitay opened #56 "Add Class Diagram for navigation"
Add ClassDiagram for navigation to the wiki page.

[2016-12-11 22:44] yaelAmitay commented on #52
I'll change the title so it'll be more clear.

[2016-12-11 23:03] koralchapnik commented on #46
Done.

[2016-12-11 23:03] #46 closed, assigned to koralchapnik

[2016-12-12 13:17] yaelAmitay commented on #56
Explantion was added to Wiki:
https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Navigation-explanation
the class diagram will be added soon.

[2016-12-12 15:07] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Alex Kaplan] b9fb3db61d70be2a533dbdf84750a8282384386e - update reviewcomment #16

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/37/)

[2016-12-12 15:16] kapalex commented on #55
Build was fixed!

[2016-12-12 15:29] Kolikant opened #57 "add Location Manager"
save locations and allow queries on the locations

- [ ]  get all location under threshold in a radius

[2016-12-12 15:35] Kolikant opened #58 "add the three sub locations and interface them with JxMaps"
there are three classes inheriting from location. create them all and add what they require.
Explanation [here](https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Location-classes)

- [ ]  all classes have getCoordinate

[2016-12-12 15:44] Kolikant opened #59 "add pinned and unpinned to the location"
as described in the wiki under 5 clarrification

[2016-12-12 16:31] yaelAmitay commented on #53
wiki explantion was added:
https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Navigation-explanation

[2016-12-12 16:32] yaelAmitay commented on #56
draft of class diagram was added:
https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Class-Diagram
I'm closing this issue but more classes will be updated in the class diagram in the future.

[2016-12-12 16:32] #56 closed, assigned to yaelAmitay

[2016-12-12 18:07] kapalex commented on #33
@assaflu added functions that will be useful to you for putting complex objects in the server

later this week I'll also implement some functions for generic queries to the server

[2016-12-12 19:39] koralchapnik opened #60 "Eclipse doesn't recognize JxMaps imports"
When trying to import classes from JxMaps, eclipse doesn't recognize it.
For example: import com.teamdev.jxmaps.LatLng;

@assaflu @ArthurSap @Kolikant @yaelAmitay @ArthurSap
if any of you figure out the problem please write here the solution.
meanwhile i'm working on this.

[2016-12-12 19:43] yossigil commented on #56
:+1:

[2016-12-12 19:45] yossigil commented on #59
:+1:

[2016-12-12 19:46] yossigil commented on #58
:+1:

[2016-12-12 19:46] yossigil commented on #57
:+1:

[2016-12-12 19:58] koralchapnik commented on #60
Solution that works for me:
1.move the jar files from the resources folder into the folder {ProjectName}/lib
2. mark the jar files -> right click -> Build Path -> Add To Build Path

[2016-12-12 19:58] #60 closed, assigned to koralchapnik

[2016-12-12 20:44] kapalex opened #61 "Update maven dependencies and JxMaps wiki to support build setup"
related to #60

[2016-12-12 22:51] koralchapnik opened #62 "Change rating type to Score instead of int"
Create a Score class that encapsulates an integer representing a rating.
change the classes : Review, BestReview, Location accordingly.

[2016-12-12 22:53] koralchapnik commented on #62
Done.

[2016-12-12 22:53] #62 closed, assigned to koralchapnik

[2016-12-12 23:09] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/45/)

[2016-12-12 23:24] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

[View full output](http://

[2016-12-12 23:32] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 04:09] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 04:27] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 04:29] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 04:40] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 04:48] yaelAmitay opened #63 "Enable different routing for different accessibility level"
Input: Two Locations and accessibility threshold.
Output: find a route from the source to destination that doesn't pass throught segments of the map that has lower accessibility level that the given threshold.

This is a feature we are adding to issue #19.
**We achieve this by adding LocationManager( @assaflu #57 ) that enable to apply filters on the locations.**

[2016-12-13 04:56] yaelAmitay opened #64 "Add Key to Navigation"
In order to send a request to mapquest we need to add a Key to the request.
I'll add the key to the code as a const.
This is my personal key which attached to my user in mapquest, so please be responsible with that.

[2016-12-13 04:59] yaelAmitay commented on #64
Done.

[2016-12-13 04:59] #64 closed, assigned to yaelAmitay

[2016-12-13 04:59] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 05:15] yaelAmitay commented on #52
After our meeting yesterday this issue is no longer relevant. I'll open a new issue that is more accurate.

[2016-12-13 05:15] #52 closed, assigned to yaelAmitay

[2016-12-13 05:26] yaelAmitay opened #65 "The Navigation won't allow route to pass throught non accessible location"
Given 2 locations the Navigation list all the locations that are not accessible within the following circle:

![image](https://cloud.githubusercontent.com/assets/23058068/21128658/7f74ed9c-c105-11e6-9f2f-51d01c6f0103.png)

And the does not allows the routing to pass throught these locations.
pay attention that if a location is non-accessible that means that the map segement that contains this loca

[2016-12-13 05:49] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 12:15] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 12:17] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 12:18] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 12:19] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 12:20] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 12:20] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 5cc661b1abbcd6bd14c397f549a537a62c520df8 - added abstract function getCoordinate #58

- [KoralChapnik] 84e769f97dd65b0d5c70ebef6e3bc5f07b66746a - added GeocoderLocation class #58

- [KoralChapnik] bbd943b9d

[2016-12-13 12:26] kapalex commented on #55
Build was fixed!

[2016-12-13 12:38] kapalex commented on #61
The build was updated according to the development of #60 , everyone should update their local repo according to the updated wiki about jxmaps dependency.

To avoid issues a clean clone before following the instructions might help.

[2016-12-13 12:39] #61 closed, assigned to kapalex

[2016-12-13 16:23] Kolikant opened #66 "no idea how the dependecies work now"
I tried to do the updates that were scattered across github.
they have not worked.
whoever changed the dependencies, please make a single answer as to how to get it to work (from having cloned a new project) :) I wpent a lot of time trying to get it to work. I cant work until it does.
@KaplanAlexander @koralchapnik @yaelAmitay  @assaflu @ArthurSap.
create it's own wiki or something, the one existi

[2016-12-13 16:39] kapalex commented on #66
Solution here #61 , last comment
which references the relevant wiki, and I also sent it to the entire group
_did a clean build myself and it worked, if you want to address a specific issue, message me_

[2016-12-13 18:45] Kolikant commented on #66
that solution does not work

[2016-12-13 18:54] ArthurSap commented on #59
@Kolikant  @koralchapnik Is that okay that I will add another List to the Location class (pinnedReviews or something) so that I can work on this issue? With all the methods I need.
Or should I leave it to you?

[2016-12-13 18:54] Kolikant commented on #66
I received it. fished the scattred details and followed it. it had not worked, after doing it and checking myself I opened this issue as it is evedently not working.
please check if you might have missed something

[2016-12-13 18:55] kapalex commented on #66
It in fact does work both on the build server and my environment, and if you would provide any specific problem, looking for a solution would be a lot easier.

[2016-12-13 19:01] koralchapnik commented on #59
Do stubs,  I'll implement it after you'll make them

[2016-12-13 19:04] ArthurSap commented on #59
@koralchapnik I can get around with getters for both lists or with 2 methods to do each action.
I will implements it with getters - save you some work and seems like a better idea.
If you want to do it differently later let me know too.

[2016-12-13 19:05] Kolikant commented on #66
the same as any maven problem, unrecognized dependencies

[2016-12-13 19:08] koralchapnik commented on #59
So you're adding two getters to  Location class?

[2016-12-13 19:10] ArthurSap commented on #59
Yes, and a new private ArrayList<Review> variable.

[2016-12-13 19:12] koralchapnik commented on #59
No problem

[2016-12-13 19:12] kapalex commented on #66
Issue found and fixed

[2016-12-13 19:12] #66 closed, assigned to nobody

[2016-12-13 19:33] ArthurSap commented on #32
@assaflu Should I wait until you implement the delete option from the reviews DB or should I simply delete the reviews from the location itself (and not the DB)?
What do you guys think?
@koralchapnik @yaelAmitay @Kolikant @KaplanAlexander

[2016-12-13 19:52] kapalex commented on #32
deleting from anywhere other than the DB wouldn't do much good, so synchronize between you how you'll do it (stubs should do)

a point both of you should consider : when an admin deletes a review users who got it from the database (currently using the application) might do something to make the review go up the DB again (add a like for example), and it might mean the review goes back on the server

[2016-12-13 20:23] Kolikant commented on #39
@ArthurSap
I need a way to recognize admins when I bring them from the server.
have we agreed that there will be only one admin and that his name would be admin? or is there another way to recognize them? (when on server they have no class, only fields) is there a field admin's use that you could maybe add? to be able to diffrentiate

[2016-12-13 20:29] ArthurSap commented on #39
We agreed that there are several admin users and that distinguishing admins from users by names is problematic (we agreed to show admin users in different colors once the GUI is up).
Currently, there are no special fields admins need, only methods and I can't think of any right now (on this sprint I mean - on what we agreed admin should be able to use).
Can you use methods to differentiate admins

[2016-12-13 20:33] Kolikant commented on #39
I'll try to figure something out, thanks :)

[2016-12-13 20:46] yossigil commented on #39
My $0.02: Don't encode permissions within the type system. It never works. All users should be of the same Java type. But, special operations require the ADMIN bit toggled.

@AdiOmari @zvili @idabran @yh-github @orimarco

[2016-12-13 20:49] Kolikant commented on #39
I haven't understood what you said
admin inherits from out user type, his "regular" operations have extensions on user's and work differently. therefor when he is logged in, doing the same operations has different effects.

[2016-12-13 21:01] yossigil commented on #39
What I said is that the design is fragile. Say you want to have levels of admins? And how do you promote/demote a user?

Common practice is to use a permissions value, and check permissions at runtime, not compiletime.

[2016-12-13 21:02] Kolikant commented on #39
I see.
so in order to be scalable, you suggest that we should put the responsibility of checking priviliges to all the functions which users use?

[2016-12-13 21:06] Kolikant opened #67 "rethinking the design of admin"
It was pointed out by @yossigil here #39 that we should rethink our design of admins.
That having an admin class is not scalable and that we should instead have a privilege level, checked by the methods, as to gain different behavior.

do you think that it would be something we will manage to change? what could be effected by it?

@ArthurSap

[2016-12-13 21:42] ArthurSap commented on #67
I fail to see the point in more than 3 privilege levels (default, registered and admin) - perhaps there is a point in promoting the registered user to an admin (not that I see why we would do that). Won't just re-creating a new admin from that user (i.e public Admin promote(User u)) be enough for that?

[2016-12-13 21:51] Kolikant commented on #67
I agree with you actually. I guess I misunderstood. the example yossi gave was about  having levels and having promotions which is not something we intend, so we should be fine

[2016-12-14 00:22] ArthurSap commented on #59
I added the logic for the admin - all that remains is to implement the logic whilst presenting the reviews (i.e taking pinnedReviews list in each location into account) so I'm closing this issue.

[2016-12-14 00:22] #59 closed, assigned to ArthurSap

[2016-12-14 10:59] yossigil commented on #67
:+1:

[2016-12-14 16:23] kapalex commented on #67
For the sake of this argument lets assume we might want to add another privilege level sometime in the future (which we might, for example a "moderator" who can hide reviews but cannot delete them, or cannot ban users like an admin can) and if we do our current design won't be able to cope very well.

Problems with the current design -

1. The current field in the parse server that differentiates

[2016-12-14 16:33] Kolikant commented on #67
I see your point.
It is more scalable
But, we assume that there is a very low number of admins; aka people with municipal authority.

It would make more logic to lay the way for a chande in case our intentions with what admins are are ill recieved or want change.
I agree with you then.

We haven't intended it to have those capabilites and have no intentions whatsoever to use them.... But the safe

[2016-12-14 19:10] Kolikant opened #68 "Save Queries and Load Queries as String (parse them)"
our server doesn't allow to save elaborate types on it, so search queries will be saved as a string and parsed back and forth. I will add the stubs and implement them when Search queries grows in power

[2016-12-14 22:50] koralchapnik commented on #17
you can help the info [here](https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/JX-Maps-Search)

[2016-12-14 22:59] Kolikant opened #69 "Move User setter logic to UserManagement"
as to keep the legalstate of the database, all setters on the fields would need pass through it and not user

[2016-12-15 00:24] #69 closed, assigned to Kolikant

[2016-12-15 00:24] #39 closed, assigned to Kolikant

[2016-12-15 00:25] #36 closed, assigned to Kolikant

[2016-12-15 00:26] #22 closed, assigned to Kolikant

[2016-12-15 00:27] Kolikant commented on #68
forgot to mention in last commit that allthe base is set for the parse back and forth, just need to decide what fields SearchQuery should have

[2016-12-15 00:55] Kolikant commented on #17
wow, great Job!

[2016-12-15 13:00] yossigil commented on #68
Good design decision to use strings @Kolikant

[2016-12-15 19:32] Kolikant commented on #50
User's favourite queries can be stored and are loaded with them when they log in. exactly what those queries contain is yet to be determined

[2016-12-15 19:32] #50 closed, assigned to Kolikant

[2016-12-15 19:33] yossigil commented on #50
I would avoid the UI for managing favorites. I would just keep the last ten for the prototype

[2016-12-15 19:47] Kolikant opened #70 "what to show on the presentation?"
we might want to add gui now, for us to present some abilities at the presentation.
what do you believe that can be presented until then?
user login, sign up can, what else?

@koralchapnik  @KaplanAlexander @yaelAmitay  @assaflu @ArthurSap

[2016-12-15 19:48] yossigil commented on #70
Good leadership @Kolikant

Everyone should try to demonsrate he or she introduced

[2016-12-15 19:57] Kolikant commented on #67
it's your call @ArthurSap , you are the one implementing it

[2016-12-15 20:49] kapalex commented on #70
I can show some of the functionality the DatabaseManager holds for communication with the server (should include location based queries by the presentation)
I think other than gui everyone can create some tests that demonstrate functionalities (in addition to actually testing) they wrote

[2016-12-15 22:37] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/70/)

[2016-12-15 22:37] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

[View

[2016-12-16 00:59] ArthurSap commented on #67
We haven't planned for our application to have large amount of admins or the need in several privilege levels that have more/less actions to.
I do not see the point in implementing it since the need for those comes from very large applications with very large user-base.
Sure, it would be more scalable and flexible if we were to develop Waze 2 but that would require time. Far more than one year (fo

[2016-12-16 01:22] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 07:16] yaelAmitay commented on #70
We already discussed this on our meeting this week...
I'm responsible for the navigatoin, I can show points in the roure(my output) or hopefully some images of the route.

[2016-12-16 07:22] yaelAmitay commented on #67
I think we need to find a design that enable us to make changes like that in the future.
One option is to do as @KaplanAlexander  suggested. But we don't have to implements all of this right now. we can leave it to the next sprint. My only problem with this idea is that it's not so OOP.
About @ArthurSap idea, I think that using the idea of the protection ring in linux could be a little confusing.

[2016-12-16 13:07] Kolikant commented on #70
I can now show search results for specific adresses.
please make a test that shows the abilities you want us to present :)

[2016-12-16 13:49] kapalex commented on #55
@Kolikant please note the build is failing after one of your last commits

[2016-12-16 14:55] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 16:09] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 16:38] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 17:02] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 17:05] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 17:38] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 17:39] assaflu commented on #35
Is there any reason a certain review wouldn't be saved, or should all reviews be saved?

[2016-12-16 17:49] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 18:43] ArthurSap commented on #49
We decided on our meeting that admins' reviews are simply automatically pinned.
(Already implemented that).
So I'm closing this issue for now (until we might want to add more behavior later).

[2016-12-16 18:43] #49 closed, assigned to ArthurSap, koralchapnik

[2016-12-16 18:48] ArthurSap commented on #48
@Kolikant are the pin and un-pin actions enough? Do we want more behavior?
I think that locking specific locations should be done in the next sprint but we can do it now with the following proposal:
Add a field to Location class: isLocked - true iff location is locked to admins' reviews only.
If the field is true, refer only to pinned reviews list (since admins' reviews are automatically pinned).

[2016-12-16 18:51] koralchapnik commented on #48
I think it should be done in the next sprint.
Why would we want prevent from regular users to write reviews too?  That is all the meaning of social network..

[2016-12-16 18:52] ArthurSap commented on #20
Should we allow admin to edit review's information? e.g editReview(Review r) - we can also automatically add a "Admin edited this review" to the top of it.
What do you say @KaplanAlexander @Kolikant ?

[2016-12-16 18:56] kapalex commented on #20
If I recall correctly we said we shouldn't do it last meeting, since it seems to still be kind of interfering with the information the user put

[2016-12-16 18:57] ArthurSap commented on #48
It was brought up in a meeting but I really don't know why..

[2016-12-16 19:01] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 19:05] Kolikant commented on #48
Next sprint meens nexy semester,
Which is fine by me if you deem it so

[2016-12-16 19:06] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 19:13] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 19:15] ArthurSap commented on #48
So I'm closing this issue.
Next semester we will open a new issue just for that mission.

[2016-12-16 19:15] #48 closed, assigned to ArthurSap

[2016-12-16 19:27] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 19:39] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 19:44] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 19:48] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 19:50] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-16 19:56] kapalex commented on #55
**This is an automatic issue created by Jenkins CI**

Build 'SmartCity-Accessibility' is failing!

Last 100 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 6356913861cab4621d313dfd254c09e76ab5ec7f - search can now happen using street adress #17

- [Ariel Kolikant] 8f908a20da1fa49b58af191e608dd69d9b848524 - search can now happen using street adress #17

- [Ar

[2016-12-17 01:07] ArthurSap commented on #67
@yaelAmitay More flags, more things to worry about. What if we want to add new privilege level? Add new flags, change a lot of code. What if we want to add a new action that requires certain amount of privilege? Add new flags, change a lot of code. What if we want to cancel someones privilege level/make an action require a higher/lower privilege level? would require a lot of changes in the code..

[2016-12-17 09:38] yossigil commented on #67
Keep up the hearty discussion. But, note that you cannot go too wrong either way at this early stage

[2016-12-17 09:41] yossigil commented on #55
Can you configure Jenkins to open a new issue, rather than reopen an old issue? It is more agile this way.

[2016-12-17 10:11] kapalex commented on #55
Will work on it, should be able to

[2016-12-17 10:24] ArthurSap opened #71 "Synchronized access to reviews/locations"
As @KaplanAlexander pointed in #32 , we need to synchronize reviews' deletion.
Questions are:
1) How? Using locks doesn't sound like a good idea. I thought maybe putting the review in a new DB so that if a review is in that DB it a) won't be shown on a location b) whenever a user access to such a review (if for example he opened it and while reading it an admin deleted it i.e moved it to the new D

[2016-12-17 10:31] yossigil commented on #55
:+1:

[2016-12-17 10:35] ArthurSap opened #72 "Adding Mockito dependency to the pom"
I wrote a test for admin but got an error while adding reviews in a different class so I decided to work with mockito to prevent future bugs like that.
I'm adding mockito dependency to the pom.xml, FYI @KaplanAlexander
I will also commit the test that didn't pass so whomever it may concern can see what was the problem (FYI @assaflu @yossigil )

[2016-12-17 11:14] koralchapnik commented on #58
After looking at JxMaps API I think that there are only two classes inheriting from Location derived from JxMaps classes GeocoderResult and PlaceResult.
@Kolikant what do you think about that ?

[2016-12-17 11:22] koralchapnik commented on #30
I have a little doubts on what should I do. Here are the options:
1. Add function to @Kolikant class that returns all kinds of nearby places(as LanLng) to a specific place.
2. Create class called NearbyPlaces that exposes several functions like getNearbyHotels(), getNearbyCoffees() etc. the NearbyPlaces will hold the LatLng of the place which we want to be the central and each method will get a ra

[2016-12-17 11:27] yossigil commented on #72
:+1:

[2016-12-17 11:27] yossigil commented on #72
no label/no milestone/no assignee = BAD KARMA...
@zvili @idabran

[2016-12-17 11:28] kapalex commented on #58
I think the idea was the third one to have a simple LatLng component in it

[2016-12-17 11:31] koralchapnik commented on #58
Both has method that returns the LatLng, do you think it still necessary?

[2016-12-17 11:35] kapalex commented on #30
this should be some option in the JxMaps API to show the near by location (similar to what google maps offer, and since JxMaps works with the google maps API it should be the same)
If it doesn't then maybe JxMaps isn't right for us

[2016-12-17 11:37] kapalex commented on #58
The idea is to have some class to recognize location that don't have an official representation in the JxMaps (maybe a shop that doesn't have info in google maps and people still want to leave a review) so it will be marked with just a LatLng coordinate

[2016-12-17 11:39] koralchapnik commented on #58
Now I understand,  thanks

On 17 Dec 2016 13:37, "Alexander Kaplan" <notifications@github.com> wrote:

[2016-12-17 11:41] koralchapnik commented on #30
It is an option.  The question is if you want to separate it to kinds of
facilities

On 17 Dec 2016 13:35, "Alexander Kaplan" <notifications@github.com> wrote:

[2016-12-17 11:49] kapalex commented on #30
does the API not offer infomation on which kind of facility it is?  if it is shown on the gui map that should be enough

[2016-12-17 12:18] #72 closed, assigned to ArthurSap

[2016-12-17 12:28] koralchapnik commented on #30
But what if in the next sprint we will want to add the functionality that
shows only nearby places that the user has navigated to,  or places that
decided by a learning algorithm to be relevant for the user?
I'm wondering if only adding method to the search is scalable..  What do
you think?

On 17 Dec 2016 13:49, "Alexander Kaplan" <notifications@github.com> wrote:

[2016-12-17 12:28] Kolikant commented on #58
Locations
Are -- our --presentation of the data
Containing our information
They need not be equivelant to a jxmaps class

[2016-12-17 12:31] koralchapnik commented on #58
I think that Alex has explained that good enough

[2016-12-17 12:31] Kolikant commented on #30
It is scalable
After recieving information by google maps, we can filter it with our own
data, allowing ourselves all the lantitude we need.
Coffe shops user navigated to before?
Get nearby coffee shops (thats you)
Filter all those that yser navigated to

בתאריך 17 בדצמ' 2016 14:28,‏ "koralchapnik" <notifications@github.com> כתב:

[2016-12-17 12:33] Kolikant commented on #58
Oh, sorry

[2016-12-17 12:34] koralchapnik commented on #30
And that is why I asked if we should dedicate class to encapsulate all
these method instead of just adding them to the search class

On 17 Dec 2016 14:31, "Ariel Kolikant" <notifications@github.com> wrote:

It is scalable
After recieving information by google maps, we can filter it with our own
data, allowing ourselves all the lantitude we need.
Coffe shops user navigated to before?
Get nearby cof

[2016-12-17 12:39] Kolikant commented on #30
In the end, all these things should be under the same interface, since a search query should be a search query. And we just call search. On it.
I think that these powers belong to search query class since they are search queries

[2016-12-17 12:41] koralchapnik commented on #30
So if you don't mind want to implement those things after the presentation

On 17 Dec 2016 14:39, "Ariel Kolikant" <notifications@github.com> wrote:

[2016-12-17 12:47] Kolikant commented on #30
Implement, fine, but being a major feature
Show the capability with a deterministic test
Even just by copy paste the jxmaps example

[2016-12-17 12:48] assaflu commented on #35
what do you say if instead of having a user in the review class we will only save the userName? @Kolikant @koralchapnik

[2016-12-17 12:52] koralchapnik commented on #35
Is having a user does complicate things belong to you?  If it is,  I can do
the necessary things now..

On 17 Dec 2016 14:48, "Assaf Lustig" <notifications@github.com> wrote:

[2016-12-17 12:55] Kolikant commented on #35
Its fine by me, assaf

[2016-12-17 12:56] koralchapnik commented on #35
So to change it?

On 17 Dec 2016 14:55, "Ariel Kolikant" <notifications@github.com> wrote:

[2016-12-17 15:32] yaelAmitay commented on #71
What's worng with java's synchronize?

[2016-12-17 15:35] yaelAmitay commented on #67
@ArthurSap, I understand your point of view. And I think that both solutions are too complicated.
I really think that simple inheritance is the best solution.

[2016-12-17 15:58] Kolikant commented on #67
Which means changing nothing :)

[2016-12-17 16:03] Kolikant commented on #71
Not sure i understood everything, so tell me if something is nissing
Reviews are saved on the parse server, when a client looks at locations, he imports the reviews of the things he searched for, offering a local save.
Were someone to delete the reviews when they are already in his device, all that needs happen is that the next user to look at the reviews, wont see them.
The server we are using sh

[2016-12-17 17:17] #55 closed, assigned to nobody

[2016-12-17 17:25] JuanJenkinsBot opened #73 "SmartCity-Accessibility #8 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [alexkaplan.mail] 71c71b573ce32fdedcff815982e7f36b2ca05c16 - minor change

- [noreply] 66c93c32f60c946b0c4b5ca59365f4f8d42a43a0 - Update README.md

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/8/)

[2016-12-17 17:35] kapalex opened #74 "Problem with JxMaps and build server"
The problem is as follows :
The build is failing since yesterday because the server cannot run the some of the JxMaps component failing with a chromium error. can be seen here #73 .
As far as I could understand the problem is caused by chromium not being able to launch when there is not display present.

Anyone knows of a possible solution?  Or a different explanation to the problem?

If I am corr

[2016-12-17 17:37] kapalex commented on #74
would also appreciate advice from the mentors @yossigil @zvili @idabran

[2016-12-17 17:40] kapalex opened #75 "Add the bot to the accounts with write access to this repository"
Can you add account who created issue #73
this is an account I made to better clarify that automatic issues are not created or regulated by me, as up until now they were created by my account.
The account needs write access to be able to mark commits as successful or failed.

[2016-12-17 17:41] kapalex commented on #73
@Kolikant test2 in usermanagement still fails

[2016-12-17 18:51] zvili commented on #75
I've sent an invitation to JuanJenkinsBot to join your repository.
Who is going to ack this invitation ?

[2016-12-17 18:52] #67 closed, assigned to nobody

[2016-12-17 18:53] kapalex commented on #75
I have accepted the invitation from the bot account, thank you.

[2016-12-17 18:53] #75 closed, assigned to zvili

[2016-12-17 18:57] Kolikant opened #76 "filter locations by acessibility"
As agreed in our discussions, though i noticed an issue was not opened for it, having method have a method. That recieves an acessibility level and returns whether the location is above or bellow it,
As to allow filtering by our information

[2016-12-17 18:57] zvili commented on #75
"Your wish is my command" (Aladdin). :smile:

[2016-12-17 21:02] yaelAmitay opened #77 "Request for route from mapquest"
Request for route from mapquest

relate to #19

[2016-12-17 21:15] yaelAmitay opened #78 "Add maven dependencies to support rest request/response"
Add maven dependencies to support rest request/response(and json).
Should be something as follow:

`<dependencyManagement>
		<dependencies>
			<dependency>
				<groupId>org.glassfish.jersey</groupId>
				<artifactId>jersey-bom</artifactId>
				<version>${jersey.version}</version>
				<type>pom</type>
				<scope>import</scope>
			</dependency>
		</dependencies>
	</dependencyManagement>`
and:
`<depe

[2016-12-17 22:42] #78 closed, assigned to yaelAmitay

[2016-12-18 08:33] yossigil commented on #73
Good job @KaplanAlexander

[2016-12-18 08:53] yossigil commented on #78
Good job @yaelAmitay

[2016-12-18 11:01] ArthurSap commented on #71
Question is:
User is reading review R
Admin deletes review R
User comments on/like review R
What happens now? The review is re-inserted to the DB (which it shouldn't do 'cause we deleted it)? The user receives a crash? Or what

[2016-12-18 11:03] koralchapnik commented on #71
I think that when the admit deletes it it should be deleted from all the users.

[2016-12-18 11:05] koralchapnik commented on #71
Maybe we can add a flag to review says the admin has deleted it?
And when trying to access this review by a user to shoe him rellevant error message?
Or that we want the user couldn't even see the review after the admin has deleted it?

[2016-12-18 15:01] Kolikant commented on #71
Very simple, in my opinion
User sees reveiw, when he likes/dislikes it, the information on his device
changes, but when we come to save it to the db, it wont save sonce the
review was deleted.

It would be the same as having deleted the review, but with no need to
constantly synchronize

Anyone looking at reviews -after- the delete, would not see it
Anyone who got the reviews before would.

בתאריך

[2016-12-18 15:33] kapalex commented on #71
@Kolikant that does seem like a good way of doing it
I can add an update function for DatabaseManager ( #33 ) that will first get the item from the DB (assuring us it still exists) and only then saving the new information

[2016-12-18 16:34] ArthurSap commented on #71
Question is how will the DB know if the admin deleted it? It might as well as treat that review as a newly posted review.

[2016-12-18 16:51] kapalex commented on #74
I've come up with two possible solutions, to be used on a case by case basis -

1. The person writing the test that requires JxMaps will use mockito to mock the JxMaps object.  This is of course the best solution but does require some extra code and might be redundant in some cases, especially if the actual JxMaps  view is needed to see the result of the test.

2. Use Junit.Assume to make the test

[2016-12-18 16:51] #74 closed, assigned to kapalex

[2016-12-18 16:56] kapalex opened #79 "Fix UserManagerTest.test2"
Full output can be found here #73

[2016-12-18 16:57] kapalex opened #80 "Fix BrokenAdminTest.setUp"
Full output can be found here #73

[2016-12-18 17:28] ArthurSap commented on #80
![image](https://cloud.githubusercontent.com/assets/15543389/21295184/01744b0c-c558-11e6-9677-c24e8da4ecd7.png)
The problem is in ReviewManager's upload method, I do not know how to fix it. I use it under the assumption it works and simply pass it a Review object (but it fails somewhere inside along the line).

[2016-12-18 17:33] kapalex commented on #80
Transferred issue to @assaflu , problem seems to be with the types that are given in ReviewManager

[2016-12-18 17:56] Kolikant commented on #79
done

[2016-12-18 18:04] kapalex commented on #79
Actually it caused the same issue as with the search test.  I added the same solution I talked about in #74 and its ok now, welcome to edit it as you see fit

[2016-12-18 18:09] Kolikant commented on #79
the test doesn't have a map component. the test does not fail at all running on my pc, even when I add the faults on the server (parse server) that caused it.
I don't believe that it is the right solution for whyever jenkins is failing it, as it is not using map at all

[2016-12-18 18:12] kapalex commented on #79
Again, fix as you see fit.
I did see it failing with the same error and have seen it uses the search component, so I figured it dies use jxmaps through it.
Will look into it if you claim otherwise

[2016-12-18 18:13] Kolikant commented on #79
tbh, those tests were sanity checks for me, using parse servers through my classes, making sure it works right.
the OOP way would be using mockito now that I know i'm using the server right.
so I'll use mockito and hide the evil server (probably the time taking the server to respond is what pisses jenkins off?)

[2016-12-18 18:20] kapalex commented on #79
actualy no, the communication with the server seems completely fine (as evident by my tests at Databasemanger that at the moment use the server as well)
as far as I could tell the problem is with display components from jxmaps that are based on chromium that won't run without a display

[2016-12-18 18:26] kapalex commented on #79
you can actually see that it calls JxMaps since you see the license validation in the output

[2016-12-19 11:25] yaelAmitay opened #81 "Convert route from MapQuest to JxMaps"
The navigation part of the project uses the rest service MapQuest.
The rest of the project uses JxMaps.
Given a route using MapQuest we want to get a route that suited JxMaps.

I've some ideas about how to do it:

1. Get Waypoints(*) from MapQuest . JxMaps API can recieve those points and return a route that matches those Waypoints. It's sound like the best idea but JxMaps doesn't allow more than

[2016-12-19 12:29] JuanJenkinsBot opened #82 "SmartCity-Accessibility #26 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Alexander Kaplan] 71c71b573ce32fdedcff815982e7f36b2ca05c16 - minor change

- [GitHub] 66c93c32f60c946b0c4b5ca59365f4f8d42a43a0 - Update README.md

- [Alexander Kaplan] 74b5a98603ebba6599e4bab988f0506c94946c96 - added find with fields #33

- [yaelAmitay] 83ffd41f23aeb8a6b2db3

[2016-12-19 12:50] #73 closed, assigned to nobody

[2016-12-19 12:51] kapalex commented on #73
Because of changes in jenkins setup reopened in #82

[2016-12-19 14:06] koralchapnik commented on #58
What I'm gonna do :
Add three classes inherit from Location : Street, Facility and Coordinates that will encapsulate the JxMaps capabilities for our own needs.

[2016-12-19 15:41] kapalex commented on #79
I encountered a weird behavior today while running my tests where a session create by user login was left unattended and resulted in number of tests failing because of session errors
I've added a small piece of code to user management test in `@After` that helped solve that, i'm leaving the rest of the issue to you

[2016-12-19 16:19] Kolikant commented on #79
Okay, thanks, wierd, I am yet to encounter any similiar behaviour, but will try to put what you said solves it into the method implementations.

Since i am yet to see the test actually fail on my device, you'll need to tell me if it worked

[2016-12-19 16:34] Kolikant commented on #79
I added the logout of curruser that you said helped, into the implementation of usermanager.
my tests pass consistently, same as before, tell me if they still fail for you :\ @KaplanAlexander

[2016-12-19 17:27] koralchapnik opened #83 "Question regarding the rating of Location"
In Location class, we have two lists : one of reviews and another of pinnedReviews.
I have two questions regarding the rating of a location:
1. if there is no reviews at all we should return the minimal\maximal score ?
(i.e which on of them representing an accessible location an which one an unaccessible ?
2. if there are a pinned reviews ? how should we treat them ?

what do you guys think ? @yae

[2016-12-19 17:28] Kolikant commented on #83
Default is min
Pinned reviews are always counted as "bwst x reviews"

[2016-12-19 17:29] Kolikant commented on #83
Min being ininaccessible

[2016-12-19 17:32] koralchapnik commented on #83
Thanks

[2016-12-19 17:32] #83 closed, assigned to koralchapnik

[2016-12-19 19:12] kapalex commented on #79
Seems that all is well although the problem itself was inconsistent.
We'll assume it work as expected now and if we run into it again we'll open a seperate issue

[2016-12-19 19:12] #79 closed, assigned to Kolikant

[2016-12-19 19:50] Kolikant commented on #79
Though i am yet to encounter said problem myself, this did getme to fix a different problem, so we have thT

[2016-12-19 19:51] #82 closed, assigned to nobody

[2016-12-19 19:59] JuanJenkinsBot opened #84 "SmartCity-Accessibility #40 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/40/)

[2016-12-19 20:37] #84 closed, assigned to nobody

[2016-12-19 20:48] yaelAmitay commented on #57
I added a stub to managerLocation for this issue @assaflu
I also added a few lines to explain what I need from this class.
And this issue might help too. #65

[2016-12-19 21:47] yaelAmitay commented on #51
done.

[2016-12-19 21:47] #51 closed, assigned to yaelAmitay

[2016-12-19 21:47] yaelAmitay commented on #53
done.

[2016-12-19 21:47] #53 closed, assigned to yaelAmitay

[2016-12-19 23:09] yaelAmitay opened #85 "Add check error in route"
If MapQuest cannot find a route it returns an error.
We need to check if an error as such occurred and if so handle it.
I would also like to map the reason for such an error.

[2016-12-20 07:52] yossigil commented on #85
If MapQuest cannot find a route he returns error.->it returns an error

[2016-12-20 07:55] yossigil commented on #53
You can close it with the commit message

[2016-12-20 07:56] yossigil commented on #57
@assaflu...

[2016-12-20 14:44] JuanJenkinsBot opened #86 "SmartCity-Accessibility #61 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [yaelAmitay] 1b1fd3728c06fa1118bc63466a3bb10e3fa9341d - test display route in map #81

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/61/)

[2016-12-20 16:51] #81 closed, assigned to yaelAmitay

[2016-12-21 16:27] yaelAmitay commented on #81
BTW option 2 was chosen.

[2016-12-21 17:33] #86 closed, assigned to nobody

[2016-12-21 17:57] JuanJenkinsBot opened #87 "SmartCity-Accessibility #68 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Alexander Kaplan] 67192545abdecd917838a1dd6983f7c57f3c38b5 - update pom and remove ignore

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/68/)

[2016-12-21 19:21] #87 closed, assigned to nobody

[2016-12-21 20:05] kapalex opened #88 "Add coverage badge into readme.md"

[2016-12-21 20:12] #88 closed, assigned to kapalex

[2016-12-21 20:30] JuanJenkinsBot opened #89 "SmartCity-Accessibility #80 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [GitHub] 024c91e36f4b5474eff4fc952282d5bee6b12a14 - added badge #88, close

- [Alexander Kaplan] 3532b2386224bd8ea59edc83a6eeada9e344d7ce - remove ignore now that coverage is done

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/80/)

[2016-12-21 21:55] #70 closed, assigned to nobody

[2016-12-23 11:41] kapalex commented on #89
@assaflu @ArthurSap again admin test failing, see between you who fault it is

[2016-12-23 14:42] kapalex opened #90 "Should Location and SearchQuery extends MapView?"
Currently both `Location` and `SearchQuery` class extend MapView.
I think this should be changed so they get a MapView component upon initialization and use that for all their requirements.
There shouldn't be a MapView component created for each class as this is a GUI component and should be singular for the whole app (the view that the user sees) and should be passed on to different components fo

[2016-12-23 14:48] koralchapnik commented on #90
@KaplanAlexander  Just clarify me what did you mean:
Location and SearchQuery will get a MapView singleton object in the constructor or will have a static field of MapView ?

[2016-12-23 14:50] kapalex commented on #90
in the constructor they will get a MapView object (doesn't have to be a singleton, although in practice there will probably be one).
In the program itself (not when testing) this will be the object that displays the map to the user

[2016-12-23 14:52] koralchapnik commented on #90
Ok, I think its a good idea.
we'll wait to Ariel's opinion and then decide

[2016-12-23 15:37] kapalex commented on #18
Seems this is a clone of #36  and that issues is already done, closing.

[2016-12-23 15:37] #18 closed, assigned to kapalex

[2016-12-23 15:39] koralchapnik opened #91 "Add tests to Score, Review, Location, BestReviews"
I need to add high coverage tests to the following classes:
Score, Review, Location, BestReviews

[2016-12-23 15:48] Kolikant commented on #90
They really shouldnt, the reason that they do is due to the fact that up to now aby attempt of using any method rewuired them to inherit.
If what you say works, it is the obvious choice.

[2016-12-23 16:56] kapalex commented on #90
Don't see a reason why it wouldnt, as long as a MapView is given the functions needed public
Closing this, you can open issues according to each class

[2016-12-23 16:56] #90 closed, assigned to Kolikant, koralchapnik

[2016-12-23 17:09] Kolikant commented on #90
I saw no reason it shouldnt work either
And yet it didn't

[2016-12-24 10:25] assaflu commented on #57
@yaelAmitay sorry about the late implementation

[2016-12-24 15:03] kapalex commented on #35
ReviewManager doesn't seem to be storing the list of ReviewComments, just the review itself
 @assaflu

[2016-12-24 15:50] yossigil commented on #16
Better terms are upvote and downvote

[2016-12-24 15:55] yaelAmitay commented on #77
done

[2016-12-24 15:55] #77 closed, assigned to yaelAmitay

[2016-12-24 15:57] yaelAmitay commented on #54
Done. if I'll need more classes I'll add them separately in different issue.

[2016-12-24 15:57] #54 closed, assigned to yaelAmitay

[2016-12-24 16:05] kapalex commented on #16
Will change, definitely better

[2016-12-24 17:19] yaelAmitay commented on #57
@assaflu  hi I read your comments in LocationManager
you can change the return value from List(Location) to List(LatLng) just let me know so I'll change my code too.
About the threshold it should be named score in the code, and i think @Kolikant is in charge of that.
Or at least I know he opened an issue about it.
Let me know here if you want to discussed more about details.

[2016-12-24 17:34] Kolikant commented on #57
I am not,
@koralchapnik

[2016-12-24 17:47] yaelAmitay commented on #57
@Kolikant  what about issue #76?

[2016-12-24 17:52] Kolikant commented on #57
Yes, i filter it, but koral calculates it.
(you are right that i am relevant but koral is more so)

[2016-12-24 18:04] kapalex opened #92 "Should we replace JxMaps with GMapsFx?"
This was raised as a question after the last presentation.
[GMapsFX](https://github.com/rterp/GMapsFX)

Things that seems to be in favor of switching :
- GMapsFX works with JavaFX natively, a thing that JxMaps claims to do as well but doesn't seem to actually work (failure on trying to import the javafx instead of swing library of JxMaps).  Swing is an outdated GUI library and we really should be

[2016-12-24 18:07] Kolikant commented on #92
This effects my code immensly. The past weeks i worked only with jxmaps. and as ive said already i would rather test it first which i didn't get to yet

[2016-12-24 18:11] kapalex commented on #92
This is why this issue exists, test it and share your opinion here
We won't be switching quickly as, like you said, this effects a lot of code (mentioned @yaelAmitay specifically because I think she has done the most work with the api)

[2016-12-24 18:14] kapalex commented on #92
I added the dependency to the pom for anyone who wants to test it out

[2016-12-24 18:14] Kolikant commented on #92
The people who touched the api
Are @koralchapnik, @yaelAmitay and I

Even without looking at GMapsFX i can be certain that it would probably be betterthan jxmaps

[2016-12-24 18:19] yossigil commented on #57
Without getting into the details of

[code]

a small comment: if A changes the code that interacts with B, then A in his agility should change B's code as well.

[2016-12-24 18:34] yaelAmitay commented on #92
I'll check it out and return to you with my conclusions...
I just wand to add that I didn't encounter any problem with JxMaps

[2016-12-24 18:56] yaelAmitay commented on #92
OK I think I can handle this switch. Tell me what is your decision.

[2016-12-24 19:22] koralchapnik commented on #92
I also didn't find any problem with Jx-Maps, but I'll check this

[2016-12-24 20:00] koralchapnik commented on #57
@assaflu the method that calculates the score called getReting() and you can find it in Location class.
If you mean something else tell me :)

[2016-12-24 20:52] kapalex commented on #92
I think mostly the lack of support for java fx will be a bother in the future.  Everyone should test it and we will have a discussion next meeting on monday.

[2016-12-25 13:33] ArthurSap commented on #35
Review class saves the user as a string (saves its name) - there is a default c'tor for User (or at least AuthenticatedUser) - which doesn't contains a string (hence user.getString() == null).
1) I fixed that and added a default user name for that c'tor. Please look over it.
2) Why do we save users in Reviews as user name (string) and not the user itself (User.class)?

[2016-12-25 13:40] ArthurSap commented on #80
New problem - I think its more on your method now @KaplanAlexander (on $.save() the test flies).
![image](https://cloud.githubusercontent.com/assets/15543389/21471355/6cd0ab1a-cab8-11e6-9c52-6c0f8c3b909a.png)

[2016-12-25 13:40] #89 closed, assigned to nobody

[2016-12-25 14:54] Kolikant commented on #35
Parse user doesnt allow elaborate types to be saved.
User name is a good enough identifier, as we maintain only ine user per username

[2016-12-25 15:09] Kolikant commented on #35
Do you need me to create a method that returns a user of a given name?

[2016-12-25 16:03] kapalex commented on #80
will check and report back

[2016-12-25 16:04] kapalex commented on #80
I do see the build is not failing anymore, where is this error happening?

[2016-12-25 19:48] Kolikant commented on #92
seems to be just as bad, maybe inherently in the usage of google maps api outside of android :\

[2016-12-25 20:17] Kolikant opened #93 "best reviews taking pinned reviews to account"
tried to create the filtering using the BestReviews class, but noticed it doesn't take a location to account but rather a list of reviews, which is fine, but it seems not to take the pinned reiews to account.
also, if it has popular functionality, wouldn't it be better to make the methods static? regardless, I am using it as is meant right now.

[2016-12-25 20:55] Kolikant commented on #92
it seems that your idea (i don't remember which of thread it was) of saving only the mapview works.
it breaks down the coupling.
it might be a good idea to have a library of common features now that the coupling can be broken.

if we are okay with keeping jxMaps I'll take that initiative. I think both API's are pretty bad, better the devil you know

[2016-12-25 21:23] koralchapnik commented on #93
you should use the method getRating() of Location class, it considers the pinned reviews and also uses the bestReviews class.

[2016-12-25 21:23] #93 closed, assigned to koralchapnik

[2016-12-25 21:46] kapalex commented on #92
The main point I think we should discuss is javafx vs swing
I've contacted the company about the javafx library being broken but until they answer we don't know if we can get it to work together
if not that means we will be creating our gui with swing which is quite aweful
We'll talk about it tomrrow
I do like your idea about creating such a library

[2016-12-25 22:43] yaelAmitay commented on #76
@Kolikant , this is more relevant to @assaflu .
He needs to get all the locations below the threshold  in some radius and give them back to me.
Make sure you are not implementing the same thing :\

[2016-12-25 22:43] yaelAmitay commented on #92
What's the problem with swing?
edit:
Never mind I read about it. I now understand why you tend to replace JxMaps. and as I said before i'm fine with that.

[2016-12-25 22:53] #85 closed, assigned to yaelAmitay

[2016-12-25 23:53] Kolikant commented on #76
We are not

[2016-12-25 23:54] Kolikant commented on #76
Mine is the filter by acessibility and his is the one getting bybradius

[2016-12-25 23:54] #76 closed, assigned to Kolikant

[2016-12-26 14:46] Kolikant opened #94 "create class for frequently used methods with JxMaps"
we found a way to de-couple the usage of Jx-maps.
need a class to gather all the JxMaps functionality that we are interested in

[2016-12-26 14:47] Kolikant commented on #92
in accordance to the meeting today we agreed to stick with JxMaps, and create a class for common functionality #94

[2016-12-26 14:47] #92 closed, assigned to nobody

[2016-12-26 14:48] Kolikant commented on #34
in accordance to the meeting today, Alex will be in charge of this issue as well as others like it yet to be open

[2016-12-26 14:51] Kolikant opened #95 "users design, by privilege rings"
in accordance to the meeting today, the implementation of the priviliges of users would be as suggested by Arthur here #67
the class of Authenticated User now passes under his juresdiction.

UserManagement needs to change in accordance

[2016-12-26 23:54] ArthurSap commented on #95
Have we decided to have an interface and a single implementation or just the implementation?

[2016-12-26 23:55] Kolikant commented on #95
Leave the interface in case of future changes, doesn't change much

[2016-12-27 00:46] JuanJenkinsBot opened #96 "SmartCity-Accessibility #101 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Arthur Sapozhnikov] 350b225e858e55e619017354bc867a96688712b3 - Added basic implementation for the new User design, issue #95, please

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/101/)

[2016-12-27 00:59] Kolikant commented on #95
implementation looks good, just not sure if "setPrivilige" should exist or not, but not critical.
should be easy enough to fix userManager to fit the new implementation

[2016-12-27 01:01] ArthurSap commented on #95
Automatic getters and setters, thought might as well leave it there.
Do you think we need more methods to User class?
where should we implement Pin and unPin?

[2016-12-27 01:02] Kolikant commented on #95
now that we changed the implementation to rings, all methods would recieve user's ass input and act through the rings. pin and unpin should be in Location or Location Manager (probably location)

[2016-12-27 01:09] ArthurSap commented on #95
Should we change/add those ourselves or leave it to others?

[2016-12-27 01:16] Kolikant commented on #95
I think you should add the methods that used to be in admin, no need to wait for someone to need the methods

[2016-12-27 01:41] #95 closed, assigned to ArthurSap, Kolikant

[2016-12-27 01:42] #96 closed, assigned to nobody

[2016-12-27 01:43] Kolikant commented on #80
haven't you and alex solved this today at the meeting?

[2016-12-27 06:19] koralchapnik opened #97 "Rating out of score's boundaries"
Review's constructor gets a rating.
the question is what if the rating exceeds the Score's bounds ?
to raise an exception in Review's constructor (which means using try-catch statement in each creation of review or keep throwing the exception) or to show the user some pop-up window which tells him the bounds of the rating and asking him insert another rating ?
What do you think ?
@assaflu @ArthurS

[2016-12-27 07:39] koralchapnik commented on #91
forgot to mention the issue in the commit but I added test to Review Class

[2016-12-27 08:38] kapalex commented on #80
yep

[2016-12-27 08:38] #80 closed, assigned to assaflu

[2016-12-27 08:40] kapalex commented on #96
Just for ther record @Kolikant , the issue is closen automatically when the build is fixed, no need to close it manually

[2016-12-27 08:43] kapalex commented on #97
This will only be an issue if the user can actually enter a number.
Assuming the GUI will offer an option similar to what google play offers for rating an app (you mark between 1 and 5 stars) then the option of wrong rating won't be an issue.
So I think the best course of action will be to either throw some run-time exception (specifically run-time so someone using the constructor doesn't need to

[2016-12-27 08:46] koralchapnik commented on #97
I think that the Google play idea is great.
but we need to change the Max Score bound from 10 to lower one, like 5

[2016-12-27 09:11] kapalex opened #98 "Create JS script on heroku to delete "HiddenReviews" class after a week"
As discussed last meeting, instead of deleting review we will move review to "HiddenReviews" class.
After a week of being there (an admin can move them back) they will be automatically deleted.
Need to write a simple JS script for the server to automatically delete 7 day old objects from that class.

[2016-12-27 09:16] KaplanAlexander commented on #33
@assaflu as we agreed last meeting we need to be able to move reviews from one class in parse to another, I will add the generic functionality here, the rest is up to you

[2016-12-27 10:10] koralchapnik opened #99 "failed test of addReview in Location class"
in Location Class there is method of addReview which calls the code :
[code]
when trying to execute the next code:
[code]
the adding of r1 raises the exception.
does someone who interacted with the parser knows why ? @assaflu @Kolikant @KaplanAlexander

[2016-12-27 10:12] Kolikant commented on #99
You cant save and non primitive classes intheparser, i reccomend parsing it to string and back

[2016-12-27 10:13] Kolikant commented on #99
Or int, ot ehatever seems right

[2016-12-27 10:14] kapalex commented on #99
@Kolikant but the functions uploading are in change of it, so probably @assaflu ?

[2016-12-27 10:14] koralchapnik commented on #99
but that is what @assaflu did in the uploadReview method :
[code]

[2016-12-27 10:15] kapalex commented on #99
Can you add the full stack trace?

[2016-12-27 10:16] koralchapnik commented on #99
that's what I ran :
[code]
and it get to the fail

[2016-12-27 10:17] Kolikant commented on #99
Look at location field, seems he save a latlong, no? Maybe converting that to two ints will help

[2016-12-27 10:18] Kolikant commented on #99
Oh

[2016-12-27 10:19] Kolikant commented on #99
Authenticated user and adminclasses are deprecated,
Use userimpl instead

[2016-12-27 10:19] koralchapnik commented on #99
That is not the problem..
I used it in another test and it made no problems

[2016-12-27 10:20] kapalex commented on #99
again, stack trace would really help..

[2016-12-27 10:22] Kolikant commented on #99
Seconded

[2016-12-27 10:22] koralchapnik commented on #99
one sec

[2016-12-27 10:24] koralchapnik commented on #99
![image](https://cloud.githubusercontent.com/assets/23156121/21497682/655fc578-cc2f-11e6-8e3e-6fba959215cd.png)

[2016-12-27 10:25] koralchapnik commented on #99
![image](https://cloud.githubusercontent.com/assets/23156121/21497707/93c3c52c-cc2f-11e6-95b5-f2ab70083e00.png)

the marked row is the problematic one

[2016-12-27 10:32] kapalex commented on #99
Same problem as the test yesterday
you don't init the database vefore using it
`DatabaseManager.initialize()`
In the before class of the tests

[2016-12-27 10:32] kapalex commented on #99
This will only need to be called once in the actual app (in the main) but for tests each test class needs to

[2016-12-27 10:33] koralchapnik commented on #99
Ok,
Thanks

[2016-12-27 10:33] #99 closed, assigned to koralchapnik

[2016-12-27 10:35] #33 closed, assigned to kapalex

[2016-12-27 11:03] JuanJenkinsBot opened #100 "SmartCity-Accessibility #113 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Alexander Kaplan] 2b3e705a8da5a643b8fd11051c64a4130c692e41 - slight refactoring in gui package

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/113/)

[2016-12-27 11:14] #100 closed, assigned to nobody

[2016-12-27 11:54] JuanJenkinsBot opened #101 "SmartCity-Accessibility #115 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Alexander Kaplan] b864977f1f203925cd275443d7d52e39a9de7160 - added login menu #34

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/115/)

[2016-12-27 12:02] #101 closed, assigned to nobody

[2016-12-27 12:22] #34 closed, assigned to kapalex

[2016-12-27 12:23] JuanJenkinsBot opened #102 "SmartCity-Accessibility #117 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Alexander Kaplan] d48cab87500a8375e129a8a60a8f1835adaf7c67 - added functionality for login and signup, closes #34

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/117/)

[2016-12-27 12:30] #102 closed, assigned to nobody

[2016-12-27 12:39] kapalex commented on #14
added in latest code
in GUI package Application class has the main, and can be run to see the map

[2016-12-27 12:39] #14 closed, assigned to kapalex

[2016-12-27 12:52] JuanJenkinsBot opened #103 "SmartCity-Accessibility #119 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 3383a30838a7fee51c7a51010f4e54a7f253becc - added more functionality

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/119/)

[2016-12-27 13:00] ArthurSap opened #104 "Handling unauthorized access."
How should we handle unauthorized access?
e,g in Location's newly added pin and unpin methods, if a user that doesn't have the authorization level (i.e User.privilege >= RegularUserPrivilege) tries to activate those methods - should we return (and maybe print a message) or throw a custom exception?
@Kolikant @KaplanAlexander

[2016-12-27 13:08] Kolikant commented on #104
the gui should present buttons for autheriz requiring methods, but just in case, printing a message "unautherised" would do

[2016-12-27 13:10] ArthurSap commented on #104
So no need to throw exception yes?
Regarding pin and unpin methods - what if we're trying to (un)pin an already (un)pinned review or a review that doesn't belong to the current location (i.e this.reviews.conatins(review) == false) should we throw an exception there or simply print a message too? I think exception is more fitting here.

[2016-12-27 13:13] Kolikant commented on #104
the user doesn't know what the exceptions meens, they aren't programmers. because the databse might be unreliable we should just assume that the information is not there.
unpin an unpinned review? fine, nothing happens
I think so, at least

[2016-12-27 13:14] ArthurSap commented on #104
So I will print stuff for now, until we might decide otherwise

[2016-12-27 13:22] #103 closed, assigned to nobody

[2016-12-27 13:42] JuanJenkinsBot opened #105 "SmartCity-Accessibility #123 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Arthur Sapozhnikov] 1b58cf40a48feee5fc32b65fb38353de3da75416 - Spartanized a bit

- [Arthur Sapozhnikov] b84f4c5938881871e9327a3418fca9e32b247771 - Added pin and un-pin to Location

- [Arthur Sapozhnikov] a587b71ab8a15d7d3d731924388105c816fdebbc - Added mesaages in according

[2016-12-27 13:46] Kolikant opened #106 "find a way to wait on search"
a lot of jxMaps functionality happens in the background, and ths would have been great had the JxMaps functions not linearly depended on one another and collapse being used while their unput is calculated in the background.
breaking the coupling depands that I find a way to wait on the search (similar to how  waited to mapready) but without involving JxMaps API in search or atleast very little of

[2016-12-27 13:47] kapalex commented on #105
@ArthurSap I have no idea what you did but you pretty much massacred the build

[2016-12-27 13:48] ArthurSap commented on #105
I myself don't know, git started screaming something was wrong but It didnt say waht
I will try to fix it

[2016-12-27 14:01] #105 closed, assigned to nobody

[2016-12-27 14:05] Kolikant commented on #106
write any functionality you want for JxMaps here and I'll try to make a reasonable API for it here (yes an API for code being an API for google maps, i's that good)

[2016-12-27 14:07] #106 closed, assigned to Kolikant

[2016-12-27 14:08] Kolikant commented on #94
tell me what functionality you need from JxMaps
@koralchapnik  @KaplanAlexander

[2016-12-27 14:09] JuanJenkinsBot opened #107 "SmartCity-Accessibility #126 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 9a86e72ff42b79630c4093a919a439c594224568 - solved #106

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/126/)

[2016-12-27 14:09] koralchapnik commented on #94
Later on today I'll add the functionality of the nearby places

[2016-12-27 14:15] #107 closed, assigned to nobody

[2016-12-27 14:38] JuanJenkinsBot opened #108 "SmartCity-Accessibility #128 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/128/)

[2016-12-27 14:48] kapalex commented on #108
Ignore the current errors, testing something with memory management

[2016-12-27 14:55] kapalex commented on #94
Please note, MapView should be disposed at the end of use. otherwise it is in its way a memory leak
(`.dispose()`)

[2016-12-27 14:59] kapalex commented on #94
Probably only relevant for testing, as we want to keep it up while the app is running

[2016-12-27 15:00] Kolikant commented on #94
Added it
Cheers mate

[2016-12-27 15:04] #108 closed, assigned to nobody

[2016-12-27 16:00] JuanJenkinsBot opened #109 "SmartCity-Accessibility #135 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Arthur Sapozhnikov] 5859b52861e98af3a8ce3d3ec71898a0d3d780ae - Added UnauthorizedAccessException class.

- [Arthur Sapozhnikov] ce050b4479ef2c0597e37454dd5f8f77d7dda332 - Minor changes to Privilege enum. Added throw on pin-unpin methods

[View full output](http://163.172.171

[2016-12-27 16:02] Kolikant commented on #68
well the methods are there pretty much the day I opened this, just left it open as a reminder that if fields are ever open, to take them to account in the parsing, since I am in charge of that class the reminder is unnecessary

[2016-12-27 16:02] #68 closed, assigned to Kolikant

[2016-12-27 16:06] #109 closed, assigned to nobody

[2016-12-27 16:50] ArthurSap commented on #104
Decided to add some exceptions to aid ReviewManager's implementation

[2016-12-27 16:50] #104 closed, assigned to ArthurSap

[2016-12-27 18:20] kapalex commented on #94
I think the right place for this class is in the mapmanagement package, and not in what used to be the jxmaps examples package, can I move it?

[2016-12-27 18:55] kapalex commented on #94
In addition just noticed the mapview has a `waitready()` function, which makes the additional functionality of waitablemap redundant

[2016-12-27 19:05] Kolikant commented on #94
both good points.
writableMap still exists though as to contain usage of functionality

[2016-12-27 19:53] Kolikant opened #110 "make UserNames Unique"
realized I was working on it without opening an issue

[2016-12-27 19:54] #110 closed, assigned to Kolikant

[2016-12-27 20:05] JuanJenkinsBot opened #111 "SmartCity-Accessibility #142 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 390c3554c93392e718742f7db621ace4fc2b4dee - #94 can clear markers set

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/142/)

[2016-12-27 20:25] kapalex commented on #29
Updates from today :
- JxMaps offers event callback functionality for click, double click and a lot more.  Using this and a glass panel for the jframe I should be able to create a new menu on click.
- default double click functionality (zoom) should be cancelled as it would intefere with regular clicks
- need to find a way to cancel the default info window shown for locations
- possibly (and maybe

[2016-12-27 20:25] kapalex commented on #111
@Kolikant

[2016-12-27 22:46] Kolikant commented on #111
@KaplanAlexander

[2016-12-27 23:03] #111 closed, assigned to nobody

[2016-12-28 14:14] JuanJenkinsBot opened #112 "SmartCity-Accessibility #145 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [yaelAmitay] c6a676a9315ea4561828cff06d94f043fce4aaa5 - move exception class to the right package

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/145/)

[2016-12-28 14:16] #112 closed, assigned to nobody

[2016-12-28 14:21] yaelAmitay commented on #57
@assaflu hi I changed the return value from List(Location) to List(LatLng).

[2016-12-28 14:51] Kolikant commented on #57
We need the location list for later on(in the displays)
Could you maybe add a second method instead or maybe add a map on the output of the original method?

[2016-12-28 15:00] yaelAmitay commented on #94
why is this class abstract?

[2016-12-28 15:31] Kolikant commented on #94
Its suppoused to aggregate the functionality needed for jxmaps, same as databasemander or usermanager only contain finctionality

For an example of using this class look at search test or on application

If you need anymore jxmaps functionality, tell me or out it here as well

[2016-12-28 15:44] yaelAmitay commented on #57
I can change it back, I only changed it because @assaflu  asked me to.
talk to him about it.

[2016-12-29 07:17] yossigil commented on #57
:+1:  good cooperation

[2016-12-29 11:55] JuanJenkinsBot opened #113 "SmartCity-Accessibility #158 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Arthur Sapozhnikov] 77da4627791ee1752e442803822abd8fe4aaaa5b - Added a func for the enum

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/158/)

[2016-12-29 12:56] #113 closed, assigned to nobody

[2016-12-29 12:58] kapalex opened #114 "Update JxMaps to version 1.2.2"
Following a discussion with the developers about a bug with JxMaps and JavaFX they have released a new version that includes bug fixes
I need to update the external jars we are using and the maven dependency.
After which I will notify everyone to update their files as well.

[2016-12-29 15:43] koralchapnik commented on #91
Done.

[2016-12-29 15:43] #91 closed, assigned to koralchapnik

[2016-12-29 16:20] JuanJenkinsBot opened #115 "SmartCity-Accessibility #164 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 99dcf10f5cfd202cd1741bd4ce577ea2b649a922 - changed score max value to be 5 #97

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/164/)

[2016-12-29 16:28] #115 closed, assigned to nobody

[2016-12-29 16:28] JuanJenkinsBot opened #116 "SmartCity-Accessibility #166 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 97322ffebed4d15042b15d1d8999c7ae83ede0c5 - removed ScoreNotInBountdException #97

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/166/)

[2016-12-29 16:35] #116 closed, assigned to nobody

[2016-12-29 16:36] koralchapnik commented on #97
changed the relevant code.
the GUI is responsible for showing the score's range like in google play.

[2016-12-29 16:36] #97 closed, assigned to koralchapnik

[2016-12-29 16:51] #25 closed, assigned to koralchapnik

[2016-12-29 18:54] JuanJenkinsBot opened #117 "SmartCity-Accessibility #168 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Alexander Kaplan] 2ad1422a94e088ff8b55bb0ec1717f93d3620d1f - updated pom to latest jxmaps #114

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/168/)

[2016-12-29 18:57] #117 closed, assigned to nobody

[2016-12-29 19:00] kapalex commented on #114
files are updated on the google drive folder
**Download them now to avoid errors**
same instructions as before on the JxMaps dependency wiki
@Kolikant @koralchapnik @assaflu @ArthurSap @yaelAmitay

[2016-12-29 21:03] Kolikant commented on #114
- [x] Kolikant
- [x] koral
- [x] alex
- [x] assaf
- [x] yael
- [x] athur

great job!
last time some problems occurred, so just want to make sure everyone gets this working before we close it

[2016-12-29 21:05] kapalex commented on #114
nice idea!

[2016-12-29 21:16] Kolikant opened #118 "integrating the new user with usermanager"
great job @ArthurSap  with the new userImpl functionality, however all the functionality must be integrated with me (usermanager) I'm going to make the changes I need for it and comment out other things. if you approve the changes just close the issue, otherwise let's talk.

[2016-12-29 21:50] JuanJenkinsBot opened #119 "SmartCity-Accessibility #171 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 7a688522fe0ee1ae58a46703e3ce41fd41e923c2 - integretad #118 @ArthurSap

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/171/)

[2016-12-29 22:16] ArthurSap commented on #118
Only thing I don't understand is why do you want to remove setPassword.

[2016-12-29 22:18] Kolikant commented on #118
parse server's password saving doesn't allow for a simple field change, not even manually from the server dashboard. what it does allow is to send an email to the user and have him change it from there, asking the mentors they said it's fine just not being able to change the password.
if you change the password in the local user, it won't be able to work with the database as it's password would ju

[2016-12-29 22:20] Kolikant commented on #119
I know what this is about, I added the integration tothe usermanager, so it's looking to the discussed user, just that the user isn't there.
i'll fix it in a minute

[2016-12-29 22:23] ArthurSap commented on #118
If you say so, worst case we can revert it back.

[2016-12-29 22:23] #118 closed, assigned to ArthurSap, Kolikant

[2016-12-29 22:23] Kolikant commented on #118
looking at the changes I made, I feel I coupled it way too much with the database.
I think what we should do is dissallow the setters from the class (as if a field is changed and not updated to the server it is no longer recognizable) and allow the changes to happen only in the database

[2016-12-29 22:26] ArthurSap commented on #118
You want to completely remove all setters from User? I don't know how much better it would be to delete them from user.. Might be too hard to use afterwards.

[2016-12-29 22:27] Kolikant commented on #118
see, everytime a set happens it needs to be coherent with the databse. but that means that user is in no way independent from the database and makes for a confusing interface.
limiting the changing of fields to the database (as they all must pass through it regardless) would make for a logical interface

[2016-12-29 22:28] Kolikant commented on #118
another option would be to force the user to remember after a set to make an update (meening st changes things localy while update changes the database)

[2016-12-29 22:28] Kolikant commented on #118
okay, how about this.
have the changes, fine
but!
when user logs out, update everything he changed. that sees the obvious choice

[2016-12-29 22:29] Kolikant commented on #118
decouples and seems logical

[2016-12-29 22:31] Kolikant commented on #118
no good,
the very act of finding the user in the server is reliant on knowing it's name. this would force the user to remmember it's server name and local name which is silly

[2016-12-29 22:34] Kolikant commented on #118
I added a field "local name" for now.
this allows the user to change his name as he sees fit, and when he logs out we need to call usermanager method to save info permenatly. sounds good?

[2016-12-29 22:58] Kolikant opened #120 "logout to save userchanges"
as discussed in #118, the method updateAllUserInformation has been added to userManager and needs to be called when the user logs out of the application

[2016-12-29 23:05] Kolikant opened #121 "defaultUser privilige does not get saved in the database"
following #120, user should have their information saved when logging out (or exiting the application)

default users who are users that have no account should no be saved when this happens, this should be done simply by not finding them in the database but needs to be taken to account. don't present a non logged user an error saying his account couldn't be found when he exits.
split the two insta

[2016-12-29 23:06] Kolikant commented on #119
how long before I know if my changes fixed it?
the tests are running on my device just swell

[2016-12-29 23:07] Kolikant opened #122 "default user when not logged in"
we have the default user privileges and functionality figured out, but a default user isn't created by default when the application starts....lets....lets do that

[2016-12-29 23:08] Kolikant commented on #122
my bad, I opened this issue, went to do the changes and saw I didn't see someone already implemented it.

this issue is....redundant and unnecessary

[2016-12-29 23:08] #122 closed, assigned to Kolikant

[2016-12-29 23:41] Kolikant commented on #120
much easier than I thougt

[2016-12-29 23:41] #120 closed, assigned to Kolikant

[2016-12-29 23:42] Kolikant commented on #121
I made something that works, but in case of changes may be needed to change as well

[2016-12-29 23:42] #121 closed, assigned to Kolikant

[2016-12-30 00:25] #119 closed, assigned to nobody

[2016-12-30 00:27] Kolikant commented on #119
All in the days work jenkins,
No need to thank me
I am but a humble programmer, fixing builds is what i do

[2016-12-30 04:48] yaelAmitay opened #123 "Route Type: Walking or Driving or Both"
What kind of route do we want? Walking? Driving? or Both?
if you want both, don't forget to get the chosen type from the gui.

Let me know what you all prefer.
@koralchapnik , @assaflu , @ArthurSap , @KaplanAlexander , @Kolikant

[2016-12-30 05:08] yaelAmitay commented on #123
Now that I think about it, "Walking" seems more relevant. I made it walking for now.
probably will stay "walking".

[2016-12-30 07:09] kapalex commented on #123
Yeah I agree, walking is the interesting choice

[2016-12-30 08:45] Kolikant commented on #123
Yes, walking

[2016-12-30 08:46] koralchapnik commented on #123
I also agree on walking

[2016-12-30 14:00] assaflu opened #124 "Cycle in saving reviews and location"
When function getLocation is called it needs to return a location, and location is built with all it's reviews, so each review need to be built as well, but in order to build the review we need the location -> cycle that need to be solved

[2016-12-30 14:01] assaflu commented on #124
@Kolikant @KaplanAlexander @yaelAmitay @koralchapnik @ArthurSap

[2016-12-30 14:02] assaflu commented on #124
I suggest a solution in which review wont save location, but only the coordinates of the location

[2016-12-30 14:25] Kolikant commented on #124
That would work
Were we tk have agurantee that that serves as a uniaue identifier
But if a building as a facility (cafe shop in x street) or as an adress share the same latlong

Having that they are different locations for us (one being building and other street)
Wint work.

[2016-12-30 14:25] Kolikant commented on #124
How about latlong and type? Type being string

[2016-12-30 15:18] koralchapnik commented on #124
@assaflu  Fine for me

[2016-12-30 15:22] Kolikant commented on #124
Again
It needs tobe unique.
Locations thatare different can have thesame latlong.
That is the case, a simple r example is a location of coordinate type and the facility inthatcoordinates
Both havethesamelatlong but are different locations, save thelocation type as well

[2016-12-30 15:57] Kolikant commented on #114
@ArthurSap
when you manage to get the update up and running for yourself, close the issue :)

[2016-12-30 15:58] Kolikant commented on #20
isn't this issue pretty much done with the implementation of the rings etc?

[2016-12-30 15:59] kapalex commented on #124
We are supposed to be able to get the Location from a latlng as the user should be able to click on a point in the map and by directed to a page with info and reviews
So from the click point( a latlng) we need to be able to translate it to a location as the user won't provide any additional info

[2016-12-30 16:00] Kolikant commented on #124
we need to rethink the location representation then, for duplicities in latlong occour in the current one.

the entire logical wrappers that are locations get broken

[2016-12-30 16:03] kapalex commented on #124
Do they occur?  I would think google had that covered in their api

[2016-12-30 16:03] Kolikant commented on #124
how about a hierarchy?
facility > route > coordinate

thus if we have both a route and coordinate with the same latlong we return the route
if we have both a street and a facility we return the facility

[2016-12-30 16:05] Kolikant commented on #124
google has it covered in their api.
as well as latlong they have an id which is googles unique identifier differentiating streets and building with the same latlong for instance.
we could use it, but the type seems more friendly as an interface

[2016-12-30 16:07] kapalex commented on #124
facility > route > coordinate
thus if we have both a route and coordinate with the same latlong we return the route
if we have both a street and a facility we return the facility

Seems to me like this avoids the issue more than solves it

as well as latlong they have an id which is googles unique identifier differentiating streets and building with the same latlong for instance.
we could use it,

[2016-12-30 16:08] Kolikant commented on #124
explain why the hierarchy doesn't work again, please
the more specific we have, the more specific we should give, no?

[2016-12-30 16:11] kapalex commented on #124
but how do we get more specific? user clicked on a point in the map that has a route and a facility, or two facilities, we still don't what he means

[2016-12-30 16:11] Kolikant commented on #124
how about this.
anything beats coordinate, everything
but! if we have both facility and street under the same latlong, we simply just ask the user which he wants

that seems the obvious choice

[2016-12-30 16:11] Kolikant commented on #124
let the user tell apart which of duplicities he wants, no?

[2016-12-30 16:12] kapalex commented on #124
allowing duplicates and just asking might be the way to go
just need to think how that looks design wise

[2016-12-30 16:14] Kolikant commented on #124
lets conclude to all the tl;dr

@assaflu you can save only the latlong, but save the type as well (location type, look at locations for those)

when duplicates occour under latlong, resolve them if we can, or ask the user which he wants

I will open the issues right now

[2016-12-30 16:15] Kolikant opened #125 "resolve duplicates of the same latlong when rerieving from the locationmanager"
as discussed in #124

[2016-12-30 16:16] kapalex commented on #124
ideally he should only need to save the latlng and we will ask the jxmaps (google api) which options we have
i'm hoping that's possible with jxmaps

[2016-12-30 16:23] Kolikant commented on #124
will that work? we need to integrate it with our own database (having saved in the server on that latlong both street, facility and coordinate)

[2016-12-30 16:25] Kolikant commented on #124
oh never mind, I understood what you said. right

[2016-12-30 20:18] kapalex opened #126 "Create location screen"
Location is instantiated with a `Location` type
The screen will show a list of review for this location and an option to create an additional review

- [x] Info about the location as provided by Google maps API
- [x] List of reviews
- [x] List sorted by pinned
- [x] Pinned review are highlighted
- [x] Add review button only appears if user is logged in
- [x] Navigate button
- [x] On close database

[2016-12-30 20:19] KaplanAlexander commented on #126
currently gets a LatLng at init and has demo reviews and not real ones from the server

[2016-12-30 20:48] kapalex commented on #29
Using the JxMaps onclick function I can get it to work for clicking on a random location, but when clicking on any marker (for a supermarket and such) it doesn't respond.  Need to work it.

[2016-12-30 20:56] kapalex opened #127 "Create review screen"
The review screen will show the contents of a specific review to the user
 should include

- [x] Review content
- [x] rating
- [x] upvotes and downvotes
- [x] upvote and downvote button when user is logged in
- [x] delete button if review was created by the current user or the user is an admin
- [x] pin / unpin button if user is admin

[2016-12-30 21:00] Kolikant commented on #127
#32 need to take decisions here to account

[2016-12-31 09:07] assaflu commented on #124
@Kolikant @KaplanAlexander  I can save a type for a location if it is needed, and I think it is better, because the more our project wont depend on comunication with Jxmaps is better. Jxmas might be slow (correct me if I am worng)

[2016-12-31 09:21] Kolikant commented on #124
Great :)

[2016-12-31 10:49] JuanJenkinsBot opened #128 "SmartCity-Accessibility #194 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 436253958d54937004f498f9875b29f7d5616c7c - added addressto the nearby test #30

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/194/)

[2016-12-31 11:08] kapalex opened #129 "Add Searchbar to gui"
The seach bar should let the user enter free text to search for location as well as let them choose a facility type they are interested in

Similar code can be found [here](https://github.com/TeamDev-Ltd/JxMaps-Examples/blob/master/src/com/teamdev/jxmaps/examples/PlacesSearchExample.java) and [here](https://github.com/TeamDev-Ltd/JxMaps-Examples/blob/master/src/com/teamdev/jxmaps/examples/Geocoder

[2016-12-31 11:23] kapalex commented on #57
`getLocation(LatLng)` function in `LocationManager` works in the background (uses internal callback you defined) but returns result as if it works in foreground
I'm trying to use it from the GUI to get the locaiton based on a latlng, I should either be given to option to give a callback function of my own (best option) and it happen in the background, or it needs to happen in the foreground
Right

[2016-12-31 11:42] kapalex opened #130 "Why Review class doesn't have a boolean isPinned function?"
While trying to work out how pinned and unpinned reviews will look ont he gui I noticed a review doesn't have a way of knowing if it's pinned or not
The only way to check is thruogh the location which seems to be really redundant as a review only has a single location and can't be pinned in one location and unpinned in the other.

What I think the design should be :
- Location only saves one array

[2016-12-31 12:10] kapalex opened #131 "Admin user cannot pin review"
When attempting to pin a review with an admin user I get an exception of no accesss
Example can be found in my GuiDemo test class in the end of init() function (it is now masked by try catch so remove it if you want to see the behviour)

[2016-12-31 12:59] koralchapnik commented on #130
I can do the relevant changes in location and review if it is fine by you @ArthurSap

[2016-12-31 13:10] kapalex opened #132 "Integrate Location and LocationManager"
## This issue is created to bring attention to missing details in the work flow of this two classes, relevant issues will be created to fix those details

While working with the gui I saw a few inconsistencies between the two classes

Here is the flow we want to get -

1. User clicked on a point
2. Gui gets LatLng and checks with JxMaps for locations with with such a LatLng
3. User decides the con

[2016-12-31 13:17] kapalex commented on #16
Following the change in user design this should be updated to check if a user has the rights to comment (logged in user) before letting the user upvote or downvote

[2016-12-31 18:00] #123 closed, assigned to yaelAmitay

[2016-12-31 18:01] #65 closed, assigned to yaelAmitay

[2016-12-31 18:01] #63 closed, assigned to yaelAmitay

[2016-12-31 18:03] yaelAmitay opened #133 "Integrate Navigation with GUI"
Integrate Navigation with GUI.
Enable the gui to activate the navigation.

[2016-12-31 18:05] yaelAmitay opened #134 "View User Profile"
enable the user to view it's profile.

[2016-12-31 19:08] #128 closed, assigned to nobody

[2016-12-31 21:45] Kolikant opened #135 "Jx-maps cant be decoupled in the nearbyplaces search"
when ran in a class that does not implement the mapView class of jxmaps, the finding of nearby places inexplicibly runs for all of eternity. when run from one that does(as found by koral) it finishes and works.

this meens that everynearby search will need to create a new map and that the none basic search is coupled with jx-maps.

is this fine, or...
@assaflu @koralchapnik  @KaplanAlexander  @yae

[2016-12-31 21:48] Kolikant opened #136 "wierd default behaviour of jxmaps"
when not being able to decipher the building type given to it, JxMaps (consistently!) returns the same building with nothing recognizable alike. wheter the type is hotel, asdasdasasd or floopyfloopydu

the same buildings are returned, find out what is the default behaviour

[2016-12-31 22:19] koralchapnik opened #137 "bug in searchQuery"
when trying to execute the following code:

[code]

it is running forever.
the loop it stuck in is in waitOnSearch but it is arriving to the onComplete method of the search.

do you have an idea for what is the problem ?
@Kolikant

[2016-12-31 22:32] Kolikant commented on #137
I just turned my pc off
Try looking if google maps recognizes the adress (website) if it doesnt it moght be that, if it does maybe consulting with searchtest 1 will help

I would look at it tommorow though :)

[2016-12-31 22:34] koralchapnik commented on #137
That is an address that Google maps found.
And I copied the search test and changed the address.
Also turned off my PC..
We'll look at this tommrow

On 1 Jan 2017 00:32, "Ariel Kolikant" <notifications@github.com> wrote:

[2016-12-31 22:53] yaelAmitay commented on #137
Is this the same problem as #135?

[2016-12-31 22:57] koralchapnik commented on #137
I don't think so, but maybe it is..

On 1 Jan 2017 00:53, "yaelAmitay" <notifications@github.com> wrote:

[2017-01-01 09:24] kapalex commented on #135
Will look at it today and try to search for a solution as well

[2017-01-01 16:21] yossigil commented on #16
Don't reopen issue. Start new ones.

[2017-01-01 16:29] #16 closed, assigned to kapalex

[2017-01-01 16:29] kapalex opened #138 "Add access control to upvote and downvote functions"
Following the change in user design this should be updated to check if a user has the rights to comment (logged in user) before letting the user upvote or downvote

Followup to #16

[2017-01-02 17:53] yaelAmitay opened #139 "Bug tests of navigation only work on debug mode"
Bug in navigation the tests only work on debug mode.
I think I know why this is happening, I probably didn't initalize the map of JxMaps correctly.
I'll fix this.

[2017-01-02 20:01] ArthurSap commented on #114
Hmm tried to update it and it failed, @KaplanAlexander talk to me via whatsapp or something when you're free

[2017-01-02 20:33] Kolikant commented on #137
yep, definitely a bug
good catch!

[2017-01-02 20:39] Kolikant commented on #137
I don't know as to why JxMaps is unable to find the address, but it seems that the very jxsearch fails.

I have added another search status, being search failed, at to avoid being stuck waiting on a successfull search. should resolve the bug. would be commited shortly

[2017-01-02 20:45] kapalex commented on #114
Add the error you getting here, we'll talk about it tomorrow

On 2 Jan 2017 10:01 PM, "Arthur Sap" <notifications@github.com> wrote:

[2017-01-02 20:48] #137 closed, assigned to Kolikant, koralchapnik

[2017-01-02 20:49] Kolikant commented on #94
its been a while and no one asked for more functionality so I'm closing it, open a separate issue if more functionality is needed in the future

[2017-01-02 20:49] #94 closed, assigned to Kolikant

[2017-01-02 20:57] Kolikant commented on #137
notice that searching for "Rothschild st 22 Tel Aviv" does work

[2017-01-02 21:16] yossigil commented on #114
Any lessons here for other course members re the upgrade?

[2017-01-02 21:23] yossigil commented on #139
It is better to make a test case with a failing test for bugs. This stops them for repopping

[2017-01-02 21:31] yaelAmitay commented on #139
there is a test about it but because it uses gui  I put ignore on this test.

[2017-01-02 21:40] yossigil commented on #139
Check out test categories.

[2017-01-03 14:28] kapalex commented on #114
@yossigil don't think anyone else is using JxMaps so this isn't really relevant to them

[2017-01-03 14:38] #114 closed, assigned to kapalex

[2017-01-03 14:42] #20 closed, assigned to ArthurSap

[2017-01-03 14:56] Kolikant commented on #139
Only working in debug mode strikes me as needing sleep (and therefor a wait)

Have you tried putting thread.sleep(2000) where ever yoyr breakpoint is?

If that gets it to work, you may need to add a sleeping and waking mechanism like there is in jxmapsfunctionality and search query

[2017-01-03 16:34] yaelAmitay commented on #139
i know what you talking about but this is not the probelm.(there is already sleep in my tests)
the problem is that an exception rises. i think i didn't initalize the map correctly. maybe i didn't wait for the map to be ready.
i'll fix it after my test on monday.

[2017-01-03 18:45] Kolikant commented on #139
Another thing to check out then in case yku are right
Jzmapsfhnctionality offers an extended mapview with a waitonmap method, to call if you need the map ready and dont want crushing

[2017-01-04 15:39] #131 closed, assigned to ArthurSap

[2017-01-04 16:05] ArthurSap commented on #138
Shouldn't this be under my jurisdiction ?

[2017-01-04 16:06] kapalex commented on #138
I originally made the upvote and downvote functions so I thought I'll continue the work
you're welcome to reassign this issue to yourself

[2017-01-04 16:08] ArthurSap commented on #138
If these functions are already written I'll just add the access control

[2017-01-04 16:19] ArthurSap commented on #138
I did the changes, please look over them.
I also changed your test (look at commit list, i forgot to refer it here) so it will compile.

[2017-01-06 14:19] kapalex commented on #138
Looks good

[2017-01-06 14:19] #138 closed, assigned to kapalex

[2017-01-09 10:44] kapalex opened #140 "User can set his own location with a right click on the map"
A right click on the map will move the users location to the place of the click.

A default location is set when the app is instantiated, the users needs to be able to tell us where he is for navigation to be possible

[2017-01-09 10:46] #140 closed, assigned to kapalex

[2017-01-09 11:11] kapalex opened #141 "On map startup load all location that are next to the user location and are in the database"
In order to complete #29 the user needs to have thing to click on.

What this issue aims to provide :
- When the map loads it will check with the database for locations near the user location that are saved on the database
- This location will be marked for the user and he will be able to click on them to see the location frame ( #126 )
- If a user click on a location that is not marked on the map

[2017-01-09 11:43] kapalex opened #142 "Implement getLocationsNearPoint function of DatabaseManager"
related to #57

I've added the stub in the class

This function should return location from the database the are next to the point given.
They should be return to the callback function given

This is needed for #141 (you can also see the explanation there to see what it is used for)

Should decide what is the default radius of locations nearby that should be brought, or maybe add a parameter to th

[2017-01-09 11:45] JuanJenkinsBot opened #143 "SmartCity-Accessibility #210 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Alexander Kaplan] a17692074b2f17f0876754aa687f187c89d9c0ed - added base for #141 and changed the right click function a bit

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/210/)

[2017-01-09 11:47] #143 closed, assigned to nobody

[2017-01-09 11:50] kapalex commented on #29
Our markers are now clickable using `ExtendedMarker` class
they open the location frame as the default behaviour
Seems that I cannot override the default markers function

[2017-01-09 13:17] kapalex opened #144 "Implement update functions in Review and Location managers"
I've added the stubs for my use
The functionality is similar in both :
- Check if the object is already in the server
- If it is update it
- If it isn't you should decide if it should be uploaded or discarded (for example a new location should be created as locations cannot be deleted, a new review might be an old review deleted and re-uploaded by a different user when he tried to upvote it, in th

[2017-01-09 13:52] kapalex commented on #24
done in #127 and #126

[2017-01-09 13:52] #24 closed, assigned to assaflu

[2017-01-09 13:53] kapalex commented on #28
duplicate of #129
both of you are now assigned, I'm closing this issue as the new one has all the relevant info

[2017-01-09 13:53] #28 closed, assigned to koralchapnik

[2017-01-09 13:56] kapalex commented on #129
A note about this relating to #29
Because the default markers cannot be made clickable (JxMaps.. ) after you search for something from this gui, the results should be made into `ExtendedMarker` and put on the correct location for the user to see, this way he will be able to click on them

[2017-01-09 14:37] Kolikant commented on #129
are these extended markers part of jxMaps or part of your code?
regardless of answer, how do I create one

[2017-01-09 14:57] kapalex commented on #129
You give the map object and location in the constructor, the rest is taken
care of

On 9 Jan 2017 4:37 PM, "Ariel Kolikant" <notifications@github.com> wrote:

[2017-01-09 15:04] kapalex commented on #129
Example can be found in the `onRightClick` method of jxmapsfunctionality

[2017-01-09 15:50] kapalex opened #145 "LocationType design"
Following a discussion started earlier we decided to remove the current Location class layout where the Location class is abstract and different types inherit from it, and replace to with a single Location class that has a `LocationType` enum that has `Coordinate, Street, Facility` values

What I propose is to break down the Facility value into sub values such as `Hotel, Bar, ...` to be used as bo

[2017-01-09 15:56] Kolikant commented on #145
just pointing out that we have not agreed on the enum.
however, having an enum of enums, puts all of my worries to rest, as long as we make one for street as well. so I am okay with that solution

[2017-01-09 16:00] kapalex commented on #145
Alright, we'll see if anyone else has any objections with the new proposal

[2017-01-09 16:55] yaelAmitay commented on #145
I'm okay with this 👍

[2017-01-09 17:10] kapalex commented on #145
Alright, good enough for now, if anyone else has any new insights reopen this

[2017-01-09 17:10] #145 closed, assigned to kapalex

[2017-01-09 17:11] Kolikant commented on #129
the extended marker seems to bypass all the functionality I had with markers in jxMaps functionality.
I need to integrate it with everything existing in the jxmapsfunctionality before it, assuming the functionality is necessary.

[2017-01-09 17:12] kapalex commented on #58
Should be changed according to #145 , open a new issue if you see fit

[2017-01-09 17:15] Kolikant commented on #129
look at the result for now (search for an ----address----) it uses the regular markers I've implemented already in jxmapsfunctionality but should look the same with the extended markers.
any insight? @yaelAmitay @ArthurSap @koralchapnik @assaflu @KaplanAlexander

[2017-01-09 17:16] Kolikant commented on #129
![image](https://cloud.githubusercontent.com/assets/23051198/21775781/1e51d1fa-d6a0-11e6-9048-070763f30960.png)

[2017-01-09 17:18] kapalex commented on #129
Yes it does seem necessary because of JxMaps not offering the functionality we need from the default markers so creating a subclass seems like the best solution
ExtendedMarker does (as the name suggests) extend Marker so it should be to much of a mess switching the two out
If you think the ExtendedMarker class should behave differently we can change it to work better with what you made
Other than

[2017-01-09 17:24] Kolikant commented on #129
the problem I am having is that extendedmarker works with location.
but thinking about it, it really should do that, just brings up the next quentsion: does everytime a user search for some place (being a location not previously known) we create and upload the location?

this creates heavy coupling with search and location which makes sense to me, but maybe we had someting done wrong to lead to th

[2017-01-09 17:26] Kolikant opened #146 "clear all markers from map"
we save all the markers the user wants.
jxmapsfunctionaloty allready offers the functionality to clear the markers, just need to add the button

[2017-01-09 17:28] Kolikant commented on #17
even after all the work done for this so far, this is too big for me.
anyone care to share?

@koralchapnik @ArthurSap @assaflu @yaelAmitay @KaplanAlexander

[2017-01-09 17:32] kapalex commented on #129
Went into more detail about it at #141
I think this should be regarded the same as when a user click on a random location - the location isn't added to the database until the point where the user actually adds the review

[2017-01-09 17:38] Kolikant commented on #129
mmmmmm, this seems to be more complicated.
if the user clicks, the gui will interface with the database, fine.
but if the user searches, search will need to interface with DB and then either return that or create a dummy and offer it to the DB for upload.
makes sense. just writing it for future me (the forgetful guy)

[2017-01-09 17:40] #146 closed, assigned to Kolikant

[2017-01-09 17:41] JuanJenkinsBot opened #147 "SmartCity-Accessibility #219 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Ariel Kolikant] 083704e5cf277ff1b02dfe9777f2cc0d5a3a34b5 - #129 now marks adress searches:

- [Ariel Kolikant] 1b7142f40c4237b8fc850e92be8f48a6a630739e - all markers created by jxmapsfunctionality can now be cleared by button

[View full output](http://163.172.171.65:8080/jo

[2017-01-09 17:43] Kolikant commented on #147
@KaplanAlexander
translation?

[2017-01-09 17:45] kapalex commented on #147
`[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /var/lib/jenkins/workspace/SmartCity-Accessibility/src/main/java/smartcity/accessibility/gui/components/ButtonsPanel.java:[13,45] cannot find symbol
  symbol:   class jxMapsFunctionalityTest
  location: package smartcity.accessibility.mapmanagement`

look at that line and see the issue
my gues

[2017-01-09 17:47] Kolikant commented on #147
is it not finding jxmaps....test or not finding button panel?
both of which have long been commited

[2017-01-09 17:48] kapalex commented on #147
buttonspanel.java line 13
seems like your importing a test file for some reason?
probably that causes a problem with maven

[2017-01-09 17:49] Kolikant commented on #147
oh, okay. thank you. I think I know now what it is then

[2017-01-09 17:52] #147 closed, assigned to nobody

[2017-01-09 17:52] Kolikant commented on #147
hush now Jenkins. you are safe.
it can't hurt you anymore

[2017-01-09 18:16] Kolikant opened #148 "interface extended marker under JxmapsFunctionality"
a lot of the functionality of jxmapsfunctionality relies in jxmaps functionality being used....
extendedmarker works around it, so need to add it to work under it

[2017-01-09 18:31] #148 closed, assigned to Kolikant

[2017-01-09 18:33] Kolikant commented on #141
no, this doesn't seem right.
search is supoused to show the location for the user once requested and is suppoused to do it for nearby places. this way would cause an abundance of nameless markers that the user knows nothing about.

[2017-01-09 18:40] kapalex commented on #141
What I'm trying to achieve (and maybe i'm going about it the wrong way) is the same thing that jxmaps shows when the map is loaded for the first time.  The user seems locations near him automatically so he can see what is around his location

BUT, because the default markers are useless to us (the user cannot interact with them), I attempt to achieve the same result by showing the user all the loc

[2017-01-09 18:43] Kolikant commented on #141
oh, I see. assuming it is indead not overwhelming information we need to take a few things to consideration.
1) not show streets.: our location managers saves streets and coordinates as well, we mustn't show them-> that would be overwhelming
2) clear them all when search comes: it's a great idea for a starting map, but if the user searches for something, we should clear the map. jxmapsfunctionalit

[2017-01-09 18:47] kapalex commented on #141
1.  not completely sure.  how else is the user supposed to see streets?  will search cover streets? because that seems kind of un-intuitive to search for a street (clarifying, not an address, a whole street)
2. definitely makes sense, adding it as a task

[2017-01-09 18:58] Kolikant commented on #141
search covers searching for streets (just an a street name gives the center of the street, so it could count) it does seem intuitive to me to search for a street (say the user wants to comment on a streets accessability?)

but if you want --ALL-- the streets near the user to appear (all must appear if searching for them is unintuitive) we need to find a way to inititalize all the street locations

[2017-01-09 18:59] ArthurSap commented on #17
If you'll finally give me that sweater!!
Talk to me tomorrow and give me an update

[2017-01-09 19:02] kapalex commented on #141
Now that I think about it , it does seem better to just search for streets
I'll put it as a task to ignore street locations when showing to the user

[2017-01-09 19:18] yaelAmitay commented on #129
What was the problem? I can't understand you.

[2017-01-09 20:01] kapalex opened #149 "Create logout option when user logged in instead of login"
After user logs in the "login" button should be replaces with a "log out" button and vice versa

[2017-01-09 20:53] Kolikant commented on #129
with the build or with the searchbar gui?

[2017-01-09 20:57] Kolikant opened #150 "expand search bar gui to include options of the complex search"
now for the real deal.
add the ability to do the complex search. so far it just searches by address (AKA the "simple" search)

[2017-01-09 21:04] Kolikant opened #151 "search API"
as discussed there are two kinds of searches, adress search (very intuitive) and nearby places search (which finds all following a keyword of a type of place)

how would this appear to the user?
the current searc (address only)  looks like this
![image](https://cloud.githubusercontent.com/assets/23051198/21783317/7a55214a-d6bf-11e6-8978-2492fd122162.png)

so here are the options I see that could m

[2017-01-09 21:06] Kolikant commented on #17
I am spliting it into two

[2017-01-09 21:07] Kolikant opened #152 "integrate nearbyPlacesAttempt with SearchQuery and SearchQueryResult"
nearbyplaces works independently of search mechanism and needs to be integrated to the search

#17

[2017-01-09 21:11] Kolikant opened #153 "integrate searchQueryResult with locationManager"
the search returns information from google maps, we need to be able to sync it with whta we have saved on the database, meening.

we should create dummies for locations not saved in database found by this search, yet have real locations (saved in DB) presented should they exist. the dummies are there because user needs to be able to see places not yet in DB and maybe review them (and thus lead to

[2017-01-09 21:13] Kolikant opened #154 "filter out locations under accessability level in search result"
this is the simplest of the 3 issues created from #17, just a filter of the locations given by the DB. dummies have maximal accessability.

[2017-01-09 21:45] yaelAmitay commented on #129
with the search bar, you wanted to consult with us...

[2017-01-09 21:50] yaelAmitay commented on #151
Why not a small button like "show me nearby places". if they want something more complex then i think it should be part of the complex searching.

[2017-01-09 21:52] yaelAmitay commented on #154
1. the term "dummies" in this contex is not clear...
2. there is already a method that filter the locations from DB

[2017-01-09 21:53] Kolikant commented on #129
Yes
Is the search api to your liking?

[2017-01-09 21:55] Kolikant commented on #151
Probably explained myself badly
It is with complex searching, just figuring out tje api. What you suggested is with the guidelines of option 3

[2017-01-09 21:58] Kolikant commented on #154
Yes there is, i built it.
Vut this is a different filter.

I probably explained, for locations not appearing in our database should still appear here, meaning that we need to get all of the locations weknow out and only then filter.

This with what i defined as a dummy, a location onject of a location not yet in our db, we still need to show it, so users can use them regardless of our db.

So this

[2017-01-09 21:59] Kolikant commented on #154
dummies were explained in #153

[2017-01-09 22:02] yaelAmitay commented on #151
i meant that in addition to the search button there will be a "show me nearby places" button.
or this could be just a feature of the complex searching.
either way i ok with that.

[2017-01-09 22:04] Kolikant commented on #151
show me nearby places button is actually a pretty good feature we should have, but that's not the question at hand here.
the complex searching doesn't just show nearby places, it gets a required type of location and accessability and shows only them. option 3 it is then

[2017-01-09 22:07] yaelAmitay commented on #153
What exactly are you going to do with these dummies?
i mean what happen to them from the moment you create them till the moment they are added to the DB(if they will be added) .
i just cannot see why would you need to keep them. maybe you will need to keep one dummy, the current dummy. but why more?

[2017-01-09 22:11] Kolikant commented on #153
need to understand what the complex search does.
it gets a location type and accessability and returns ALL locations in a radius from the user answering it.

however, this search is also the api from which the user finds locations to comment on to begin with.

hence the problem and the solution dummies. the complex search returned a location not in our db? stil need to show it to our user (assumin

[2017-01-09 22:15] Kolikant commented on #151
I'm adding the "show nearby location/hide nearby location button" you sugested to the issues, seems necessary

[2017-01-09 22:16] Kolikant opened #155 "show nearby places/ hide nearby places"
as suggestet by yael in #151. to use the nearbyplacesattempt class created by koral

[2017-01-09 22:17] Kolikant commented on #141
#155 is an expantion of the idea, I beleive

[2017-01-09 22:20] yaelAmitay commented on #153
I do understand the complex search I just didn't understand you.
now that you detailed i understand what you want to do.

[2017-01-09 22:22] Kolikant commented on #153
do you agree?
any addition is welcome

[2017-01-09 23:56] Kolikant commented on #151
currently works directly with neabyplacessearch, so not compatible with users favourite serch queries nor with searcquery. but looks goddamn impressive as hell

[2017-01-09 23:56] #151 closed, assigned to Kolikant

[2017-01-09 23:57] Kolikant commented on #150
forgot that the other issue was just a question, this was what i was implementing all night

[2017-01-09 23:57] #150 closed, assigned to Kolikant

[2017-01-09 23:57] #129 closed, assigned to Kolikant, koralchapnik

[2017-01-10 00:00] Kolikant commented on #136
seems to be effected by radius.
I out the entire countries length and the type of "floopyfloopymanmangfgfgfblahblahthisisatypeeeee" and it resulted with new locations

![image](https://cloud.githubusercontent.com/assets/23051198/21788646/806eab46-d6d8-11e6-8365-033a1cab363a.png)

[2017-01-10 08:50] kapalex commented on #148
I want to use the function you created to put the extended marker on mark load, but I need a variant that doesn't put an infowindow as I don't need one for this purpose

[2017-01-10 09:08] kapalex commented on #155
Can someone elaborate on what this means?
I am not sure I understand it, but it doesn't seem necessary if I do

[2017-01-10 09:23] kapalex commented on #148
added it

[2017-01-10 09:54] #29 closed, assigned to kapalex

[2017-01-10 10:02] kapalex commented on #141
@Kolikant can you add (or maybe you already have) a clearMarkers() call before search?
this will clear out the existing markers created here
When you do this issue can be closed

[2017-01-10 10:07] Kolikant commented on #141
It does so automaticly for elaborate search

It doesnt do it for regular sear h, under the assumption that user would want to agregate markers, and then clear if tjey want.

It should work, if it doesnt open a bug issue for me

[2017-01-10 11:44] kapalex commented on #141
That seems good enough, closing this
If I'll run into any problems I'll open a new issue

[2017-01-10 11:44] #141 closed, assigned to kapalex

[2017-01-10 17:18] yaelAmitay commented on #155
yes I think we are going to leave it out

[2017-01-10 17:19] #155 closed, assigned to yaelAmitay

[2017-01-10 19:53] #139 closed, assigned to yaelAmitay

[2017-01-10 20:02] yaelAmitay commented on #139
fixed.

[2017-01-10 20:18] yaelAmitay opened #156 "current location of user"
We talked about navigation from current location of the user to some point in the map.
I'm trying to integrate the navigation with the gui.
Are we saving the current location of the user somewhere?
I saw "Marker currLocation" in Application.java but it looks like it wasn't initialized, and I'm not sure if it's supposed to keep the current location of the user.
In addition I saw that the map is ini

[2017-01-10 21:11] kapalex commented on #156
How it works right now -
`currLocation` marks the current location.  It is set on startup to a default locaiton "Eliezer 10, Haifa, Israel".  The user can right click anywhere on the map to set his location to that point.
use `currLocation.latLng()` to get the latlng of the user.

Now maybe something should be added to set the initial location, but for now that what we got

[2017-01-10 21:17] yaelAmitay commented on #134
done.

[2017-01-10 21:17] #134 closed, assigned to yaelAmitay

[2017-01-10 21:17] JuanJenkinsBot opened #157 "SmartCity-Accessibility #234 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [yaelAmitay] 2a583b0f77d7f4a1eb2e39363bfb3f2e2a8d36ca - add user view profile #134

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/234/)

[2017-01-10 21:24] #157 closed, assigned to nobody

[2017-01-10 21:33] yaelAmitay commented on #156
yes but where does the initialization of "currLocation" happens? I looked it up but i just can't find it.
i see the part of the "right click" but i can't see the first initializatin.

[2017-01-10 21:42] yaelAmitay commented on #156
Nevermind.

[2017-01-10 21:45] #156 closed, assigned to yaelAmitay

[2017-01-11 23:01] #19 closed, assigned to yaelAmitay

[2017-01-11 23:29] yaelAmitay commented on #133
done.

[2017-01-11 23:29] #133 closed, assigned to yaelAmitay

[2017-01-11 23:32] yaelAmitay opened #158 "Delete previous route from map"
Delete previous route from map when a new navigation route request arrive.

[2017-01-11 23:35] yaelAmitay opened #159 "navigation blocking the user"
Right now when a user push "navigate", the navigation block him from doing anything else.
I want to make the navigation a non blocking action. But i'm using the shared mapView so do we need to add synchronization for mapView access?

@koralchapnik @Kolikant @KaplanAlexander

[2017-01-11 23:38] Kolikant commented on #159
No, its a copy ont the user's local device,
Synchronization of the real map stuff is done by google.

All we need to synchronise is db, but even that is taken care of.

Nome blocking is a good call, you will need to accept a callback function from gui though

[2017-01-11 23:41] yaelAmitay commented on #159
So it's okay to add stuff to the map while the user might change some other stuff on the map? are you sure?
I'm not sure if I'll have to use callback, I'll check this out...

[2017-01-11 23:44] Kolikant commented on #159
Oh
I have completley misunderstood the question
Yeah
You should block --> the map
You should stop activation of searches though and other map changing things

[2017-01-11 23:44] Kolikant commented on #159
But moving the map? Changing profile things, looking at database and cheking reviews should still be active on the map

[2017-01-11 23:46] yaelAmitay commented on #159
Why should I stop other activation of search? I just need to draw the route on the map,
if I could take control on the map for a second or so(using mutex) it should be okay.
but everybody should do the same.

[2017-01-12 00:03] yaelAmitay opened #160 "get Accessibility threshold from user"
the navigation won't pass through streets with Accessibility level below some threshold. the threshold should be given by the user. we need to get it some way/
I'll probably open a small window asking the user to insert the desired threshold.

[2017-01-12 00:06] yaelAmitay opened #161 "pop a message alert when navigation failed"
the navigation can fail for many reasons: bad connection to the internet, mapQuest server not available(rare), no route exists, etc.
we need to pop a small window to tell the user that the navigation failed.
right now if the navigation failed the user won't know about it and the app **won't** crash.

[2017-01-12 00:11] Kolikant commented on #159
You shouldnt stop them
You need to dissallow them
Make rhe buttons go grey

[2017-01-12 01:01] yaelAmitay commented on #159
but if they start before my navigation?
then they won't allow the navigation?
i still have a problem with the user, because i'm changing the center of the map and the zoom, if they uer change them in the same time it might be a problem.

[2017-01-12 05:40] kapalex commented on #159
ideally clicking the 'navigate' button shouldn't stop the user from doing anything
We haven't implemented it but some spinner that shows something happening in the background would be great
and them only when the results of navigation are in the center of the map and zoom should be changed, making the user see the navigation route

[2017-01-12 08:36] yaelAmitay commented on #159
I'm talking about showing the route in the map, I've to make changes in the map if I'm not blocking the user and he tries to change thing on the map in the same time I'm changing the map it can cause problems.

Yael

‫ב-12 בינו׳ 2017, בשעה 7:40, ‏‏Alexander Kaplan ‏<notifications@github.com> כתב/ה:‬

[2017-01-12 10:45] yaelAmitay commented on #159
@Kolikant and I tried to do some experiment and it looks like the current implmantion does not block the user from moving the map or zoom in/out. though the location frame is blocked.
I think i'll just do the navigate on different thread with no callbacks and no synchorinzation. and then the location frame won't be blocked.

[2017-01-12 10:53] yaelAmitay commented on #159
done.

[2017-01-12 10:53] #159 closed, assigned to yaelAmitay

[2017-01-12 11:18] yaelAmitay opened #162 "Search crash when it doesn't find location"
the search crash when it doesn't find location

[2017-01-12 11:18] yaelAmitay commented on #158
done.

[2017-01-12 11:18] #158 closed, assigned to yaelAmitay

[2017-01-12 11:28] yaelAmitay opened #163 "Navigation doesn't goes throgh parks"
Navigation doesn't go through parks.
I'm not sure if I can fix it because we are using MapQuest and it probably their fault.
So maybe we will addd this to the list of known bug?

What do you think about it?
@KaplanAlexander @Kolikant @koralchapnik @assaflu @ArthurSap

[2017-01-12 13:37] kapalex commented on #163
If it's a problem with MapQuest (as opposed to some configuration problem which I assume you've checked)  then we probably don't have time to fix it this sprint, I think adding it as a known bug is the right call, and later we will think of what should be done (next sprint)

[2017-01-12 13:40] Kolikant commented on #163
How about adding a dotted line from where mapquest ends to the end point?
Saying we know you can get to here (none dotted) but this short path was not marked ( dotted)

For now?

[2017-01-12 14:58] yaelAmitay commented on #163
I can do something like that, I'm not sure about dotted but i can try different color.

Yael

‫ב-12 בינו׳ 2017, בשעה 15:40, ‏‏Ariel Kolikant ‏<notifications@github.com> כתב/ה:‬

[2017-01-12 15:19] yaelAmitay commented on #163
I just want to add that it's not just parkd. it's all the gray parts of the map.

[2017-01-12 16:10] #162 closed, assigned to Kolikant

[2017-01-12 18:31] Kolikant opened #164 "placeResult and Geocoder Result incompatible"
another lovely surprise from Jxmaps.
the "simple" searc and elaborate search results are complitley incompatible.
further more, no meaningfull constructors nor setters exists for the creation of one from the other.

this led me to need to change the return of searches to be LatLong, meaning that location's "get adress" method would no longer work as it did, I will change it as well

[2017-01-12 18:42] Kolikant opened #165 "give up on user favourote search queries?"
the entire reason i am even integrating elaborate search with search query is because we wanted users to be able to save their favourite search queries, but we dont seem to be that interested in it.

leaving them incompatible (which they are so deffinetly are) would allow for more meaningfull return values from each.

since GeocoderResult and PlaceResult are completley incompatible I have to resor

[2017-01-12 18:45] Kolikant commented on #164
rather than resort to latlong, I will slightly couple search with location (overall makes sense) as to put all information inside location

[2017-01-12 18:46] Kolikant commented on #164
getAdress would change by adding adress as a field inside of location

[2017-01-12 18:47] kapalex commented on #165
It definitely isn't a main feature, more of a nice to have, so if it compromises other more important features I say put it aside

[2017-01-12 19:23] Kolikant commented on #165
managed to integrate! so the way to adding searc hwueries is paved.
they are saved, parsed and loaded, just not added nor used.

wont mind them until next sprint though

[2017-01-12 19:23] #165 closed, assigned to Kolikant

[2017-01-12 19:24] Kolikant commented on #164
by foing the changes mentioned, was able t ointegrate the searchqueries.
did not fix getadress like said since nothing at all except test class ever used it.

[2017-01-12 19:24] #164 closed, assigned to Kolikant

[2017-01-12 19:24] Kolikant commented on #152
done in last commit

[2017-01-12 19:24] #152 closed, assigned to ArthurSap, Kolikant

[2017-01-12 19:26] Kolikant commented on #136
add to known bugs? cant figure out any reason behind this wierd consistency

@koralchapnik @KaplanAlexander @assaflu @ArthurSap @yaelAmitay

[2017-01-12 19:29] Kolikant opened #166 "SearchQuery needs MAJOR refactoring"
managed to integrate the two types of searches, but it sure ain't pretty.
it works for now but is very higly not fool proof and needs to be used in precise manners (AKA bad design) so refactoring of it is needed

[2017-01-12 19:36] kapalex commented on #136
I think so
Add a section in the readme file of known bugs and put it there

[2017-01-12 19:48] Kolikant commented on #160
suggestion:
both elaborate search and navigation need the desired accessability as a known variable.
maybe we shout of the user profile.

he won't have different accessability for navigation and searching and would probably stick to the same level?

[2017-01-12 19:51] Kolikant commented on #136
added

[2017-01-12 19:51] #136 closed, assigned to Kolikant, koralchapnik

[2017-01-12 20:17] kapalex commented on #160
It should be a setting that is set for each search/navigation, not something that the is a user setting
If a user wants to search with a different accessibility constraint each time it should be normal, and not something tedious he needs to change in the setting
@yaelAmitay solution of just opening a window and asking seems better to me

[2017-01-12 20:22] Kolikant commented on #160
That is the existing one already in search, thought encapsulating it would be a good call
Also, having a default value in settings seems higly reasonable, as users would most of the time use the same value for they have the same accessability needs

[2017-01-12 20:37] kapalex commented on #160
It doesn't from a stand point we never defined what each accessibility provides, so while a certain place could have a rating of 3, which be fine for a user, but another place with a rating of 4 wouldn't be
The user will want to search once with a 4 rating requirement, and if he doesn't find something that fits his needs he will lower his standard and search for a 3

[2017-01-13 06:24] yaelAmitay commented on #160
So we decided to pop a window to ask right? This is my current planning...

Yael

‫ב-12 בינו׳ 2017, בשעה 22:37, ‏‏Alexander Kaplan ‏<notifications@github.com> כתב/ה:‬

[2017-01-13 10:47] yaelAmitay commented on #160
done.

[2017-01-13 10:58] yaelAmitay commented on #161
done.

[2017-01-13 11:06] Kolikant commented on #161
wrong issue reopened, sorry

[2017-01-13 11:08] Kolikant opened #167 "add path cleaning to be activated from clean markers"
pressing clear markers means that the user wants to see a clean map, cleaning the navigation path should also be activated from clear markers

[2017-01-13 11:15] #161 closed, assigned to yaelAmitay

[2017-01-13 11:16] Kolikant commented on #160
very confusing interface. when the popup closes, the navigation window is still open allowing naviagate tp be pressed again, no indecation is given as to the fact that navigation is accuring.
wither close the naviagation window, dissallow activating navigation from the same window again or give indecation that navigation is calculating

[2017-01-13 11:16] yaelAmitay commented on #167
I already did it....

[2017-01-13 11:16] #167 closed, assigned to yaelAmitay

[2017-01-13 11:19] Kolikant commented on #167
wierd, I ran the most recent version and it didn;t delete, made sure a couple of times before opening the issue.

now after you said it, i pulled, had no changes and now it works.
strange indeed

[2017-01-13 11:20] yaelAmitay commented on #167
maybe you didn't refresh?

[2017-01-13 11:21] Kolikant commented on #167
I think I did, regardless it doesn't matter. god job. check out the issue I reopened, that one seems to be still valid

[2017-01-13 11:22] kapalex commented on #167
can confirm it worked when I tried it

[2017-01-13 11:24] yaelAmitay commented on #160
this is the location frame you are talking about. i'm not sure if we want to close it!
I think the interface is very clear, you pick a threshold and thats it.
If you want to close the location frame fine by me but this has nothing to do with this issue or with the navigation at all!

[2017-01-13 11:29] Kolikant opened #168 "make search accessibility a drawer"
search asks user for a number, having the values preknows, can make it a simple drawer for better user interfacing

[2017-01-13 11:37] Kolikant commented on #160
I can tell you that it isn't clear from the fact that I tried to use it and wasn't sure if it's running at all, causing me to run navigation a second time.

i press navigation, a pop up arrives and then is gone, no idea if its running. it can be confusing, it WAS confusing for me dissallow pressing navigation again (grey the button to show naviagtion is running) is the simplest solution

[2017-01-13 11:40] yaelAmitay commented on #160
then let's open a different issue about letting the user know the nvaigation is working.
instead of reopening this issue which is not relevant...

[2017-01-13 11:40] #160 closed, assigned to yaelAmitay

[2017-01-13 11:41] yaelAmitay opened #169 "when user click Navigate show the user that navigation is working"
when user click Navigate show the user that navigation is working by opening a small window or somethinkg like that.

[2017-01-13 11:41] Kolikant commented on #160
its not as if the issues are a sacred thing to be used in one particular way. put it where you think its convenient for you

[2017-01-13 11:46] kapalex commented on #169
One option would be to add a spinner in the main screen of the app, and make it visible when navigation is working (this can also be reused for other parts of the app)

Also when navigation is started the `LocationFrame` should be disposed (`frame.dispose()`)

[2017-01-13 11:47] kapalex commented on #168
I actually have no idea what the title says

[2017-01-13 11:47] yossigil commented on #160
It is better slightly for progress monitoring to open a new issue

[2017-01-13 12:05] Kolikant commented on #168
oh sure, I'll add some explanation then

[2017-01-13 12:10] kapalex commented on #168
Lovely!

[2017-01-13 12:22] koralchapnik commented on #166
Which refactoring did you think about ? (in terms of design)

[2017-01-13 12:34] #168 closed, assigned to Kolikant

[2017-01-13 13:29] yaelAmitay commented on #163
I added blue lines to start and/or the end of route that start or end in a gray area of the map.
I'll also add this to the list of knonw bug.

[2017-01-13 13:29] #163 closed, assigned to yaelAmitay

[2017-01-13 14:26] kapalex commented on #130
Would appreciate if you could do it soon as I'm dependent on it for #126

[2017-01-13 15:01] #149 closed, assigned to kapalex

[2017-01-13 15:02] kapalex opened #170 "App crashes when trying to exit after user logs out"
How to reproduce -
- Run the application
- Login
- Logout
- click on 'X' button

Some exception is thrown

[2017-01-13 15:38] koralchapnik commented on #130
Working on this now :)

[2017-01-13 16:45] Kolikant commented on #170
Does logging out return the current user to be default user?

[2017-01-13 16:49] kapalex commented on #170
What i did was
`UserManager.logoutCurrUser();`
`Application.appUser = null;`

Anything else?

[2017-01-13 17:13] Kolikant commented on #170
Oh okay, i think i know what the problem is then, thank you for the help. Should be fixed sone

[2017-01-13 17:29] Kolikant commented on #170
okay, since the application starts by creating a default user as the app user, the implementation relies on a none null user being used.
so rather than assigning null at logout, i assigned the default user, I made this to be more intuitive by changing default user creation api.

meaning that if no user is active, there should now be a clear assignment, that bein UserImpl.DefaultUser();

[2017-01-13 17:29] #170 closed, assigned to Kolikant

[2017-01-13 17:34] Kolikant commented on #166
I integrated the usage of nearby places to be encapsulated under SearchQuery.

the usage is pretty much horrid, but doesn't effect the class you wrote, I had some ideas, but explaining all of them here would take too long, next meeting?

[2017-01-13 17:46] kapalex commented on #170
Oh, yeah that's completely my bad, I forgot that's what we agreed on doing

[2017-01-13 17:48] Kolikant commented on #170
no worries :) it works now

[2017-01-13 17:50] kapalex commented on #58
closing this as it is no longer relevant

[2017-01-13 17:50] #58 closed, assigned to koralchapnik

[2017-01-13 18:08] kapalex commented on #132
edit small change
@koralchapnik you might also be able to help here

[2017-01-13 18:27] JuanJenkinsBot opened #171 "SmartCity-Accessibility #258 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [KoralChapnik] 15ee908432b62262a3f64d4cf9bdd962fdbb13cd - added rellevant changes to Location Class but not finished yet #130

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/258/)

[2017-01-13 19:15] assaflu commented on #144
@KaplanAlexander  can you please look at the implementation of the two function and tell me if you think it is ok, so i know that i can advance

[2017-01-13 20:07] kapalex commented on #144
yes this looks good
few notes :
- when either uploading or updating review the "pinned" status is disregarded, @koralchapnik  added the `getPinned` function today and you should use it
- We talked about using `HiddenReviews` in review and I don't see that reflected anywhere
- not entirely related here but make sure `getLocation` returns the reviews