[2017-01-13 23:19] assaflu commented on #144
About the pinned reviews - I know that i have to add it it just that the function wasn't implemented when i worked
HiddenReviews - i didn't get the time today to get to that hope to reach it tomorrow

[2017-01-14 07:34] kapalex opened #172 "Update admin tests"
After the changes discussed at #130 both tests seem to be failing (One was put on ignore temporarily)
You should look into what is happening and update the test to be relevant
Consult with @koralchapnik regarding the changes

[2017-01-14 07:47] koralchapnik commented on #172
I've been told to ignore these teses sience admin is deprecated

[2017-01-14 07:48] koralchapnik commented on #172
Maybe I forgot to put ignore annotation on the other test

[2017-01-14 08:24] kapalex commented on #172
Ignore isn't the solution anyway, as we want that functionality tested
regardless of the changes

On 14 Jan 2017 9:48 AM, "koralchapnik" <notifications@github.com> wrote:

[2017-01-14 09:38] assaflu opened #173 "HiddenReviews"
when deleting a review, we change it to HiddenReview and those are deleted otimatically every 24h.
But i dont see any option to "revive" a HiddenReview.
should I implement such a function in ReviewManager?

[2017-01-14 09:48] assaflu opened #174 "Does the function getLocationInRadius needs to happen in the background?"

[2017-01-14 11:19] kapalex commented on #173
Currently that's not a feature
We talked about maybe adding it in the future, but it's on low priority for now, so focus on the rest of the Database functionality

[2017-01-14 12:57] ArthurSap commented on #130
Can I assume changed were made correctly and work on #172 ?

[2017-01-14 13:02] ArthurSap commented on #172
I intend to deprecate MockAdminTest as all relevant classes work right now.
In case of future bugs I will make the class relevant again.

[2017-01-14 13:46] assaflu opened #175 "Change getLocation to void"
Since we want getLocation to run in the background it should be void functoin that gets a getCallback function, if I am not mistaken. But the function is already in use in some parts of the code. How should we change it?

[2017-01-14 13:46] ArthurSap commented on #172
K seems I'm finished, gonna add some more tests but that's not relevant for this issue.
@KaplanAlexander check if everything's fine and close it.

[2017-01-14 13:52] assaflu commented on #57
@koralchapnik @Kolikant  due to changes in the class "Location" I dont quit understand what to do with all the fields and if they are relevant to save in the DB

[2017-01-14 14:16] kapalex commented on #172
As you can see the build is still failing because of those tests, note #171

[2017-01-14 14:18] kapalex commented on #175
create a new getLocation function that works with the callback and put a deperecated label on the previous, than transfer the issue the to people using the old one so they know they need to update

[2017-01-14 14:24] ArthurSap commented on #172
Deprecated mock test but it doesn't seem to ignore it while building... should I just delete it?

[2017-01-14 14:26] kapalex commented on #172
either put a `@Ignore` annotation if you think you'll need it at some point in the **near** future or just delete it

[2017-01-14 14:29] koralchapnik commented on #135
For now the problem in getting mapView as argument rather than inheriting MapView is the error :
com.teamdev.jxmaps.internal.aq: Uncaught TypeError: Cannot read property 'PlacesService' of undefined

Working on solving it now..

[2017-01-14 14:38] #171 closed, assigned to nobody

[2017-01-14 14:38] assaflu commented on #175
Ok thanks

[2017-01-14 18:44] Kolikant commented on #57
Resolved? Or need explanation?

[2017-01-14 18:57] #172 closed, assigned to ArthurSap

[2017-01-14 18:57] kapalex commented on #174
only used by @yaelAmitay, she will  decide

[2017-01-14 18:58] #173 closed, assigned to kapalex, assaflu

[2017-01-14 20:03] yaelAmitay commented on #174
no it should block.
meaning that it's okay to make the caller wait for response from the function.

[2017-01-14 20:08] yaelAmitay opened #176 "exception when clicking on the map"
I'm not sure if it's just me or not but when i'm clicking on the map the following exception is thrown:
`Exception in thread "pool-1-thread-1" java.lang.NullPointerException
	at smartcity.accessibility.database.LocationManager$3.done(LocationManager.java:135)
	at org.parse4j.ParseQuery$FindInBackgroundThread.run(ParseQuery.java:623)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Sou

[2017-01-14 20:12] kapalex commented on #176
This seems new
On click the GUI calls the `getLocation` function, so @assaflu  should be able to help with it

[2017-01-14 20:33] yaelAmitay commented on #169
done. I'll leave this issue open for a while to let you express your opinion about it.

[2017-01-14 20:40] kapalex commented on #169
There's place for improvement aesthetically (mostly making the background transparent) but it looks very good and definitely good enough for now
Should probably be reused for search @Kolikant

Closing this for now, since this seems done to be

[2017-01-14 20:40] #169 closed, assigned to yaelAmitay

[2017-01-14 20:42] yaelAmitay commented on #169
making it transparent is going to be a little difficult for me because I had to make the animation myself and i don't have the tools to make it transparent...

[2017-01-14 20:43] yaelAmitay commented on #169
We can't use images or animation from the internet because of copyright.

[2017-01-14 20:49] kapalex commented on #169
As I said, theres really no need in changing anything right now, maybe in the future if we see the need
And we can use things from the internet as long as we check the license they are provided with and see we can comply with such a license
Things provided as freeware (and there are plenty) should do fine, and not cause any legal issues

[2017-01-14 20:52] kapalex commented on #169
A quick google search turned up [this](http://loading.io/), according to their terms of use, we can use any of the generated loading gifs for free for any purpose

[2017-01-14 20:56] yaelAmitay commented on #169
cool I thought it wasn't allow...
I'll replace the icon soon

[2017-01-15 08:56] koralchapnik opened #177 "Bug in NearbyPlaces"
when changing the findNearbyPlaces method to accept a LocationListCallback, the onComplete method is not called.
trying to figure out why..

[2017-01-15 09:36] #177 closed, assigned to koralchapnik

[2017-01-15 18:05] kapalex opened #178 "Change right click function to be NearbyPlaceSearch"
Instead of looking for locations that are in the database, use nearbyplacesearch to find places nearby

[2017-01-15 18:07] #178 closed, assigned to kapalex

[2017-01-15 18:13] JuanJenkinsBot opened #179 "SmartCity-Accessibility #283 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Alexander Kaplan] 36275db81b48f437cb1adf6cc74a55b768d37b13 - change in on right click, closes #178

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/283/)

[2017-01-15 18:32] #179 closed, assigned to nobody

[2017-01-16 14:45] #130 closed, assigned to ArthurSap, koralchapnik

[2017-01-17 11:20] #135 closed, assigned to koralchapnik

[2017-01-17 14:42] assaflu commented on #124
I have reopened this issues cause i looked again on the implemetation of review and I steel see that we save location and not the cooardinate. Didn't we agreed to save only the cooardinate?

[2017-01-17 14:47] kapalex commented on #124
@koralchapnik was in charge of `Review` , you should talk to her so she can change it

[2017-01-17 14:49] koralchapnik commented on #124
The question is if all of you fine with the change

On 17 Jan 2017 16:47, "Alexander Kaplan" <notifications@github.com> wrote:

[2017-01-17 14:52] assaflu commented on #124
this change is nessesary for the DB saving otherwise it is not possible

[2017-01-17 14:52] assaflu commented on #124
Or we will have to decide on another way of saving

[2017-01-17 15:23] assaflu commented on #35
finished the issue if there are changes to do reopen it

[2017-01-17 15:23] #35 closed, assigned to assaflu

[2017-01-17 15:24] #175 closed, assigned to assaflu

[2017-01-17 15:24] #144 closed, assigned to assaflu

[2017-01-17 15:43] #142 closed, assigned to assaflu

[2017-01-17 16:38] yaelAmitay commented on #176
@assaflu  told me he changes getLocation, and now you should call the new function with callback function

[2017-01-17 17:07] #174 closed, assigned to assaflu, yaelAmitay

[2017-01-17 17:21] yaelAmitay opened #180 "Review keep id location instead of latLng"
Review keep the id of Location instead of latLng. The id is the same as the id of the location in the server.

- [x] Review keep id of location and not latLng

- [x] The DB of Review will keep the id of the location and not the latLng

- [ ] The LocationManager should has a method that get id of Location and retur nthe location

- [ ] everybody else who's this change concern them comment here and

[2017-01-17 17:32] kapalex commented on #180
id should be the id given by the server not some id we create
Meaning when a review is created we get a location type, we check if it is already in the server (if it is we can get its id from the server) or if it isn't then we create a new location object in the server and take the id from there
So location type does not need to have an id field (bullet point no. 1)

[2017-01-17 17:45] yaelAmitay commented on #180
So first of all we need to add a bullet: add locaion to DB if someone upload a review that does not exsits, right?
About using the id of the server that's okay I'll update the issue

[2017-01-17 18:03] kapalex commented on #180
yes, if someone uploads a review that relates to a _location_ not in the DB

[2017-01-17 18:44] Kolikant commented on #180
In previous discussions we have changed location completely as to allow (latlong, type, subtype) tp be the unique identifier

That being because we want to be able to find locations unknown by the server

[2017-01-17 19:50] yaelAmitay commented on #180
I know but as you can remember we can't store location in review because of the cycle @assaflu  talked about. therefor we stored latLng. BUT latlng is not a uniqe key of location. therefor if you ask for reviews of some location and there are several location with the same latLng you will get all of them. And we don't want to store (latlong, type, subtype) in review.
Although,we can take care of t

[2017-01-17 20:03] Kolikant commented on #180
latlong,type,subtype are just strings? why cant we save those?

that was the entire purpose of this change.
but sure, (makes the change abit pointless but would still achieve all we wanted)

[2017-01-17 20:17] kapalex commented on #180
The change is still relevant as we still do need a way to distinguish different `Location`s
But the way of referring to those `Location`s from `Review`s is by referring to their id in the server instead of saving all the fields that the `Location` consists of
This has the benefit of not being dependent on any future change in the `Location` identifier while still linking to a single `Location`

[2017-01-17 20:23] Kolikant opened #181 "street representation on search"
regular search, would still show the intended location, but as to accessability would speak of the entire street, meaning that it would search for the center of the street (no adress) as the identifier but still display the specific adress.

meaning that

rotshild 20 would search for both "rotshield" 20 and "rotshield", having the (second latlong, street,...street) as identifier for the database b

[2017-01-17 20:40] yaelAmitay commented on #180
Exactly what Alex said!

[2017-01-17 20:41] Kolikant commented on #180
now i understand what you meant, and agree that it is the better design

[2017-01-17 23:33] Kolikant commented on #181
resolved in last commit (untestable untill db is up)

[2017-01-17 23:48] Kolikant commented on #153
I managed to make the adress search do the following: on the map it would show the marker on the adress requested, but when clicked it would show the location of the street, thus allowing adress searches to be usefull both on map and on the database.

all that remains for you to do, is to 1: make elaborate search, look for locations in the database and present them as the location being presented

[2017-01-17 23:49] Kolikant opened #182 "make the dummies for the locations not in DB"
as explaind in #153

[2017-01-17 23:50] Kolikant opened #183 "find the Location that ARE in the db in elaborate search and put them as the ones presented when clicking the marker"
as explaind in #153

[2017-01-18 08:04] #30 closed, assigned to koralchapnik

[2017-01-18 08:06] koralchapnik opened #184 "Improve NearbyPlaces code"
the code needs a little bit refactoring

[2017-01-18 08:07] koralchapnik opened #185 "Add tests to NearbyPlaces and Location"
to add new tests for improving the code coverage of the tests

[2017-01-18 11:24] yaelAmitay commented on #176
@KaplanAlexander

[2017-01-18 11:30] yaelAmitay opened #186 "the user can rate a location with stars rating"
Our GUI right now for rating a location is a green progress bar, we want the user to see the rating as stars, like in most rating application.

[2017-01-18 15:18] kapalex commented on #176
Will change asap

[2017-01-18 16:07] kapalex opened #187 "Some test in NavigationTests is stuck in infinite loop"
The build isn't working since yesterday because of some test in NavigationTests
I can't tell which because it is stuck
You should either fix it or put some global timeout so it will actually fail

[2017-01-18 16:39] yaelAmitay commented on #187
I didn't made any changes so it's very strange, and where can I see the jenkins issue about it?

[2017-01-18 16:57] yaelAmitay commented on #187
I run the test on my computer and everything works fine, it takes time because I put sleep in the end of the tests.

[2017-01-18 17:08] Kolikant commented on #166
might be reopened next sprint

[2017-01-18 17:08] #166 closed, assigned to Kolikant

[2017-01-18 17:47] #183 closed, assigned to ArthurSap, Kolikant

[2017-01-18 17:49] ArthurSap commented on #182
I already implemented this option at #183
If the location doesn't exist (it's a dummy) then we are returning a dummy (practically - we don't change anything if the location does't exist)

[2017-01-18 17:49] #182 closed, assigned to ArthurSap

[2017-01-18 17:50] kapalex commented on #187
It's working now, have no idea what changed
but it stayed the entire night yesterday and didn't finish
if you don't mind, tests that are not automatic should be on ignore
or put in a different test category (although we have have yet to completely set that up)
At the very least put a global timeout so it never gets stuck

[2017-01-18 17:50] #187 closed, assigned to yaelAmitay

[2017-01-18 17:54] Kolikant commented on #181
reopened due to bug

[2017-01-18 18:08] #154 closed, assigned to ArthurSap, Kolikant

[2017-01-18 18:09] Kolikant commented on #181
fixed in last commit

[2017-01-18 18:09] #181 closed, assigned to ArthurSap, Kolikant

[2017-01-18 18:11] #17 closed, assigned to ArthurSap, Kolikant

[2017-01-18 18:11] yaelAmitay commented on #187
I was told to not use Ignore on test, and although I can't see why any of my test would  stuck I will add a timeout just to be sure.

[2017-01-18 18:13] Kolikant commented on #153
until the update and pulling of review is done we cannot check if this works, so we will close this issue even though it was not tested yet, as we need to see the full flow of the program working

[2017-01-18 18:13] #153 closed, assigned to ArthurSap, Kolikant

[2017-01-18 18:14] kapalex commented on #187
This isn't the right solution, I agree.  But we haven't worked categories out yet, and that's why for now ignore is the way we use
Running tests that are just sleeping for 10 minutes is very wasteful

[2017-01-18 18:15] kapalex commented on #176
I updated it to use the new getLocation
exception are still thrown when calling both location and review update, @assaflu check it out

[2017-01-18 18:16] #176 closed, assigned to assaflu, yaelAmitay

[2017-01-18 18:16] #127 closed, assigned to kapalex

[2017-01-18 18:21] Kolikant commented on #126
I may be using it wrong but it seems to me that upon closing review are not sotred.

this is the flow of my work:

login
search for yehalom 70.
click yehalom 70
add a review
refresh (see review on the frame)
close
click the same marker
review no longer appears

could be a problem with either the uploading or the recieving of the reviews

[2017-01-18 18:22] kapalex commented on #126
both update functions are not working, as I've informed @assaflu
So yes, it isn't saving it in the database at the moment

[2017-01-18 18:23] kapalex commented on #126
This specific problem is related to `getLocation` not getting the reivews tied to a location when bringing the location, instead just the location it self

[2017-01-18 18:25] Kolikant commented on #126
okay, as long as the bug is known

[2017-01-18 18:32] #126 closed, assigned to kapalex

[2017-01-18 19:25] yaelAmitay commented on #186
done

[2017-01-18 19:25] #186 closed, assigned to yaelAmitay

[2017-01-18 19:28] kapalex commented on #186
It looks really good, kudos!

[2017-01-18 23:07] assaflu opened #188 "Test for ReviewManager"

[2017-01-19 10:58] koralchapnik opened #189 "Calculating the best n reviews"
Just to make sure:
assume the number of pinned reviews is x.
if n <= x then we calculate is by average of the x reviews.
if n > x then we calculate the rating by average the pinned reviews and the best n-x unpinned reviews.

Am I right ?
@KaplanAlexander @Kolikant

[2017-01-19 11:02] koralchapnik commented on #189
After the approval I should :
Change the tests of bestReviews and change the implementation

[2017-01-19 11:20] Kolikant commented on #189
Yes that is right

[2017-01-19 14:21] JuanJenkinsBot opened #190 "SmartCity-Accessibility #307 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Alexander Kaplan] aebace539f4f927f9cd1f320d39305e902358c57 - added spinning wheel and minor refactoring

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/307/)

[2017-01-19 14:28] kapalex commented on #190
@Kolikant Searchtest failed, I don't think I changed anything related to it
Can you take a look?

[2017-01-19 14:31] Kolikant commented on #190
When i get home, :)

[2017-01-19 15:55] kapalex opened #191 "Tidy up code for Alex"
_This issues is meant to help finalize our code towards the submission, in addition to leaving the code as coherent as possible to better understand it next semester_

## Follow the list of tasks and close this issue when finished

- [x] Edit the following list to include all code files you worked on (can be shortened with entire packages where suitable)

**You are in charge of the following files

[2017-01-19 15:55] kapalex opened #192 "Tidy up code for Koral"
_This issues is meant to help finalize our code towards the submission, in addition to leaving the code as coherent as possible to better understand it next semester_

## Follow the list of tasks and close this issue when finished

- [x] Edit the following list to include all code files you worked on (can be shortened with entire packages where suitable)

**You are in charge of the following files

[2017-01-19 15:55] kapalex opened #193 "Tidy up code for Arthur"
_This issues is meant to help finalize our code towards the submission, in addition to leaving the code as coherent as possible to better understand it next semester_

## Follow the list of tasks and close this issue when finished

- [ ] Edit the following list to include all code files you worked on (can be shortened with entire packages where suitable)

**You are in charge of the following files

[2017-01-19 15:55] kapalex opened #194 "Tidy up code for Yael"
_This issues is meant to help finalize our code towards the submission, in addition to leaving the code as coherent as possible to better understand it next semester_

## Follow the list of tasks and close this issue when finished

- [x] Edit the following list to include all code files you worked on (can be shortened with entire packages where suitable)

**You are in charge of the following files

[2017-01-19 15:55] kapalex opened #195 "Tidy up code for Assaf"
_This issues is meant to help finalize our code towards the submission, in addition to leaving the code as coherent as possible to better understand it next semester_

## Follow the list of tasks and close this issue when finished

- [x] Edit the following list to include all code files you worked on (can be shortened with entire packages where suitable)

**You are in charge of the following files

[2017-01-19 15:55] kapalex opened #196 "Tidy up code for Ariel"
_This issues is meant to help finalize our code towards the submission, in addition to leaving the code as coherent as possible to better understand it next semester_

## Follow the list of tasks and close this issue when finished

- [x] Edit the following list to include all code files you worked on (can be shortened with entire packages where suitable)

**You are in charge of the following files

[2017-01-19 15:57] koralchapnik commented on #192
No problem

[2017-01-19 16:16] kapalex commented on #191
Possible ideas for next sprint:
- add `Database` class that all `DatabaseManager` classes will get as a param to lower the coupling and enable better testing (mockito among others)
- Incorporate Lint (SonarLint?) in work flow, possibly with some jenkins report for quality
- Incorporate Log4j for logging instead of prints
- Use [Codebeat](https://codebeat.co/projects/github-com-technionyp5777-smart

[2017-01-19 16:20] #190 closed, assigned to nobody

[2017-01-19 16:26] JuanJenkinsBot opened #197 "SmartCity-Accessibility #310 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Alexander Kaplan] 200ca0ee7bae7d36a12a7e66ac7b610f75b1fa01 - reformating entire code for #191

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/310/)

[2017-01-19 16:29] #197 closed, assigned to nobody

[2017-01-19 19:23] #189 closed, assigned to koralchapnik

[2017-01-19 19:45] #196 closed, assigned to Kolikant

[2017-01-20 08:08] yaelAmitay commented on #194
Ideas for next sprint:(I'll edit this comments more when I'll have more ideas)

1. show route's manuver to the user - navigation

2. add categories for tests

[2017-01-20 09:10] #191 closed, assigned to kapalex

[2017-01-20 11:15] yaelAmitay commented on #194
about the Spartanize, I left little piece of code un-Spartanized because I feel that the specific changes it asks me making the code less readable. can I leave it un-Spartanized ? It's really small piece of code..
@yossigil

[2017-01-20 16:46] ArthurSap commented on #32
Added support for deleting review for Location class
@KaplanAlexander  please close the issue if you confirm.

[2017-01-20 16:46] ArthurSap commented on #71
Hopefully everything works now.
I'm closing this @KaplanAlexander .

[2017-01-20 16:46] #71 closed, assigned to ArthurSap

[2017-01-20 17:14] kapalex commented on #32
Some tests seem to be in order, this relies on Review `equals()` function working properly, which should be checked
Other than that, need to add support for user deleting his own reviews (his not an admin, but should still be allowed to do so)

[2017-01-20 17:16] kapalex commented on #32
Also just noticed `checkExistence` does nothing (return value not used), why not use `List.contains`?

[2017-01-20 17:19] ArthurSap commented on #32
I'm using Location's getReview there for safety as well as I'm printing some error messaged regarding this event (review doesn't belong to current location). So I put every thing in a single method to prevent code duplication.
Regarding user deleting his own review I'm working on it now.

[2017-01-20 17:25] kapalex commented on #32
`getReview` actually does the same thing as `get` for list, which is the same check that `contains` does, so it does not add a lot
and if you call it but only print an error (which no one will ever read when using the gui) it doesn't do much

[2017-01-20 17:37] kapalex commented on #32
using `getReview` is ok as well, but the `checkExistence` on top of it, without checking return value seems redundant

[2017-01-20 17:37] ArthurSap commented on #32
I can throw an exception but when I wrote it kolikant said it's better to print errors for now (at the time).
I prefer using Location's getReview in case of future changed that might be needed so the code won't break (and less changes required)

[2017-01-20 17:38] ArthurSap commented on #32
I am checking the return value of checkExistence  though

[2017-01-20 17:39] #57 closed, assigned to assaflu

[2017-01-20 17:56] assaflu opened #198 "Test for location manager"

[2017-01-20 18:06] kapalex commented on #32
Yeah exception isn't needed, but a return value `boolean` wheter or not the delete succeded could be useful
And yeah, I see you are using it know (wasn't when I wrote it)
closing

[2017-01-20 18:06] #32 closed, assigned to ArthurSap

[2017-01-20 18:08] assaflu commented on #180
to sum up - Review will hold the id number (in the server) of the location it belongs to.
when adding a review, if it's location is not in the server the location will be added

[2017-01-21 14:57] JuanJenkinsBot opened #199 "SmartCity-Accessibility #338 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [Alexander Kaplan] c42e4439e41374c8c83bf64e36bf92e22b7dd3f9 - fixed bug with pinned reviews

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/338/)

[2017-01-21 23:19] #199 closed, assigned to nobody

[2017-01-22 12:50] JuanJenkinsBot opened #200 "SmartCity-Accessibility #344 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [assaflu] c17e82e3e846c7a95ad5a293255fff405492bcd8 - fixed few bugs

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/344/)

[2017-01-22 18:14] #200 closed, assigned to nobody

[2017-01-22 20:14] koralchapnik commented on #192
For the next sprint we should change the calculating of the location's rating to consider the upvote or downvote a comment.

[2017-01-22 20:39] kapalex commented on #98
Added in server

[2017-01-22 20:39] #98 closed, assigned to kapalex

[2017-01-22 21:33] #124 closed, assigned to assaflu

[2017-01-22 21:34] #180 closed, assigned to assaflu

[2017-01-22 21:34] #188 closed, assigned to assaflu

[2017-01-22 21:34] #132 closed, assigned to ArthurSap, assaflu

[2017-01-22 21:35] #125 closed, assigned to ArthurSap, assaflu

[2017-01-22 21:56] JuanJenkinsBot opened #201 "SmartCity-Accessibility #355 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [assaflu] 9a4bfe5d077b61810d850cc0b2afbb96f991bf06 - added test to syncronized getLocation

[View full output](http://163.172.171.65:8080/job/SmartCity-Accessibility/355/)

[2017-01-22 22:40] #185 closed, assigned to koralchapnik

[2017-01-22 22:46] #184 closed, assigned to koralchapnik

[2017-01-23 09:37] #192 closed, assigned to koralchapnik

[2017-01-23 11:13] #198 closed, assigned to assaflu

[2017-01-23 11:25] #195 closed, assigned to assaflu

[2017-01-23 15:10] #193 closed, assigned to ArthurSap

[2017-01-26 05:40] yossigil commented on #194
Where was this bit?

In general, yes you can: but also, in most cases, there are better ways

[2017-01-26 05:54] yossigil commented on #9
@assaflu : you were requested to add  a list of issues you worked on, but you did not answer.
I ask you to present a list of issues for the entire semester for which you had major contribution.
@idabran @TomPalny

[2017-01-26 07:06] yaelAmitay commented on #194
In the method showRoute in the file Navigation.java the tip is: "Inline local s into subsequent statement".
And then the spartanizer ask the same tip recursively for the line he changed and the line above.
but this making my code un-readable, in adddition i feel that maybe in the next sprint i would like to make changes to the code but if all the code will be inline to one line it's going to make

[2017-01-26 08:57] assaflu commented on #9
issues:
#198 #188 #195 #132 #35 #57 #124 #142 #144 #173

[2017-01-26 14:47] yossigil commented on #9
I guess I was not clear enough. I took a look at a couple of issues as a sample, and they are not what I would consider major contribution. Some of them are still open, some where discarded/delayed. Some are trivial.

Please name 2-3 issues in which you made **major** contriubtion.

[2017-01-26 16:27] yossigil commented on #194
Good point Yael, but:

- You can disable spartanization is few selected locations.
- The zoomer will help in maintaining the code.
- Our experience shows that maintainence is not such a problem.

[2017-01-26 16:36] yossigil opened #202 "Your code is not spartanized."
![image](https://cloud.githubusercontent.com/assets/12775400/22340399/09dd7194-e3f6-11e6-8989-20afdd6957e2.png)

You **cannot** fix this now.

@TomPalny @idabran @orimarco @AdiOmari @yh-github

[2017-01-26 17:02] yaelAmitay commented on #194
mm... so right now leave it that way?

[2017-01-26 17:19] yaelAmitay commented on #194
oh and I'v similar situation in the test of navigation as well. the same problem with multiple inlines.

[2017-01-28 09:30] yossigil commented on #194
Thanks! Good luck in the exams

[2017-01-28 09:30] #194 closed, assigned to yaelAmitay

[2017-01-28 09:30] nwoodthorpe-test1 commented on #194
ו̸̙͓̙̝̯̥̗̩̟͈̗̠͐̏ͯ̒̈́̌̿̍̊̿͊̓ͯ̽̈ה̌̿ͩ̽̑͗ͮ̐͞҉̹͈̭̞̫̘͇̱̦̦͍̱́ע̭͈̱̣̤͕͙̹̙̮̲̝ͪͤ͐̿͂ͥ͌ͦͮͪ̕͢͠ב̨͍̹̠̜͙͙̺̝̬̙̯̹͚͊̈̉͌ͥ̈́̇͜ר̵̲̭̘̭̌́̐̚י̨̹̹͔̫̺̳͙̒ͣ̉̾̀̾͗͂̑͐̈̄̃̏̃̃͂͘͜͟ת̸̴̶̨͈̤̘͎̘̫̪̺̱̅͒̓̋͐ͣ ̧̻̤̮̠͛̍ͣ͊́̕͡͡ה̵̸̶̷̧̣͕̘̪̱̘̗̯͍̮͗̑ͫ̓ͧ̿̀ͪ͛̎ͦ̈́ͩו̉̆̈́͋̄ͫ̀̄͋̂͑̽̓̋͐̎̕͘҉̴͎̮̝̥̼͈̝̠̹̤͓̭̗́ק͔̹̰̺͙̔̓͗ͣͦͨ̔̒̇̈́ͪ̅̏͡͡͡͞ל̴̞̳̩̞̻̼͚̜͔͉̮̺̜̩͚̓ͮ̀̌̈́͘ד̴͉͔̗̬͔̑̉̏͌ͯ͜͟ͅͅ ̸̴̺̺͕̗̦̙͇̟̽͐̔̔ͦ͊ͯ̑ͧͪͥ͆ש͗̈ͬͭ̐͏̢̞̻͚̗̖̖̮͔͓͍͖͙̹̗͈͍̠̳͝נ̨̡̰̜͖̰͙̪̺ͫͪ̑̍̎ͯ̿ͣ͒ͥ͊̌͂ͭ̃̐͌̚͜י̵̵̼̙̺͚͓͍̲̝ͥͭ͗ͪ͛̃̄̀͞

[2017-01-28 16:09] assaflu commented on #9
#57 and #35 are two issues of classes that i build and to them i had the most contribution

[2017-03-20 13:29] kapalex commented on #202
A new issue will be opened once we decide what standards we plan on abiding by this semester

[2017-03-20 13:29] #202 closed, assigned to nobody

[2017-03-20 13:49] kapalex opened #203 "Discussion topic for Sprint 0"
This issue will include topics we want to discuss and decide during the planning phase
The point is to keep an organized list of topics and to open relevant issues with tasks by the end of the sprint

1. Logging solution, possibly :
1.1. [Log4j ](https://logging.apache.org/log4j/2.0/) / [Logback](https://logback.qos.ch/) ?
1.2. [Graylog ](https://www.graylog.org/)as both a viewer and a log unifica

[2017-03-20 13:51] kapalex opened #204 "Reactivate Jenkins"
After the last semester the server was taken down (with a full backup) and I need to put the new server up

- [x] fix badge
- [x] fix build and coverage
- [x] set up correct webhook

[2017-03-20 13:55] JuanJenkinsBot opened #205 "SmartCity-Accessibility #371 failed"
Build 'SmartCity-Accessibility' is failing!

Last 50 lines of build output:

[code]

Changes since last successful build:
- [GitHub] fcbedc3fd5e2e3ab6060cfb198d1f7bcc8cb1569 - Update README.md

- [Yossi Gil] bafc12582ed5901e3009a8ae8f75a5efa7fa8ac6 - Spartanize

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility/371/)

[2017-03-20 16:27] yaelAmitay commented on #203
1. We need to discuss using "map segment" in the reviews of **streets** and in searching.
the problem is that the navigation works in resolution of segement of the map. meaning that If you do not want the route to pass at some point you will have to avoid the whole segment of the map that include this point. there it'll make more sense that the reviews of the streets and the searching of streets w

[2017-03-20 16:43] Kolikant commented on #203
you guys already put up most of the points that we all brought up today. other than that I think there were:
1. there is the issue of the program not consistently working. which we should set as a priority.

2. the reason we even allowed users to put their own waypoints was for them to add locations to the map. so integrating locations and user input in the DB and choosing that interface of adding

[2017-03-20 17:53] yaelAmitay commented on #205
Does anyone know why it shows this error?
from a small online search i'v made i see it's relate to JxBrowser but I can't see why...

[2017-03-20 18:04] kapalex commented on #205
I'm currently reactivating the jenkins server so you can ignore this for now

[2017-03-20 18:04] #205 closed, assigned to nobody

[2017-03-21 18:07] kapalex opened #206 "Update maven settings to user Artifactory"
The instructions and explanation can be found [here](https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/JxMaps-dependency).
Mark yourself on the list when done and remove assign from this issue, last person will close.

- [x] Arthur
- [x] Ariel
- [x] Koral
- [x] Yael

[2017-03-22 17:38] kapalex commented on #204
Hey @AdiOmari , can you add
`http://kapalex.ddns.net:8080/github-webhook/` to the webhooks of this repository?
Need someone with admin rights
It should replace the address we had last semseter which was
`http://163.172.171.65:8080/github-webhook/`

As a lesson from previous semester (where I spent a few hours wondering why it won't work) please note that the `/` at the end of the address has to be

[2017-03-23 14:05] yaelAmitay opened #207 "change reviews of streets to be on map segment"
We now using "map segment" in the reviews of **streets** .
background story:
the problem with current state is that the navigation works in resolution of segemenst of the map. meaning that If you do not want the route to pass at some point you will have to avoid the whole segment of the map that include this point. it'll make more sense that the reviews of the streets will be on the whole segment

[2017-03-23 14:14] yaelAmitay opened #208 "changing GUI from swing to JavaFX"
Right now our GUI is based on swing.  Also our gui is very basic and we want to make it better and more advanced. that's why we chose to move to JavaFX. we need to study how to use it and how to apply this to our project.
this issue will probably be split into more issue and more people will be assign to this.(one or two)

[2017-03-23 15:11] yaelAmitay opened #209 "Vacations"
#Everybody choose your vacations if you already know when you want them.

just to remind you, you need 2 weeks not including passover.

| Member  | Week 1 : 20.3 - 26.3 | Week 2 : 27.3 - 2.4 | Week 3 : 3.4 - 18.4 | Week 4 : 19.4 - 25.4 | Week 5 :  26.4 - 4.5 | Week 6 : 5.5 - 11.5 | Week 7 : 12.5 - 19.5 | Week 8 : 21.5 - 27.5 | Week 9 : 28.5 - 5.6 | Week 10 : 6.6 - 12.6 | Week 11 : 13.6 - 19.6 | We

[2017-03-23 18:01] kapalex commented on #209
I've added the table similar to the Intellij project to better show the schedule, will add at least one week soon
_The dates in the table are just approximations of "weeks" to include holidays that aren't considered working days._

[2017-03-24 09:02] Kolikant opened #210 "make search queries accesible to the user for viewing"

[2017-03-24 09:03] Kolikant opened #211 "make search queries editable"
user should be able to change his favourite search queries

[2017-03-24 09:04] Kolikant opened #212 "allow naming of search queries"
user favourite search queries should be allowed to be given a simple name like "cafes"

[2017-03-24 09:11] Kolikant opened #213 "expand user waypoint to more that just coordinates"
so far users can only add coordinates and comment on them and review them, this needs to be allows to add new information as in cafes, restaurants etc as to add the informationn that google map is lacking. this also needs to be integrated with the update of the atomicity of streets.

#207 and this are the two options that users would get when they click on the map, allowing them to choose from the

[2017-03-24 09:13] Kolikant opened #214 "duplicate database/ allow duplication of database as to support multiple disabillites"
as sugested by adi, we can duplicate our database in a way that each database would be meant for different disabillites thus using our software to support multiple dissabilites with a simple change.

[2017-03-24 09:15] Kolikant opened #215 "make a clearer interface for jxMapsFunctionality"
last semester I wrapped jxMaps functionality with another class, that class was being used instead. as adi sugested, we should make an interface class for the usage and inherent from it as to allow a change of jxMaps should we need it, and just to better program in general

[2017-03-24 09:16] Kolikant opened #216 "figure out why program isn't consistently working"
program sometimes works and sometimes doesn't. searches and navigation don't consistently end. need to figure out why

[2017-03-24 11:41] kapalex opened #217 "Choosing a logging framework"
In order to be better able to analyze error and bugs, we want to add some logging framework to log the flow of the code

After some research I think the following solution will work :
- [Logback ](https://logback.qos.ch/) seems like a good logging implementation for java
- [SLF4j](https://www.slf4j.org/) is a popular logging facade for java.  A logging facade allows us to wrap the use of a logger

[2017-03-24 11:52] kapalex opened #218 "Refactor and reimplement database classes"
Preferably using RxJava to work with the database in the background efficiently and conveniently .

Also possibly think of a new design that classes that are stored in the database implement some `Mapable` interface to allow mapping them to values that can be stored on the server.

[2017-03-24 12:34] kapalex opened #219 "Coding Standards"
As part of our efforts to better the quality of our code and final product we want to define concrete standards to follow with future code we write, and that should be applied to previous code written.

Here are a few ways I think we can achieve this.

# SonarQube

I've written a small [wiki page](https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Introducing-SonarQube) to explain what

[2017-03-24 13:00] kapalex commented on #209
I've added one off week for me at the end of the semseter

[2017-03-24 17:42] ArthurSap commented on #208
Also we intend to make these changes on a separate branch and then integrate them all at once (after doing test and etc) as to not harm the current work flow.

[2017-03-24 17:49] ArthurSap commented on #211
An idea:
Just like waze/moovit have the options to save frequent search queries as "Home" or "Work" and stuff like that maybe we should add these options to define customized queries a bit better than to simply save addresses of favorite search queries.

[2017-03-24 17:51] ArthurSap commented on #214
Why duplicate and not simply add new column(s)?

[2017-03-24 17:52] ArthurSap commented on #215
I can start working on such interface.
Should we have a discussion on what capabilities this interface should allow? As in what methods and etc.

[2017-03-24 17:55] ArthurSap commented on #217
I'm familiar with log4j and its pretty cool (and isn't on the list).
graylog sounds nice but I think it could be an over-kill since we don't really have users on our system.

[2017-03-24 18:08] Kolikant commented on #215
I am the one who implemented the wrapper, it would be better if I implement the interface. A discussion is always great

[2017-03-24 18:09] Kolikant commented on #214
Simpler implimentation. Minimal change incode and in algorithms

[2017-03-24 18:18] kapalex commented on #217
logback is supposed to be the successor to log4j so I thought it might be better, if we decide as a team log4j is better for us I have no objections to it
In anyway with SLF4j it won't be a problem to use either

Graylog is definitely more of a "nice to have" than a must

[2017-03-24 18:34] Kolikant commented on #217
I am a on team logback
And team Edward

[2017-03-24 20:35] koralchapnik commented on #217
I also think log back is the best option.

[2017-03-25 12:10] koralchapnik commented on #215
I also worked with jxMaps so I can help with that

[2017-03-25 17:06] yaelAmitay commented on #217
I also think that logback sounds good.

Yael

‫ב-24 במרץ 2017, בשעה 23:35, ‏‏koralchapnik ‏<notifications@github.com> כתב/ה:‬

[2017-03-25 17:13] yaelAmitay commented on #216
I think that location manager is the only thing in common for them. So maybe it's the problem. I'll check this.

Yael

‫ב-24 במרץ 2017, בשעה 12:16, ‏‏Ariel Kolikant ‏<notifications@github.com> כתב/ה:‬

[2017-03-26 14:54] yaelAmitay commented on #219
- about the sonar i think it's a great idea.
- about the coverage i agree, 60%-70% sounds good but we might change it in the future if the GUI takes more percents then we think.
- about categories we can also add: gui test. thougth they won't be really a test but they will fail if something basic is wrong with the gui. we can also search for a way to check the gui...(i'm not sure there is a way bu

[2017-03-26 14:59] yaelAmitay commented on #209
I marked week 11 but the real dates are 16.6-22.6.(for me)
I'll pick the second weak later

[2017-03-26 15:12] yaelAmitay opened #220 "add maneuver to navigation"
the user can choose to view a short desctipion of the route and maneuver with narratives of the route.

[2017-03-26 15:14] yaelAmitay opened #221 "add estimate time of route and distance of route"
the user can view an estimation of the walking time of the route.

[2017-03-26 17:48] #204 closed, assigned to kapalex

[2017-03-26 18:04] kapalex commented on #219
I'm opening a wiki page to summarize the standards we decide on.
The discussion both here and in our meeting will slowly fill that wiki until we reach the end of the sprint where we will close this issue and have a full concrete code standard.
The settings file is a great idea and I think in tomrrows meeting we should discuss what warnings are interesting to us / spartanizer tippers relevant.

You

[2017-03-27 08:50] koralchapnik commented on #219
I also think the sonar is a good idea.
Moreover, If we look at the coverage of each class (except the GUI) we can raise it to 90-100%.
About the performance tests - it sounds a good idea.
And I also think that mocking and DI should take integral part of our tests.
In conclusion,  I agree with all the things written here and I hope that the coverage will be higher.

[2017-03-27 09:09] koralchapnik opened #222 "Changing the calculation of BestReviews"
In the previous semester the calculation of the best n reviews worked as follows:
assume the number of pinned reviews is x.
if n <= x then we calculate is by average of the x reviews.
if n > x then we calculate the rating by average the pinned reviews and the best n-x unpinned reviews.

Do you think we should change this calculation and instead of using average to consider the activity and reliabi

[2017-03-27 15:31] kapalex commented on #222
As we agreed during the meeting, considering user activity in the calculation sounds like a good feature to add

[2017-03-27 17:03] yaelAmitay commented on #222
I thing it's a good feature, We also talked about considering the amount of likes of each review in the calculation.

[2017-03-27 17:51] yaelAmitay opened #223 "Ionic Introduction"
This issue is Introduction for Ionic, I've added a few issues that teach about ionic and some stuff you can do with it that are relevant to our project. You can find links to these issues below.
I also added the code to the project and you can see it in the "client-side" folder.

**What is Ionic?**

Ionic provides tools and services for developing hybrid mobile apps using Web technologies like CSS

[2017-03-27 17:59] kapalex opened #224 "Set up Logger and Facade"
Following the discussion at #217 SLF4j and logback should be set up in the project
including maven dependencies and configuration files

[2017-03-27 17:59] #217 closed, assigned to kapalex

[2017-03-27 19:17] Kolikant commented on #223
one of the main reasons we suggested trying this proof of concept , was in order to attempt and see if there are ways to minimize the changes needed with jxMaps. as our code is, sedpite of best efforts, heavily coupled with it. meaning, we need to check if either 1: jxMaps could still be in some cases used,
2. a similar interface is provided.

these are all obviously wishfull thinking with a very

[2017-03-27 19:19] Kolikant commented on #222
this opens up a few new issues to concern ourselves with. as we need to add information to our users and monitor their purpose. I will open the issues and sugest that now that user monitoring and information has been open for discussion, everyone should add what they think our social network requires (I'll edit in the numbers of issues to concern themselves with this) #225

[2017-03-27 19:21] koralchapnik commented on #222
Ok, and I will take care of this feature, so assign me to the relevant issues you open

[2017-03-27 19:24] Kolikant opened #225 "user helpfullness monitoring"
beyond the user rings, we want to monitor and grade the most helpfull of users.
that is users (not admins), some of them just look around and troll, and some just want to help, some are more helpfull than others. we should monitor the users activity and helpfullnes and thus be able to give more usefull users, better presentation whenever they comment.

say Bob is a helpfull lad, evey time Bob comm

[2017-03-27 19:27] yaelAmitay commented on #223
I don't see changes for the social network part but I do see changes in search.
BUT I have an idea about how maybe use JxMaps in the server side. It's not a good design but it allows us to keep JxMaps. I'll report more about this soon...

[2017-03-27 19:31] Kolikant commented on #222
ended up just creating one big issue. it's hard to say how much work it would be, since complexing the calculation (which is used in --every search and navigation--) could force rethinking how the calculation is used in the first place. one thing is certain, we either have user_credibility field saved and periodicly updated, have the accessability calculation updated periodicly instead, or have bo

[2017-03-27 19:32] Kolikant commented on #223
great job, thank you

[2017-03-27 19:35] Kolikant commented on #221
we discussed this at meeting today. we are all in favour of this feature (ripping off waze is not something we've been in any waze (see ehat I did there?) concealing) the discussion was, while google maps gives us estimaed walk time for a non-handicapped person, we need to take to consideration that the users are handicapped and will need more time.

the agreement was having a constant multiplier

[2017-03-27 19:36] Kolikant opened #226 "add multiplier to route time, editable by admin"
as discussed today and explain in #221

[2017-03-27 19:40] yaelAmitay commented on #226
wouldn't it make sense that i'll do it? If you want to add this feature I'm fine with that just let me know where can I find this constant.

[2017-03-27 19:45] Kolikant commented on #226
I'm just putting all issues I open under myself since it was told not to have any "unmanaged" issues (all the issues I open except one are under me). it was what we agreed on in the first meeting, open up issues, put them under yourselves and then see who should do it in the next meeting.

[2017-03-27 19:48] Kolikant commented on #226
oh! forgot to add the entire "editable" issue, with only the innerest of the ring able to edit it

[2017-03-27 19:50] Kolikant opened #227 "option to edit the time multiplier of routes, only for innermost ring"
only municipal employees should be able to do it, and it should be in an obvious gui interface for them as well #226

[2017-03-27 19:57] Kolikant commented on #209
how do you use this? the only way to add a sign for me is editing, and then I can no longer find what I'm looking for

[2017-03-27 20:00] Kolikant commented on #225
I'm splitting this... the monitoring (informations to the user and once in how much time it happens would be one issue)
and how this monitoring is done would be a different issue. as one of them is logical #228 (what is good behaviour and what is bad) and the other one touched the database #229

[2017-03-27 20:00] Kolikant opened #228 "user helpfullness monitoring, logic"
#225

[2017-03-27 20:01] Kolikant opened #229 "user helpfullness, periodic updates"
#225

[2017-03-27 20:20] yaelAmitay commented on #209
put the icon at some point and then look at the preview and move the icon relative by what you see in the preview.

[2017-03-28 07:48] kapalex commented on #224
added a wiki page [here](https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Logger) with a simple explanation

[2017-03-28 07:48] #224 closed, assigned to kapalex

[2017-03-28 16:18] kapalex opened #230 "Database class rewrite"
I propose the following changes in design :
1. Interface `Database` to be created.  The interface will hold all the functionality that we require from our database, the following functions are what seems necessary to me
1.1. `Map<String,Object> get(string class, string id)`
1.2. `List<Map<String,Object>> get(string class, Map<String, Object> m)` get by matching fields
1.3. `List<Map<String,Object>

[2017-03-28 16:34] Kolikant commented on #230
All databases should have similar interface. since user manager is going to be used a lot woth the way we are taking the project this semester, it would have to be improved ad well, with your suggestions.
Making a different yet similar interface would be the way to go.

[2017-03-28 16:39] kapalex commented on #230
I'm thinking of some `UserDatabase` interface that has functions such as `signIn`, `signOut`, `signUp`,`find`, etc. to fit the `UserManager's needs
We'll see if anyone else has any suggestions about this and I'll create issues to get this going

[2017-03-28 17:11] Kolikant commented on #230
I may have misunderstood. User manager is not the interface for the user database? There is user database and above it the manager?

If that is so, sincei implemented user manager as usong the parse database, i could change that interface to match the database interface thus lowering needed change.

So i will justneed to reinterface witht he new database class that you would open, yes?

[2017-03-28 17:27] kapalex commented on #230
When I wrote `UserManager` I meant the current implementation as is.
It uses function from the parse server directly such as sign in and sign up to manage the users, and I think rightfully so.
While _our_ database and user management system are one and the same, this is not true in many cases. In addition user management does in fact require different functions to operate well, without re implemen

[2017-03-28 17:34] Kolikant commented on #230
I still don't believe i fully understand you, we will have to talk in person

[2017-03-28 17:37] Kolikant commented on #230
Oh
So you want a parseUser to be used by parse manager to be used by user manager to be used by application?

[2017-03-28 17:39] kapalex commented on #230
More or less
Basically an interface that has the functions of a generic user management system
An implementation of such an interface for a parse server
The usage of such an implementation by us = UserManager
and so on

[2017-03-28 21:12] Kolikant commented on #230
well, working on similar interfaces for all of the database is the good design choice.

however, since userManager does all the usage of parse. and if I understood correctly the option we have is to move THAT usage to the jurisdiction of a parseServer class (implementing the usermanagement interface which would be another interface like all the other database, but with different functions outside

[2017-03-29 05:23] yossigil commented on #230
Keep up the good work

[2017-03-29 11:40] Kolikant opened #231 "choerent and robust search queries"
the queries were free text, but if we want to be able to: make them editable yet still meaningfull, have them seen and used in the database as discussed, we wnt the users to be able to least destroy them and for them to have a defined bofy

[2017-03-29 12:20] Kolikant opened #232 "find user location via ip address"
forgot to open an issue about it, we discussed it on monday. right now the initial location is hardcoded, but we can make the initial location more....logical by computing it on startup.

[2017-03-29 12:25] Kolikant commented on #212
upon commiting a search, user would have the option to tap a checkbox marked "save query" this would, after query is made allow him to name the query and save it to his profile. I am writing this, as we agreed, no gui to be implemented because it is all being redone, so you won't SEE it for a long time, other than in unit tests

[2017-03-29 12:42] Kolikant opened #233 "auto delete irrelevant sessions of parse"
not a bug per se, but is something I was struggling with from day 1 of the project last semester.
each time a login occurs, a session is started, each time a logout occurs a session does not stop... and since we have periodic testing of our work, these open sessions accumulate to reach hundreds and thousands of useless sessions. hard to determine which are closed and which are open.

Parse auto de

[2017-03-29 12:44] Kolikant commented on #211
need some sort of selection for the user to do this, good thing we can save these now!

[2017-03-29 13:18] Kolikant commented on #223
as we discussed today, it would be hard to make a binary switch to ionic, meaning that a gradual change is needed, is that possible to do? if we stop JxMaps completely search won't work and the entire application falls with it

[2017-03-29 13:29] yaelAmitay commented on #223
We can branch our project and then gradualy make some services for exampls we can start with making the Login\Logout a service and then use it from Ionic.
Right now I'm working on displaying a map and using GoogleMap API in Ionic application.
Then I'll create a simple service and I'll make sure we can call it and use it from the application.
the next step would be to branch the project and then gr

[2017-03-29 13:32] Kolikant commented on #223
that does sound like a huge change, even getting a working basic example to work with our application is a lot of work?
we should let others weight in on this then,
@koralchapnik @KaplanAlexander @ArthurSap

[2017-03-29 13:51] Kolikant opened #234 "edit the parsing of Queries"
since Parse cannot save complex objects, last semester I implemented a parsing to and from String, adding the name field would result in a need to change that parsing #212

[2017-03-29 14:58] yaelAmitay commented on #223
UPDATE: now i can display the map and i can get the estimation of the current location.
Next step is creating a small service and use it

[2017-03-29 15:14] yaelAmitay commented on #223
I edited this issue so now you can display the map yourself. I added some links and some of my own insights.

[2017-03-29 15:16] yaelAmitay commented on #232
If we are going with Ionic then I know how to do it.

[2017-03-29 15:28] yaelAmitay commented on #208
this issue is on hold until we decide about Ionic

[2017-03-29 16:31] kapalex commented on #201
The output is not very coherent right now but the summary is
[code]
something from your pushes it seems @Kolikant

[2017-03-29 16:39] Kolikant commented on #234
after last commit, users are dissallowed to name queries as "--This is a String Splitter--" or search for "--This is a String Splitter--" which is...pretty legitamate, but need to enforce this in gui (maybe throw exception from Search as well)

[2017-03-29 16:43] #201 closed, assigned to nobody

[2017-03-29 16:43] Kolikant commented on #201
Yes, it resulted from improper cleaning of the database, i was viewing those users so they couldnt get deleted, so when a signup to those users occurs automaticly by jenkins in these test again and again) they were already created and not deleated so it fails,
The cleanup I have in the init and at each test, but when people are viewing the database users, these 4 tests (i was viewing only the seco

[2017-03-29 16:48] Kolikant commented on #201
These tests check that users can be created and are therefor problematic since if users cant get deleted (someone viewing them) they cant be created (using the same names... Since jenkings does the tests automaticly) and the tests fail

Should they be ignored like the gui tests?

[2017-03-29 16:51] kapalex commented on #201
Put them under the manual category class, so we know not to run them
Theres a wiki on categories, and in the coding standards wiki an explanation on the different categories we created
Notice I put all the tests we had prior in the UnitTests category, but it may not fit them all
new tests you create you should decide the category according to the standards wiki or add a new category if you require

[2017-03-29 16:53] kapalex opened #235 "Turn off parse server debug logging"
Since the addition of the logger the parse server is outputing a lot of messages to the log, they are not required unless actually debugging server behavior

[2017-03-29 17:11] #235 closed, assigned to kapalex

[2017-03-29 17:29] kapalex commented on #230
Since usermanager does work well (unlike many other parts of the database) it isn't necessary to change, so I agree with you it can be just minor name changing
The change would provide better test ability but since it's not reusable there is not much gained here otherwise

[2017-03-29 21:43] koralchapnik commented on #209
I don't know yet.
Can I mark this in few more days ?

[2017-03-29 21:57] koralchapnik commented on #228
an example of way to determine the behavior is how much likes the user's comments have

[2017-03-29 23:06] koralchapnik opened #236 "Considering comment's like/dislike"
In the calculation of best reviews and the appreciation of the user's activity in our app, we should consider the number of likes and dislikes the user's comments have.

[2017-03-30 12:31] Shahar-Y opened #237 "Oopsi Issue. Ignore it."
I accidentally opened an issue here after following Yael's manual about ionic, and not sure how to undo it.
Delete it if you can

[2017-03-30 12:39] #237 closed, assigned to nobody

[2017-03-30 14:33] yaelAmitay opened #238 "Ionic and web services"
As I wrote in the previous issue about Ionic and Maps( #223 ) we need to create web services for each of our functionalities. for example we need to create a web service that allow the user to login/logout.
I chose to create REST web services because REST web services are simple, easy to undesrtand and work good with Ionic.

# Rest Web Services
##Rest
REST is a way to communicate between a server

[2017-03-30 15:12] Shahar-Y commented on #223
Hi Yael, I was following your guide and there is something I still don't understand- where do you develop the app? With eclipse? Because I couldn't get it to work.
And how do you get the entire project you created so far to be ionic-y?

[2017-03-30 15:16] kapalex commented on #238
updated your formatting, use 3 ` for code block

Great job on the explanation

[2017-03-30 15:23] koralchapnik opened #239 "Review contains User"
In order to consider the helpfulness in the calculation of the best reviews, I want to get an User object from
the Review class.
Last semester, Assaf asked me that the Review will contain only the user name and not the user object.
Do you have any objection that the Review class will contain the user itself and not only it's name?
@ArthurSap @yaelAmitay @Kolikant  and especially @KaplanAlexander (

[2017-03-30 15:25] yaelAmitay commented on #223
the Ionic code is not java and you can use a notepad++ to write the app. the languges are JavaScript and HTML and CSS. with Ionic you only write the User side of the application, for example you create the gui and simple logic like I did with the map. The Server side of the project is in Java and it's the functionalities of your project. for example if your server allows the users to login, you ne

[2017-03-30 15:26] Kolikant commented on #239
The trouble was the inabillity to stpre complex classes in database, this save would be duplication and is unadvised since updating users would require updating all the reviews who will now save invalid users.
Using a name allows you to get the user object from the user Manager

[2017-03-30 15:28] koralchapnik commented on #239
Ok, thanks

[2017-03-30 15:28] yaelAmitay commented on #239
" updating users would require updating all the reviews who will now save invalid users." why? we use pointers.

[2017-03-30 15:28] yaelAmitay commented on #239
Nevermind I see you closed this issue

[2017-03-30 15:30] koralchapnik commented on #239
I am joining to Yael's question..

[2017-03-30 15:32] Kolikant commented on #239
We dont bring all the database to memory :0

The users and reviews are stored in the database, pointers in this case would indead just be the names, for user manager to find them

[2017-03-30 15:33] Shahar-Y commented on #223
Excellent. You really helped me with understanding this subject, Thank you :)

@DavidCohen55 I suggest you go over this issue.
 @zahimizrahi , I believe this has implications on your job as well.

[2017-03-30 15:34] kapalex commented on #239
I wasn't in charge of this part in the database last semester but I am planning on rebuilding it
I definitely think you can put a user in the review.
The implementation in the database should be as follows :
- User A is stored in DB
- User A writes review B
- When storing B in DB we will store in column user the unique id of A in the DB
- When retrieving the review we will retrieve the user from t

[2017-03-30 15:38] koralchapnik commented on #239
Thanks @KaplanAlexander , I think I will do that change

[2017-03-30 15:39] Kolikant commented on #239
Users now change, with monitoring, more than before.
Having user in multiple reviews would mean having different information in each at every time.

Saving a copy, or picture is possible, but after a change by a different review it is meaningless

You can instead save information you need to find user and have a way of accessing it theough the database, offering a single coherent user

[2017-03-30 15:41] kapalex commented on #239
@Kolikant  I'm not sure I understand your concern
A review in the DB holds a unique id of the user
If the user changes the id is still the same, and many reviews can use it
The id _is_ the easiest way to find the user

[2017-03-30 15:46] Kolikant commented on #239
Exactly
I keep saying that name or id is just fine.
But they are suggesting saving the User, all of it, a copy, that is what I am against

[2017-03-30 15:49] AdiOmari commented on #238
Great job Yael!

[2017-03-30 15:52] kapalex commented on #239
No, what they are saying is that the **client** side review will hold a user.
In the DB, the review will hold an id
In the client, when restored from the db, that id will be restored and return a user, so the client can see a review containing a user.

[2017-03-30 15:57] Kolikant commented on #239
If you are bringing it from the database using userManager, and work with that one, remmembering to update the user with userManager when finished it is absaloutley fine, but undifferent from what exists today though.

No reason not to allow it excpet synchrony which we decided to disregard long ago (last updater ftw)

[2017-03-30 15:59] AdiOmari commented on #239
I see that you agree, the review object should contain the user object (reference to it), but in database the review should contain only the key field of the user.

[2017-03-30 16:02] AdiOmari commented on #236
What is a user review, is it +1 or -1 (like/dislike)? or is it a score. One (possible additional) way to weight the user is his representatives of the majority.  Or in other words: how much of the time does he agree with the majority of the voters on each location.

[2017-03-30 16:09] kapalex commented on #236
The review is a 1-5 star rating + free text, so this wouldn't be as easy to implement

[2017-03-30 16:11] kapalex commented on #218
More thorough explanation at #230 , with some additional thoughts at #239

[2017-03-30 16:15] Kolikant commented on #239
If you want a field for user for convenience rather than refetching each time, it would hurt synchrony

For updating a user means putting a user version to overrode the older one, so two reviews updatimg will delete rather than add on

If a user field is significantly more convenient that fetching updated version each time you should do that and we would deal with synchrony later (or ignore it)

[2017-03-30 16:16] koralchapnik commented on #236
I think that it is like considering the number of likes/dislikes the user's comment got, or deciding that if user likes some other user's comment, they agree.

[2017-03-30 16:16] kapalex opened #240 "Study and create a wiki about feature branches"
As we are planning on adding features that require re-writes of major parts of the project (meaning the project as a whole won't be functional while such work is done) I think we should adjust our work flow to work with git branches
This will allow easier work on big features, and less colliding between different features.
I will create a wiki page to summarize the way branches work and how we sho

[2017-03-30 16:18] Kolikant commented on #239
We will have to deal with synchrony regardless, for this change just makes it more frequent on an existing problem.

So I take back all I said, I didn't understand you untill now and you should deffinetly add a field to user side revoew to be read once and put under usermanager the issue of synchronising these updates

[2017-03-30 16:19] kapalex commented on #239
Assuming only the user himself can change data that is saved in the user class (as should be the case), we can enforce a single log on requirement, so a user can't log in from two different places.
This way we have only one source for writes, and other users accessing the user info with the review, shouldn't be able to edit it so they only read.

[2017-03-30 16:21] kapalex commented on #239
Wait, never mind, with the new features you are right and he won't be the only writer, so yes, we should concern our selves with the synchronization problem, or redact the user score feature

[2017-03-30 16:22] Kolikant commented on #239
That was the case so far, but likes on reviews by user change his helpfullness, meaning a change in his info needs to occur, made by ither users.

[2017-03-30 16:22] Kolikant commented on #239
Gott love text communication

[2017-03-30 16:23] kapalex commented on #239
Well we got there eventually 🥂

[2017-03-30 16:24] koralchapnik commented on #239
I can use the user manager,  it's not really a problem

[2017-03-30 17:14] koralchapnik commented on #239
Decided to insert the user object to the Review.
Thank you all

[2017-03-30 17:14] #239 closed, assigned to koralchapnik

[2017-03-31 13:19] Kolikant commented on #236
notice that I added the "user monitoring" label for all issues regarding user monitoring

[2017-03-31 13:20] Kolikant opened #241 "user manager, synchronise user monitoring updates to the database"
#239

[2017-03-31 13:50] koralchapnik commented on #236
Thanks

[2017-04-01 18:00] yaelAmitay opened #242 "Ionic and maps"
in the previous issue (#223) we talked about ionic in generally . In this issue i'll explain how to display a map with your current devices location. (This is a better explantion than the one that appeared before I suggest you follow this one)

**First of all, these instructions are based on this link:
https://www.joshmorony.com/ionic-2-how-to-use-google-maps-geolocation-video-tutorial/
but It did

[2017-04-01 18:04] yaelAmitay commented on #223
please note i added a new and improved tutorial for google maps at #242

[2017-04-02 17:14] yaelAmitay opened #243 "Ionic USE Web service in Ionic app"
In the previous issues we learned about Ionic( #223) , and we displayed maps( #242 ) and create web service( #238 ).
In this issue we'll use the Web Service that we create from our Ionic app.
___________________________________________
UPDATE: I forgot to add this step:
*Insert these lines to the cmd:
[code]
_____________________________________________
1. create a new service by using this comman

[2017-04-02 17:18] yaelAmitay commented on #238
I update this issue to include Json and the next issue in this series is about using this webservice from the ionic app #243 .

[2017-04-03 07:17] ArthurSap commented on #226
I was in charge of the Admin class last semester so let me know if you need some help here @yaelAmitay

[2017-04-03 07:19] ArthurSap commented on #227
I was in charge on Admin class last semester, do you want me to do it? @Kolikant

[2017-04-03 07:21] ArthurSap commented on #233
As we are refactoring the databases and move into Ionic shouldn't we wait with trying to solve this? It might disappear as changes occur

[2017-04-03 07:26] ArthurSap commented on #236
Should we take amount of comments on review as consideration as well?

[2017-04-03 08:34] Kolikant commented on #227
Sure
Assign yourself and deassogn me

[2017-04-03 09:15] yaelAmitay commented on #226
Ok but let's talk about it to make sure we are on the same page

Yael

‫ב-3 באפר׳ 2017, בשעה 10:17, ‏‏Arthur Sap ‏<notifications@github.com> כתב/ה:‬

[2017-04-03 14:42] kapalex commented on #233
The changes planned are do not involve UserManager so this is unlikely to be resolved with the refactoring @ArthurSap

[2017-04-03 14:44] Kolikant commented on #233
This has to do with login, somehow i would need to track down what causes the explosions, being able to stop jenkins from running usermanager tests (which is an abillity we now have) should help out in containing it and finding out what is exploding and why

[2017-04-03 14:49] Kolikant commented on #231
as discussed today, a robust and coherent querie is not something we are interested in, users should be allowed to ruin their own queries bu editing the freetext and we need to be able to stop them just from ruining the database, which we do since search only looks in the database but does not edit and the database should be able to know the types of locations that they have.

making this issue, a

[2017-04-03 14:49] #231 closed, assigned to ArthurSap, Kolikant

[2017-04-03 17:03] JuanJenkinsBot opened #244 "SmartCity-Accessibility #403 failed"
Build 'SmartCity-Accessibility' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [yaelAmitay] d167ee0b366a01d8ef8f5cc3784e478d43c788c0 - add client side(Ionic) and split project

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility/403/)

[2017-04-03 17:05] kapalex commented on #244
@yaelAmitay I'll take care of the build issues in jenkins, but it seems like theres no files in the repo right now

[2017-04-03 17:10] yaelAmitay commented on #244
yes i forgot to do "git add ." lol
but now it's suppose to be fine

[2017-04-03 17:17] #244 closed, assigned to nobody

[2017-04-03 17:18] kapalex commented on #244
for people pulling the project after the change you can use `git clean -fd` to remove files left over by the previous structure @koralchapnik @Kolikant @ArthurSap

[2017-04-03 18:58] AdiOmari commented on #238
@AmitOhayon @geniashand  Amit and Genia, I think this tutorial and example by Yael is helpful for services creation and will save you some research.

[2017-04-03 19:08] Kolikant opened #245 "implement new feature issues in gui"
i have had a few of the new features that I made (and you guys too probably) remain in open issues, despite the only thing missing being the gui, which since the gui is being remade completely and still in progress for the basic, mens they are open purposelessly. so I am pointing through this issue to all the finished features that just need GUI, so that I could close them, you can do the same, if

[2017-04-03 19:08] Kolikant commented on #210
this is now very obviously just GUI and would be open until we get the new gui in order

[2017-04-03 19:09] #212 closed, assigned to Kolikant

[2017-04-03 19:09] #211 closed, assigned to Kolikant

[2017-04-03 19:09] Kolikant commented on #245
#211 #212

[2017-04-03 19:10] AdiOmari commented on #210
You should have a function in the service that allows you to get a list of the user queries (as json). You can work on the service+server side for now.

[2017-04-03 19:10] Kolikant commented on #214
putting Alex on this since he is the one in charge of the db. can choose to just ignore if he wants

[2017-04-03 19:13] AdiOmari commented on #243
Nice explanation Yael.
@TomPalny @tanyabrokhman @yossigil @idabran this can be useful to other projects as well (that use ionic). It is referenced in the main ionic issue.

[2017-04-03 19:17] Kolikant commented on #210
the function itself exists (not in json), all the services of the features I am not closing since gui is missing have everything ready. I want to finish the features before I start learning how to turn them into services and I still have some features to handle

[2017-04-03 19:20] Kolikant commented on #234
need to make sure gui doesm't allow that inside the string, for the time being an exception is thrown from the class should be enough

[2017-04-03 19:27] Kolikant opened #246 "project not running (nor tests)"
i did the pull as instructed, but the tests and the application itself no longer run. can anyone help me?

@KaplanAlexander @ArthurSap @koralchapnik @yaelAmitay

[2017-04-03 19:28] Kolikant commented on #246
not a bug or compilation error, just doesn't run because of...unrecognized issues

[2017-04-03 19:30] kapalex commented on #246
You need to run it from the server-side directory
It's working on my pc and in jenkins

[2017-04-03 19:31] Kolikant commented on #246
I am.
I'm calling you

[2017-04-03 20:09] Kolikant commented on #246
Yael helped me.
anyone else having this problem, should (after pulling) open a new workspace, import maven project the thingy, update maven. and then close and reenter eclipse.

we are no sure why this helps, but it has got something to do with dark vodoo magic for sure

[2017-04-03 20:09] #246 closed, assigned to Kolikant

[2017-04-03 20:15] Kolikant opened #247 "three steps solution"
seeing as that @yaelAmitay was able to prove the ability for us to switch to ionic while mainatining use of jxMaps, and by the assessment that ionic and it's interface would take a big portion of our work this semester. and seeing as we started the semester coming up with new features for us to implement (before offered to use ionic) and thus have both new features and the switch to ionic;
here is

[2017-04-03 20:23] #234 closed, assigned to Kolikant

[2017-04-03 20:24] JuanJenkinsBot opened #248 "SmartCity-Accessibility Server Side #409 failed"
Build 'SmartCity-Accessibility Server Side' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [Ariel Kolikant] c12f4ef3f8eac38db9919a02cd94fe2ae975c70f - git is not allowing me to puul despite not having changes...this is

- [Ariel Kolikant] f21a766383848324c0c70e82e56b0c3393c4c46d - throws exception if user uses the name of the string splitter for some

[View full output]

[2017-04-03 20:26] Kolikant commented on #248
I prematurely pressed push rather than commit, don't worry, easy fix

[2017-04-03 20:34] #248 closed, assigned to nobody

[2017-04-03 20:35] Kolikant commented on #248
You can sleep now sweet jenkins
The bad build can't hurt you anymore

[2017-04-03 22:13] yaelAmitay opened #249 "Update pom.xml to work with Spring framework"
Update pom.xml to work with Spring framework so we can create web service(see #238)
and add the application file.(runs the server)

[2017-04-03 23:16] #249 closed, assigned to yaelAmitay

[2017-04-04 10:30] ArthurSap commented on #247
I can't fully agree with you about step 1 - if we implement new features right now without regarding the ionic framework we might have to do extra work later to convert them to properly work with ionic (hence doing extra work for nothing). I think we need to give @yaelAmitay a hand to head-start ionic faster so we would have some basic infrastructures to work with and only then implement new featu

[2017-04-04 10:37] yaelAmitay commented on #247
I think he meant that some people will work on the server services(interfaces) and the others will work on the ionic.
I think we should decide togather on the URL of the interface.
and create stubs for the webservices interfaces as soon as we can

[2017-04-04 10:37] Kolikant commented on #247
These features are wholy and completely within the server side of what would be the new project.
Think of all previous semester other than gui, as the server side.

All the features we have given this semester are server side as well, implementing them would not intervee at all, and is not a consoderation ionic would have in interfacing

[2017-04-04 10:37] yaelAmitay commented on #247
and create stubs for the webservices interfaces as soon as we can

[2017-04-04 10:41] Kolikant commented on #247
We should finish the server side as there are not a lot of features left, so we can all continue to work on ionic.
Obviously if more server side feature come up, we can always change, but as to make the transition to ionic as our main concern, these three steps (milestones) would get us organized about it

[2017-04-04 11:02] kapalex commented on #247
I agree with @ArthurSap in the thought we should focus on ionic first.
Even though our project is split into server side and client side, we might still find better ways to implement new features once we start working with the new design (services), and this could affect the way we implement features.

My opinion is that the first sprint should be entirely dedicated to ionic + database features (I

[2017-04-04 11:04] kapalex commented on #240
wiki is [here](https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Working-with-Feature-Branches) and is currently being worked on

[2017-04-04 11:04] #203 closed, assigned to kapalex

[2017-04-04 11:05] kapalex commented on #214
Will keep this in mind while working on #218

[2017-04-04 11:07] kapalex commented on #219
We have since decided to not use Spartanizer in our meeting

[2017-04-04 11:32] Kolikant commented on #247
The point is to have order in work, because now most people dont know what to do. "Help with ionic" is ill defined right now and Yael if I understood her correctly wants to finish more before we can start with using the services.

By first finishing what we know and understand, moving to something else we can learn we would be able to all get to ionic with a working system and understanding of our

[2017-04-04 11:45] kapalex commented on #247
We have until the end of the sprint to define the exact work that should be done with ionic, while this sprint is the exact time to study and plan what we want to do with it.
In my opinion two people should be put on the gui part of it, which would involve learning to work with typescript, html and such that are required by ionic, and implementing a good looking interface, while two others can wor

[2017-04-04 11:53] Kolikant commented on #247
That is too much in the air. If you want everyone to first work on ionic, let us make plans to bring everyone to do just that.
We need to bring everyone to understanding how what and where
Have the option to do so in the project itself
All that before, it all needs to be defined soon.

In the meantime, we should work on the small features that we all opened.

Here are the issues we ahould open:
1)

[2017-04-04 16:58] kapalex commented on #247
That issue sounds like a good idea, although i'm not sure what exactly it should be.
You're welcome to open the issue

About more concrete issues, I agree. those should be defined by the end of the current sprint, during this week we should start thinking of which services we want to expose, and open issues to implement them
@yaelAmitay @ArthurSap @koralchapnik

[2017-04-04 17:04] kapalex commented on #230
Well the discussion seems to be done, so I'm closing, actual implementation issue is #218

[2017-04-04 17:04] #230 closed, assigned to kapalex

[2017-04-04 17:06] Kolikant commented on #247
Obviously all issues given as gui, I suggest the next (if possible) to make an annotation of `@service`
For us to mark methods that should (more ot less) be services, and for everyone to pass on their classes and mark

[2017-04-04 17:10] kapalex commented on #247
I think it would be better to create a discussion issue to talk about which services we need, in code would be hard to find
I'll open it

[2017-04-04 17:12] Kolikant commented on #247
Again, all the gui,
The discussion will not cover all the methods we need, or even all the conseptual methods we need but still a good start

[2017-04-04 17:14] ArthurSap commented on #247
I think deciding the services would be a lot simpler and quicker if we would meet up and discuss it.

[2017-04-04 17:16] Kolikant commented on #247
EVERYTHING would be a lot easier if we could meet and discuss it.
I am always in favour of THAT

[2017-04-04 17:26] kapalex commented on #247
All in favor but until that happens, some discussion still needs to happen as the next meeting is very much near the deadline

[2017-04-04 17:27] kapalex opened #250 "Defining the services we need"
We need to talk about what exact services we want to expose, to be used by our gui, and how those services would work

Few services that come to mind
- The login service seems to be a bit complicated.  Obviously we would accept a username and a password, but because we are sending the info to the server, and the server actually logs in to the parse server, we need to think how to return some "cook

[2017-04-04 17:28] Kolikant commented on #247
Yes
A fot discussion is the minimum amount of work we can do for this, so we should atleast do that

[2017-04-04 17:29] Kolikant commented on #250
The searching (both of them) through query creation (so query creation)
Navigation
User profile as well

[2017-04-04 17:39] Kolikant opened #251 "get understanding of ionic for work"
we decided at #247 to rush as fast as possible to work on ionic, even before completing the new unfinished features.
thankfully, @yaelAmitay supplied us with tutorials to get to a good level of understanding.

everyone planning to work on ionic needs to complete these tutorials before the sprint ends

more issues as to learning and defining work on ionic would probably come after people know what

[2017-04-04 21:52] yaelAmitay commented on #250
- I can search online about the login problem. although the naive solution is: user always send his name and password to the server. (not a good solution I'll look for a better one)
- I think you mentioned all the services we need but we can use this issue to decide on url.
for example, navigation could be something like that:
localhost\navigation?src=BLA&dst=BLA
I think that if we'll have it in o

[2017-04-04 21:55] yaelAmitay commented on #247
So we decided to talke about the services on #250 , right?
Hopefully this week we also open issues for the Ionic parts
So by the end of the week everybody will be able to start working.

[2017-04-04 21:56] Kolikant commented on #247
Yes.
Hopefully

[2017-04-04 21:56] #247 closed, assigned to Kolikant

[2017-04-05 21:05] yaelAmitay opened #252 "client side login"
create a login page in the client side application. support keeping tokens and sending authentication request to the server.

I found a nice explantion [here ](http://tphangout.com/ionic-2-rest-api-authentication-updated/) it might help us.

server side #253

[2017-04-05 21:08] yaelAmitay opened #253 "server side login"
create a service that support a login from user.
this is going to be in the next url:
localhost/login?user=NAME&password=PASSWORD

the server should remember the login for X=10 minute.
the server should return a token not a cookie.
whenever someone want to send a request he need to add the token.

Everybody pay attention to this: @Kolikant , @KaplanAlexander , @koralchapnik , @ArthurSap
**add the

[2017-04-05 21:16] yaelAmitay opened #254 "client side leave a review on location"
1. user click on location on the map
2. a small window is open the user leave there the review and send it to the servers.
3. if there already other reviews on the location the user can view them.

In the future the user will be able to choose if the location is a street or some type of location.

server side #255

[2017-04-05 21:19] yaelAmitay opened #255 "server side leaving a review"
the server can get a POST request inorder to add a review.
localhost/reviews?lat=LAT&lng=LNG
(you can choose other url if you want, just update this issue if you do)
In the future the location will have more IDs then just the lat lng. for example we might also have type of location.
*add the token to your request, look at #253 for more details.
client side #254

[2017-04-05 21:22] yaelAmitay opened #256 "server side view all reviews of location"
the server can get a GET request inorder to view the reviewes of a location.
localhost/reviews?lat=LAT&lng=LNG
(you can choose other url if you want, just update this issue if you do)

In the future the location will have more IDs then just the lat lng. for example we might also have type of location.

*add the token to your request, look at #253 for more details.

[2017-04-05 21:26] yaelAmitay opened #257 "client side search for locations(simple search)"
the client should be able to search for a location by its address.
the search request should go to our servers.

server side #258

[2017-04-05 21:28] yaelAmitay opened #258 "server side search(simple search)"
create a webservice that support searching a location
localhost/search?query=BLABLA
should return the latlng(and maybe more data).

Accept the requesr iff the token is valid.

client side #257

[2017-04-06 08:08] Shahar-Y commented on #238
Hi Yael, @DavidCohen55  and I tried following your guide of creating REST webservice in our project and encountered these problems:
![image](https://cloud.githubusercontent.com/assets/23077804/24744025/373cf08e-1ab9-11e7-8a46-b40b89168fba.png)
We haven't been able to fix it. do you have any idea what to do with it?
Thanx

[2017-04-06 08:42] yaelAmitay commented on #238
I didn't add this dependecny, was is on your project before?

[2017-04-06 08:47] DavidCohen55 commented on #238
We already had this dependency in our project like few others that we getting warnings about,
it seems that there was a problem when we tried to add this to our pom.xml file and we don't know how to figure it out...

[2017-04-06 08:58] yaelAmitay commented on #238
I think you can ignore this warning(there is a way to suppress a warnings in the pom file).
(from what I see from online search about this warning)

[2017-04-06 09:13] yaelAmitay commented on #258
@Kolikant  do you want this issue and issue #257 ?

[2017-04-06 09:39] yaelAmitay opened #259 "Ionic create new page and navigate to the new page"
in order to open a new page insert the following line to the command line:
`ionic g page NAME_OF_PAGE`

now you have new folder in "pages".

In order to navigate to the new page from your main page or from some other page you need to create a link. for Example adding a button that link to other page.
1.  in the home.html:
` <button [navPush]="loginPage">Go To LogIn</button>`
2. in the home.ts:
- i

[2017-04-06 09:40] koralchapnik commented on #242
Great job!

[2017-04-06 09:53] ArthurSap opened #260 "How should we display review adding?"
Upon pressing a location on map and choosing to add review - should we open a whole new window for the user to add the review in it? Or a mini window (without shifting to a new screen) and the user could add the review there (i.e tiny pop-up window while still displaying the map in the background)?
For now I started to implement it as a whole new page, worst case we'll switch to the mini window.
O

[2017-04-06 09:53] yaelAmitay commented on #260
I think it should be on a new page

[2017-04-06 10:01] koralchapnik commented on #260
I also think it should be in a new page, and indicating the location which the user reviewing

[2017-04-06 10:01] yaelAmitay opened #261 "Important: make Ionic work after the first pulling"
after the first pulling of the project you should write this commands from the client-side folder:
`npm install`

[2017-04-06 10:08] #206 closed, assigned to koralchapnik

[2017-04-06 10:09] yaelAmitay commented on #208
We are moving to Ionic so this issue is no longer relevant

[2017-04-06 10:09] #208 closed, assigned to ArthurSap, yaelAmitay

[2017-04-06 10:10] yaelAmitay commented on #216
Should we close this issue now that we are moving to ionic?

[2017-04-06 10:11] yaelAmitay commented on #220
Due to moving to Ionic I''m closing this issue for now. maybe we will do it in the future.

[2017-04-06 10:12] yaelAmitay commented on #221
Can I close this issue for now? I think we should focus on moving to ionic.

[2017-04-06 10:13] yaelAmitay commented on #227
How is it different from #226 ?

[2017-04-06 10:13] yaelAmitay commented on #232
I did it in Ionic

[2017-04-06 10:13] #232 closed, assigned to yaelAmitay

[2017-04-06 10:16] yaelAmitay commented on #251
can we close this issue?

[2017-04-06 10:18] koralchapnik commented on #251
yes

[2017-04-06 13:27] ArthurSap opened #262 "JBoss - eclipse plugin for easier development with Ionic"
## JBoss
JBoss is a plugin for eclipse that help with web developing (among the rest) and hybrid mobile development (using Ionic and Cordova!)
### IMPORTANT NOTICE:
This plugin **helps** developing so some features are still missing!
If you want to create a new page, a new provider and etc. you still have to do it form the cmd (as explained in Yeal's guides).
This plugin helps creating the pages u

[2017-04-06 13:28] koralchapnik commented on #262
Thanks!  I'll try it today :)

[2017-04-06 14:17] koralchapnik opened #263 "Change Review to contain the user itself instead of the user name"
we decided on issue #239 to replace the user name in Review class with the user object

[2017-04-06 14:22] koralchapnik commented on #263
@KaplanAlexander Can I do the change and you'll do the relevant changes in the DB ?
which means I will put the relevant code in LocationManager in comment

[2017-04-06 15:15] kapalex commented on #216
With the new Ionic gui and DB implementation this is mostly irrelevant, so closing

[2017-04-06 15:15] #216 closed, assigned to Kolikant

[2017-04-06 15:16] kapalex commented on #221
Leave it open, and put milestone as Sprint 2, we'll decide by then if we want to focus on it

[2017-04-06 15:18] kapalex commented on #263
Yes it's fine if you change it, I'll work on the DB on a separate branch anyway

[2017-04-06 15:23] koralchapnik commented on #263
Ok, so I am putting the relevant code in the Location Manager and it's tests in comment

[2017-04-06 16:08] Kolikant commented on #251
No..... I havent done it someone marked it for me

[2017-04-06 16:12] yaelAmitay opened #264 "Ionic make map clickable"
make the map clickable in the client application in Ionic.

[2017-04-06 16:13] Kolikant commented on #227
That one is gui, i think i had more differnces planed, but doesn't seem to be that different

[2017-04-06 16:15] Kolikant commented on #258
Assign me
I wont reach a computer for a long time now

[2017-04-06 16:16] Kolikant commented on #260
Mini window seemsto ne more intuitive, but it hardly matters

[2017-04-06 16:19] Kolikant commented on #263
This has a lot to do with the user db synchronizyion, remmemberto update the user information at the db every time you alter it

[2017-04-06 16:20] Kolikant commented on #253
I dod the login las semester, i would like this issie as well

[2017-04-06 16:22] koralchapnik commented on #263
For that I need the DB to be implemented.
whenever the review is updated in the DB it should update the user too.
it's under the DB responsibility

[2017-04-06 16:32] Kolikant commented on #263
No
You took the user as a field and are updating it
The user is not under review jurisdiction

If you alter it and want it saved, you save it

The review db stores and takes care of onky the reviews

[2017-04-06 16:34] koralchapnik commented on #263
I am not altering the user inside the Review class.

[2017-04-06 16:46] Kolikant commented on #263
Oh, okay then.

[2017-04-06 16:49] yaelAmitay commented on #260
the user need to write about the location I think that mini window is too small. But I also think that it doesn't matter as long as it works

[2017-04-06 16:50] yaelAmitay commented on #253
I already start working on it? do you mind if I keep it?

[2017-04-06 16:52] yaelAmitay commented on #227
Nevermind I moved it to the next sprint, we will talk about it later

[2017-04-06 16:54] yaelAmitay commented on #207
I'll take care of this issue when i'll done with some of the ionic part. because the ionic part is more important right now.

[2017-04-06 19:00] JuanJenkinsBot opened #265 "SmartCity-Accessibility Server Side #420 failed"
Build 'SmartCity-Accessibility Server Side' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [KoralChapnik] ef5e08bce0691f6871489fcf6ac69e7950bcaf9f - replaced user name with user in Review. put Location and Review manager

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side/420/)

[2017-04-06 22:15] #264 closed, assigned to yaelAmitay

[2017-04-07 13:07] yaelAmitay opened #266 "open menu when map is clicked"
when the user click on the map we want to open a small menu. that allows him to choose between adding a review, view reviews and more.
right now when someone click on the map a small alert is popping.

[2017-04-07 14:01] Kolikant commented on #261
- [x] Kolikant
- [x] koral
- [x] athur
- [x] Alex

[2017-04-07 14:05] #251 closed, assigned to ArthurSap, Kolikant, koralchapnik

[2017-04-07 14:11] JuanJenkinsBot opened #267 "SmartCity-Accessibility Server Side Database Branch #10 failed"
Build 'SmartCity-Accessibility Server Side Database Branch' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [Alexander Kaplan] 687399059379ff64aa3810a041cb27754b138fb8 - added test category for reveiwmanagertest

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Database%20Branch/10/)

[2017-04-07 14:34] #267 closed, assigned to nobody

[2017-04-07 15:18] Kolikant commented on #238
can you add a post, put, delete example?

[2017-04-07 15:26] Kolikant commented on #258
need to figure out how to add the actual query text to a variable of the rest part (which is what I assume is so great about rest)

[2017-04-07 15:30] Kolikant opened #268 ""Cheat sheet""
it's a brand new framework for all of us, so we might struggle to find some stuff.
I am opening a wiki page to be filled with all the stuff we normally google, to have q quick and easy "control F-able" cheat sheet, opening this issue to let you know.

would be great if we can all donate, every time you get stuck on something and find it, add it to the "Cheat sheet" for everyone else

the name of t

[2017-04-07 15:31] #268 closed, assigned to Kolikant

[2017-04-07 18:53] #258 closed, assigned to Kolikant

[2017-04-07 18:57] Kolikant opened #269 "maintain running mapView in server side?"
the entire functionality of jxMaps needs a "mapView" which is the prerequisite of everything.
last semester I managed to wrap and maintain one mapView to be used in every functionality, since all we needed it for was functionality and they take a long time to load.

in ionic, everytime functionality is made, it seems that we need a mapview, but there is a need to re-wrap it, meaning, that the mapV

[2017-04-07 19:00] Kolikant commented on #269
feel a bit silly for opening this issue, one second later I solved it, but maybe the solution is bad, so I leave it open.

a mapView is instantiated with the application as a static field (same as our application last semester) and is accesable by all services who need jxmaps functionality

[2017-04-07 19:06] AdiOmari commented on #269
@Kolikant <https://github.com/Kolikant> Make sure the access to this static
field is synchronized (because it may be accessed by multiple server
threads, each dealing with a different user request and we are not sure whether it is thread safe or not).

On Fri, Apr 7, 2017 at 10:01 PM, Ariel Kolikant <notifications@github.com>
wrote:

[2017-04-07 19:07] AdiOmari commented on #258
Oh I forgot to add " and we are not sure its implementation is thread safe"

On Fri, Apr 7, 2017 at 9:53 PM, Ariel Kolikant <notifications@github.com>
wrote:

[2017-04-07 19:12] Kolikant commented on #269
I will open an issue about this as I am not sure which would be the best way to access it.

since the static field exists just because that building the mapview takes a long time, maybe adding synchronization overhead simply wouldn't pay off and we should just create it each time we want a service

[2017-04-07 19:13] Kolikant commented on #269
let's discuss it the,
@yaelAmitay (I know it's sabbath, when sabbath is over, no rush) @koralchapnik @KaplanAlexander @ArthurSap

[2017-04-07 19:15] Kolikant commented on #269
to sum the question up: we need a mapview each time we want to activate jxMaps functionality, these take a few seconds to build. do we:
1) build one for our server when it starts and synchronise it
2) build one each time a server is required
3) any other idea

[2017-04-07 19:19] Kolikant commented on #258
@AdiOmari I don't think I understand what you are referring to

[2017-04-07 19:36] AdiOmari commented on #269
I will leave the discussion for you guys, but I don't think the synchronization overhead is more than the "long loading time" of the jxMaps. This is a minor issue, you don't want to spend a lot of time on it.

[2017-04-07 20:07] koralchapnik commented on #269
I think the synchronization is fine and will take less time than building a mapView each time we want to activate jxMaps functionality, cause it is probable that we will use this functionality a lot, and I think that synchronization at this case could be more beneficial.

[2017-04-07 20:26] koralchapnik commented on #236
There is consideration in the user's comments likes/dislikes, more details in issue #228

[2017-04-07 20:26] #236 closed, assigned to koralchapnik

[2017-04-07 21:14] koralchapnik commented on #228
**Right now the user helpfulness goes as follows:**
there is the Helpfulness class and each user contains an helpfulness object.
the helpfulness of a user is the average likes this user has on each of his comments with ceiling.
negative number indicating the average dislikes this user has on each comment.
the calculation of bestReviews goes as follows:

**for calculating the rating of a specific l

[2017-04-07 21:33] koralchapnik commented on #229
The updates are not periodic, whenever the user helpfulness is changing the DB will be updated,
after @KaplanAlexander will re-implement the DB I will do that

[2017-04-08 06:56] kapalex commented on #265
@koralchapnik
the error seems to be, please have a look to see what might caused it in your push
[code]

[2017-04-08 07:05] kapalex commented on #269
The synchronization seems like a bad idea.  Even if we will have 100 users try to use it simultaneously, they would get queued and have to wait to use the mapview one at a time.  This design doesn't seem to be scalable at all.

In my opinion each client(i.e. person using the app, not necessarily registered user) should upon connection have his own MapView created, and said mapview kept in memory w

[2017-04-08 07:11] koralchapnik commented on #265
@KaplanAlexander
The problem is because I put some lines in LocationManager in comment because of the change from the user name to the user object in Review, and the Location Manager is used in the tests.
what to do ? put those tests in comment till you re-implement the locationManager ?

[2017-04-08 07:13] kapalex commented on #265
I think put an ignore on the test and create an issue with you and me assigned to take care of it so we won't forget its there
also mention the commented out code there

[2017-04-08 07:14] koralchapnik commented on #265
ok, no problem

[2017-04-08 07:19] #265 closed, assigned to nobody

[2017-04-08 07:36] koralchapnik opened #270 "The change in Review and the DB"
As you know, we changed the Review class to contain a user object instead only the user name.
this change creates changes in the DB that are necessary for the project to work.
**The tests that were affected by this change and were ignored are:**

- NavigationTest - displayMap()

- LocationManager - is in comment, each time instantiating a review, we should create a user instead only putting the us

[2017-04-08 08:27] Kolikant commented on #228
Can you fo through hoq helpfullness is updated? When? Hoq this information reaches the db

[2017-04-08 08:29] Kolikant commented on #269
I like your idea, Alex, it seems like the tight way to go.
The login already takes as long as creating mapview, we can do them together

[2017-04-08 08:41] kapalex opened #271 "Create new ReviewManager"
relates to issue #218

The ReviewManager will no longer have only static functions, but will instead be created using Guice with the Database object given using DI (removing the dependency on parse)

Implementation will be done using RxJava

[2017-04-08 08:43] kapalex opened #272 "Create new LocationManager"
relates to #218  and is similar to #271

[2017-04-08 08:50] kapalex opened #273 "Rework the creation of Location objects"
The Location object currently has **7** different constructors.  This makes the process of creating a location object both messy and very inconsistent.

I want to change the way to creation of Location is done to the following :
- The will be a single c'tor that accepts no parameters.
- The will be a `LocationBuilder` class to create location, to be using instead of c'tors

The Location builder wi

[2017-04-08 09:43] JuanJenkinsBot opened #274 "SmartCity-Accessibility Server Side Database Branch #18 failed"
Build 'SmartCity-Accessibility Server Side Database Branch' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [Alexander Kaplan] 4b1d6d3ba05529ab9d96d48b8220253973bf0ee5 - created location builder and removed all redundant c'tors.  alot of

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Database%20Branch/18/)

[2017-04-08 09:46] #274 closed, assigned to nobody

[2017-04-08 09:47] #273 closed, assigned to kapalex

[2017-04-08 10:40] kapalex commented on #271
The implementation of review manager `toMap(..)` function will involve getting the id of the location in the review in order to save the the review in the database properly
in the case where the location is not in the db, the db will be uploaded using LocationManager, and the newly created id will be saved in the review class

[2017-04-08 10:41] kapalex commented on #272
location manager will save the location without the reviews that are in the list.  Reviews will be retrieved using the reviewmanager get function for reviews with field location where id is the id of the location

[2017-04-08 12:55] ArthurSap commented on #260
For now we'll go with a new page. If we'd want to change this is the future we'll re-open this issue.

[2017-04-08 12:55] #260 closed, assigned to ArthurSap

[2017-04-08 12:58] ArthurSap commented on #269
I agree with Alex. Once the user logs out we can simply terminate his mapView session.

[2017-04-08 13:57] Kolikant commented on #269
We should wait for yael to weight in (sabath etc) and if she adrees ill add this to the issu of login

Regardless umtill the ionic login exists, the static field would remain just so we can test and run the functionality

[2017-04-08 16:57] AdiOmari commented on #269
If you want to do it right, then the right implementation is to use a **queue of mapViews** , the synchronization is on the queue. Every thread that needs a mapView object locks the queue and gets a mapView object,and gives up the lock, and when it finishes it locks and queues it back.
If the queue is empty then there are two options  for dealing with this case:
1) [wait on the queue object](https

[2017-04-08 16:58] yaelAmitay commented on #269
I'm doing the Login and I keep a kind of list of UserInfo I can keep there the MapView of each user.
I'll load the server code today, though I'm still working on it.
So everything you to keep in the user session keep it there.(I'll load it in a few mintues)

[2017-04-08 17:00] yaelAmitay commented on #269
oh now i see Adi's comment, so do we want to keep mapview for each user or not?

[2017-04-08 17:02] yaelAmitay commented on #238
POST example: /login?name=BLABLA&password=BLABLA
[code]

[2017-04-08 17:05] yaelAmitay commented on #238
Do you want example for PUT and DELETE too? It's the same

[2017-04-08 17:25] yaelAmitay commented on #266
now when someone click the map a small window appear with the LatLng of the point.
I still need to add links to addReview and to some other pages.

[2017-04-08 17:40] JuanJenkinsBot opened #275 "SmartCity-Accessibility Server Side #431 failed"
Build 'SmartCity-Accessibility Server Side' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [yaelAmitay] 2a09aa2bf06f4a873bbf5a481442f0807a08eae9 - add guiava dependancy #253

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side/431/)

[2017-04-08 17:48] #275 closed, assigned to nobody

[2017-04-08 17:56] yaelAmitay commented on #253
Right now when someone send a login request I just create a new User and him to the sessions map.
But I'll change it to check if the user really exist

[2017-04-08 18:09] yaelAmitay opened #276 "client side Navigation"
the user can pick a src and dst and request a navigation.
*add the token to your request, look at #253 for more details.
server side with more details #277

[2017-04-08 18:13] yaelAmitay opened #277 "server side Navigation"
a webservice that allows the user to get route between some src and dst.
the URL should be:(POST)
/navigation?srcLat=BLA&srcLng=BLA&dstLat=BLA&dstLat=BLA&accessabilityThreshold=BLA

*add the token to your request, look at #253 for more details.
client side #276

[2017-04-08 19:10] Kolikant commented on #269
The login itself to the parse server is already taking as much time as creating the mapview

The login in usermanagment is in the backgrounf aswell

You can do them both at the same time

[2017-04-08 19:14] yaelAmitay commented on #269
@Kolikant  I didn't understand you
what do you mean?

[2017-04-08 20:04] Kolikant commented on #253
It has been a chunk of my work last semester
And it leaves me with nothing to do this semester

Not untill we have the discussion i wanted to solit the work.
But since it seems we are all coding now, I will need to either continue loging and user management or be suggested something else to be under me

[2017-04-08 20:07] Kolikant commented on #269
Login, in usermanagement that i implemented, does the login to parse and it takes some time.
In that time, create mapview

[2017-04-08 20:13] yaelAmitay commented on #253
As you can see I already start working on it, so i'll keep it.
BUT don't worry we have a lot of work to do.
please note that you have #257 .

[2017-04-08 20:16] yaelAmitay opened #278 "client side upvote/downvote"
when someone view a review he can upvote/downvote.
 we need to support this in the client side.

[2017-04-08 20:17] yaelAmitay commented on #278
@Kolikant want this issue? and the server side of this issue( #279 )?

[2017-04-08 20:19] yaelAmitay opened #279 "server side upvote/downvote"
when someone view a review he can upvote/downvote.
we need to support this in the server side.

client side #278

[2017-04-08 20:25] yaelAmitay opened #280 "client side complex search"
the user should be able to ask for a complex search.
you should create a page where the user can select the parameters of the complex search and send a request to the server.
*add the token to your request, look at #253 for more details.
server side #281

[2017-04-08 20:28] yaelAmitay opened #281 "server side complex search"
the server should accept a request for complex search.
you can choose the URL yourself. I suggest something like that:
localhost/complexSearch?type=TYPE&distance=DISTANCE

*add a token for the login, you should throw exception if the token is not valid. you can see example in NavigationService. get the token from the header of the request

the client side #280

[2017-04-09 14:22] yaelAmitay commented on #266
now a small window appear with the lat lng. when someone click "add review" he referenced to addReview page.
adding links to the window is the same as the "add review".

it looks lke that:
![image](https://cloud.githubusercontent.com/assets/23058068/24838065/6209c9e4-1d49-11e7-9dcb-820201f38c4b.png)

[2017-04-09 14:22] #266 closed, assigned to yaelAmitay

[2017-04-09 14:29] yaelAmitay commented on #258
@Kolikant , did you figured it out? I see you closed the issue so I assume you did, let me know if you have problems

[2017-04-09 14:31] yaelAmitay commented on #253
as we said in #269 we should keep a mapview for each session.

[2017-04-13 16:07] JuanJenkinsBot opened #282 "SmartCity-Accessibility Server Side #438 failed"
Build 'SmartCity-Accessibility Server Side' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [yaelAmitay] c7f89ba2de8c1e20e1e879c94e61835bb944756b - add sha to login add class token #253

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side/438/)

[2017-04-13 16:09] #269 closed, assigned to Kolikant

[2017-04-13 16:10] #282 closed, assigned to nobody

[2017-04-13 16:24] JuanJenkinsBot opened #283 "SmartCity-Accessibility Server Side #440 failed"
Build 'SmartCity-Accessibility Server Side' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [yaelAmitay] 93bc166dbeb22d143a0d39070b496ebfac36ebc0 - signup server side #253

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side/440/)

[2017-04-13 16:27] #283 closed, assigned to nobody

[2017-04-13 16:37] yaelAmitay opened #284 "Login: when user login we keep a map view for his session"
when user login we keep a map view for his session. any request he might have will be on his copy of map view.
the copy of the map view will be destroy when the session is over.

[2017-04-13 18:16] yaelAmitay opened #285 "handling errors in webservices"
When a server-side error occurs we throw an exception that is obtained on the client side.
We must  capture the exception in ionic and present it in an orderly fashion. This should be done in any place where an exception may occur.

there are a few ways to do it, we'll use **subscribe**:
the subscribe should get:
(a) the function you want to happend on success
(b) the function you want to happend

[2017-04-14 11:42] #261 closed, assigned to yaelAmitay

[2017-04-14 12:38] koralchapnik commented on #228
@Kolikant  - I don't really understand your question.
can you please explain what you mean ?

[2017-04-15 18:06] Kolikant commented on #228
Can you go through how helpfullness is updated? When? How this information reaches the db

[2017-04-17 12:58] koralchapnik commented on #228
Helpfulness is calculated by subtracting the total dislikes of the user's reviews from total likes of the user's reviews and divide the result of the subtraction in the number of the total reviews this user has.
Each user contains an Helpfulness object.
When the user gets a like or dislike on one of his reviews, his helpfulness object is updated so that the likes/dislikes fields are increased acco

[2017-04-17 17:21] yaelAmitay commented on #253
I'm closing this issue, I'll open more issue if needed that are more specific.
BUT everybody should take a look at this issue and add the token to the header of their requests!

[2017-04-17 17:21] #253 closed, assigned to yaelAmitay

[2017-04-17 17:22] yaelAmitay commented on #252
I'm closing this issue for now, I'll open new issue if needed that are more specific.

[2017-04-17 17:22] #252 closed, assigned to yaelAmitay

[2017-04-17 17:30] yaelAmitay commented on #258
@Kolikant
accept the request only if the token in the header of the request is valid
look at NavigationService.java for example.

[2017-04-17 17:32] yaelAmitay commented on #250
- about the login we are using tokens.
- do we still need this issue? does anybody else have idea if we forgot some services? if you do please open issues about them.

[2017-04-17 17:32] #250 closed, assigned to kapalex

[2017-04-17 17:35] yaelAmitay opened #286 "client side: user profile"
when a user loged in he can view his profile.
as part of the login I already create a blank page that the user can access after he is logged in.
I still need to add the user's information to this page.

[2017-04-18 08:18] Kolikant commented on #228
If whenever anyone likes or dislikes, you need to update the user objectand thus the db eventually, you will still need to make sure to tell the db to update when you change, for synchrony's sace

This is what we were unclear on inthe previous issue

[2017-04-18 14:52] koralchapnik commented on #228
I need the DB's interface for the update

[2017-04-18 15:03] Kolikant commented on #228
Its user manager who hasnt changed
I need to add the update and recreation of the object you have just created, but as i've said before, its update and login to update or get a user.
Look at old gui for example of usage, I will make sure to add the changes and figure out synchrony, just need that you make sure to update regularly

[2017-04-19 14:11] yaelAmitay opened #287 "Allow Cross Origin for all webservices - CORE"
Allow Cross Origin for all webservices - CORE
you can temporarily add:
`@CrossOrigin(origins = "http://localhost:8100")`
to your method.
I'll find a general solution so you don't have to add it to every service you create.

[2017-04-19 15:36] yaelAmitay commented on #287
Done. No need for the temporal soultion.

[2017-04-19 15:36] #287 closed, assigned to yaelAmitay

[2017-04-20 19:31] yaelAmitay opened #288 "add constants file"
create a file that contains all the constants in the client side, for example the address of the server and more.

I created a file named constants.js in the folder src/pages.
how to access the constants:

1. Import this file to your pages.
`import { Constants } from "../constants";`

2. add the following code in order to get the server address:
`Constants.serverAddress`

you can add your constant

[2017-04-20 19:35] #288 closed, assigned to yaelAmitay

[2017-04-21 07:59] kapalex opened #289 "Finish presentation"
Due Monday 24.4
Link to the google drive is in the telegram group

[2017-04-21 08:07] JuanJenkinsBot opened #290 "SmartCity-Accessibility Server Side #447 failed"
Build 'SmartCity-Accessibility Server Side' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [KoralChapnik] 86456e83164875c2f195727499c1f06925ca4bc4 - updated bestReviewsTest #228

- [KoralChapnik] 1961786c3fbcc9e6c54bb5fb69e3b2d626084a61 - forgot to remove the ignore in bestReviewsTest #228

- [KoralChapnik] 5a2e34c6a5bd677aeccf1a4d40994c784f408c00 - change best reviews

[2017-04-21 08:18] yaelAmitay commented on #290
Why does it suddenly warn about it?

[2017-04-21 08:25] kapalex commented on #290
the previous build was stuck in an infinte loop (please set timeouts on tests) so I manually closed it and started a new build

[2017-04-21 08:33] yaelAmitay commented on #290
my tests have timeout since last semester.
Does anyone have any idea what the bug is?

[2017-04-21 08:45] koralchapnik commented on #290
How does we know where the infinite loop is ?

[2017-04-21 08:50] kapalex commented on #290
You can see [here](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side/446/console) where it got stuck
seems like somewhere in searchtests

[2017-04-21 08:51] #290 closed, assigned to nobody

[2017-04-21 10:12] #240 closed, assigned to kapalex

[2017-04-21 10:21] #263 closed, assigned to koralchapnik

[2017-04-21 10:23] #225 closed, assigned to ArthurSap, koralchapnik

[2017-04-21 10:23] #222 closed, assigned to koralchapnik

[2017-04-21 14:55] kapalex opened #291 "Change to User database storage"
While working on some of the changes to the database class ( #230 ) I've ran into a problem with the current User representation.

The way we have implemented the user, the `User` class contains all the information about the user, both public (helpfulness, username) and private (password, favorite queries)
The issue that follows is that when user A wants to see the helpfulness of user B, he cannot

[2017-04-21 15:30] koralchapnik commented on #291
I think your offer is fine

[2017-04-21 15:31] yaelAmitay commented on #291
that's fine with me, but I would like to know why can't we just access the DB with out the user password, it's weird.

[2017-04-21 15:46] kapalex commented on #291
Parse actually combines both a user management system and a database.
The database is accessed with `ParseObject` and the user management part with `ParseUser`.  Since the user is stored within the user management system the info stored is considered to be private, thus should only be available to the user himself - meaning he needs to be authenticated with a username and a password and cannot be

[2017-04-21 22:01] JuanJenkinsBot opened #292 "SmartCity-Accessibility Server Side #451 failed"
Build 'SmartCity-Accessibility Server Side' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [KoralChapnik] 70f9201a1ad0c7710375ef57e8743ad721c36b08 - put convertDummiesToReal in comment till the DB will be ready #281

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side/451/)

[2017-04-21 22:02] koralchapnik commented on #270
Right now I removed the code I've put in comment in LocationManager and added two useless constructors to Review for LocationManager will compile.
After the new DB will be ready I'll delete those constructors

[2017-04-21 22:26] koralchapnik commented on #270
@KaplanAlexander @Kolikant  is that OK that I've put DeleteReviewsTest and ReviewManagerTest and UserManagerTest  and DatabaseManagerTest in ignore annotation?
right now the current DB doesn't working well because the change in the Review class of putting the user object instead of the user name.
I don't think we shall spend much time on passing those test because we will have new DB which we will

[2017-04-21 22:38] #292 closed, assigned to nobody

[2017-04-22 06:39] kapalex commented on #270
It is ok but `UserManagerTest ` should pass as `UserManager` isn't being changed

[2017-04-22 08:31] koralchapnik commented on #270
It doesn't pass because the delete review doesn't work well

[2017-04-22 08:35] kapalex commented on #270
How is delete review related to `UserManager` ?

[2017-04-22 08:37] koralchapnik commented on #270
I don't remember I think the test contain this method but I am not near computer,  later on I can check this again

[2017-04-22 10:48] Kolikant commented on #291
that is actually, really good design. might be tricky changing usermanagement for it though

[2017-04-22 10:51] kapalex commented on #291
It will take a small adjustment to UserManagement(mainly restoring the profile from a seperate class), and I will take care of it as part of the database refatoring

[2017-04-22 10:51] kapalex commented on #291
We seem to be all on board so I'm closing this and opening an issue to actually due it

[2017-04-22 10:51] #291 closed, assigned to kapalex

[2017-04-22 10:53] kapalex opened #293 "Restore UserProfile with UserManager and UserProfileManager"
Details can be found at #291
The UserProfile is stored seperatly in the database to allow access without log in, and so UserManager needs to access it as well when restoring a user

[2017-04-22 10:54] kapalex opened #294 "Create UserProfileManager"
Will be responsible for restoring the `UserProfile` class for public view of the user

[2017-04-22 13:09] kapalex opened #295 "Add exceptions to Database interface"
to be used by ParseDatabase
Exceptions in case of different failures to access database and such

[2017-04-22 14:47] Kolikant opened #296 "search bar"

[2017-04-22 18:02] Kolikant commented on #270
User manager is probably failing because of the changes done to the user class itself, as it does not save nor load helpfulness which might be expected in the new constructors, I donot beliebe i tested delete review in it

[2017-04-22 19:27] yaelAmitay opened #297 "Testing the webservices - server side"
## How to test your webservie?

1. notice I added a file named `ServiceTest.java` it contains the setting of the mock we need. you can ignore this file just know that it's there.

2. create a test file for your sevice, for example `NavigationServiceTest.java`. **extend** the class `ServiceTest` from above:
`public class NavigationServiceTest extends ServiceTest {...}`

3. for request that need log

[2017-04-22 20:23] JuanJenkinsBot opened #298 "SmartCity-Accessibility Server Side #458 failed"
Build 'SmartCity-Accessibility Server Side' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [yaelAmitay] de0e644aab0ea2261ab5852c21d95d4996407c2f - add mapview to userInfo after login #284

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side/458/)

[2017-04-22 20:28] #298 closed, assigned to nobody

[2017-04-22 20:30] yaelAmitay commented on #284
@KaplanAlexander , @Kolikant , @koralchapnik , @ArthurSap
so in #269 we decided to keep mapView for each user when he is logging in. but search and navigation should be available to users even if they don't login so all the users that are not logged in will use the same mapview? (and then we need synchronization). if so, then what is the reason to keep mapview for each user? only the search need i

[2017-04-23 10:38] ArthurSap commented on #245
Is this still relevant? @Kolikant

[2017-04-23 10:44] ArthurSap commented on #284
If we look at Waze - you need to be logged in to use it, but Google Maps doesn't require to be logged in. Personally I think we should make search and navigation available to all users (and not logged in) and create a mapView for each user that's not logged in as well (so to save synchronization). If this is far too complicated or time consuming we could use Waze's model and allow only logged in u

[2017-04-23 10:48] ArthurSap commented on #297
Is this supposed to be a wiki thread ("study and explain")? Or just force us to do tests on stuff?

[2017-04-23 12:13] yaelAmitay commented on #297
a wiki thread,
We can add test issues later.

[2017-04-23 12:15] yaelAmitay commented on #284
we can't create a mapview for anyone who use our app it's time consuming.
But we navigation doestn't need mapview so we can make navigation available for everybody and search only to logged users

[2017-04-23 13:52] Kolikant commented on #284
The default user is a user for everything, if someone isn't logged in then they are the default user, so synchronization on his mapview should be the way.

Its consistent with our implementation and incourages users to log in (otherwise they get alower service)

[2017-04-23 14:08] koralchapnik commented on #284
I also think we should make the search service available for everyone, thus synchronization is needed

[2017-04-23 15:29] yaelAmitay commented on #284
I disagree I think that synchronization on one mapview is not a good idea.
but if thats what you all want then fine.

[2017-04-23 16:10] yaelAmitay commented on #289
I made some changes to the slide, take a look if you can
I'll add some color later...

[2017-04-24 13:28] #289 closed, assigned to kapalex, Kolikant, yaelAmitay, koralchapnik

[2017-04-24 13:29] #219 closed, assigned to kapalex

[2017-04-24 13:41] Kolikant commented on #210
this is incomplete as none of the services are and this requires multiple of them

[2017-04-24 13:42] Kolikant commented on #213
this requires multiple non existing services, but I can start the gui, which would not do anything yet

[2017-04-24 13:43] Kolikant commented on #215
we have move to ionic and are pushing the work done to be on the server side, so patching up the interface would be unnecessary as we are not planning on using it in the future and what exists already works

[2017-04-24 13:43] #215 closed, assigned to Kolikant

[2017-04-24 13:44] Kolikant commented on #233
repeatadly unable to figure out what is causing this explosion of sessions, as all sessions done in tests have been closes, was unable to recreate an explosion. a script on parse should be the solution, once I figure that out

[2017-04-24 13:45] Kolikant commented on #241
now that the bodies and ideas are set, I can start this, firstly updating how updates are made and secondly doing the synchornization itself as users can be changed by other users (since they now include "helpfulness" being affected by how liked their reviews are)

[2017-04-24 13:47] Kolikant commented on #245
this includes all the features we made (so far added here are the ones that I made) when we were on the fence about ionic, so none of them have gui. it is still relevant as they now don't have any gui either and I will close it when it's done, don't worry

[2017-04-24 13:49] Kolikant commented on #257
this has proven surprisingly difficult and time consuming, as I was unable to use any service that I provided, yet since ionic needs all the client side to work (or else it just doesn't "compile") I refreined from commiting any of my work since those are quit binary and now they stand on 0 -> not working. I am going to reattempt my ussage of my server side soon, hopefull with more success than las

[2017-04-24 13:51] Kolikant commented on #279
seeing as client side is substentiolly more difficult (I assume there is just some mold I have to break through first) and server is java, even though none of the features leading to this exist, I will probabl get on this first

[2017-04-24 13:51] Kolikant commented on #296
the search bar in itself exists in quite an horrid gui on the map page, but does not do anything as I were unable to utilize any services at all

[2017-04-24 15:18] yaelAmitay commented on #257
@Kolikant , Do you want some help?

[2017-04-24 19:58] yaelAmitay opened #299 "Testing the Ionic - client side"
It turns out that there is a way to do automatic testing for the Ionic section I will expand here later.

[2017-04-25 19:10] yaelAmitay opened #300 "publish new interfaces for DB"
As we have already said (in person):

publish an API to the new DB's manager.

we need this in order to test our code with mocking.
and in order to avoid delays in progress of the other parts of the project.

[2017-04-25 20:26] yaelAmitay commented on #297
@ArthurSap , @Kolikant  , @koralchapnik , @KaplanAlexander
please note I updated this issue and now it contains a small guide on how to test the webservice.
from now everybody should test their webservice.
please let me know if you have problems.

[2017-04-25 20:36] yaelAmitay opened #301 "Bugs in many tests"
As we already know, we have problems in the DB due to some changes we did.
**I'm not sure if we totaly understand the reasons behind this.**
We do not want to make changes in the DB until we'll get the new APIs for the DB( although we already made some changes which probably led to these bugs).
So, right now we wait for the new APIs( #300 ) but as soon as they are published we have to check this i

[2017-04-26 16:16] Kolikant opened #302 "Location contains LatLng object rather than Lat and Long"
which was probably good design before we needed the actual Lat and Long in the pages. no search can't acess them.

in the refactoring of location we discussed (as soon as we get the database's interfaces) we need to make sure that Lat and Long would be int's or strings as to be able to get them in Json with the location.

notice we cannot have services return theses lat and long as search for they

[2017-04-26 16:55] Kolikant opened #303 "view location server + client"
there is no location frame existing yet or an issue discussing it, we need to add the option to view a location.

[2017-04-26 18:08] yaelAmitay commented on #302
no,
that's okey if the LatLng in Location is an object and not integer, JSON can deal with that just fine.
The only problem is that the LatLng in Location belongs to JXMaps and we should not return this object to the client.
Location should include LatLng object of our own.(we already have LatLng of our own in Navigation package, we can use it.)
this need to be done wisely.

[2017-04-26 18:12] yaelAmitay commented on #303
there are already planty of issues about this: #254 , #278, #256, #266, #264

[2017-04-26 18:18] yaelAmitay opened #304 "client side: AddMarkers function"
the complex and simple searchs need to add markers to the map.
they should use this method.

the function is in `mapview.ts` the name of the function is: `addMarker`.
the input is: array of latlng objects.

[2017-04-26 18:27] Kolikant commented on #304
oh, you're implementing it? was just about to start trying. wanna pass it to me?

[2017-04-26 18:29] Kolikant commented on #302
I was unable to get LatLong's actual information from location. it should be data.coordinates.Lat/lantitude but it just says undefined. if we are not opening a service (great, I thought we shouldn't) than I need to wait for the database so we can change server side, becuase I cannot get the actual information from the LatLng object

[2017-04-26 18:30] Kolikant commented on #303
this is an issue about the actual screen of the location, not touched directly by any of what you mentioned, but required by all of them, resulting in the opening of this issue

[2017-04-26 18:30] Kolikant commented on #296
done in last commit

[2017-04-26 18:30] #296 closed, assigned to Kolikant

[2017-04-26 18:31] yaelAmitay commented on #304
I already start working on it, it's relate to the map I thing it's better if I take care of it.

[2017-04-26 18:33] yaelAmitay commented on #303
I don't understand, What functionality does this issue relate to?

[2017-04-26 18:36] yaelAmitay commented on #302
look at the json that the server returns. (using postman, browser ,etc') and then look if: data.coordinates.Lat/lantitude  is defined or not. one possible problem is that the LatLng of JXMaps can't be converted to JSON. which is one of the reason why I rather have our own LatLng class in Location.
if this is the problem then we should wait.

[2017-04-26 18:37] Kolikant commented on #303
the actual page of a location that was searched for or clicked, allowing for the functionality to be used

[2017-04-26 18:38] Kolikant commented on #302
great, so you agree with me

[2017-04-26 18:40] yaelAmitay commented on #302
yes just please make sure that this is the real problem, by checking the json

[2017-04-26 18:43] yaelAmitay commented on #303
oh okey.  can you please add to this issue what should this page include?
right now when someone clicking on some point a small window is open and the user can choose to add/view review and to navigate to this location. so isn't this the same as the Location page you want?

[2017-04-26 18:47] Kolikant commented on #303
I want to build on it, add information about the location. so its a good start, we also need that the click would also get the location etc.

[2017-04-26 18:50] yaelAmitay commented on #303
okey so just keep in mind that we have this window so we don't have duplicatios. and I think it'll be good if you elaborate on what this issue include.

[2017-04-26 19:01] Kolikant commented on #302
I double checked since you insisted on it, and it seems that indeed my bad,
it seems indeed that you can get it, probably just made some mistake earlier. no need to change

[2017-04-26 19:02] Kolikant commented on #302
no wait!
that was why I opened it... I can get it from the service. but if I have the location from the service I can't get the lat lng

[2017-04-26 19:08] Kolikant commented on #302
ok, yeah, managed to access it, so no changes needed. go us

[2017-04-26 19:09] #302 closed, assigned to Kolikant

[2017-04-26 19:31] yaelAmitay commented on #303
I'm just worried that this issue is a duplicate. I don't understand what job need to be done here.
please make sure you are not taking someone else's work.

[2017-04-26 19:36] koralchapnik commented on #303
Last semester we had a lot of problems regarding doing things that other people have already done,
and a lot of misunderstanding regarding what each of us is doing.
I don't want us to repeat our mistakes so we have two options:
1. before someone opens new issue he goes over everyone's else issues and make sure he didn't take someone's else work.
2. all the work will go through one person, somethin

[2017-04-26 19:50] Kolikant opened #305 "save search queries - server+client"
logged users can save search Queries and add them to their profile so we need:

to add that option.
to display those queries in the user profile
to allow using those queries convineitnly from the profile

[2017-04-26 19:59] Kolikant commented on #303
I went through all of the issues before opening this one and saw it necessary. I believe that the misunderstaing is due to the fact that textual communication is the worst communication possible other than maybe miming, so if you want I can explain again over the phone or when we meet.

Koral, I only recall once when what you said happened and not that it was a recurring problem.

placing someone

[2017-04-26 20:18] koralchapnik commented on #303
Last semester Alex managed the issues and the conflicts we had and knew the responsibilities of each one.
I think it will get messy here with absence of some Ionic manager of this project just to keep that things are going well and each one is have work and don't mess with other people work.
I don't think that having a manager for the Ionic part means that you won't open issues.
It means that each

[2017-04-26 20:49] Kolikant commented on #303
after talking with Yael, it seems that even though no single issue regarding the location frame exists, the issues that she mentioned add up to a single working one explaining what it should be. I thought that we needed to have plans for what the viewing of the location should have, but if we have a lot of single issues establisghing fragments of it, this would make this one unnecessary.

having a

[2017-04-26 20:49] #303 closed, assigned to Kolikant

[2017-04-28 14:58] JuanJenkinsBot opened #306 "SmartCity-Accessibility Server Side Database Branch #31 failed"
Build 'SmartCity-Accessibility Server Side Database Branch' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [Alexander Kaplan] 868acc867a3b499a32a72aabb105c88057f65045 - added abstracts and finished location manager abs #300

- [Alexander Kaplan] ca6421a081406fc4efc4d32bf0724183575eae55 - minor change to abstract location #300

- [Alexander Kaplan] 3fce3d5e01da9c3f3b0e2d

[2017-04-28 15:01] #306 closed, assigned to nobody

[2017-04-29 09:18] kapalex commented on #300
@yaelAmitay @Kolikant @koralchapnik @ArthurSap
# Important Info
1. I've created files in the master branch that provide the entire interface for review and location database managers, they are under `AbstractReviewManager` and `AbstractLocationManager`
2. Both managers allow blocking and non blocking calls with `ICallback<T>` interface (note `T` is the return type of the interface.
For example cal

[2017-04-29 09:18] #300 closed, assigned to kapalex

[2017-04-29 20:50] #223 closed, assigned to yaelAmitay

[2017-04-29 20:51] #238 closed, assigned to yaelAmitay

[2017-04-29 20:51] #242 closed, assigned to yaelAmitay

[2017-04-29 20:51] #243 closed, assigned to yaelAmitay

[2017-04-29 20:52] #259 closed, assigned to yaelAmitay

[2017-04-30 15:07] yaelAmitay commented on #243
I updated this issue

[2017-05-01 07:39] Kolikant commented on #304
I'm using it ans it seems to not add markers, so could you re-explain interfacing with this method? couldn't find an example  what I did was:
	var longitude = data.coordinates.lng;
			var latitude = data.coordinates.lat;
			this.addMarker([new google.maps.LatLng(latitude, longitude)]);

and nothing happens with it

[2017-05-01 13:37] yaelAmitay commented on #304
I'll check it out right now

[2017-05-01 14:11] yaelAmitay commented on #304
you should have use it like this:
[code]

note that i changed your code, please also note that you need to change the center of the map when you search, I can do it for you if you want.

[2017-05-01 14:13] #304 closed, assigned to yaelAmitay

[2017-05-01 21:40] Kolikant commented on #304
No thanks, I will do it
Thanks for the explanation

[2017-05-01 22:06] Kolikant commented on #257
address search now works as expected and yields the results

[2017-05-01 22:06] #257 closed, assigned to Kolikant

[2017-05-01 22:12] Kolikant opened #307 "clicking on markers, pops location menu"
** assigning to myself per the instruction that all issues must be assigned, the assignment is debatable **

clicking on the map opens a menu that allows us to interact with the coordinates, however, since most usages of clicking on the map would be done AFTER searching on not by clicking on latlng's, clicking on markers should also open a menu similar to that of clicking on the map.

I said simil

[2017-05-01 22:19] Kolikant opened #308 "user's favorite search queries suggested in his searches"
a neat feature after the client and server side of saving favourite queries, would be that those queries would appear as suggestions for the logged in user when he tries to search.

so this issue states about address search (called simple search in git) to have a window with favorite queries

and about type search (called complex search in git) to have the option to select from your profile (by ma

[2017-05-02 09:06] yaelAmitay commented on #307
I think it should be the same menu.
and i don't see any exception...

[2017-05-02 18:10] Kolikant commented on #307
One example, if you were asking, is If the user wants to add a location of an already existing in a latlng. This would be allowed on gui, but not in the logic.
We can just ugnore that request as an implementation, but we DO allow this in gui to be ognored. But if the user was genuinley....special enough as to do that, he will probably not understand why it isn't working. So we need an exception of

[2017-05-02 18:14] Kolikant commented on #307
Besides, as i have mentioned before. The only reason users can even click on the map is in order to add locations, since if they click they would most definetly miss and not hit any actual location.

So i believe as before that clicking on the map should raise only the not yet implemented "add location"
And clicking onmarkers should open the location menu.
Rhis would be a much more coherent and cl

[2017-05-02 18:51] yaelAmitay commented on #307
First of all tomorrow we have a meeting so let's talk about it face to face cause' I'm not sure I understand you.

However, when the user click on the map(marker or just point) we should ask him what is the type of the location he want. and then we allow him to add review or view the review and etc.
if the location doesn't exist in our DB he won't see reviews. in this case if he'll add a review th

[2017-05-02 19:30] Kolikant commented on #307
I am constantly asking to have all disscussions in the meetings, have made a special effort to the issue here as per your request.

It goes without saying that i would prefer face to face, in any occasion in the future

[2017-05-02 19:38] Kolikant commented on #307
The point is, i try once more, that "clicking" is ridicolously inaccurate, as each pixel is a different latlng.

So "clicking" as per finding locations is a frustrating interface, for it would likely miss anything and if we choose to have a circle it would be on some ocasiins ambigois.
The reasonclicking even exists as a feature is for users to add locations.

The correct and non-frustrating inter

[2017-05-03 08:56] koralchapnik commented on #280
Still need to show the locations on the map using the addMarker method

[2017-05-03 10:55] Kolikant commented on #307
so as decided in today's meeting, there would be the same interface in both marker and click BUT it would be a different interface than exists currently, which would be explained later, meening that this issue, regards only in giving a click event on a marker the same result as a click on the map.

[2017-05-03 10:59] Kolikant opened #309 "click yields locaions lists in a RADIUS (client side)"
** assiging to myself as per the demand that all issues be assigned, this assignment is debatable ***

as agrre today, clicking on a location would breing out all the known locations (including streets) within a RADIUS of the click.

more precicely the click itself would yield a menu with two options : navigate, view locations

clicking on navigate would be as before, clicking on view locations wo

[2017-05-03 11:01] Kolikant opened #310 "click yields locations in radius (server)"
provided a latlng, this service should yield ALL (including streets) locations in a radius (harcoded) from that latlng and return it. this is a GET service. this issue does include creating the function itself.

[2017-05-03 11:05] Kolikant opened #311 "Admin "update latlng" interface (server side)"
one of the reason admin exists is because admin (municipal representative) has the authority to change the latlng of location added by users. but for him/her to be able to DO that, he/she needs to know what are the new locations.

agregating theses locations that are "pending" admin authentication or update, could be a neat feature. all of this should exist already at the server side in a way, but

[2017-05-03 11:06] Kolikant opened #312 "admin update latlng (client side)"
** assiging to myself as per the demand that all issues be assigned, this assignment is debatable ***

as described in  #311 but with the client side instead

[2017-05-03 11:51] ArthurSap opened #313 "Uploading reviews to the DB - need to check existence?"
Before uploading, do I need to check if the current review exists in the DB and use the update method or does is happen by itself and I can simply use the upload method?
@KaplanAlexander

[2017-05-03 15:08] kapalex commented on #313
The flow should be as follows :
- When user creates new review upload (no need to check anything)
- When user edits update (if this functionality even exists?)

There shouldn't be a case in which a review might exist

If we want to limit reviews one per user per location, then I can add a method that gets a user and a location and returns true or false if he has a review on it already (this will b

[2017-05-05 15:13] kapalex commented on #313
Rethinking it I realize at the point you are adding a review to a location you have already retrieved the location from the DB with all its reviews
Meaning it would be quicker (local vs online) to simply check the list for a review by the user, and only creating a new one if such a review doesn't exist
We are assuming a user can only login once at a time so he cannot post two reviews simultaneousl

[2017-05-05 15:13] #313 closed, assigned to kapalex, ArthurSap

[2017-05-08 09:30] AdiOmari commented on #238
@MosheEliasof take a look at this issue, it can help you with the creation of the web services.

[2017-05-08 09:57] Kolikant opened #314 "Welcome (UserName)"
mostly a training exercise for me to use the userinformation in the client size, but also a good feature.

in the user profile, it should say "Welcome, (Username)"

[2017-05-08 10:40] koralchapnik commented on #314
The user profile is assigned to someone else.
We talked about not taking someone else job.
You have the features you added to exercise on the client side

[2017-05-08 10:43] Kolikant commented on #314
this seems to be a deeper issue than I thought as it seems that there is currently no option of accessing the information of a user at all. working on allowing it

[2017-05-08 10:46] koralchapnik commented on #314
Of course there is no such option, because I still didn't start working on that.

[2017-05-08 10:50] Kolikant commented on #314
point me to the issue where you are in charge of the server side user management and to solving the fact that userinformation is not accessible for us in the client side.

while working on my assignments I reached a dead end as these are missing and seeing as noone regarded the problem before I started working on this

[2017-05-08 10:55] koralchapnik commented on #314
When we first split the job we talked about doing things from end to end : client and server side.
The user profile is under my responsibility, and therefore its client side and server side.
Last meeting you said you don't want to do the client side so that Yael is responsible for the client side of your features, and you for the server side.
That is what I talked about when I said that things are

[2017-05-08 10:56] yaelAmitay commented on #314
#286

[2017-05-08 11:00] Kolikant commented on #314
issue #286 does not cover accessing user information from client side ad it is a server side problem. the tiny feature I am adding to userprfile was inorder to see the advance in the server side. you can delete it for all i care. I read all the issue (as I always do) before opening this, it was not covered. it needs solving.

[2017-05-08 11:01] yaelAmitay commented on #314
It's the same and it was pretty clear that this is part of this. meaning this is @koralchapnik  part.
if you want you can make changes without commiting them.

[2017-05-08 11:05] Kolikant commented on #314
it was and is very much unclear. is it is very clearly an issue that I just saw and is not mentioned or seen anywhere there.
furthermore, when "we" split the work, I have no recollection of us ever actually sitting or discussing anything. it was unorganized and unofficial, the issues were made without most team members talking of them and distributed only to then claim that each issue covers large

[2017-05-08 11:23] koralchapnik commented on #314
I prefer that this discussion will be in today's meeting.
I have a lot to say about that.

[2017-05-08 11:34] Kolikant commented on #233
well, having talked to all members about this in numerous occasions (though never discussed in an actual official meeting and thus not recorded) it seems that all agree that this is not an important problem, so I am closing the issue until it proves itself otherwise.

[2017-05-08 11:34] #233 closed, assigned to Kolikant

[2017-05-08 17:49] kapalex opened #315 "Better separation of concerns in Location"
While working on refactoring the location manager I ran into something we did last semster
After some discussion last semester we decided to put functions such as `deleteReview(User u, Review r)` and `pinReview(User u, Review r)` under the `Location` class
Those functions check the users permission and/or relevance to said review, and then do the actual function (in case of delete, a function that

[2017-05-08 21:20] Kolikant commented on #315
this seems to be the better design even without the easier implementation. so it's two thumbs up from me, luckily I do indeed have two thumbs

[2017-05-09 09:54] yaelAmitay commented on #315
I'm ok with that

[2017-05-09 10:13] koralchapnik commented on #315
It's fine by me

[2017-05-09 15:45] yaelAmitay commented on #209
my 2 vections are: 1.6-7.6 and 15.6-21.6

[2017-05-09 16:30] yaelAmitay commented on #314
please give your commit a name I want to write you a comment on them but I can click on them cause you didn't named them.
what I wanted to say is the the token should be in the header.
the are exmaples in navigation and I mention it in issue about the login.
there are slao examples regarding the server side you can see NavigationService.java

[2017-05-09 16:40] yaelAmitay commented on #307
we decided that I'll do it right?

[2017-05-09 16:43] yaelAmitay commented on #286
@Kolikant  this is now yours right?

[2017-05-09 16:44] yaelAmitay commented on #276
kind of done. but I might open new issues in the future about adding or fixing if needed.

[2017-05-09 16:44] #276 closed, assigned to yaelAmitay

[2017-05-09 16:45] yaelAmitay commented on #277
kind of done. but I'm not closing yet because there is something worng with the navigation. I think it's about the changes in the DB but I want to be sure.

[2017-05-09 17:15] yaelAmitay commented on #284
@Kolikant  , @koralchapnik
In the searches you should always check if there is a token and check if the user is logged, and if so you should access the mapview of the user from the userInformation.
In order to access the map view do as follow:
[code]
you can also get the user from UserInfo.
If the user is not logged in you should access the global map:
`Application.mapView`
in this case synchroniz

[2017-05-09 18:28] yaelAmitay commented on #285
Everybody, @koralchapnik , @Kolikant  , @ArthurSap
I finally updated this issue. now you should take care for exception in the client side.(exception that the server side threw)
It'll also help you to see what went wrong when you have bugs...

[2017-05-11 04:57] yaelAmitay commented on #307
To sum up:
1. user click on the map
2. small windows open with 2 option: (1) get list of nearyby location(within small radius), (2) navigate to location.
3. when user click on get nearby location a small window with the beaerby location is open. when he click on some location he another window is open. this window right now has 2 features: (1) add review (2) get review.

@Kolikant , I changed the

[2017-05-11 04:59] #284 closed, assigned to yaelAmitay

[2017-05-11 05:00] #297 closed, assigned to yaelAmitay

[2017-05-11 05:00] #285 closed, assigned to yaelAmitay

[2017-05-11 05:01] yaelAmitay opened #316 "Login webservice testing"
test the Login webservice.

[2017-05-11 05:03] yaelAmitay opened #317 "handle errors in ionic"
handle error in the services: (as explain in #285)

- [x] login

- [x] navigation

- [x] signup

[2017-05-11 05:24] yaelAmitay commented on #223
Although I have closed this issue I am still updating and adding guides.
for other groups note that if you have problems, you might have COREs problems, solution here: #287

[2017-05-11 12:16] Kolikant commented on #307
(y)

[2017-05-11 12:17] Kolikant commented on #307
Oh, i thought that does a thumbs up, yeah, sure. Good work

[2017-05-11 14:08] koralchapnik opened #318 "Enabling capturing and adding photos to Locations"
I'll check how hard is adding photos to locations and saving them in the DB and capturing photos with the phone's camera.
If it is possible We'll add that feature to our project.

[2017-05-11 21:11] yaelAmitay commented on #300
Does this mean that my class(for example navigation) should get instance of the manager(for example AbstractLocationManager)  and when i want to test my class(the nvaigation) I'll give it mock of the manager?

[2017-05-12 07:21] kapalex commented on #300
When you use in regular code you will call
`AbstractLocationManager.instance()` which will be initialized with the app
When testing, the `@Before` or `@BeforeClass` function should create a mock of `AbstractLocationManager` and call `AbstractLocationManager.initalize(mock)`
Then all functions calling `AbstractLocationManager.instance()` from the test will get the mock

[2017-05-12 07:23] kapalex commented on #315
Alright, I'll get it done

[2017-05-12 07:23] #315 closed, assigned to kapalex

[2017-05-12 07:24] kapalex opened #319 "Move functions from Location to relevant places"
according to the discussion at #315

[2017-05-12 08:24] koralchapnik opened #320 "Handling Errors In Complex Search"
I should handle the errors in the complex search page

[2017-05-12 08:26] koralchapnik opened #321 "Testing Complex Search"
add test to both client and server side regarding the complex search

[2017-05-12 08:29] koralchapnik opened #322 "Designing Complex Search Page"
Need to design the complex search page using scss to make it more beautiful and providing better user experience.

[2017-05-12 09:34] yaelAmitay commented on #321
There isn't client test yet, might not be...
For now do only server side tests

Yael

‫ב-12 במאי 2017, בשעה 11:26, ‏‏koralchapnik ‏<notifications@github.com> כתב/ה:‬

[2017-05-12 10:05] #295 closed, assigned to kapalex

[2017-05-12 10:05] #271 closed, assigned to kapalex

[2017-05-12 10:05] #272 closed, assigned to kapalex

[2017-05-12 10:32] #294 closed, assigned to kapalex

[2017-05-12 12:23] #319 closed, assigned to kapalex

[2017-05-12 12:26] kapalex opened #323 "Merge database-refactoring branch into Master"
#218

[2017-05-12 15:18] JuanJenkinsBot opened #324 "SmartCity-Accessibility Server Side Database Branch #54 failed"
Build 'SmartCity-Accessibility Server Side Database Branch' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [Arthur Sapozhnikov] 94faadd95ae9ddd4080ad98662263d855d94b0aa - Added score buttons to addReview page

- [Arthur Sapozhnikov] 2cb2dfb9856512e62af00c703c0c818f0ce39d32 - Added submit button

- [yaelAmitay] 5e30eb813165a910c86668bdf5d7a7d6011449af - add menu when map

[2017-05-12 15:19] #324 closed, assigned to nobody

[2017-05-12 15:21] JuanJenkinsBot opened #325 "SmartCity-Accessibility Server Side #528 failed"
Build 'SmartCity-Accessibility Server Side' is failing!

Failed Tests :
[code]

Changes since last successful build:
- [Alexander Kaplan] 06ef278c17926bed27665f1d11f897b9c45e731c - change gitignore to ignore spartan xml

- [GitHub] 78aeacd8dca06cbf58fefccd83961dcf2c44215c - changed build icon to relevant jenkins project

- [Alexander Kaplan] d71193d9e7e09677798b7da3a9ce664053baec69 - started work

[2017-05-12 15:25] kapalex commented on #323
I have finished merging the database refactoring branch into the master branch.
This means all the changes to the database are now usable and should be slowly integrated where needed.

This merge was huge, and might include some errors (delete lines, files, failing test etc.), so let me now if you run into anything that seems off to you.

I've already noticed a few problems and I will soon create

[2017-05-12 15:25] #323 closed, assigned to kapalex

[2017-05-12 16:00] kapalex opened #326 "A few notes about the new database and other changes"
A detailed explanation about using the database can be found at #300 , and if you have any questions you can either contact me or post them here so I can answer in detail for everyone to see.

A few changes that were merged in :
1. `User` is no longer an interface but a singular class.  Since we have only  a single implementation of User it seemed redundant to hold both `User` and `UserImpl` (sinc

[2017-05-12 16:07] kapalex opened #327 "Fix merge issues"
Follow up to #326
A few issues that came up after the merge.  They might be my fault, but aren't in my code, which makes it hard to tell.

Code :
- BestReviews:82

Warnings :
- BestReviewsTest:88

Test failures :
- BestReviewsTest:checkAllTest fails on line 85 (is 1, should be 2)
- HelpfuilnessTest:test fails on line 55 (is 1, should be 2)

Take a look and let me know

[2017-05-12 16:11] kapalex opened #328 "Fix merge issues"
Follow up to #326
A few issues that came up after the merge.  They might be my fault, but aren't in my code, which makes it hard to tell.

Code :
- Navigation:90 👍
- NavigationService:30 (isn't actually a problem, but I've changed your code, so let me know if it works ok) 👍

Warnings :
- NavigationService:28 👍

Test failures :
- NavigationServiceTest:navigationUnauthorized 👍
- NavigationServiceTes

[2017-05-12 16:16] kapalex opened #329 "Removing Gui package"
Since we have completely moved to Ionic, the gui from previous semester is not needed anymore.
I'd like to remove it but JxMapsFunctionality seems to be highly dependent on it

Look over JxMapsFunctionality and see what is relevant to us for this semester (if any) and remove the rest so we can delete the gui package

[2017-05-12 16:18] kapalex opened #330 "Create Stress and Integration tests for the Database"
In order to better make sure both functionality and stability of the new implementation that includes communication with and parse server and multi threaded functionality with rxjava, I'd like to create more comprehensive tests to make sure no further problems arise.

[2017-05-12 16:18] #293 closed, assigned to kapalex

[2017-05-12 16:18] #218 closed, assigned to kapalex

[2017-05-13 07:41] koralchapnik commented on #326
I've read this. Good job.
The review services belongs to Arthur

[2017-05-13 13:44] #325 closed, assigned to nobody

[2017-05-13 14:12] #327 closed, assigned to koralchapnik

[2017-05-13 17:50] yaelAmitay commented on #326
AddSearchQueryService:32 - ariel
Pom.xml:207 - probably me, I'll look at this.

[2017-05-13 17:51] yaelAmitay commented on #328
also:
Pom.xml:207
#326

[2017-05-13 18:35] yaelAmitay commented on #328
@KaplanAlexander  about the warning in NavigationService, I know it's there I need to delete this line BUT I'm using navigation as an example for others so I'm leaving it there till I'll know that everybody understand it.

[2017-05-13 18:37] kapalex commented on #328
Maybe comment it out with an explanation?

[2017-05-13 18:38] yaelAmitay commented on #328
Okey I can do it

[2017-05-13 18:51] yaelAmitay commented on #326
@KaplanAlexander , I see you made some changes in services/Application.java
you replaced the init of the DB, but did you initalize the user DB too?

[2017-05-13 19:19] kapalex commented on #326
The new initialization covers the previous one as well, through the injection
Did you run into any problems with it?

[2017-05-13 19:40] yaelAmitay commented on #326
yes I did. I'm having a problem when I'm using the UserManager.(that as far as I know you didn't change)
the problem I have occured before and back then the reason was that I didn't initalize the DB. now you removed my initaliztion with yours. so I thought that maybe you forgot to initalize it.
`org.json.JSONException: A JSONObject text must begin with '{' at 1 [character 2 line 1]`
 maybe it diff

[2017-05-13 19:42] kapalex commented on #326
I'll try to look into it as well
When is this exception thrown?

[2017-05-13 19:44] yaelAmitay commented on #326
in:
UserNameExists(..) line 42 in UserManager
it's called by SignUpUser(...) line 53 in UserManager

[2017-05-13 19:47] kapalex commented on #326
Found a possible problem (lazy evaluation causing late initialization in some cases) and pushed it, try it now
Can you tell me the flow that leads to the problem if it persists?
If it's from a testing environment some initialization is in order, and if not I'd like to run it my self to maybe get a better picture of the problem

[2017-05-13 19:57] yaelAmitay commented on #326
still have problem.
the flow is trying to signup with some name and password:
`User u = UserManager.SignUpUser(name, password, User.Privilege.RegularUser);`
it's from testing environment, but you can try create the flow by just trying the line above.

[2017-05-13 20:02] kapalex commented on #326
If it's from a testing environment then the initialization in the application is irrelevant
You should call ParseDatabase.initialize() in the `@BeforeClass`
If that doesn't work - which test is it?

[2017-05-13 20:06] yaelAmitay commented on #326
now it's working.
so you said I should add ParseDatabase.initialize() to all my test(in @Before)?
and in the code It'll be fine without that?

anyway, now it's fine.

[2017-05-13 20:10] kapalex commented on #326
The initialization in the Application class takes care of any use of the DB in the app itself
Tests don't go through the Application class so each test class needs its own initialization to be independent of other tests
You should however use it only when the test actually requires the database (as it will cause a network call, which takes up time), which most shouldn't as you should use mocking i

[2017-05-13 20:15] yaelAmitay commented on #326
they actually kind of do for the services tests. so it's very strange...
BTW I now have different problem that I didn't have before, I'll check it. I hope it's not DB related..

[2017-05-13 20:16] kapalex commented on #326
Let me know if it is in the db

[2017-05-13 20:20] yaelAmitay commented on #326
it's in UserManager again, in LoginUser(...) line 102. the exception is:
`No enum constant smartcity.accessibility.socialnetwork.User.Privilege.2`
This exception wasn't before the merge. and I didn't write UserManager.
I made sure that I'm giving this method the right parameters. and as I said I didn;t have problems before.

[2017-05-13 20:23] kapalex commented on #326
Ok, that's on me, will get it fixed soon&trade;

[2017-05-13 20:30] kapalex commented on #326
I've reset the user base in parse, which is actually where the problem was
Should work now
A point about the tests - use test categories as explained in [this wiki](https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Test-Categories) and specified in [this wiki](https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Coding-Standards)
Currently some of your tests are under no cat

[2017-05-13 21:37] #328 closed, assigned to yaelAmitay

[2017-05-13 21:38] yaelAmitay opened #331 "add logger to my code and sonar"
1. add logger to all the code that is under me.
2. follow sonar changes to my code.

I'll do it gradually...

[2017-05-13 22:14] yaelAmitay commented on #326
Is it alright that I added this line to Application?
`UserProfileManager.initialize(injector.getInstance(UserProfileManager.class));
`

[2017-05-13 22:18] kapalex commented on #326
Yes, apparently I forgot to put it there, so thank you

[2017-05-14 08:10] #270 closed, assigned to kapalex, koralchapnik

[2017-05-14 08:11] #228 closed, assigned to koralchapnik

[2017-05-14 08:25] koralchapnik commented on #311
Science I am responsible for admin and you're for the regular user,
Can I close this issue and open my own issues regarding the admin page?

[2017-05-14 08:26] koralchapnik commented on #312
Science I am responsible for admin and you're for the regular user,
Can I close this issue and open my own issues regarding the admin page?

[2017-05-14 08:35] koralchapnik opened #332 "Admin Page Client Side"
A page for the admin, who has more privilege than the regular user.
The features include all the regular user capabilities, and the ability to pin and unpin reviews, and more detailed features will be added soon

[2017-05-14 09:37] ArthurSap commented on #326
Gonna start looking at my parts to see what needs to be fixed, nice job.

[2017-05-14 11:10] koralchapnik commented on #332
Right now in order to see the page i've added a button in the home page.
That will be changed

[2017-05-14 12:04] koralchapnik opened #333 "Styling the app"
I will be responsible to change the styling of our app from the default ionic styling to another one using the css files.
Each page can have different layout determined by the author of the page, but the colors, buttons, background, logos etc should remain consistent between pages.

[2017-05-14 12:19] Kolikant commented on #329
Jxmaps is inherently coupled, though i don't think it should be a problem, but could we make the gui pakages deprecated rather than delete them? Just to maybe make removing all that work hurt less? That was pretty much half a semester of work that gui :(

[2017-05-14 14:47] yaelAmitay opened #334 "add Spinner to navigation"
add spinner to navigation, start when "start navigation" is clicked.
done when the returned route is drawn.

the complexSearch and the Search can also use it.

[2017-05-14 15:46] yaelAmitay commented on #334
done.
@koralchapnik , @Kolikant  maybe you can use it in the search

[2017-05-14 15:46] #334 closed, assigned to yaelAmitay

[2017-05-14 15:47] yaelAmitay commented on #316
done for now. maybe I'll add more in the future if needed.

[2017-05-14 15:47] #316 closed, assigned to yaelAmitay

[2017-05-14 17:45] kapalex commented on #329
The problem with making it deprecated is that API changes require updating the GUI as well, which is time wasted
I've already had to make changes to it because it seemed inconvenient to delete from a separate branch, but now that we are on the master again i'd rather (with all the pain involved) remove it as quickly as possible to avoid further problems

[2017-05-14 19:43] Kolikant commented on #329
That sucks, but you are right

[2017-05-14 19:45] Kolikant commented on #312
Why not assign this issue to yourself?

[2017-05-14 19:46] Kolikant commented on #311
You can assign this issue to yourself, no?

[2017-05-14 19:47] Kolikant commented on #332
You mean by checking the privilege and showing the relevant page for the user?

[2017-05-15 07:10] koralchapnik commented on #332
In the login phase @yaelAmitay  will deliver the user to the right page by checking his privilege

[2017-05-15 09:10] Kolikant opened #335 "JxMapsFunctionality to Use given map for searches rather than the static one."
in the previous semester, there was need some central mapview for everything to work together which was great since we weren't a server but running in user pc. now however that is not an option. JxMapsFunctionality which is used for searches and various things needs to except mapView in a constructor and refrain from using static mapView

[2017-05-15 09:14] Kolikant commented on #329
well, except for pretty much having the mapView inside of it and the encapsulating of search so that serchers won't have to import all of jxmaps o search. it seems that most of my work in it was to encapsulate all the horrors you needed for adding stuff to the gui. none of which is used now in ionic. I'm leaving just what is and will refactor that soon as well.

[2017-05-15 09:23] JuanJenkinsBot opened #336 "SmartCity-Accessibility Server Side #563 failed"
Build 'SmartCity-Accessibility Server Side' is failing!

Failed Tests :
[code]

Changes since last successful build:
No changes
No changes

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side/563/)

[2017-05-15 09:25] kapalex opened #337 "Fix Jenkins build configuration"
- [x] Configure the build to build inorder with coverage (unit tests -> network -> long)
- [x] Fix build failure github issue

[2017-05-15 09:32] Kolikant commented on #329
you can delete the gui packages now

[2017-05-15 09:39] Kolikant opened #338 "use ionic functionality in pages under me"
mostly a TODO list for me, though you can feel free to add stuff if you so wish. a lot of features for client side were made by the team and it's hard for me to keep track, so I will reference them here so I can use them in the pages later.

[2017-05-15 09:39] kapalex commented on #329
Still can't, `OptionsWindow` is still used
Just delete it when you finish, that way you'll know its ready

[2017-05-15 09:40] Kolikant commented on #338
#334 #317 #299

[2017-05-15 09:43] #336 closed, assigned to nobody

[2017-05-15 09:54] yaelAmitay commented on #338
remove #299 it's not done yet(maybe won't be done at all)

[2017-05-15 10:01] Kolikant commented on #338
these are memos for me, if I go do it and it's not done, then I just won't use it :)

[2017-05-15 10:02] Kolikant commented on #338
#297

[2017-05-15 10:17] JuanJenkinsBot opened #339 "SmartCity-Accessibility Server Side #567 failed"
Build 'SmartCity-Accessibility Server Side' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Alexander Kaplan] 26ed3a67e157881d5f9db9157bf519937bd63efa - remove some code smells and return test to original form

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side/567/)

[2017-05-15 10:18] kapalex commented on #339
@yaelAmitay , returned it to original form, `NavigationServiceTest.navigationUnauthorized` test is failing

[2017-05-15 10:18] #337 closed, assigned to kapalex

[2017-05-15 10:23] yaelAmitay commented on #339
I'll look at it

[2017-05-15 10:37] yaelAmitay commented on #328
I'm leaving the warning, the bug in #339 was because of that.
the warning will remined me to delete it in a few weeks so I'm leaving the warning as it is.

[2017-05-15 10:49] Kolikant opened #340 "bug with userinformation, token expires after 10 minutes but users are left logged in"
took a while to figure out. the wightfull refactoring of user now means that the users saved in parse (and userManagement) are no longer synced, meaning that reading userinformation from server and putting userinformation in server is not aligned. we need to make the changes needed for it to work,

(noticed this since Welcoe userName no longer worked and it took a while to rezlize that it is unfix

[2017-05-15 10:49] yaelAmitay commented on #339
I fixed it anf it works on myy computer
but I see it's still running(more then 10 min), so maybe there is something wrong with jenkins?

[2017-05-15 10:51] kapalex commented on #339
no, it's still running because you created a long test that runs for 10 minutes
combined with other tests its about 20 mins run

[2017-05-15 10:52] yaelAmitay commented on #339
I know but it's been more then 10 min....
(however I'll make this test shorter)

okey now that you edit you answere.... I'll wait the 20 min to see

[2017-05-15 10:53] kapalex commented on #339
You can look here at the progress
http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side/569/console
it's currently on the long test for about 7 minutes, so a few more left

[2017-05-15 10:54] kapalex commented on #339
It passed the test that failed before, so we're all good on the build most likely

[2017-05-15 10:58] #339 closed, assigned to nobody

[2017-05-15 11:04] #329 closed, assigned to Kolikant

[2017-05-15 11:05] kapalex commented on #328
I've removed the warning by removing the assignment to a not used variable but kept the call it self to avoid issues
seems to pass

[2017-05-15 11:11] Kolikant commented on #305
as explained in #340 currently getting the userInformation is not available as there is a mismatch. until THAT is fixed, I will be using a service that I used for debugging which creates the same user information every time. just to see if my work actually sorks

[2017-05-15 11:15] kapalex commented on #340
I've just emptied all the users from the db a day ago, I'm not sure where the problem is

[2017-05-15 11:18] Kolikant commented on #340
when a user is uploaded to or from the database, it is still done using fields in the previous user. we should just sit on this together at some point to just get those changes fixed in signup and login methods. though if you want I can just try myself and ask you questions if needed

[2017-05-15 11:20] kapalex commented on #340
I'm a little bit out of touch with what the problem is, so I think you should try doing it yourself, failing that we will sit together and work on it

[2017-05-15 11:27] koralchapnik commented on #340
Welcomin admin works and print the user name, take a loot at that, I don't think there is a problem

[2017-05-15 11:39] koralchapnik opened #341 "Admin Server Side"
the server side of the admin including the needed services

[2017-05-15 11:47] kapalex opened #342 "Install SonarLint and connect to SonarQube server"
As we've agreed at the start of this semester, we are using SonarQube to analyse our code to conform to a higher standard

The thing about SonarQube is that it is too easily ignored, because it doesn't scream in your face that there is a problem, it just lets you know of all the problem in the [main page ](http://kapalex.ddns.net:9000/dashboard/index?id=SmartCity-Accessibility%3ASmartCity-Accessib

[2017-05-15 12:06] JuanJenkinsBot opened #343 "SmartCity-Accessibility Server Side #574 failed"
Build 'SmartCity-Accessibility Server Side' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Alexander Kaplan] 2d3ea614075c8c5336a02e3cb9bbfd8ae097d5b8 - changed null return from Boolean to false instead

- [Alexander Kaplan] 1be6f405086d3a2faa2a816ea3aa33477ba54c3b - changed null return from Boolean to false instead

- [Alexander Kaplan] ca2a4b2f35a0c3f5db8ddb

[2017-05-15 12:16] Kolikant commented on #340
we've done the same codewe've done the same code, and it seems that after reseting ionic no problem occured. I'm closing this issue since everything seems great, but need to open a different issue as to why logging out and in was the only solution to this. when we get a more coherent understading of the problem we should open the issue.

[2017-05-15 12:41] #343 closed, assigned to nobody

[2017-05-15 12:53] Kolikant commented on #340
it seems that when first logging in. the userinformation is found and all is well. but after a while of working and being logged in, it stops finding the user information.

is it possible that the token has expired?

it keeps happening that the welcoming works yet after a while of working while logged in, it eventually stops working (until closing ionic and re logging in) I want to perform a test

[2017-05-15 12:56] koralchapnik commented on #340
@yaelAmitay

[2017-05-15 13:14] Kolikant commented on #340
I just made the test (not sure how much time I've waited) but more then ten minutes, and afterwards the working welcome message stopped working.

that seems to be the problem! we founds it

[2017-05-15 13:30] yaelAmitay commented on #340
the token expired after 10 min. Is there any problem with that?

[2017-05-15 13:35] yaelAmitay commented on #328
of course it pass! I don't need this line at all. But this line throws a runtime excpetion!
This the reason why the test failed when I remove this line.(the test excepted this error)

BUT I wanted to keep the assignment  so the warning will remined me to delete this line in the future.
(I don't really need this line as I explained above)
If the warnins bothers you then I'll just have to remember t

[2017-05-15 13:46] Kolikant commented on #340
yes. the user is still logged in. userprofile and now admin both assume that they have a valid token, but after ten minutes they no longer have one and no way of getting one (since they are considered logged on and therefor can't log on again)

I think making the user logged off after the expiration should fix it. would be a bit tedious logging in every ten minutes, but atleast it won't be an erro

[2017-05-15 13:48] Kolikant commented on #340
the user is not logged out after the token expiration, and all of the services given to logged users, assume the token is valid (since a user with no token should not be logged in)

[2017-05-15 13:51] Kolikant commented on #340
changing title of issue to match the real problem...

[2017-05-15 14:01] kapalex commented on #328
Apparently I missread what you wrote as I thought you wrote it caused it,
my bad.

Anyhow as per our coding standards warnings aren't supposed to make it to
the source control, not on the master branch.
If you want a reminder you are welcome to put a to-do in code or open an
issue, a warning shouldn't fill that role.

On 15 May 2017 4:35 PM, "yaelAmitay" <notifications@github.com> wrote:

[2017-05-15 14:08] yaelAmitay commented on #340
I see what you want and it can be done! :)
I'll do it.

[2017-05-15 14:15] Kolikant commented on #340
great! thank you :)

[2017-05-15 14:15] #340 closed, assigned to kapalex, Kolikant

[2017-05-15 14:20] Kolikant commented on #314
problem found, explained and resolved in #340

[2017-05-15 14:20] #314 closed, assigned to Kolikant

[2017-05-15 14:20] Kolikant commented on #305
problem resolved in #340, will be using users from database

[2017-05-15 14:23] kapalex opened #344 "Deploy the server on successful build"
To both enable convenient testing and demonstration of the our work, I would like to deploy it after each successful build, to enable access to it at all times (Continuous Deployment)

[2017-05-15 14:53] yaelAmitay opened #345 "client side logg the user out after token expire"
when the token expired make sure that the user will know about it.
the best option is change is state from login to logout.

this was discussed in #340

[2017-05-15 15:43] Kolikant opened #346 "Developer installation instructions for presentation"

[2017-05-15 17:16] JuanJenkinsBot opened #347 "SmartCity-Accessibility Server Side Network Tests #3 failed"
Build 'SmartCity-Accessibility Server Side Network Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
No changes

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Network%20Tests/3/)

[2017-05-15 17:27] #347 closed, assigned to nobody

[2017-05-17 00:54] yaelAmitay commented on #299
We decided to not do it.

[2017-05-17 00:54] #299 closed, assigned to yaelAmitay

[2017-05-17 08:09] JuanJenkinsBot opened #348 "SmartCity-Accessibility Server Side Unit Tests #590 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Arthur Sapozhnikov] de4f0bb4ded1996374e473969f8a2fcfeee9cb4d - Minor change in initial rating

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/590/)

[2017-05-17 08:24] #348 closed, assigned to nobody

[2017-05-17 09:03] koralchapnik commented on #333
Related links:
https://github.com/zachfitz/Ionic-Material
https://www.joshmorony.com/using-the-web-animations-api-in-ionic-2/

[2017-05-17 09:12] JuanJenkinsBot opened #349 "SmartCity-Accessibility Server Side Network Tests #8 failed"
Build 'SmartCity-Accessibility Server Side Network Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Arthur Sapozhnikov] bfe27ab27f315d90a622d209ee0436e1c8b70dfd - Added reviews to the modules

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Network%20Tests/8/)

[2017-05-17 09:21] JuanJenkinsBot opened #350 "SmartCity-Accessibility Server Side Unit Tests #593 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [KoralChapnik] a4958c33c5f1e98867951915a29db49515aebebe - added background to arthur page

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/593/)

[2017-05-17 10:13] #350 closed, assigned to nobody

[2017-05-17 10:15] #349 closed, assigned to nobody

[2017-05-18 00:22] yaelAmitay commented on #345
done. if you have a question or disagree with something talk to me or open a new issue.
you still might find yourself getting error from server that the user is not logged in if the user doesn't reload the page. In this case justdisplay the error( #285 )

[2017-05-18 00:22] #345 closed, assigned to yaelAmitay

[2017-05-18 00:34] #317 closed, assigned to yaelAmitay

[2017-05-18 12:22] yaelAmitay opened #351 "Exception thrown from a new thread"
Exception thrown from a new thread so the original thread can't catch the exception.(in blocking operations)

for example in `UserProfileManager` in the method `get` line 55. the new thread that is created there throws exception and the original thread tries to cacth this exception. but it's on a different thread.
thte calling method is in `userManager` in the method `login` in line 104.

This pro

[2017-05-18 12:28] #301 closed, assigned to yaelAmitay

[2017-05-18 16:33] JuanJenkinsBot opened #352 "SmartCity-Accessibility Server Side Unit Tests #604 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Alexander Kaplan] a994981bfb2dbf7545c88f083edfed8d5fd1761e - added case to test out #351, and fail build if it fails

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/604/)

[2017-05-18 18:48] kapalex commented on #351
When calling these function in background in case of exception the callback simply won't be called (This behavior isn't final, but that is the situation right now, if you have suggestion on this, I welcome it)
When calling with a null callback, it will throw a `RuntimeException`.
You can get the original exception by catching the runtime one and doing `e.getCause()`
The question is, is this good e

[2017-05-18 19:37] yaelAmitay commented on #351
I didn't write the UserManager code so I do not know if it's okay with the person who wrote it.
But that's fine by me. my only problem was that the exception wasn't caught. if now the exception is been caught that's alright with me, is this the case? did I understood you correctly?

[2017-05-18 19:44] kapalex commented on #351
Oh ok I missed the problem a bit
Yeah, I'll make work ok

[2017-05-19 12:30] #351 closed, assigned to kapalex

[2017-05-19 12:36] #352 closed, assigned to nobody

[2017-05-19 13:28] JuanJenkinsBot opened #353 "SmartCity-Accessibility Server Side Long Tests #16 failed"
Build 'SmartCity-Accessibility Server Side Long Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Alexander Kaplan] 04a9e6f3c592175fe18ef1534a32f8566baa8a22 - running client #344

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Long%20Tests/16/)

[2017-05-19 13:45] #353 closed, assigned to nobody

[2017-05-19 16:01] kapalex opened #354 "Ionic tries to connect to a server locally"
While working on #344 , I noticed that the client isn't communicating with the server properly.

What I've realized is that the client thinks the server is at `localhost:8090`, which isn't true when the client and the server are not run on the same machine (which is of course what we aim to do) since the server is run out our server (kapalex.ddns.net), while are client is run locally on each machi

[2017-05-19 16:18] kapalex opened #355 "Map view not working when deployed on server"
When running locally map view works fine (asks for my location and then shows the map)
But when I run it on the server I get nothing, just a blank space where the map should be
I'm not sure what the problem actually is, but would appreciate ideas on how to try to figure it out

client can be found at http://kapalex.ddns.net/

[2017-05-20 11:02] kapalex commented on #344
working and can be found at kapalex.ddns.net for client and kapalex.ddns.net:8090 for server

[2017-05-20 11:02] #344 closed, assigned to kapalex

[2017-05-20 11:03] #326 closed, assigned to kapalex

[2017-05-20 11:11] kapalex commented on #346
wiki can be found [here](https://github.com/TechnionYP5777/SmartCity-Accessibility/wiki/Developer-installation-instructions)

Left to do :
- according to the resolution to be established at #354 specify instructions for client to connect to server correctly
- instructions on how to create and apk

[2017-05-20 12:47] JuanJenkinsBot opened #356 "SmartCity-Accessibility Server Side Unit Tests #618 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Ariel Kolikant] 648ee7fa4ca3840b13e55a9c02c8b54035d87966 - adress search server side tests

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/618/)

[2017-05-20 13:17] Kolikant commented on #356
don't worry, taking a look at it now

[2017-05-20 13:23] #356 closed, assigned to nobody

[2017-05-20 13:24] Kolikant commented on #356
hush now jenkins, the bad build can't hurt you anymore

[2017-05-20 16:41] JuanJenkinsBot opened #357 "SmartCity-Accessibility Server Side Long Tests #22 failed"
Build 'SmartCity-Accessibility Server Side Long Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Ariel Kolikant] 0387de6f044df0fd17f8f7e382de07ee368cd9cc - hardcoded locations from modiin, will soon add usage of parameters for

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Long%20Tests/22/)

[2017-05-20 16:48] #357 closed, assigned to nobody

[2017-05-20 17:30] yaelAmitay commented on #354
I think it's possible but do we really want to do it right now? we have plenty of more important issues to take care of.
I assume you are running the client side and the server side on the same machine so right now is it urgent?

However on a slightly different issue, the ionic is the client side and it should sit on the client side(the phone of the user for example)
so I don't understand why are

[2017-05-20 17:32] yaelAmitay commented on #355
Try adding this commands:
[code]
(they apeared in the maps guide #242 )

[2017-05-20 17:36] yaelAmitay opened #358 "Change in token"
@ArthurSap , @Kolikant , @koralchapnik

**It's very important!!!!**

I changed the token to be an object so if you want the token's string you need to do:
[code]
note the `.token` and the ` JSON.parse`. it won't work otherwise so please notice this issue and change your code accordingly.

- [x] Koral

- [x] Ariel

- [x] Arthur

*if you wish I'll change your code for you but I need your premission

[2017-05-20 17:51] yaelAmitay commented on #346
1. you need to install ionic2, if you don't specify the version it'll install ionic3 and it's not our version.
the commands should be:
[code]
2. In the mail they send us they requested a "user guide".  do you want to do it as well?

[2017-05-20 18:03] kapalex commented on #346
1.
Good catch, I thought i had it there, will fix soon
2.
I would, but being the person least savvy with the client it doesn't strike me as a good idea

[2017-05-20 18:16] kapalex commented on #354
This isn't a top priority task, but it is important in my opinion. I will specify soon but first a clarification -
The client side isn't supposed to run on every machine separately
The way it works is the client is run on a server, and when users connect to said server, the browser connecting gets the pages (the whole  html, js, ts and so on) and runs them locally, in the browser sandbox.

This is

[2017-05-20 18:17] kapalex commented on #355
Thanks!
Will try it out and report back

[2017-05-20 18:54] yaelAmitay commented on #354
about the client side I though we are developing for phones(androids...) and not for browsers...
in the case of phones ionic make it easy for us and wo don't need to put the client side on the server(as far as I understand).

About the dynamic name of the server. I do agree that this is important...
BUT the main requirement for this semester was a good product with useable features so I want to pu

[2017-05-20 19:21] kapalex commented on #354
I assumed our point was to enable both phone access and web browser access (other wise we are kind of missing the point of ionic no?)

Anyway, as I said, when you can, do it, but it isn't as important as some other features of course

[2017-05-20 19:23] yossigil commented on #354
Keep up the good work

[2017-05-20 19:35] yaelAmitay commented on #354
mmm as far as I understand Ionic is more for mobiles but that's okey we can use it for web browsers too :)

[2017-05-21 11:31] JuanJenkinsBot opened #359 "SmartCity-Accessibility Server Side Unit Tests #624 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [KoralChapnik] 2b7faa7e35ab15cb698d570ff839ae77d2a59a4b - added buttons style for all app #332

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/624/)

[2017-05-21 11:56] #359 closed, assigned to nobody

[2017-05-21 12:37] JuanJenkinsBot opened #360 "SmartCity-Accessibility Server Side Network Tests #30 failed"
Build 'SmartCity-Accessibility Server Side Network Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [KoralChapnik] 8b9285724dd9cc9e00f9395d26b077172393c88a - added headers style for all app #333

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Network%20Tests/30/)

[2017-05-21 13:07] koralchapnik commented on #360
@KaplanAlexander  can you please take a look at this ?

[2017-05-21 13:08] kapalex commented on #360
Will take a look when I get home

On 21 May 2017 4:07 PM, "koralchapnik" <notifications@github.com> wrote:

[2017-05-21 13:18] koralchapnik opened #361 "Logo To Our App"
Hi, what are you saying about creating a logo to our app that will be presented in small icon in each page we create and in bigger icon in the home page ?
And if you want a logo, what objects do you suggest it will contain ? (wheeling chair for example...)
@KaplanAlexander @yaelAmitay @ArthurSap @Kolikant ?

[2017-05-21 16:19] yaelAmitay commented on #361
you can do it if you want

[2017-05-21 19:23] #360 closed, assigned to nobody

[2017-05-21 19:58] kapalex commented on #361
It's a good idea to have one (Maybe a wheelchair with the wheel of a car?) but also not a proiority for the presentation, the actual functionality should be
So if you have time left - yeah

[2017-05-21 20:49] #277 closed, assigned to yaelAmitay

[2017-05-21 21:24] yaelAmitay opened #362 "Ionic remove all unused imports"
We have a lot of unused imports, in the client side(ionic side)
Everybody should remove the unused imports in _their pages_.

[2017-05-22 07:58] kapalex commented on #355
Tried it, still got nothing
It does work with the same running commands on my pc, so it doesn't seem to be a problem with the script

[2017-05-22 08:12] yaelAmitay commented on #355
mm does the server allows getting the location?

[2017-05-22 08:13] kapalex commented on #355
As far as I know it does
Any specific setting I should be looking for?

[2017-05-22 08:14] yaelAmitay commented on #355
I needed to allow the browser to access the location I did it from the "control panel"

[2017-05-22 08:16] kapalex commented on #355
Oh, when running locally it asked me with a popup and I agreed and it worked,
here it doesn't even ask
can you tell me where in the control panel you enabled it so I can make sure its not the problem?

[2017-05-22 08:19] yaelAmitay commented on #355
from settings go to "privacy" and then "location" and then allow the location there.
I've win10 in hebrew so I'm not sure If I translate correctly :/

[2017-05-22 08:28] kapalex commented on #355
Yeah, it's enabled and still nothing

[2017-05-22 08:29] yaelAmitay commented on #355
How can I access it myself? I need to see it

[2017-05-22 08:33] kapalex commented on #355
kapalex.ddns.net

[2017-05-22 08:35] kapalex commented on #355
It's running on al linux machine, if youll need i can give you ssh access later, but thats a bit more complicated

[2017-05-22 08:38] yaelAmitay commented on #355
maybe CORS problem?
I'll look at it more

[2017-05-22 08:54] JuanJenkinsBot opened #363 "SmartCity-Accessibility Server Side Network Tests #40 failed"
Build 'SmartCity-Accessibility Server Side Network Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [KoralChapnik] 580fa9f144bc1fc6ab38f9e008455c372f32519b - #333

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Network%20Tests/40/)

[2017-05-22 09:06] yaelAmitay commented on #355
OKEY,
works from Edge(the new Explorer)
not from chrome.
I've a strong feeling in has to do with CORS but for now you can use Edge.
Maybe it'll also work on firefox but I didn't tried yet.

[2017-05-22 09:15] #358 closed, assigned to yaelAmitay

[2017-05-22 09:21] kapalex commented on #355
Alright, that's good enough for me for now
when you have time for it, do look into it, I'm leaving the issue open

[2017-05-22 09:39] #363 closed, assigned to nobody

[2017-05-22 09:56] kapalex commented on #333
I would suggest trying to stick to as much of an android feel as possible, both because of its consistency and because android is our main target
The official material design guidelines can be found [here](https://developer.android.com/design/material/index.html)

This would mean our design will will mostly stick to a few basic colors (main and accent) which can be picked our using [this](https://

[2017-05-22 10:26] kapalex opened #364 "Create auto-versioning for application"
When deploying #344 , We want to create a release and increment the version automtically

[2017-05-22 10:32] koralchapnik opened #365 "adminManager"
in order to continue with the AdminPage (#332) I need you to create an adminManager which will enable the following features :

- [x] getting the n regular users with the highest helpfulness
- [x] getting the number of users in the system
- [x] getting the n locations which are most rated / most reviewed

[2017-05-22 10:36] kapalex commented on #365
The first three aren't too complicated, will get them done quickly
As for the last point, How are we monitoring logged in users now @Kolikant @ArthurSap @yaelAmitay @koralchapnik ?

[2017-05-22 10:49] JuanJenkinsBot opened #366 "SmartCity-Accessibility Server Side Unit Tests #646 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Ariel Kolikant] 4bc7ecc0267a9834bcd9646ba54a248e22a4a2bb - #309 some more progress, showing lists is hard apparently

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/646/)

[2017-05-22 10:52] yaelAmitay commented on #365
We have cache of users that are logged in.
The last point doesn't require the adminManager .it can be done easily in the service.

Yael

‫ב-22 במאי 2017, בשעה 13:36, ‏‏Alexander Kaplan ‏<notifications@github.com> כתב/ה:‬

[2017-05-22 11:03] #366 closed, assigned to nobody

[2017-05-22 11:09] kapalex commented on #365
I've created stubs for you to be able to use while I implement
according to what Yael said, i'm not implementing the fourth one

They are in `UserProfileManager` and `LocationManager`

[2017-05-22 13:26] kapalex commented on #355
Just as a side note-  when creating an apk and installing it, it doesn't work either

[2017-05-22 14:51] yaelAmitay commented on #355
I never got to try it on android so I had a feeling it won't work.
I don't have android so I can't work on it.
But I think I know why it's not working on android I just can't check it without a android and I can't use an emulator cause my computer is too slow.

Yael

‫ב-22 במאי 2017, בשעה 16:26, ‏‏Alexander Kaplan ‏<notifications@github.com> כתב/ה:‬

[2017-05-22 15:38] JuanJenkinsBot opened #367 "SmartCity-Accessibility Server Side Unit Tests #653 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Arthur Sapozhnikov] f5ea26f49c636a9b93ffbbb4293181596e03156a - I think it could work

- [Arthur Sapozhnikov] c7efcba0545c7c18b0a614da3a738e88adb42ed7 - Fixed score

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20

[2017-05-22 15:42] ArthurSap commented on #367
Wtf is going on here

[2017-05-22 15:47] kapalex commented on #367
Ignore this, the server is struggling, will fix soon

[2017-05-22 15:55] #367 closed, assigned to nobody

[2017-05-23 15:23] koralchapnik opened #368 "Helpful Users Page"
as part of the Admin features (#332) the admin will see the n most helpful users in the system.

[2017-05-23 16:15] yaelAmitay commented on #368
Is it going to be a page?

Yael

‫ב-23 במאי 2017, בשעה 18:23, ‏‏koralchapnik ‏<notifications@github.com> כתב/ה:‬

[2017-05-23 17:27] JuanJenkinsBot opened #369 "SmartCity-Accessibility Server Side Network Tests #59 failed"
Build 'SmartCity-Accessibility Server Side Network Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [Alexander Kaplan] fe806f32d705a98fb2375c868377a4d655c3e657 - implemented get hight by #365

- [Alexander Kaplan] d8c10f67a12475fd30eefe684d4b01cc4ee3bc77 - added test for new parseDatabase method #365 and slight improvemnt to

[View full output](http://kap

[2017-05-23 17:33] #369 closed, assigned to nobody

[2017-05-23 17:49] #365 closed, assigned to kapalex

[2017-05-23 18:23] koralchapnik commented on #368
Yes

[2017-05-23 18:52] yaelAmitay opened #370 "Ionic gulp set variable"
**ATTENTION!!!!!!!!**
for  now, we need to rollback because the installation does not work for every body,
please use the following command:
`git reset --hard 89645e9dd6163e43961b888f1b521ae38127f7d5`
then do pul, **you must do the pulll**:
`git pull`

when we have more time we will fix the problem with some of yours computer so we can use gulp.
So right now, no need to do the other part of this i

[2017-05-23 19:13] kapalex commented on #370
just as side note gulp installation is done with
[code]
according to their site
and if you need something like that, you can tell me to install on the server, so you don't need to put it on the script

[2017-05-23 19:16] yaelAmitay commented on #370
I already install it...
I added dependency and I need everybody to update their project.
Don't worry I'm taking care for it

[2017-05-23 19:25] JuanJenkinsBot opened #371 "SmartCity-Accessibility Server Side Network Tests #65 failed"
Build 'SmartCity-Accessibility Server Side Network Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [yaelAmitay] d4fed8d3b45928f3bbecc94101ae787183cd04b8 - add npm install global gulp #354

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Network%20Tests/65/)

[2017-05-23 19:27] JuanJenkinsBot opened #372 "SmartCity-Accessibility Server Side Unit Tests #673 failed"
Build 'SmartCity-Accessibility Server Side Unit Tests' is failing!

Last 50 lines of build :
[code]

Changes since last successful build:
- [yaelAmitay] d4fed8d3b45928f3bbecc94101ae787183cd04b8 - add npm install global gulp #354

[View full output](http://kapalex.ddns.net:8080/job/SmartCity-Accessibility%20Server%20Side%20Unit%20Tests/673/)

[2017-05-23 19:31] yaelAmitay commented on #370
though i did miss here the cli!

[2017-05-23 20:16] #372 closed, assigned to nobody

[2017-05-23 20:18] #371 closed, assigned to nobody

[2017-05-23 22:00] yaelAmitay commented on #370
nope no need to add the cli...

This commands works for me and for the server.
if you have problems talk to me and we will try to figure it out.

[2017-05-23 22:09] yaelAmitay commented on #354
it's working now.
if you want the release version:
[code]
if you want the development version:
[code]

the server right now works with the release version.

On another note, @KaplanAlexander , is the server side up?
does this is the correct url?
http://kapalex.ddns.net:8090/
cause I can't access it even with the browser.(for example I was trying to access reviews).

[2017-05-23 22:11] yaelAmitay commented on #362
- [ ] @ArthurSap

- [x] @koralchapnik

- [x] @Kolikant